#helpdocum, #newsbox {
    overflow: hidden;
    font-family: PingFangSC-Light, 'helvetica neue', 'hiragino sans gb', arial, 'microsoft yahei ui', 'microsoft yahei', simsun, sans-serif;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.h_elp_wrap, .h_elp_had {
    width: 100%;
}
.list-ul{
    width: 620px;
    overflow: hidden;
    margin: 38px auto;
    border:1px solid #ccc;
}
.list-ul>li{
    float: left;
    color: #000;
    padding: 12px;
    line-height: 20px;
    text-align: center;
    height: 64px;
}

.h_elp_had {
    height: 170px;
    background: url(../images/h_elp_had.jpg) top center no-repeat #eff1f5;
}

.h_elp_had-inner {
    margin: 0 auto;
    padding: 0 10px;
    padding-top: 65px;
    max-width: 1200px;
    box-sizing: border-box;
}

.h_elp_had-inner .title {
    margin-top: 0;
    width: 250px;
    font-size: 34px;
    line-height: 40px;
}

.h_elp_had-inner .search_box {

}

.h_elp_had-inner .search_box > a {
    margin-right: 10px;
    color: #2277da;
}

.h_elp_had-inner .search_bar {
    box-sizing: border-box;
    position: relative;
    margin-bottom: 10px;
    padding-right: 87px;
    width: 680px;
}

.h_elp_had-inner .search_bar > .search_btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 88px;
    height: 40px;
    background: #2277da;
    border-radius: 2px;
    font-size: 14px;
    line-height: 40px;
    color: #fff;
    cursor: pointer;
    text-align: center;
}

.h_elp_had-inner .search_bar > input {
    box-sizing: border-box;
    display: block;
    padding: 5px 10px;
    width: 100%;
    height: 40px;
    border: 1px solid #2277da;
    font-size: 14px;
    color: #999;
    line-height: 28px;
}

.h_elp_had-inner .title > a {
    color: #333;
    font-weight: 400;
}

/*搜索块header-end*/

/*文档内容start*/
#helpdocum .h_elp_cont {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1200px;
    box-sizing: border-box;
    overflow: hidden;
}

#helpdocum .h_elp_cont .tab_navbox {
    position: relative;
    box-sizing: border-box;
    height: 60px;
    line-height: 59px;
    font-size: 14px;
    overflow: hidden;
}

#helpdocum .h_elp_cont .tab_navbox .tab_bor {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    content: ' ';
    height: 1px;
    background: #e1e3e6;
    clear: both;
}

#helpdocum .tab_navbox .tab_navlist {
    position: absolute;
    left: 0;
    top: 0;
}

#helpdocum .tab_navbox .tab_navlist > li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    min-width: 97px;
    font-size: 16px;
}

#helpdocum .tab_navlist > li > a {
    display: block;
    padding: 0 10px;
    color: #333;
    overflow: hidden;
    text-align: center;
}

#helpdocum .tab_navbox .j-nav-active0 {
    padding-top: 1px;
    border-bottom: 3px solid blue;
    color: #2277da;
    margin-top: 1px;
    line-height: 55px;
}

#helpdocum .tab_navbox .tab_navother a {
    overflow: hidden;
}

#helpdocum .tab_navbox .tab_navother a > i {
    background: url(../images/h_elpdoc.png) no-repeat 0 0;
    width: 18px;
    height: 19px;
    float: left;
    margin-top: 24px;
    margin-right: 5px;
}

#helpdocum .tab_navbox .tab_navother a > span {
    padding-top: 1px;
    color: #2277da;
}

#helpdocum .tab_title {
    padding-bottom: 32px;
    padding-top: 40px;
}

#helpdocum .tab_title h3 {
    padding-bottom: 4px;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.1;
}

#helpdocum .tab_title p {
    color: #666;
    font-size: 16px;
}

#helpdocum .h_elp_cont .tab_iaas {
    padding-bottom: 0;
    margin-bottom: 30px;
}

#helpdocum .h_elp_cont .tab_cont {
    overflow: hidden;
}

#helpdocum .h_elp_cont .cont_grids {
    margin: 0 -30px;
}

#helpdocum .h_elp_cont .cont_grids > li {
    display: inline-block;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    box-sizing: border-box;
    padding: 0 27px;
}

#helpdocum .h_elp_cont .grids_cpute {
    margin-bottom: 40px;
    padding-left: 45px;
}

#helpdocum .h_elp_cont .grids_cpute .title {
    position: relative;
    padding-bottom: 12px;
    font-size: 18px;
    margin-bottom: 0px;
    border-bottom: 1px solid #ebedf0;
    line-height: 32px;
    font-weight: 400;
}

#helpdocum .grids_cpute .title .cputepng {
    background: url(../images/h_elpdoc.png) no-repeat -18px 0px;
    position: absolute;
    left: -42px;
    top: 0;
    width: 30px;
    height: 32px;
}

#helpdocum .h_elp_cont .grids_cpute .cpute_list {

}

#helpdocum .grids_cpute .cpute_list > li {
    border-bottom: 1px solid #ebedf0;
}

#helpdocum .grids_cpute .cpute_list > li > a {
    display: block;
    padding: 5px 0;
    font-size: 14px;
    line-height: 22px;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    color: #2277da;
    width: 208px;
}

#helpdocum .grids_cpute .cpute_list > li > a > i {
    position: relative;
    top: -2px;
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
    width: 27px;
    height: 13px;
    background: url('../images/h_elpdoc.png') no-repeat -48px 0;
}

#helpdocum .grids_cpute .cpute_list > li > a:hover {
    text-decoration: none;
    background: #f5f7fa;
}

/*文档内容end*/

/*文档内容--2start*/
#helpdocum .maincont {
    width: 100%
}

#helpdocum .maincont .warp {
    position: relative;
    text-align: center;
    max-width: 1200px;
    min-width: 320px;
    margin-right: auto;
    margin-left: auto;
}

#helpdocum .maincont .grids-fot {
    border: 1px solid #ccc;
    padding: 10px 40px 20px 40px;
    margin-top: 20px;
}

#helpdocum .maincont .grids-fot > h3 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 12px;
}

#helpdocum .maincont .grids-fot > ul {
    font-size: 0;
}

#helpdocum .maincont .grids-fot > ul > li {
    width: 33%;
    font-size: 14px;
    display: inline-block;
    margin-bottom: 7px;
    padding-right: 15px;
    box-sizing: border-box;
}

#helpdocum .maincont .grids-fot > ul > li > a {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    word-break: break-all;
    white-space: nowrap;
    color: #2277da;
}

#helpdocum .grids-table {
    display: table;
    width: 100%;
    table-layout: fixed;
}

#helpdocum .grids-nav {
    vertical-align: top;
    display: table-cell;
    z-index: 9;
    position: relative;
    /*background-color: #F9F9F9;*/
    text-align: left;
    box-sizing: border-box;
    width: 233px;
}

#helpdocum .grids-details {
    display: table-cell;
    padding-left: 20px;
    font-size: 14px;
    padding-bottom: 101px;
    padding-top: 23px;
    padding-right: 20px;
    text-align: left;
}

#helpdocum .grids-nav-inner {
    border-left: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
    font-size: 16px;
    z-index: 99;
    background: #F5F5F5;
    position: relative;
}

#helpdocum .grids-nav-list {
    /*border-bottom: 1px solid #E1E1E1;*/
    width: 100%;
    position: relative;
}

#helpdocum .grids-nav-title {
    position: relative;
    height: 56px;
    line-height: 55px;
    font-size: 14px;
    color: #333;
    overflow: hidden;
    border-bottom: 1px solid #E1E1E1;
    display: block;
    padding-right: 30px;
    text-indent: 20px;
}

#helpdocum .grids-height-solve .j-solve-active {
    border: 1px solid #0064b6;
    background: #0071ce;
    color: #fff;
}

#helpdocum #toolbtnbox .j-solve-active2 {
    border: 1px solid #0064b6;
    background: #0071ce;
    color: #fff;
}

#helpdocum .grids-nav-title_png {
    width: 16px;
    height: 12px;
    background: url('../images/h_elpdoc.png') no-repeat -80px 0px;
    position: absolute;
    right: 15px;
    top: 20px;
}

#helpdocum .grids-h_elplist {
    display: none;
    width: 380px;
    background-color: #fafafa;
    position: absolute;
    right: -379px;
    top: 0;
    z-index: 9;
    border: 1px solid #dadada;
    box-sizing: border-box;
    padding: 20px 0 0 24px;
    cursor: default;
    height: 510px;
    overflow: auto;
}

#helpdocum .grids-h_elplist-menu {
    display: inline-block;
    vertical-align: top;
    width: 146px;
    margin-right: 20px;
    margin-bottom: 30px;
}

#helpdocum .grids-h_elplist-menu .menu-title {
    font-size: 14px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    color: #000;
    text-indent: 0;
    white-space: nowrap;
    text-indent: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

#helpdocum .grids-h_elplist-menu > li {
    text-indent: 26px;
    margin-bottom: 5px;
}

#helpdocum .grids-h_elplist-menu > li a {
    color: #666;
    font-size: 14px;
    white-space: nowrap;
}

#helpdocum .menu-title .cputepng {
    display: inline-block;
    vertical-align: -2px;
    margin-right: 10px;
    background: url(../images/h_elpdoc.png) no-repeat -18px 0px;
    width: 16px;
    height: 16px;
    background-size: 160px;
}

#helpdocum .maincont .grids-nav-innerbox {
    overflow: auto;
    height: 530px;
    box-sizing: border-box;
}
#helpdocum .maincont .grids-nav-innerbox img{
    width:500px;
}
#helpdocum .maincont .grids-nav-innerbox::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

#helpdocum .maincont .grids-nav-innerbox::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}

#helpdocum .maincont .grids-nav-innerbox::-webkit-scrollbar-thumb {
    background-color: #D0D0D0;
    border-radius: 8px;
    width: 5px;
}

#helpdocum .maincont .grids-nav-inner-list {
    width: 100%;
}

#helpdocum .maincont .grids-nav-inner-list > a {
    color: #333;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    display: block;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    padding-right: 30px;
    vertical-align: text-bottom;
    text-indent: 20px;
}

#helpdocum .grids-nav-innerbox .grids-nav-inner-list .grids-hide {
    display: block;
}

#helpdocum .maincont .grids-nav-inner-list > a:hover {
    background-color: #ebebeb;
    color: #333;
    text-decoration: none;
}

#helpdocum .list-focus {
   /* background-color: #e0e0e0;*/
    color: #2277da !important;
}

#helpdocum .maincont .nav-drop-down-icon {
    width: 10px;
    height: 7px;
    background: url(../images/h_elpdoc.png) no-repeat -98px 0px;
    position: absolute;
    top: 20px;
    margin-top: -3px;
    right: 16px;
}

#helpdocum .maincont .nav-inner-list-2 {
    display: none;
}

#helpdocum .maincont .nav-inner-list-2 > li {
    text-indent: 30px;
}

#helpdocum .maincont .side-nav-title-2 {
    position: relative;
    display: block;
    padding-right: 30px;
    font-size: 14px;
    color: #333;
    line-height: 36px;
    height: 36px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#helpdocum .maincont .side-nav-title-2:hover {
    background-color: #EBEBEB;
    cursor: pointer;
}

#helpdocum .grids-height {
    min-height: 550px;
}

#helpdocum .grids-crumbs {
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 9px;
}

#helpdocum .grids-crumbs .r_png {
    width: 6px;
    height: 11px;
    background: url(../images/h_elpdoc.png) no-repeat -124px 0;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px;
}

#helpdocum .grids-height-title {
    margin-top: 1em;
    margin-bottom: 33px;
    font-weight: 700;
    line-height: 1.4;
    font-size: 20px;
}

#helpdocum .grids-height-solve {
    border-top: 1px solid #ccc;
    padding-top: 30px;
    margin-top: 30px;
}

#helpdocum .grids-height-solve > p {
    margin-bottom: 20px;
    font-size: 14px;
    text-align: left;
}

#helpdocum .grids-height-solve > a {
    background: #fcfcfc;
    border-color: #d1d2d3;
    color: #0071ce;
    border: 1px solid rgb(209, 210, 211);
}

#helpdocum .grids-height-solve .solve-yes, #helpdocum .grids-height-solve .solve-no {
    height: 27px;
    min-width: 21px;
    padding: 1px 19px;
    font-size: 12px;
    line-height: 24px;
    display: inline-block;
    cursor: pointer;
    outline: 0;
}

#helpdocum #toolbtnbox > button {
    height: 27px;
    border: 1px solid #0170CC;
    min-width: 21px;
    background-color: #FFF;
    color: #0170CC;
    padding: 1px 19px;
    font-size: 12px;
    line-height: 24px;
    display: inline-block;
    cursor: pointer;
    outline: 0;
}

#helpdocum .grids-height-sbm {
    border-top: 1px solid #ccc;
    padding-top: 30px;
    display: none;
    margin-top: 30px;
}

#helpdocum .grids-height-sbm .icon-ok {
    display: inline-block;
    background-image: url(../images/h_elpdoc.png);
    width: 21px;
    height: 21px;
    vertical-align: -5px;
    background-position: -132px 0px;
}

#helpdocum .grids-height-problem {
    border-top: 1px solid #ccc;
    padding-top: 30px;
    display: none;
    margin-top: 30px;
}

#helpdocum .grids-height-problem > p {
    margin-bottom: 20px;
}

#helpdocum .grids-height-problem > p > span {
    display: inline-block;
    background-image: url(../images/h_elpdoc.png);
    width: 21px;
    height: 21px;
    vertical-align: -5px;
    background-position: -132px 0px;
}

#helpdocum .grids-height-problem > ul {
    overflow: hidden;
    margin-left: 25px;
    margin-bottom: 15px;
    max-width: 700px;
}

#helpdocum .grids-height-problem > ul > li {
    float: left;
    width: 50%;
    margin-bottom: 6px;
}

#helpdocum .grids-details .grids-height-problem > ul > li > .tc-15-radio-wrap {
    margin-right: 20px;
    font-size: 14px;
    cursor: pointer;
    font-weight: normal;
}

#helpdocum #feedbackTips {
    color: red;
    font-size: 12px;
    background-image: none;
    display: inline;
}

#helpdocum .grids-details .grids-height-problem > ul > li > .tc-15-radio-wrap > input {
    width: 14px;
    height: 14px;
    cursor: pointer;
    vertical-align: middle;
    margin-right: 5px;
    margin-top: 0;
    outline: 0;
    background: 0 0 \9;
    background-image: url(../images/h_elpdoc.png);
    -webkit-appearance: none;
    background-position: -154px 0px;
}

#helpdocum .grids-details .grids-height-problem > textarea {
    margin-left: 25px;
    height: 110px;
    margin-bottom: 20px;
    width: 586px;
    outline: 0;
    padding: 10px;
    border: 1px solid #d1d2d3;
    line-height: normal;
    border-radius: 3px;
    text-align: left;
    background-color: #fff;
    font-size: inherit;
    color: inherit;
    -webkit-appearance: none;
}

#helpdocum .grids-details .grids-height-problem > .tool {
    margin-left: 25px;
    margin-bottom: 0;
}

/*news*/
#newsbox > .news-hader {
    background: url(../images/banner-news.jpg) center center no-repeat #35353d;
    color: #fff;
    height: 170px;
    margin-bottom: 68px;
    display: table;
    width: 100%;
}

#newsbox .banner-text {
    font-size: 16px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    max-width: 600px;
    margin-top: 158px;
    line-height: 1.5;
}

#newsbox .banner-title {
    font-size: 34px;
    font-weight: 400;
    margin-bottom: 15px;
    line-height: 1;
}

#newsbox .news-wapcont {
    min-width: 320px;
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
}

#newsbox .cont_left {
    padding-left: 10px;
    padding-right: 10px;
    width: 70.8333%;
}

#newsbox .cont_right {
    padding-left: 10px;
    padding-right: 10px;
    width: 29.1667%;
}

#newsbox .cont_left-title {
    font-size: 24px;
    line-height: 1;
    font-weight: 400;
    margin-top: 20px;
    margin-right: 30px;
    padding-bottom: 18px;
    letter-spacing: 1px;
    border-bottom: 2px solid #eee;
    color: #000;
}

#newsbox .cont_left-title .line {
    border-left: 4px solid #2277DA;
    height: 24px;
    padding-right: 12px;
}

#newsbox .cont_list {
    letter-spacing: 1px;
    margin-right: 30px;
    overflow: hidden;
}

#newsbox .cont_list > .news-latest {
    border-bottom: 1px solid #f0f0f0;
    padding-top: 35px;
    padding-bottom: 35px;
    width: 100%;
    float: left;
}

#newsbox .cont_list > .news-latest img {
    width: 230px;
    height: 130px;
    border: 0;
    display: block;
}

#newsbox .cont_list > .news-latest .news-latest-title {
    display: block;
    font-size: 18px;
    padding-left: 20px;
    margin-top: 3px;
    color: #333;
    max-height: 48px;
    overflow: hidden;
}

#newsbox .cont_list > .news-latest .news-latest-title > a {
    color: #333;
    display: block;
}

#newsbox .cont_list > .news-latest .news-latest-cont {
    padding-left: 20px;
    display: block;
    line-height: 1.5;
    color: #666;
    margin-top: 11px;
    letter-spacing: 1px;
    font-size: 14px;
    max-height: 42px;
    overflow: hidden;
}

#newsbox .cont_list > .news-latest .news-latest-date {
    display: block;
    overflow: hidden;
    margin-top: 36px;
    padding-left: 20px;
    color: #999;
}

#newsbox .cont_list > .news-latest .news-latest-date > span {
    width: 1px;
    height: 10px;
    background: #777;
    margin: 0px 14px 0px 16px;
    display: inline-block;
}

#newsbox .right_cont {
    background-color: #f9f9f9;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

#newsbox .cont_rightt-title {
    font-size: 24px;
    line-height: 1;
    font-weight: 400;
    padding-bottom: 18px;
    border-bottom: 2px solid #eee;
    letter-spacing: 1px;
}

#newsbox .cont_right-list {
    letter-spacing: 1px;
}

#newsbox .cont_right-list > li {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 24px;
}

#newsbox .cont_right-list > li > a {
    font-size: 16px;
    position: relative;
    line-height: 1.75;
    color: #333;
}

#newsbox .cont_right-list > li > a > .dot {
    position: absolute;
    left: -24px;
    top: 8px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #999;
}

#newsbox .cont_right-list > li > .news-latest-date {
    color: #999;
    line-height: 1;
    margin-top: 13px;
}

#newsbox .cont_right-list > li > .news-latest-date > span {
    width: 1px;
    height: 10px;
    background: #777;
    margin: 0px 14px 0px 16px;
    display: inline-block;
}

#newsbox .news_page {
    margin: 30px 0;
    text-align: center;
    color: #333;
}

#newsbox .news_page > a {
    display: inline-block;
    font-size: 14px;
    border: 1px solid #ddd;
    width: 37px;
    line-height: 35px;
    text-align: center;
    margin-right: 10px;
    color: #999;
}

/*newscont*/
.newsbox_cont .cont_left-title > a {
    font-size: 14px;
    line-height: 1;
    letter-spacing: 1px;
    color: #2277da;
}

.newsbox_cont .cont_list > h1 {
    font-size: 24px;
    color: #333;
    font-weight: 400;
    padding-top: 25px;
    padding-bottom: 18px;
}

.newsbox_cont .news_cont-data {
    color: #999;
    line-height: 1;
    margin-bottom: 20px;
}

.newsbox_cont .news_cont-list {
    margin-right: 30px;
    font-size: 16px;
    padding-bottom: 30px;
    line-height: 1.75;
    border-bottom: 1px solid #ccc;
    color: #666;
}

.newsbox_cont .news_cont-list > p {
    margin-top: 10px;
}

.newsbox_cont .news_cont-node {
    font-size: 14px;
    overflow: hidden;
    width: 67%;
    margin: 16px 0;
}

.help_introduce h3, .help_introduce h1, .help_introduce h2 {
    font-size: 22px;
    margin: 20px 0;
}

.iaas_line {
    line-height: 26px;
}

.arabic_simple a {
    margin-left: 10px;
    display: inline-block;
}

.iaas_linefwtk .page-inner * {
    color: #666;
    font-size: 14px;
}

.iaas_linefwtk .page-inner h1 {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    line-height: 40px;
}

.iaas_linefwtk .page-inner h2 {
    font-size: 18px;
    color: #000;
    font-weight: bold;
}

.iaas_linefwtk .page-inner h5, .iaas_linefwtk .page-inner .h5 {
    font-size: 14px;
    text-align: left;
}

#newsbox .lxwb_banner {
    padding: 0 44px;
    background: url(../images/h_elp_had.jpg) center center no-repeat #eff1f5;
}

#newsbox .lxwb_banner .banner-text {
    margin-top: 0;
    width: 250px;
    font-size: 34px;
    color: #333;
    font-weight: 400;
    line-height: 5;
}

.about-content.contact_us {
    height: 700px;
    background-image: url(../images/about_usbg.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.about-content.contact_us .viewport-inner {
    width: 1100px;
    margin: 0 auto;
}

.about-content.contact_us .viewport-inner .contact-list {
    padding: 50px 10px;
    width: 480px;
    margin: 0;
    list-style-position: inside;
}

.about-content.contact_us .viewport-inner .contact-list li {
    font-size: 16px;
    line-height: 2em;
    margin: 5px 0;
    list-style-type: none;
}

.about-content.contact_us .viewport-inner .contact-list li b {
    font-weight: 700;
}

.page-inner .lead0 {
    text-indent: 2em;
    font-size: 14px;
    line-height: 1.6;
    color: #404A58;
}
.textcenterbox{
    text-align: center;
}
.textcenter{
    text-align: center;
}
.textleft{
    text-align: left;
}
.pcfin{
    padding-left: 290px;
    font-size: 12px;
    text-align: left;
}
.maincont .grids-side-tit{
    font-size: 14px;
    padding: 10px 10px 7px 4px
}
#helpdocum .maincont div.side-nav-title-2{
    padding-left: 4px;
}
div.gjjsppp>p{
    margin:14px 0;
}

.guidetab{
    overflow: hidden;
}
.guidetab li{
    float: left;
    width:100%;
}
.guidetab li span {
    width: 5px;
    height: 5px;
    float: left;
    background: black;
    border-radius: 50%;
    margin: 11px 24px 0 26px;
}
.guidetab li a{
    float: left;
}
.guidetab>li>ul>li,.guidetab>li>ul>li>ul>li:first-child{
    margin-top:10px;
}
.guidetab ul{
    float: left;
    padding-left: 32px;
    width: 100%;
}
.guidetab .mg10{
    margin:10px 0;
}
.guidetab>li{
    margin:10px 0;
}