html body {
    font-family: "微软雅黑", PingFangSC-Light, 'helvetica neue', 'hiragino sans gb', arial, 'microsoft yahei ui', 'microsoft yahei', simsun, sans-serif;
    font-size: 14px
}

body {
    min-width: 1300px;
    position: relative
}
a:focus{
    outline:none !important;
}
ol, ul, li, p {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1, h3, h2, h4, h5, h6 {
    margin: 0;
}

a {
    text-decoration: none !important;
}

.clear:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

@font-face {
    font-family: 'iconfont';
    src: url('../font/iconfontan.eot'); /* IE9*/
    src: url('../font/iconfontan.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../font/iconfontan.woff') format('woff'), /* chrome、firefox */ url('../font/iconfontan.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../font/iconfontan.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

nav .colornav {
    color: #008bff;
}

nav .colornav2 {
    color: #008bff;
}

.goTop {
    position: fixed;
    bottom: 160px;
    right: 20px;
    z-index: 999999999;
}

.goTop2 {
    position: fixed;
    bottom: 280px;
    right: 90px;
    z-index: 999999999;
}

.goTop ul li {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    background-color: #1970d5;
    padding: 7px;
    cursor: pointer;
}

.goTop2 ul li {
    width: 150px;
    height: 50px;
    margin-top: 10px;
    background-color: #fff;
    line-height: 50px;
    text-align: center;
}

.goTop ul .iphoness div {
    width: 35px;
    background: url(../images/small.png) 0 -35px no-repeat;
    height: 35px;
}

.goTop ul .gtop div {
    width: 35px;
    background: url(../images/small.png) -35px -35px no-repeat;
    height: 35px;
}

.goTop ul .weixin1 div {
    width: 35px;
    background: url(../images/small.png) -34px 0 no-repeat;
    height: 35px;
}

.goTop ul .tousu div {
    width: 35px;
    background: url(../images/small.png) -68px -33px no-repeat;
    height: 35px;
}

.goTop2 ul .tousu2 {
    position: relative;
    top: 120px;

}

.zhezhaoceng {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
    background: #000;
    z-index: 9999999990;
}

.tousu3 {
    position: absolute;
    background: #fff;
    z-index: 9999999991;
    width: 600px;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
}

.tousu3 > h2 {
    padding: 20px 10px;
    font-size: 16px;
    font-weight: 700;
    border-bottom: 1px solid #ddd;
}

.tousu3 > h2 span {
    font-size: 20px;
    padding: 0 20px;
    font-weight: 400;
    cursor: pointer;
}

.tousu3 table {
    width: 580px;
}

.tousu3 table tr td {
    height: 60px;
}

.tousu3 table tr:last-child td {
    padding: 0 20px;
}

.tousu3 table tr td:nth-child(1) {
    text-align: right;
    padding-right: 20px;
}

.tousu3 table tr td:not(:first-child) {
    text-align: left;
    padding-left: 15px;
}

.tousu3 label {
    margin-right: 20px;
}

.tousu3 table tbody label > input {
    width: 16px;
    height: 16px;
    cursor: pointer;
    vertical-align: middle;
    margin-right: 5px;
    margin-top: 0;

}

.tousu3 .fankui label input {
    outline: 0;
    background: url(../images/h_elpdoc.png) -154px 0;
    -webkit-appearance: none;
}

.tousu3 .fankui label input:checked {
    background: url(../images/h_elpdoc.png) no-repeat -170px 0px;;

}

.tousu3 .xifen label input {
    outline: 0;
    background: url(../images/inputfang.png) no-repeat -218px -132px;;
    -webkit-appearance: none;
}

.tousu3 .xifen label input:checked {
    background: url(../images/inputfang.png) no-repeat -208px -101px;;
}

.tousu3 .fankuifile {
    width: 100%;
    height: 30px;
    border: 1px solid #ddd;
}

.tousu3 .fankuicontents > div {
    width: 100%;
    height: 100px;
    border: 1px solid #ddd;
}

.tousu3 table tr select {
    font-size: 12px;
    background-color: #FFF;
    padding: 4px;
}

.tousu3 table tr select option {
    font-size: 12px;
    background-color: #FFF;
    padding: 4px;
}

.tousu3 .fankuifile form input {
    width: 30px;
    height: 30px;
    position: absolute;
    display: inline-block;
}

.input-file {
    top: 0;
    left: 0
}

.input-img {
    top: 0;
    left: 40px;
}

.tousu3 .fankuifile form a {
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    border: 1px solid #ddd;

}

.tousu3 .fankuifile form a i {
    width: 19px;
    height: 19px;
    display: inline-block;
    background: url(../images/inputfang.png) no-repeat -181px -149px;
    margin: 5px
}

.fankuicontents textarea {
    width: 100%;
    height: 100%;
}

nav {
    z-index: 3000;
    height: 65px;
    width: 100%;
    color: #ffffff;
    margin: 0 auto;
    position: relative;
    z-index: 3000;
}

.index-nav-black0 {
    width: 100%;
    height: 65px;
    position: absolute;
    background: #000;
    z-index: 0;
    display: block;
}

nav > ul {
    float: left;
    margin: 0 0 0 104px;
}

nav > ul > li {
    float: left;
    color: #fff;
    margin: 0 3px;
}

nav > ul > li > a {
    line-height: 65px;
    display: inline-block;
    padding: 0 10px;
}

nav > ul > li:not(.yunchanpin) ul li:hover a {
    background: rgba(51, 51, 51, 0.5)
}

nav a {
    color: #fff;
}

nav a:hover {
    color: #008bff;
}

nav > div.logoimsg {
    width: 210px;
    height: 63px;
    cursor: pointer;

}

nav > div.logoimsg img {
    height: 50%;
    transform: scale(0.7);
    margin: 16px 0 0 50px;
    vertical-align: top;
}

nav > div {
    height: 65px;
    line-height: 65px;
}

#meidenglu a.btn, #denglule a.btn {
    border: 1px solid rgba(255, 255, 255, 0.4);;
    padding: 4px 15px;
    margin: 0 20px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}

#meidenglu a.btn:focus, #denglule a.btn:focus {
    color: #fff;
}

#meidenglu a.btn:hover, #denglule a.btn:hover {
    background: #2176da;
    color: #fff;
}

nav > div.fr {
    margin-right: 50px;
}

nav > div.fr a {
    font-size: 12px;
    padding: 0 10px;
}

nav > ul > li > div {
    z-index: 2500;
    padding: 20px 10px;
    position: absolute;
    top: -2px;
    background: rgba(17, 17, 17, 0.96);
    display: none;
    top: 65px;
    height: 210px;
}

nav > ul > li > div.a0 {
    height: 400px;
}

.navLi > li > ul {
    position: absolute;
}

.navLi > li .nav-one {
    position: absolute;
    top: 0;
    left: 297px;
    padding: 10px 0;
    height: 400px;
    width: 1050px;
    border-left: 1px solid #2E3032;
}

.navLi > li > ul ul {
    left: 251px;
    top: 0
}

.navLi > li > ul > li > ul {
    display: none;
}

.navLi > li > ul > li > ul > li a p {
    padding: 2px 0;
    font-size: 10px;
}

nav > ul > li > div.a0 {
    width: 100%;
    left: 0;
    padding-left: 60px
}

nav > ul > li > div.a1 {
    left: 295px;
}

nav > ul > li > div.a2 {
    left: 260px;
}

nav > ul > li > div.a3 {
    left: 370px;
}

nav > ul > li > div.a4 {
    left: 465px;
}

nav > ul > li > div.a5 {
    left: 415px;
}

nav > ul > li > div.a6 {
    left: 480px;
}

nav > ul > li ul {
    float: left;
}

nav > ul > li div:nth-child(1) {
    padding: 10px 10px 0 10px;
}

nav > ul > li div:nth-child(2) {
    padding: 10px 10px 0 10px;
}

nav > ul > li .a0 ul {
    text-align: left;
}

nav > ul > li .ul-line {
    border-left: 1px solid #2E3032;
}

nav > ul > li ul li a {
    padding: 15px 15px;
    display: block;
    width: 100%;
    height: 100%
}

nav > ul > li div p {
    color: #aaa;
    padding: 0 0 10px 12px;
}

nav > ul > li > div.a0 b.icon {
    float: right;
    transform: scale(0.8);
}

nav li div.a0 p {
    color: #888;
    font-size: 12px;
    padding: 0;
    margin: 3px 0 0 0;
}

nav li div.a0 .nav-one ul {
    width: 497px;
    padding: 0 10px;
    float: left;
}

nav li div.a0 .nav-one ul > li > a {
    background: rgba(51, 51, 51, 0.5);
    padding: 15px 10px;
}

nav li div.a0 .nav-one ul > li {
    padding: 5px;
}

nav li div.a0 .nav-one ul > li:hover a {
    background: rgb(51, 51, 51)
}

nav li div.a0 .nav-one ul span {
    padding: 3px 0;
    color: #888;;
    font-size: 14px;
    display: block;
}

nav li div.a0 .iaass {
    display: none;
}

nav li div.a0 .iaasg {
    display: block;
}

nav li div.a0 .secaas {
    display: none;
}

nav li div.a0 .caas {
    display: none;
}

#a1 {
}

/*左侧导航*/
.lunbo {
    position: relative;
    top: -65px;
}

.icon-d {
    display: none;
}

div.left-big {
    height: 550px; /*width:201px;*/
    position: absolute;
    left: 0;
    /*padding:0 0 1px 0;overflow-y:scroll;border-bottom: 1px solid #ddd;*/
}

.left-big > ul {
    border: 1px solid #e8eef5;
    width: 180px;
    background: rgba(255, 255, 255, .8);
    position: absolute;
    box-sizing: content-box;
    font-size: 14px;
    z-index: 2000;
}

div.left-big > ul > li {
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

div.left-big > ul > li:last-child {
    border-bottom: none;
}

div.left-big > ul li > a {
    display: inline-block;
    width: 100%;
    padding: 10px 0;
    line-height: 30px;
    color: #333;
}

div.left-big > ul > li ul a {
    padding-left: 44px;
    cursor: pointer;
}

div.left-big > ul > li > a img {
    margin: 0 4px;
    width: 27px;
    color: #333;
}

div.left-big > ul > li > a i {
    float: right;
    margin-right: 10px
}

div.left-big > ul > li ul {
    display: none;
}

/*chrome*/
.left-big::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #111;
}

.left-big::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
    border-radius: 0;
    background-color: #fff;
}

.left-big::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ccc;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

/*firefox*/

/*左侧导航结束*/

.show {
    width: 100%;
    height: 400px;
    border: 1px solid #ddd;
    background: #eef1f7;
}

.show > div {
    position: relative;
    width: 1200px;
    padding: 0 0 0 230px;
    margin: 0 auto;
}

.show div.show-word {
    width: 530px;
    margin: 50px 0 0 0;
}

.show div.show-img {
    width: 370px;
    height: 300px;
    margin: 50px 0 0 0;
    text-align: center;
}

.show div.show-img img {
    width: 75%;
    border-radius: 50%;
}

.show div.show-word h2 {
    margin: 10px 0;
}

.show div.show-word h2 span {
    font-size: 52px;
    font-weight: bold
}

.show div.show-word p {
    line-height: 26px;
}

.show-word-down { /*text-align: center;*/
    margin-top: 40px;
}

.show-word-down button {
    padding: 8px 50px;
    outline: none;
    border: 0;
    color: #fff;
    border-radius: 2px;
}

.show-word-down button:nth-child(3) {
    background: #f06c00;
}

.show-word-down button:nth-child(1) {
    background: #116ddd;
}

.show-word-down button:nth-child(2) {
    background: #fff;
    border: 1px solid #116ddd;
    color: #116ddd
}

.show-word-down button:nth-child(2):hover {
    background: #116ddd;
    color: #fff
}

.main-content {
    padding: 10px 0 0 230px;
    width: 1200px;
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
}

.stitle {
    width: auto;
    height: auto;
    background: #fff;
    border-bottom: 1px solid #ddd;
    position: absolute;
    width: 80%;
}

.stitle > ul {
    display: inline-block
}

.stitle > div {
    display: none
}

.stitle li {
    float: left;
}

.stitle li a {
    padding: 15px 40px;
    display: inline-block;
    color: #333;
    font-size: 14px;
    transition: padding 1s;
}

.stitle li a:hover {
    color: #2277da;
}

.stitlechange.stitle {
    width: 100%;
    position: fixed;
    z-index: 110 !important;
    top: 0;
}

.stitlechange.stitle ul {
    width: 100%
}

.stitlechange.stitle > div {
    position: fixed;
    top: 12px;
    right: 40px;
    display: block;
}

.stitlechange.stitle > div button {
    border: none;
    color: #fff;
    padding: 4px 18px;
    border-radius: 3px;
    margin-left: 5px;
}

.stitlechange.stitle > div button:nth-child(3) {
    background: #f06c00;
}

.stitlechange.stitle > div button:nth-child(1) {
    background: #116ddd;
}

.stitlechange.stitle > div button:nth-child(2) {
    background: #fff;
    border: 1px solid #116ddd;
    color: #116ddd
}

.stitlechange.stitle > div button:nth-child(2):hover {
    background: #116ddd;
    color: #fff
}

.stitlechange.stitle li a {
    padding: 15px 35px;
    transition: padding 1s;
    display: inline-block;
    font-size: 14px;
}

.stitlechange.stitle li a:hover {
    color: #2277da;
}

.contents {
    margin: 73px 0 40px 0
}

.contents h3 {
    border-left: 2px solid #2277da;
    margin: 15px 0 30px 0;
    padding: 0 5px;
    font-weight: 600
}

.contents h3 span {
    font-size: 18px;
    font-weight: 400;
    color: #116ddd;
    margin: 0 10px
}

.contents .row > h4 {
    font-size: 16px;
    margin: 10px 0
}

.contents .row > p {
    line-height: 28px
}

.mygood {
    width: 100%;
}

.mygood > div {
    padding: 5px;
    width: 33.33%;
    float: left;
    text-align: center
}

.mygood div div {
    height: 120px;
    text-align: center;
    margin: 0 0 20px 0;
    border: 1px solid #ddd;
    line-height: 120px;
}

.mygood div div img {
    height: 100px;
}

.mygood div p {
    text-align: left;
}

.ct3 > div .ct3.contents {
    width: 80%
}

.ct3 > div table {
    border: 1px solid #ddd;
    padding: 2px;
}

.ct3 > div table h4 {
    font-weight: bold;
}

.ct3 > div table th {
    text-align: center
}

.ct3 > div table tbody tr td {
    padding: 20px 10px;
    vertical-align: text-top;
}

.ct3 > div table tbody tr td:nth-child(1) {
    font-weight: bold;
}

.ct3 > div table tbody tr:nth-child(1) td {
    font-weight: bold;
}

.ct3 > div table tbody tr:nth-child(1) td:nth-child(2) {
    background: #e8f1fb;
}

.ct3 > div table tbody tr:nth-child(1) td:nth-child(2) h4 {
    color: #2277da;
}

.ct3 > div table tbody tr td:nth-child(1) {
    text-align: center
}

.ct3 > div table tbody tr td:nth-child(2) {
    border-left: 1px solid #116ddd;
    border-right: 1px solid #116ddd;
}

.ct3 > div table tbody tr:nth-child(1) {
    text-align: Center;
}

.ct3 > div table tbody tr:nth-child(odd) {
    background: #f8f8f8
}

.ct3 > div table tbody tr td > ul {
    margin: 0 0 0 20px;
}

.ct3 > div table tbody tr td > ul > li {
    list-style: circle;
}

.tablediv1 {
    width: 100%;
    height: 20px;
    position: absolute;
    background: #e8f1fb;
    top: -20px;
    border: 1px solid #116ddd;
    box-sizing: content-box;
    border-bottom: none;
    left: -1px;
}

.tablediv2 {
    width: 100%;
    height: 20px;
    position: absolute;
    background: #f8f8f8;
    bottom: -20px;
    left: -1px;
    border: 1px solid #116ddd;
    box-sizing: content-box;
    border-top: none;
}

.ct4 .neirong {
    border: 1px solid #ddd;
}

.neirong-title {
    width: 100%;
    background: #ebeced;
}

.ct4 .neirong-title li {
    display: inline-block;
    padding: 12px 0;
    text-align: center;
    font-size: 16px;
}

.ct4 .neirong-title li a {
    color: #333;
}

.ct4 .neirong-content {
    padding: 30px 20px;
    min-height: 200px;
}

.ct4 .neirong-content strong {
    color: #111;
}

.ct4 .neirong-content h4 {
    font-weight: bold;
    color: #000;
    margin: 10px 0 5px 0;
    font-size: 14px;
}

.ct4 .neirong-content p {
    margin: 0 0 2px 0;
    color: #666;
}

.ct4 .neirong-content ul li {
  /*  padding: 0 20px;*/
    font-size: 14px;
}

/*轮播 */

.lunbo-big {
    width: 100%;
    height: 500px;
    overflow: hidden;
    margin: 0 auto;
}

div.lunbo-team {
    position: relative;
    height: 500px;
    width: 100%;
    margin: 0 auto;
}

div.lunbo-team:nth-child(3) .lunimg {
    background: url(/images/appcenter.png) no-repeat center center;
    height: 500px;
}

div.lunbo-team:nth-child(4) .lunimg {
    background: url(/images/xinsanban.png) no-repeat center center;
    height: 500px;
}

div.lunbo-team:nth-child(8) .lunimg {
    background: url(/images/siyou.png) no-repeat center center;
    height: 500px;
}

div.lunbo-team:nth-child(9) .lunimg {
    background: url(/images/dianxinyun.png) no-repeat center center;
    height: 500px;
}

div.lunbo-team:nth-child(6) .lunimg {
    background: url(/images/gaosu.png) no-repeat center center;
    height: 500px;
}

div.lunbo-team:nth-child(7) .lunimg {
    background: url(/images/hunheyun.png) no-repeat center center;
    height: 500px;
}

div.lunbo-team:nth-child(10) .lunimg {
    background: url(/images/zhihui.png) no-repeat center center;
    height: 500px;
}

div.lunbo-team:nth-child(11) .lunimg {
    background: url(/images/yunjian.png) no-repeat center center;
    height: 500px;
}

div.lunbo-team:nth-child(2) .lunimg {
    background: url(/images/zhounianhui.png) no-repeat center center;
    height: 500px;
}

div.lunbo-team:nth-child(5) .lunimg {
    background: url(/images/gongxianglibao.png) no-repeat center center;
    height: 500px;
}

div.lunbo-team:nth-child(1) .lunimg {
    background: url(/images/xinxingxiang.png) no-repeat center center;
    height: 500px;
}

div.lunbo-big {
    background: #08172E;
}

.lunbo-team > div img {
    width: 100%;
    height: 500px;

}

.lunbo-team > div.lunbo-inner {
    position: absolute;
    top: 140px;
    color: #fff;
}

.lunbo-team > .lunbo-inner-1 {
    width: 100%;
    top: 280px !important;
    text-align: center;
}

.lunbo-team > .lunbo-inner-2 {
    width: 100%;
    text-align: center;
    top: 308px !important;
    right: 0;
}
.lunbo-team > .lunbo-inner-3 {
    right: 262px;
    top: 327px !important
}

.lunbo-team > .lunbo-inner-4 {
    width: 100%;
    right: -242px;
    top: 302px !important;
    text-align: center;
}
.lunbo-team > .lunbo-inner-5 {
    width: 100%;
    top: 308px !important;
    left: -432px;
    text-align: center;
}
.lunbo-team > .lunbo-inner-6 {
    width: 100%;
    top: 278px !important;
    left: -428px;
    text-align: center;
}
.lunbo-team > .lunbo-inner-7 {
    width: 100%;
    left: -422px;
    top: 304px !important;
    text-align: center;
}
.lunbo-team > .lunbo-inner-8 {
    width: 100%;
    left: -428px;
    top: 340px !important;
    text-align: center;
}
.lunbo-team > .lunbo-inner-9 {
    width: 100%;
    top: 325px !important;
    left: -396px;
    text-align: center;
}
.lunbo-team > .lunbo-inner-10 {
    width: 100%;
    top: 330px !important;
    left: -400px;
    text-align: center;
}
.lunbo-team > .lunbo-inner-11{
    width: 100%;
    left: -418px;
    top: 338px !important;
    text-align: center;
}
.lunbo-team > .lunbo-inner a {
    font-size: 18px;
    font-weight: 400;
    padding: 4px 38px;
    border: 1px solid #ddd;
    color: #fff;
    display: inline-block;
    margin: 25px 0;
    cursor: pointer;
    border-radius: 2px;
}

.lunbo-team > .lunbo-inner a:hover {
    background-color: #2277ba;
}

.lunbo-team > .lunbo-inner h1 {
    font-weight: bold;
}

.lunbo-team > .lunbo-inner h4 {
    margin: 15px 0 10px 0;
    line-height:30px;
}

.cControl {
    padding: 0 60px;
    position: absolute;
    top: 220px;
    width: 100%;
    height: 0px;
}

.cControl a {
    padding: 10px;
    color: #fff;
    opacity: 0;
}

.lunbo:hover .cControl a {
    opacity: 0.8;
}

.lunbo-circle {
    text-align: center;
    position: relative;
    top: -40px;
}

.cControl a i {
    font-size: 60px;
}

.lunbo-circle {
    cursor: default;
}

.lunbo-circle li:first-child {
    border: 4px solid #3e3d49;
}

.lunbo-circle li:first-child span.names {
    display: block;
}
.lunbo-circle li {
    position: relative;
    list-style: none;
    display: inline-block;
    width: 9px;
    border: 0 solid #3e3d49;
    height: 9px;
    border-radius: 50%;
    background: #1970d5;
    color: #fff;
    margin: 0 8px;
    cursor: pointer;
    box-sizing: content-box;
}

.names {
    position: absolute;
    left: -34px;
    top: -45px;
    color: #fff;
    font-size: 12px;
    background: #1970d5;
    width: 75px;
    text-align: center;
    padding: 5px 8px;
    display: none;
}

.lunbo-circle li:hover .names {

    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.names::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 26px;
    margin-left: -5px;
    border-width: 6px;
    border-style: solid;
    border-color: #1970d5 transparent transparent;
}

.lunbo-circle li span:last-child {
    visibility: hidden;
}

/*轮播结束*/
/*轮播下四张图start*/
.promotion {
    padding: 10px 0;
    margin: -80px 0 0 0;
}

#index .promotion ul {
    text-align: center;
}

#index .promotion ul li {
    display: inline-block;
}

#index .promotion ul li div:nth-child(1) {
    width: 110px;
    height: 110px;
}

#index .promotion ul li div:nth-child(2) {
    width: 175px;
    height: 125px;
    box-sizing: border-box;
    padding: 35px 5px 0 0;
    text-align: left;
    border-right: 1px solid #ddd;
}

#index .promotion ul li div:nth-child(2) span {
    color: #333;
    font-size: 16px;

}

#index .promotion ul li div:nth-child(2) p {
    color: #666;
}

#index .promotion ul li:hover div:nth-child(2) span {
    color: #2277e6;
}

#index .promotion ul li:hover img {
    margin: -2px 0 0 0;
    transition: margin 0.2s;
}

#index .promotion ul li div img {
    height: 100%;
}

/*轮播下四张图end*/
.index-c {
    width: 100%;
    padding: 100px 70px;
}

.index-c-0 {
    background: #f2f2f5;

}

.index-c {
    width: 100%;
    margin: 0 auto;
}

.index-c > div, .index-c > ul {
    width: 1200px;
    margin: 0 auto;
}

.index-c > div > h2 {
    font-size: 30px;
}

.index-c > div > p {
    font-size: 18px;
    padding: 10px 0 25px 0;
}

.indexshowteam {
    height: 431px;
    width: 1010px;
    margin: 50px auto;
    margin-bottom: 0;

}

.indexshowteam > div {
    float: left;
    background: #fff;
}

.indexshowteam > .index-show {
    position: relative;
    text-align: center;
    width: 200px;
    height: 400px;
    border-right: 1px solid #d9d9d9;
    border-top: 4px solid #d9d9d9
}

.indexshowteam > .index-show2 {
    width: 200px;
    height: 400px;
    position: relative;
    display: none;
    border: 1px solid #2277e6;
    border-top: 4px solid #2277e6
}

.indexshowteam > .index-show2 > div {
    color: #2277e6;
}

.indexshowteam > .index-show2 h3 {
    margin-bottom: 15px;
    font-size: 18px;
    color: #000;
}

.indexshowteam > .index-show2 ul h3 {
    margin-bottom: 15px;
    font-size: 14px;
}

.indexshowteam > .index-show2 ul p {
    color: #666;
}

.indexshowteam > .index-show2.active {
    width: 400px;
    height: 460px;
}

.indexshowteam > .index-show-12 {
    display: block;
}

.index-show > div {
    padding: 30px 0;
}

.index-show2 > div {
    padding: 30px 20px;
    text-align: center;
}

.index-show > div img {
    width: 40px;
    height: 40px;
}

.index-show > div img {
    width: 40px;
    height: 40px;
}

.index-show2 > div img {
    width: 30px;
    height: 30px;
}

.index-show > div > h3 {
    margin: 10px 0;
    font-size: 18px;
}

.index-show2 > div > span {
    font-size: 20px;
}

.index-show > div > h1 {
    border: 1px solid #ddd;
    border-bottom: none;
    width: 50px;
    display: inline-block;
}

.index-show2 > div > h1 {
    border: 1px solid #ddd;
    border-bottom: none;
    width: 100%;
    display: block;
    margin: 20px 0 0 0;
}

.index-show > ul > li {
    padding: 15px 0;
}

.index-show2 > ul > li {
    padding: 20px 20px;
    position: relative;
}

.index-show2 > ul > li div {
    width: 70%
}

.index-show > ul > li a {
    color: #666;
}

.index-show2 > ul > li > a {
    padding: 5px 10px;
    border: 1px solid #2277e6;
    border-radius: 3px;
    font-size: 12px;
    position: absolute;
    top: 40%;
    right: 20px;
    display: none;
}

.index-show2 > ul > li > span {
    font-size: 14px;
    position: absolute;
    top: 50%;
    right: 20px;
    display: block;
    color: red;
}

.index-show2 > ul > li:hover > a {
    display: block;
}

.index-show2 > ul > li:hover > span {
    display: none;
}

.index-show2 > a {
    display: block;
    position: absolute;
    bottom: 15px;
    left: 20px;
}

/*.index-c-0 ul>li {*/
/*width:300px;*/
/*height:200px;*/
/*background: #fff;*/
/*display: inline-block;*/
/*margin:10px 12px 10px 0;*/
/*}*/
/*.index-c-0 ul>li>div{*/
/*float: left;*/
/*width: 49%;*/
/*margin: 0 auto;*/
/*text-align: center;*/
/*padding:20px 0;*/
/*height:100%;*/
/*}*/
/*.index-c-0 ul>li>div>div{*/
/*border-left:1px solid #ddd;*/
/*text-align: left;*/
/*padding:0 0 0 10px;*/
/*height:100%;*/
/*}*/
/*.index-c-0 ul>li>div img{*/
/*width:80px;*/
/*height:90px;*/

/*}*/
/*.index-c-0 ul>li>div p{*/
/*padding:10px 0;*/
/*}*/
/*.index-c-0 ul>li>div p a {*/
/*color:#f33;*/
/*}*/
/*.index-c-0 ul>li>div p a:hover {*/
/*color:#116ddd;*/
/*}*/

/*.index-c.index-c-1{*/
/*background: url(../images/appcenter.jpg) no-repeat 0 0;*/
/*background-size:100%;*/
/*height:600px;*/
/*-webkit-filter: blur(3px);*/
/*-moz-filter: blur(3px);*/
/*-o-filter: blur(3px);*/
/*-ms-filter: blur(3px);*/
/*filter: blur(3px);*/
/*}*/
/*.index-c-1-title{*/
/*position: relative;*/
/*top: -600px;*/
/*}*/
/*.index-c-1-title div h2,.index-c-1-title div p{*/
/*color: #fff;*/
/*}*/
.index-c-1-title ul {
    margin: 0 auto;
}

.index-c-1-title ul li {
    float: left;
    width: 20%;
    /*max-width:330px;*/
    height: 370px;
    position: relative;
}

.index-c-1-title ul li:nth-child(1) {
    background: url(../images/index-solute1.jpg) no-repeat 0 0;
    background-size: 130%;
}

.index-c-1-title ul li:nth-child(2) {
    background: url(../images/ndex-solute2.jpg) no-repeat 0 0;
    background-size: 130%;
}

.index-c-1-title ul li:nth-child(3) {
    background: url(../images/ndex-solute3.jpg) no-repeat 0 0;
    background-size: 130%;
}

.index-c-1-title ul li:nth-child(4) {
    background: url(../images/ndex-solute4.jpg) no-repeat 0 0;
    background-size: 130%;
}

.index-c-1-title ul li:nth-child(5) {
    background: url(../images/ndex-solute5.jpg) no-repeat 0 0;
    background-size: 130%;
}

.index-c-1-title ul li > ol, .index-c-1-title ul li > h6 {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    opacity: 0.9;
}

.index-c-1-title ul li > ol {
    background: #00a2ca;
    display: none;
}

.index-c-1-title ul li > h6 {
    background: #161A1D;
    opacity: 0.8
}

.index-c-1-title ul li:nth-child(odd) > h6 {
    opacity: 0.6;
}

.index-c-1-title ul li > div {
    margin: 70px 0 0 0;
    padding: 2% 3%;
    text-align: center;
    position: absolute;
    z-index: 2;
}

.index-c1-img {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.index-c1-img b {
    display: block;
    margin: 10px 40%;
    height: 1px;
    width: 20%;
    border: 1px solid #ddd;
}

.index-c1-img h3 {
    margin: 30px 0;
    font-weight: bold;
    color: #fff;
    font-size: 22px;
}

.index-c1-img img {
    width: 68px;
}

div.hoverblock a {
    padding: 5px 30px;
    display: inline-block;
    border: 1px solid #ddd;
    color: #fff;
}

div.hoverblock a:hover {
    background: #fff;
    color: #00C1DE;
}

div.hoverblock {
    opacity: 0;
}

div.hoverblock p {
    margin: 0 0 10px 0;
    text-align: left;
    color: #fff;
}

.index-c-3 {
    background: #f2f2f5;
}

.index-c-3 div ul {
    margin: 0 auto;
}

.index-c-3 div ul li {
    width: 19.5%;
    height: 370px;
    background-color: #fff;
    text-align: center;
    padding: 20px 0;
    cursor: pointer;
    float: left;
    margin-right: 0.6%;
    position: relative;
    overflow: hidden;
}

.index-c-3 div ul li:last-child {
    margin-right: 0;
}

.index-c-3 div ul li:nth-child(1) {
    background: url(../images/index-solute11.jpg) no-repeat 0 0;
    background-size: 150%;
}

.index-c-3 div ul li:nth-child(2) {
    background: url(../images/index-solute33.png) no-repeat 0 0;
    background-size: 285%;
}

.index-c-3 div ul li:nth-child(3) {
    background: url(../images/index-solute22.jpg) no-repeat 0 0;
    background-size: 257%;
}

.index-c-3 div ul li:nth-child(4) {
    background: url(../images/index-solute44.jpg) no-repeat -335px 0;
    background-size: 247%;
}

.index-c-3 div ul li:nth-child(5) {
    background: url(../images/zhongwang.jpg) no-repeat -170px 0;
    background-size: 240%;
}

.index-c-3 .sdhover div {
    padding: 8% 5%;
    border: 1px solid #ddd;
    text-align: left;
    margin: 0 auto;
    background: rgba(11, 11, 11, 0.4);
    position: absolute;
    top: 305px;
    width: 100%;
    transition: bottom 1s;
    color: #fff;
    height: 180px;
}

.sdhover div > h2 {
    border: 1px solid #fff;
    border-bottom: none;
}

.index-c-3 .sdhover:hover div {
    top: 210px;
    transition: all 1s;
}

.index-c-2 h2 ul {
    margin: 10px 0 0 30px;
}

.index-c-2 h2 ul li {
    float: left;
    font-size: 20px;
    padding: 5px 10px;
    cursor: pointer;
}

.index-news {
    width: 60%;
}

.news-title {
    height: 200px;
}

.news-title ul {
    margin: 10px 0 0 0;
}

.news-title ul li {
    width: 45%;
    padding: 20px 0;
    margin: 0 4% 0 0;
    overflow: hidden;
    color: #333;
    float: left;
}

.news-title ul li a {
    color: #333;
}

.news-title ul li a:hover {
    color: #2277da;
}

.news-title ul li a b {
    margin: 0 5px;
    border-left: 1px solid #777;
}

.news-title ul li a span {
    display: inline-block;
    max-width: 60%;
    white-space: nowrap;
    vertical-align: bottom;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.news-img {
    width: 40%;
    height: 200px;
}

.news-img img {
    width: 100%;
    margin-top: 20px;
    height: 157px;
}

.safety {
    width: 100%;
    margin: 0 auto;
    padding: 0 70px 0 70px;
    margin-bottom: -40px;
    background: #2e3033;
}

.safety ul li {
    float: left;
    width: 25%;
    text-align: center;
    border-bottom: 1px solid #ddd;
    padding: 30px 0;
    color: #fff;
    font-size: 14px;
}

.safety ul li:hover {
    color: #2277da;
    cursor: pointer;
}

.safety ul li:hover .bei724 {
    background: url(../images/724bei.png) no-repeat -117px -35px;
}

.safety ul li:hover .bei5 {
    background: url(../images/724bei.png) no-repeat -68px -40px;
}

.safety ul li:hover .bei0 {
    background: url(../images/724bei.png) no-repeat -1px -108px;
}

.safety ul li:hover .bei1v1 {
    background: url(../images/724bei.png) no-repeat -68px -74px;
}

.safety ul li b {
    display: inline-block;
    width: 33px;
    height: 32px;
    left: -7px;
    position: relative;
    top: 10px;
}

.safety .bei724 {
    background: url(../images/724bei.png) no-repeat -117px -1px;
}

.safety .bei5 {
    background: url(../images/724bei.png) no-repeat -34px -40px;
}

.safety .bei0 {
    background: url(../images/724bei.png) no-repeat -1px -74px;
}

.safety .bei1v1 {
    /*!*background:url(../images/724bei.png)no-repeat -119px -37px;*!lan dianhua*/
    background: url(../images/724bei.png) no-repeat -117px -69px;
}

.ct1 .main-content {
    position: relative;
}

.ct1 .img-center {
    width: 100%;
    border: 1px solid #ddd;

}

.ct1 .img-center div {
    width: 16%;
    height: 100%;
    padding: 5px 20px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    cursor: pointer;
}

.ct1 .img-center div img {
    margin: 0 auto;
    cursor: pointer;
    width: 70px;
    height: 60px;
}

.ct1 .img-center div p {
    margin: 10px 0;
    font-weight: bold;
}

.ct2 > div table {
    border: 1px solid #ddd;
    padding: 2px;
    font-size: 14px;
}

.ct2 > div table thead th {
    text-align: center;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    padding: 20px 10px;
}

.ct2 > div table tbody td {
    text-align: center;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    padding: 20px 10px;
}

.ct2 > div table tbody tr td:nth-child(1) {
    text-align: center;
    font-weight: bold;
}

.ct2 > div table tbody td:nth-child(2) p {
    color: #666;
}

.ct2 > div table tbody tr td:nth-child(3) {
    color: #999;
}

.notes {
    border: 1px solid #aaa;
    margin-bottom: 20px;
}

.notes > p {
    background-color: #f3f3f3;
    border-bottom: 1px solid #aaa;
    padding: 20px 24px;

}

.notes > div {
    padding: 25px;
}

.notes > div p {
    color: #666;
}

.notes > div ul li {
    margin-bottom: 20px;
}

.notes > div ul li h4 {
    font-weight: bold;
    color: #000;
    font-size: 14px;
    margin-bottom: 5px;
}

/*解决方案hhy*/
#hhy {
    /*border:1px solid #ddd;*/
}

.solution-img {
    width: 100%;
    background-size: 100% 100% !important;
}

.solution-img > div {
    width: 1200px;
    height: 430px;
    padding: 70px;
    margin: 0 auto;
    color: #fff;
}

#hhy .solution-img {
    background: url(../images/snapshot.jpg) no-repeat 0 0;
}

#dsj .solution-img {
    background: url(../images/lun4.png) no-repeat 0 0;
}

#dsoto .solution-img {
    background: url(../images/jjfaoto1.jpg) no-repeat 0 0;
}

#idc .solution-img {
    background: url(../images/idctoubu.jpg) no-repeat 0 0;
}
#lingshou .solution-img {
    background: url(../images/lingshou_1111.jpg) no-repeat 0 0;
}

#hunheyun .solution-img {
    background: url(../images/hunheyun11111.jpg) no-repeat 0 0;
}


#callcenter .solution-img {
    background: url(../images/idcoo1.jpg) no-repeat 0 0;
}

.solution-img > div > h1 {
    font-size: 48px;
    margin: 20px 0;
}

.solution-img > div > p {
    font-size: 20px;
    margin: 0 0 30px 0;
}

.solution-img > div > p a {
    border: 1px solid #fff;
    font-size: 16px;
    padding: 10px 40px;
    margin: 0 10px 0 0;
    color: #fff;
    border-radius: 2px;

}

.solution-img > div > p a:hover {
    background-color: #fff;
    color: #2277e6;
}

.solution-show {
    margin: 0 auto;
    width: 1100px;
    height: 300px;
}

.solution-show > div {
    width: 250px;
    text-align: center;
    padding: 0 10px;
    float: left;
    margin: 0 10px;
}

.solution-show .solution-show-img {
    width: 118px;
    height: 118px;
    border: 4px solid rgba(0, 0, 0, .04);
    text-align: center;
    line-height: 100px;
    border-radius: 50%;
    margin: -64px auto;
    margin-bottom: 30px;
    background-color: #fff;
}

.solution-show .solution-show-img img {
    width: 60%;
    height: 60%;
}

.solution-show > div > h4 {
    margin: 0 0 20px 0;
}

.solution-show > div > p {
    text-align: left;
    color: #666;
}

.solution-contents {
    margin: 0 0 40px 0;
}

.solut-c {
    width: 1200px;
    margin: 0 auto;
}

.ww1200 {
    background: #f8fcff;
}

.solut-c-title {
    margin: 40px 0;
}

.solut-c-title h1 {
    margin: 10px 0;
}

.solut-c-title p {
    color: #666;
    font-size: 18px;
}

.solut-c1 {
    background: #edf7ff;
}

.solut-c1 div.fl {
    width: 70%;
}

.solut-c1 div.fr {
    background: #e3f1fc;
    height: 800px;
    width: 30%;
    padding: 150px 80px 0 20px;
}

.solut-c1 div.fr > div {
    display: none;
}

.solut-c1 div.fr ul {
    margin: 0 0 0 30px;
}

.solut-c1 div.fr ul li {
    padding: 5px;
}

.solut-c1 div.fl ul li, .solut-c2 ul li {
    float: left;
}

.solut-c1 div.fl ul li a.blue-fff, .solut-c2 ul li a.blue-fff {
    background: #2277da;
    color: #fff;
}

.solut-c1 div.fl ul li a:not(.blue-fff):hover, .solut-c2 ul li a:not(.blue-fff):hover {
    background: #cde8ff;
    color: #404a58;
}

.solut-c1 ul li a, .solut-c2 ul li a {
    padding: 20px 50px;
    background: #fff;
    border: 1px solid #ddd;
    display: inline-block;
    color: #404a58;
    font-size: 18px;
}

.solut-c1 div.fl .ulli-img {
    width: 700px;
    height: 500px;
    padding: 15px;
    margin: 20px 0;
    border: 1px solid #faf;
}

.solut-c1 div.fl .ulli-img div, .solut-c2-content > div {
    display: none;
    width: 100%;
    height: 100%;
}

.solut-c1 div.fl .ulli-img img {
    width: 100%;
    height: 100%;

}

.solut-c1 div.fr h3 {
    margin: 20px 0;
    color: #000;
}

.solut-c1 div.fr h2, .dotted-line {
    width: 100%;
    height: 0;
    border: 1px dotted #999;
    margin: 20px 0;
}

.solut-c1 div.fr h4 {
    font-weight: bold;
    margin: 30px 0 10px 0;
    color: #000;
}

.solut-c1 div.fr p {
    color: #666;
}

.solut-c2-content {
    width: 100%;
    margin-top: 30px;
}

.solut-c2-content > div {
    width: 100%;
}

.solut-c2-content > div > div.fl {
    border-right: 1px solid #ddd;
}

.solut-c2-content > div > div {
    width: 50%;
    height: 50%;
    padding: 15px;
}

.solut-c2-contents .fl {
    width: 30%;
    min-width: 140px;
    height: 100%;
    margin-top: 20px;
}

.solut-c2-contents .fl img {
    width: 100px;
}

.solut-c2-contents .fr {
    width: 70%;
    min-width: 390px;
}

.solut-c2-contents h4 {
    color: #777;
}

.solut-c2-contents .fr h3 {
    margin: 20px 0;
}

.solut-c2-contents .fr p {
    margin: 10px 0;
    color: #888;
}

.solut-c2-contents .fr p span {
    color: #000;
}

.solutions.stitle {
    left: 0;
    z-index: -1000000;
}

.solutions.stitle > ul {
    padding-left: 10%;
}

.solutions.stitle > ul > li {
    padding: 5px 35px;
    margin: 0 auto;
}

.product-img {
    width: 40%;
    padding: 0 4%;
}

.product-img img {
    width: 90%;
}

.product-content {
    width: 60%;
    padding: 4% 3%;
}

.product-content h4 {
    font-size: 20px;
    margin: 0 0 20px 0;
}

.product-content ul li {
    padding: 7px 0;
    list-style-type: disc;
}

.product-contents {
    width: 60%
}

.product-contents h4 {
    font-size: 24px;
    color: #000;
    margin: 15px 0;
}

.product-contents p {
    color: #777;
    line-height: 30px;
}

.product-contents ul li {
    text-align: center;
    width: 30%;
}

.product-contents ul li h2 {
    font-size: 48px;
    color: #48819b;
}

.product-contents p a {
    display: inline-block;
    padding: 2px 40px;
    border: 1px solid #ed711f;
    font-size: 14px;
    color: #ed711f;
    margin: 20px 0 0 0;
    border-radius: 2px;
}

.product-contents p a:hover {
    color: #fff;
    background: #ed711f;
}

.line-05, .line-06 {
    width: 100%;
    height: 0;
    border: 1px solid #999;
    margin: 25px 0;
}

.line-06 {
    border: 1px dashed #d4d5d7
}

#image {
}

#image .ct2 > div table tbody td {
    text-align: left;
}

#zhy {
}

#zhy .ct2 table tr {
    text-align: center;
}

#zhy .ct3 table tr {
    text-align: center;
}

#zhy .ct4 .neirong-content {
    min-height: 100px;
}

/*#zhy .ct7  ul,#syy .ct7 ul {*/
/*padding:0 12.5% ;*/
/*}*/
#zhy .ct7 ul li, #syy .ct7 ul li {
    width: 33.333%
}

#kangD {
}

#kangD .ct2 > div table tbody td {
    text-align: left;
}

.ct6 .row div {
    text-align: center;
    margin: 20px 0;
}

#tgy .ct6 .row div img {
    width: 80%;
}

#kangD .ct1 .img-center div {
    width: 16%;
}

#yjkproduct {
}

#yjkproduct .ct4 .neirong-content {
    min-height: 200px;
}

.ct6 .row .bushu {
    width: 700px;
    margin: 0 auto;
}

.bushu div {
    width: 300px;
}

.ct6 .bushu div img {
    width: 120px;
    height: 110px;
}

.ct6 .bushu div h5 {
    font-size: 20px;
    margin: 10px 0;
}

#gst {
}

#gstd .ct5 .row > p {
    margin: 20px 0;
}

.contents.ct7 > .row > h4 {
    margin: 20px 0;
}

.ct7 > div > ul > li {
    float: left;
    width: 33.333%;
    text-align: center;
    padding: 5%;
}

.ct7 > div > ul ul {
    text-align: left;
    margin-left: 36px;
}

.ct7 > div > ul ul li {
    text-align: left;
    margin-top: 8px;
}

.ct7 ul li img {
    width: 60%;
}

.ct7 ul li h4 {
    margin: 10px 0
}

.ct7 ul li p {
    text-align: left;
}

#jsy {
}

#jsy .ctul-img .row > ul.fl > li {
    padding: 3px 10px;
}

#syy {
}

#sywl {
}

#sywl .ct3 > div table tbody tr td:nth-child(2) {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

#sywl .ct3 > div table tbody tr td:nth-child(1) {
    font-weight: bold;
}

#sywl .ct4 .neirong-content {
    min-height: 200px;
}

#beifen {
}

.ctul-img .row > ul.fl {
    width: 48%;
}

.ctul-img .row > div.fr {
    width: 52%;
    padding: 2%;
    margin-top: 20px;
}

#beifen .ctul-img .row > div.fr {
    width: 40%;
    padding: 2%;
    margin-top: 20px;
}

.ctul-img .row > ul.fl > li {
    padding: 10px;
}

.ctul-img .row > ul.fl > li h4 {
    padding: 10px 0;
    color: #000;
    font-size: 14px;
    font-weight: bold;
}

.ctul-img .row > div.fr img {
    width: 100%;
    height: 100%;
}

.ct5 .text h4 {
    font-size: 18px;
    margin: 0 0 5px 0;
}

.ct5 .text p {
    color: #999;
}

#yyp .table-color div table tbody tr td:nth-child(2) {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

#tgy {
}

#tgy .ct3 > div table tbody tr td:nth-child(2) {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

#jkgl {
}

#jkgl .ctul-img .row > ul.fl {
    width: 90%;
}

#jkgl .ctul-img .row > ul.fl > li {
    padding: 0 40px;
}

#jkgl .ct3 > div table tbody tr td:nth-child(2) {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

#yyzj {
}

#yyzj .ctul-img .row > ul.fl {
    width: 100%;
}

#yyzj .ctul-img .row > ul.fl li p {
    line-height: 24px;
}

#yyzj .ctul-img .row > h4 {
    margin-top: 20px;
}

.dsotos {
    /*background-color: #f5f5f5;*/
}

.dsotos .solution-img > div {
    height: 350px;
}

.dsotos .solution-img > div {
    color: #333;
    width: 60%;
    margin: 0;
    padding: 40px 70px;
}

.dsotos .solution-img > div > p a {
    background: #116ddd;
}

.dsotos .solut-c {
    border: 1px solid #ddd;
}

.dsotos .solut-c1 div.fl .ulli-img {
    margin-left: 40px;
}

.dsotos .solut-c1 div.fl {
    padding: 0 25px;
    background-color: #fff;
}

.dsotos .solut-c1 div.fr {
    height: 580px;
}

.jjfa {
    width: 100%;
    background: #fff;
    padding: 30px 0;
}

.jjfa > ul, .jjfa > div {
    width: 1200px;
    margin: 30px auto;
    background: #fff;
    padding: 30px 10px;
}

.jjfa > ul > li {
    width: 25%;
    float: left;
    padding: 1% 3%;
    border-left: 1px dashed #ddd;

}

.jjfa > ul > li > h3 {
    color: #333;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
}

.jjfa > ul > li > p {
    color: #666;
}

.jjfa > ul > li:first-child {
    border-left: none;
}

.jjfatitlep {
    border-left: 2px solid #2277da;
    font-weight: 600;
    display: block;
    margin: 0 auto;
    width: 1200px;
    font-size: 36px;
    padding-left: 10px;
    margin-top: 50px;
}

.jjfats {
    margin: 0 auto;
}

.jjfats > div > div {
    margin: 30px;
}

.dsotos .ct4 .neirong > div.nr0 > ol {
    width: 120px;
    height: 122px;
    margin: 30px 60px 30px 100px;
    background: url("../images/jjfasmall1.png") no-repeat 0 0;
}

.dsotos .ct4 .neirong > div.nr1 > ol {
    width: 120px;
    height: 122px;
    margin: 30px 50px 30px 100px;
    background: url("../images/jjfasmall1.png") no-repeat -120px 0;
}

.dsotos .ct4 .neirong > div.nr2 > ol {
    width: 120px;
    height: 122px;
    margin: 30px 50px 30px 100px;
    background: url("../images/jjfasmall1.png") no-repeat -240px 0;
}

.dsotos .ct4 .neirong > div.nr3 > ol {
    width: 120px;
    height: 122px;
    margin: 30px 50px 30px 100px;
    background: url("../images/jjfasmall1.png") no-repeat -360px 0;
}

.dsotos .solution-img > div > p {
    font-size: 14px;
}

.solut-c1 div.fr > div > p {
    margin-bottom: 20px;
}
.solut-c1 div.fr ul li {
    color: #555;
    line-height: 26px;
    list-style-type: disc;
}

.dsotos .solut-c1 div.fr {
    padding-top: 50px;
}

#zhuce * {
    box-sizing: content-box !important;
}

#hlwjr {
}

#hlwjr .ct3 > div table tbody tr td:nth-child(2) {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

#yjr table tbody tr td:nth-child(2), #yjr table tbody tr td:nth-child(2), #csdl table tbody tr td:nth-child(2), #swxwgl table tbody tr td:nth-child(2) {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

#yjkSaas {
}

#yjkSaas .ct3 > div table tbody tr td:nth-child(2) {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    text-align: center;
}

#denglu {
    background: url(/images/lun4.png) no-repeat center center;
}

.error {
    background: url(../images/cuowu.png) center center no-repeat;
    background-size: 18px;
    height: 20px;
    width: 20px;
    padding: 10px;
    position: absolute;
    top: 9px;
    right: 70px;
}

.correct {
    background: url(../images/correct.png) center center no-repeat;
    background-size: 18px;
    height: 20px;
    width: 20px;
    padding: 10px;
    position: absolute;
    top: 9px;
    right: 70px;
}

#zhmm {
    background: url(/images/lun4.png) no-repeat center center;
}

#user_reset {
    width: 500px;
    padding: 70px 0;
    margin: 0 auto;
}

#img_securityCode_email {
    width: 168px;
    margin: 10px 0;
}

#free {
}

#free .free-content {
    width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
}

#free .free-content > .free-title {
    padding: 100px 10px;
    background: #ebedf0;
}

#free .free-content > .fr {
    border: 1px solid #ddd;
    width: 1140px;
    height: 280px;
    padding: 25px 150px;
    position: relative;
}

#free .free-content > .fr > p:first-child {
    font-size: 20px;
    margin-bottom: 10px;
}

#free .free-content > .fr > p:first-child {
    font-size: 20px;
    margin-bottom: 10px;
}

#free .free-content > .fr p:first-child span {
    font-size: 30px;
    margin-right: 4px;
}

#free .free-content > .fr ul {
    margin-bottom: 50px;
}

#free .free-content > .fr ul li {
    float: left;
    border-left: 1px solid #ddd;
    padding: 5px 40px;
}

#free .free-content > .fr ul li p:last-child {
    color: #999;
}

.btn-an {
    padding: 8px 30px;
    border: 1px solid #2277da;
    background: #2277da;
    color: #fff;
    border-radius: 3px;
}

#free .btn-an:hover {
    color: #fff;
    background: #006ba2;
}

.guize {
    width: 1200px;
    margin: 50px auto;
    border: 1px solid #ddd;
    padding: 25px 50px;
}

.guize > p {
    font-size: 20px;
    margin-bottom: 20px;
}

.guize > ul {
    margin-left: 50px
}

.guize > ul li {
    list-style: decimal;
    line-height: 26px;
}

.img-titleshow {
    width: 100%;
    height: 170px;
    text-align: center;
}

.img-titleshow h1 {
    font-weight: 400;
    padding: 50px 0 20px 0;
}

.img-titleshow p {
    font-size: 16px;
}

#free .img-titleshow {
    background: url("/images/freetiyan.jpg") no-repeat center center #e1e4eb;;
}

#newlibao .img-titleshow {
    background: url("/images/newlibao.jpg") no-repeat center center #e1e4eb;
}

#newlibao .guize {
    position: relative;
}

#newlibao .guize h3 {
    margin-bottom: 14px;
}

.left-img {
    display: block;
    width: 160px;
    height: 160px;
    position: absolute;
    bottom: 0;
    right: 0;
    background: url(../images/3.png) no-repeat 0 0;
    background-size: 130%;
}

.newlibao-guize {
    width: 1200px;
    margin: 40px auto;
    padding-left: 100px;
}

.newlibao-guize h2 {
    padding: 40px 0 20px 0;
    font-size: 28px;
}

.newlibao-guize h3 {
    padding: 10px 0;
}

.newlibao-guize ul li {
    list-style: decimal;
    line-height: 28px;
    color: #666;
    margin-left: 50px;
}

#beian .beian-img {
    width: 100%;
    height: 350px;
    background: url(/images/beian.jpg) no-repeat center center #e1e4eb;
}

#beian {
}

#beian > div {
    width: 1200px;
    padding: 50px 0;
    margin: 0 auto;
    margin-bottom: 60px;
}

#beian > div > ul {
    position: relative;
    z-index: 100;
}

#beian > div > ul li {
    float: left;
    text-align: center;
    width: 20%;
}

#beian > div > ul li p {
    margin: 10px 0 20px 0;
}

#beian > div > ul li i {
    width: 35px;
    height: 37px;
    display: block;
    text-align: center;
    margin-left: 105px;
}

#beian > div > ul li span {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    background-color: #383d41;
    color: #fff;
    font-size: 12px;
    z-index: 100;
    cursor: pointer;
}

#beian > div > ul li:hover span {
    background-color: #00c2de;
    box-shadow: 0 0 10px 5px rgba(0, 194, 222, .5);
}

.line-red {
    width: 1200px;
    height: 1px;
    border: 1px solid #383d41;
    border-top: none;
    position: absolute;
    bottom: 60px;
    left: 0;

}

#beian .oneday, #beian .twoday {
    position: absolute;
    padding: 2px 10px;
    background: #fff;
    bottom: 50px;
    z-index: 1000;
}

#beian .oneday {
    left: 450px;
}

#beian .twoday {
    left: 875px;
}

.jjfalszj ul {
    border-top: 1px solid #ddd;
}

#qudaohz {
}

#qudaohz .qudaohz-img {
    width: 100%;
    height: 300px;
    padding: 70px 100px;
    background: url(/images/qudaohz.png) no-repeat right center #e1e4eb;
}

.qudaohz-img h1 {
    margin-bottom: 15px;
}

.qudaohz1200 {
    width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
}

.qudaohz1200 p {
    font-size: 18px;
    margin-top: 15px;
}

.colorlan {
    background: #f6f6f6;
}

.lanfangkuan {
    height: 100px;
}

.lanfangkuan > div {
    text-align: center;
    float: left;
    width: 260px;
    height: 100px;
    padding: 20px 20px;
    border: 3px solid #2277da;
    margin-right: 25px;
}

.lanfangkuan > div p {
    padding: 0;
}

.lanfangkuan > span {
    position: absolute;
    padding: 5px;
    font-size: 16px;
    background: #f6f6f6;
    color: #2277da;
    bottom: 35px;
}



























footer {
    width: 100%;
    background-color: #2e3033;
    /*margin-top:40px;*/
    color: #fff;
    /*padding:50px 0 0 0;*/
}

.footer > div {
    width: 1200px;
}

.footer div > ul {
    width: 79%;
    float: left
}

footer div > ul > li {
    float: left;
    width: 25%;
    cursor: pointer;
}

footer div > ul > li li {
    padding: 6px 16px;
    font-size: 12px;
}

footer ul li a {
    color: #fff;
}

footer div h4 {
    padding: 10px 16px;
    font-size: 14px;
}

#weixinimg {
    text-align: center;
    width: 20%;
    float: right;
}

.footer > div > div > p {
    padding: 3px 0;
    font-size: 16px;
}
