h1,h2,h3,h4,h5,h6,ul,li,span,i,b,p,div{margin:0;padding:0;}

/*这是字体图标*/
@font-face {
    font-family: 'iconfont';
    src: url('../font/iconfont2.eot'); /* IE9*/
    src: url('../font/iconfont2.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../font/iconfont2.woff') format('woff'), /* chrome、firefox */ url('../font/iconfont2.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: Arial, "Hiragino Sans GB", "Microsoft YaHei", "寰蒋闆呴粦",
    STHeiti, "WenQuanYi Micro Hei", SimSun, sans-serif;
    color: #333;
    background-color: #fff
}
html {
    overflow: auto;
}
body {
    background: #f1f4f6 !important;
}

.displaynone {
    display: none;
}

/*@font-face {font-family: 'awei';*/
/*src: url('../font/iconfont2.eot'); !* IE9*!*/
/*src: url('../font/iconfont2.eot?#iefix') format('embedded-opentype'), !* IE6-IE8 *!*/
/*url('../font/iconfont2.woff') format('woff'), !* chrome、firefox *!*/
/*url('../font/iconfont2.ttf') format('truetype'), !* chrome、firefox、opera、Safari, Android, iOS 4.2+*!*/
/*url('../font/iconfont2.svg#iconfont') format('svg'); !* iOS 4.1- *!*/
/*}*/

/*.iconfont{*/
/*font-family:"awei" !important;*/
/*font-size:16px;font-style:normal;*/
/*-webkit-font-smoothing: antialiased;*/
/*-webkit-text-stroke-width: 0.2px;*/
/*-moz-osx-font-smoothing: grayscale;*/
/*}*/
.h_mybody{
		  background:#3e3d49;
		  }
.clearfix:after{display: block; content:'';clear: both;}

.clearfix {
    zoom: 1;
}
.h_action{margin:0 auto;  margin-left: 27px;}
.h_action input{width: 130px;height: 40px;  margin-right: 16px;
				padding:4px 8px;background:#57b382;border-radius: 2px;
				color:#fff; border:none;font-family:'微软雅黑';
			   }
.h_posibtn2_selbox{  width: 78px;
  overflow: hidden;
  border-right: 2px solid #ccc;
  border-radius: 3px;}
.h_action input:hover{background:#4ba575; outline:none;}
.h_registerbox{  margin-left: 26px;
  color: #1f90c8;
  font-size: 12px;
  font-family: Arial,"Hiragino Sans GB","Microsoft YaHei","å¾®è½¯é›…é»‘",STHeiti,"WenQuanYi Micro Hei",SimSun,sans-serif;
  margin-top: 10px;}
.fl{float:left;}
.fr{float:right;}
.h_mlogin {		
              display:inline-block;
              width:330px;
			  background:#fff;
			  border-radius: 6px;
			    margin-top: 34px;
		}
.h_mlogin_code,.h_mlogin_landing{  width: 246px;
  font-size: 14px;border:2px solid #ccc;
    margin-left: 32px;border-radius: 3px;  padding: 9px 18px 8px 0;
  background: #faffbd;}
 .h_recordbox-1{color: #777;  margin-top: 12px;font-size: 12px;font-family: Arial,"Hiragino Sans GB","Microsoft YaHei","å¾®è½¯é›…é»‘",STHeiti,"WenQuanYi Micro Hei",SimSun,sans-serif;}
.h_header-logobox{margin:0;overflow: hidden;}

.h_consumebox .h_logobox {
    width: 189px;
    height: 50px;
}

.h_consumebox {
    height: 50px;
}
.h_header{float:left;  position: fixed; width: 100%; z-index: 997; -webkit-box-shadow: 0px 0px 14px -4px;}

.h_consumebox .h_header-logo {
    margin-left: 14px;
    width: 77%;
    height: 50px;
}

.h_laterway {
    position: absolute;
    right: 0;
    top: 0;
    background: #fff;
    width: 100%;
    margin: 0;
}
.h_unfold{  font-size: 20px;cursor:pointer;color: #555;padding: 11px 14px;
  			border-right: 1px solid #eee;
  		 }
.h_unfold:hover{background:#eee;}
.h_logobox{height:68px;background:#353644;}
.h_header-logo{  text-indent: -9999px;
				  background-image:url(../images/logo.png);
				  background-position: center center;
				  background-repeat: no-repeat;
				  background-size: contain;
				  height: 70px;
				  width: 204px;
				  float:left;
				  margin-left:122px;
		     }
.h_enroll1{  float: right;font-family: '微软雅黑';  margin: 26px 120px 30px 140px;}
.h_logobox{margin:0;}
.h_mlogin ul{
			list-style: none;
		  }
.h_mlogin li{
			height: 45px;
	      }					
.h_login{line-height: 48px;position:relative;}
.h_laterwaybox{}
.h_login-userbox{position: absolute;right: 0;top: 50px;width: 206px; 
				 border: 1px solid #ccc;display:none;border-right:none;
 				 text-align: center;}  
.h_login-usertest{ width: 100%;height: 50px;border-left: 1px solid #ccc;cursor:pointer; padding-right:20px;}
.h_login-userbox span{width: 206px;background:#fff;cursor:pointer;font-size:12px;}
.h_login-userbox span:hover{background:#eee;}
.h_login-userbox a{color:#000;font-family:'宋体';}
.h_login img{ width: 24px;
			  height: 24px;
			  float: left;
			  border-radius: 30px;
			   margin: 12px 7px 0 11px;
			}
.h_login-usertest:hover{background:#eee;}

.h_contentbox {
    background: #f1f4f6;
    position: relative;
    /*width: 100%;*/
    min-height: 1000px;
}
.h_describebox_1{width: 95.7%;margin-left: 35px;background: #e4eaec; }
.h_describebox_1 p{color: #58666e;font-size:12px;  margin: 16px 20px;  line-height: 18px;}
.h_describebox_1 p b{font-weight: 700;font-style: normal;margin-left:2px;}
.h_date_x1{  font-weight: bold;
  background: #fff;
  color: #58666e;
  margin-left: 10px;
  text-align: center;
  border-radius: 4px;
  padding: 4px 8px 0px;
  line-height: 30px;
  font-size: 12px; cursor:pointer}

#beginTime, #endTime {
    padding: 2px 8px;
    width: 110px;
    background: url(../docs/sousuo.png) no-repeat 8px 2px #fff;
    border: 2px solid #cbcad8;
  border-radius: 23px;}
.h_keywordbox1_search{height: 34px;
  width: 170px;
  font-size: 12px;
  line-height: 34px;
  font-family: '微软雅黑';
  font-weight: normal;
  padding-left: 27px;
    background: url(../docs/sousuo_1.png) no-repeat 8px 5px;
  border: 2px solid #cbcad8;
  border-radius: 23px;}
.h_derivebox_1{position:relative;  margin-left: 10px;color:#fff;top: 10px;left: 10px;}
.h_jumpbox {width:100%;margin: 14px 0 10px 34px;font-family: 微软雅黑;}
.h_searchform{font-size: 12px;
  background: #fff;
  margin-right: 20px;position:relative;
  margin-top: 20px;
  line-height: 18px;
  color: #666;}
.h_searchform_1{font-size: 12px;
  background: #fff;  padding-bottom: 10px;
  margin-right: 20px;position:relative;
  margin-top: 10px;
  line-height: 18px;
  color: #666;} 
.h_searchform2{   padding: 20px 18px 0;}
.h_searchform2 div{font-family:'微软雅黑'}
.h__seekregister{ margin-left: 28px;}
.h__seekregister b{  color: #777;
  font-size: 12px;
  font-family: '微软雅黑';
  line-height: 36px;
  font-weight: normal;}
.h_warningsanjiao,.h_chongzhizonglansanjiao{position:relative;}
.h_warningsanjiao i{left: 80px;top: 30px;}
.h_chongzhizonglansanjiao i{left: 74px;top: 15px;}

.h_warningsanjiao i,.h_chongzhizonglansanjiao i{position: absolute;width:15px; height:8px; background: url(../docs/h_sanjiao.png);}
.h_keywordbox1{margin-left: 6px;float:left;position:relative;}
.h_searchtimebox_0{  margin: 10px 0 0 20px;}
.h_searchtimebox_0 span{color: #777;
  font-size: 12px;
  font-family: '微软雅黑';
  line-height: 36px;
  font-weight: normal;}
.h_keyword1{  color: #58666e;
  font-family: '微软雅黑';
  font-weight: 600;
  margin-right: 4px;}
 .h_keyword1 b{  position: absolute;
  left: 84px;
  top: 4px;
  cursor: pointer;
  color: #fff;}
  .h_iconfonttongyiyangshi{position:relative;}
.h_iconfonttongyiyangshi input{font-style: normal;}
#searchForm label{  font-family: '微软雅黑';font-weight: normal;}
.h_industry1 label{  font-family: '微软雅黑';font-weight: normal;}
.h_describebox_1 a{  padding: 13px 11px 10px;  font-size: 12px;background:#d6dfe2;color:#58666e;}
.h_describebox_1 ul{float:left;}
.h_describebox_1 ul li{float:left;  height: 19px;}
.h_describebox_1 .h_active_1{background:#fff; color:#000;}
.h_iconfonttongyiyangshi b{  cursor: pointer;
  position: absolute;
   left: 44px;
  top: 4px;
  color: #fff;
  font-size: 16px;}
.h_keyword1 i{float:left;position:relative;}
.h_keyword1 i b{  position: absolute;
  left: 8px;cursor: pointer;
  top: 3px;
  color: #fff;}
 .h_keyword1 i input{font-style: normal;
  font-family: Arial,"Hiragino Sans GB","Microsoft YaHei","å¾®è½¯é›…é»‘",STHeiti,"WenQuanYi Micro Hei",SimSun,sans-serif;}

.h_keyword1 i {
    background: #383c4a;
}
.h_keyword1 input{ outline: none;
    background: transparent;
  float:left;
  border-radius: 3px;
  padding: 7px 31px;
  color: #fff;
  font-size: 12px;
  border: 0;
  font-family: '宋体';
  font-weight: 500;}
  .h_gogogo{
  			outline: none;background: #383c4a;border-radius: 3px;padding: 4px 12px;
  			color: #fff;font-size: 12px;border: 0;font-family: '宋体';font-weight: 500;
  			}
.h_supplierpricebox{margin-top: 16px;}
.h_searchform2 span{color:#777;font-family:'微软雅黑';margin-right:4px;font-size:12px;}
.h_searchform2 label{  font-weight: 500;}
.h_searchform2 div{cursor:pointer;float:left;background:#383c4a;margin-right:4px;border-radius: 3px;padding: 2px 22px;color:#fff;font-size:12px;font-family:'微软雅黑';font-weight: 500;}
.h_searchform2 div input,label{float:left;cursor:pointer;}
/* .h_searchform2 div:hover{background:#4ba575;cursor:pointer;} */
.h_searchform2 div label{  margin-top: 5px;}
.h_status1 {  margin-top: 4px;width:100%;  margin-bottom: 8px;}
.h_searchform2 div input{cursor:pointer;   margin: 7px 4px 0 0;}
.h_jumpbox span{color:#bebebe;margin:0 6px;}
.h_jumpbox .h_pandect_1{  color: #777; font-family: 微软雅黑;}
.h_jumpbox a{font-size:12px;}
.h_customer1{text-decoration: none;font-size:12px;border-radius: 3px;font-family:'微软雅黑';  background:#428bca;color:#fff;  padding: 1px 6px;}
.h_export{  color: #fff;
  width: 68px;  margin-top: 1px;
  background: #3b3f4e;
  height:33px;font-size:12px;
  font-family: Arial,"Hiragino Sans GB","Microsoft YaHei","å¾®è½¯é›…é»‘",STHeiti,"WenQuanYi Micro Hei",SimSun,sans-serif;
  text-align: right;  padding: 9px 40px;
  outline: none;
  border: 0; cursor:pointer;
  border-radius: 3px;}
/*左导航*/
.h_leftnavbox {
    padding-bottom: 499px;
    padding-left: 3px;
}
.h_leftnav{   list-style: none;
    width: 189px;
			  background: #22222c;
			  height: 100%;
			  float: left;
			  position: fixed;
    overflow-y: auto;
		  }

.h_leftnav li{width:100%; height:34px;background:#22222c;float: left;}
.h_leftnav .h_service{  width: 105%;
					    height: 34px;
					    background: #22222c;
				        float: left;
					    font-family: Arial,"Hiragino Sans GB","Microsoft YaHei","微软雅黑", STHeiti,"WenQuanYi Micro Hei",SimSun,sans-serif;
					    font-size: 14px;
					    font-weight: 700;
					    color: #c0c1ba;
					    line-height: 34px;
					    text-align:center;
					    cursor: pointer;
					    list-style:none; 
						margin-left: -33px;
					  }
.h_operatingjilubox_td{position:relative;}
.h_gongyebox{  margin-top: 7px;
  font-size: 12px;
  color: #58666e;
  font-family: '微软雅黑';font-weight:normal;}
.h_operatingjilubox_jiao{ position: absolute;
   left: 74px;
  width: 15px;
  height: 8px;
  top: 13px;
  background: url(../docs/h_sanjiao.png);}
.h_operatingjilubox_span{float:left;  color: #777;
  font-size: 12px;
  font-family: '微软雅黑';
  line-height: 36px;
  font-weight: normal;}
  
.h_leftnav li a:hover{color:#fff;}
.h_leftnav .h_service:hover{color:#fff;}
.h_noweight_2{  position: absolute;
  left: 9px;
  top: 7px;}
.h_noweight{font-weight:normal;padding-right:14px;float:left; cursor:pointer;}
.h_leftnav li a{font-family: Arial,"Hiragino Sans GB","Microsoft YaHei","微软雅黑",
		  STHeiti,"WenQuanYi Micro Hei",SimSun,sans-serif; 
		   font-size: 14px;font-weight: 700;text-decoration: none;
    display: block;
    line-height: 34px;
    margin: 0 18px 0 22px;
    color: #c0c1c4;
    cursor: pointer;
}
/*内容*/
.h_find{  background: #fff;width:95.8%; margin: 0 35px;}
.h_posibtn{position: absolute;    left: 111px;    top: 114px;}
.h_posibtn p{float:left;  margin-right: 4px;}
.h_posibtn p b{
    position: absolute;
    left: 7px;cursor: pointer;
    top: 5px;
    color: #fff;
	font-size:18px;
}

.h_posibtn p {
    background: #383c4a;
}
.h_posibtn input{  outline: none;
    background: transparent;
  border-radius: 3px;
  padding: 7px 14px;
  color: #fff;
  font-size: 12px;
  border: 0;
  font-family: '宋体';
  font-weight: 500;}
  table th{  color: #777;
  font-size: 13px;
  font-family: '微软雅黑';
  line-height: 36px;
  font-weight: normal;}
.h_posibtn2{   font-size: 12px;
  color: #58666e;position:relative;
  font-family: '微软雅黑';  right: 0;  top:32px;
  background: #fff;}
  .hasDatepicker{height: 18px;
  padding: 6px 8px;
  width: 110px;
  padding-left: 30px;
  background: url(../docs/sousuo.png) no-repeat 8px 8px #fff;
  border: 2px solid #cbcad8;
  border-radius: 23px;}
  .h_next_two,.h_previous_one{  padding: 7px 16px; /*  cursor: no-drop; */
  color: #b8b8b8;  border-radius: 3px;}
  
 .h_posibtn2 i{  position: absolute;
  right:  154px;
  width: 15px;
  height: 8px;
  top: 13px;
  background: url(../docs/h_sanjiao.png);}
  .h_searchform_1 span{position: absolute;
  right: 10px;
  width: 15px;
  height: 8px;
  top: 14px;
  background: url(../docs/h_sanjiao.png);}
  .h_searchform span{position: absolute;
  right: 10px;
  width: 15px;
  height: 8px;
  top: 14px;
  background: url(../docs/h_sanjiao.png);}
  .h_posibtn2_sel{padding: 6px 0px 6px 8px;
  border-radius: 3px;  background: url(../docs/h_xian.png);
  border: 2px solid #ccc;
  width: 68px;
  height: 33px;
  text-align: left;
      -webkit-appearance: none;
  }
  .h_posibtn2_sel:after{content: '';
  position: absolute;
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 4px dashed;
  border-color: #888 transparent transparent;
  pointer-events: none;}
.h_Infobox{  color: #777;
  font-size: 12px;
  font-family: '微软雅黑';
  font-weight: normal;}
.h_genggai{color: #fff;
  margin-top: 1px;
  background: #3b3f4e;
  font-size: 12px;
  font-family: Arial,"Hiragino Sans GB","Microsoft YaHei","å¾®è½¯é›…é»‘",STHeiti,"WenQuanYi Micro Hei",SimSun,sans-serif;
  text-align: right;
  padding: 4px 14px;
  outline: none;
  border: 0;
  cursor: pointer;
  border-radius: 3px;}
.h_Info ul{float:left;border:1px solid #ccc;margin-bottom:-1px;padding:4px;}
.h_Info ul strong{  font-weight: normal;}
.h_noimportbox{  background: #fff;
  height: 100px;
  padding: 4px 0 0 24px;
  margin-top: 16px;}
.h_noimportbox input{padding: 10px;
  border-radius: 3px;
  font-size: 12px;
  background: #3b3f4e;
  line-height: 100%;
  text-align: center;
  cursor: pointer;
  color: #fff;border:0;
  font-family: Arial,"Hiragino Sans GB","Microsoft YaHei","å¾®è½¯é›…é»‘",STHeiti,"WenQuanYi Micro Hei",SimSun,sans-serif;}
.h_noimportbox h3{  font-size: 14px;
  line-height: 34px;
  font-family: '微软雅黑';width:100%;}  
.h_supplierpricebox .h_price{ margin-right: 4px;
  outline: none;
  background: #383c4a;
  float: left;
  border-radius: 3px;
  border: 0;
  padding: 8px 24px;
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;}
.h_typebox1{background: #fff;
  margin:16px 0 14px 24px;  padding: 2px 0px 20px 3px;}
th{}
.h_getmirror1box{  background: #fff;
  font-size: 12px;
  color: #58666e;
  font-family: '微软雅黑';
   margin: 20px 28px;}
.h_kehu_search1{padding-left: 32px;width: 66px;position: absolute;font-family: '微软雅黑';right: -584px;top: 53px;}
#h_functionbox_10{position: absolute;left:540px;top: 110px;color: #777;font-size: 12px;font-family: '微软雅黑';line-height: 36px;font-weight: normal;}
#h_functionbox_10 p input{margin-top:12px;}
#h_functionbox_10 p label{  padding: 0 4px;font-size: 14px;}
.h_getmirror1box input{cursor: pointer;
  border: 0;
  background: #383c4a;
  margin-right: 4px;
  border-radius: 3px;
    padding: 8px 34px;
  color: #fff;
  font-size: 12px;
  font-family: '宋体';
  font-weight: 500;}
.h_price_1{margin-left: 20px;  margin-right: 4px;
  outline: none;
  background: #383c4a;
  float: left;
  border-radius: 3px;
  border: 0;
  padding: 8px 24px;
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;}
.h_flushbox1{font-size: 12px; color: #58666e; font-family: '微软雅黑';background:#fff;}
.h_industry1{padding: 12px;
  margin: 0 12px 12px;
  background: #fff;
  color: #777;
  font-size: 12px;
  line-height: 20px;
  font-weight: normal;
  font-family: '微软雅黑';}
/*   -user- */
.h_userbox_refresh{float: left;position: relative;}
.h_userbox_refresh b{cursor: pointer;left: 16px;top: 4px; position: absolute;color: #fff;}
.h_userbox_refresh input{
						  outline: none;background: #383c4a;float: left;
						  border-radius: 3px;padding: 7px 24px;;color: #fff;font-size: 12px;
						  border: 0;font-family: '宋体';font-weight: 500;
						}
.h_usercondition_box{position: absolute;right: 40px;top: 44px;}						
.h_useraction{float: left; width: 80%; }
.h_useraction p input{  outline: none;
  background: #383c4a;
  border-radius: 3px;
  padding: 7px 6px 7px 24px;
  color: #fff;
  font-size: 12px;
  border: 0;
  font-family: '宋体';
  font-weight: 500;}
.h_useraction p{float:left;position:relative;margin-right:4px;}	
.h_useraction p b{position:absolute;left:0;top:0;color:#fff;font-size:18px;  cursor: pointer;}
.h_userkeyword{float:left;margin: 16px 0 0;}
.h_userkeyword p{float:left;  color: #777;
  font-size: 12px;
  font-family: '微软雅黑';
  line-height: 36px;
  font-weight: normal;}	
.h_userkeyword_seek{position:relative;}	
.h_userkeyword_seek b{  position: absolute;
  left: 10px;
  top: 4px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;}			
.h_userkeyword_seek input{outline: none;
  background: #383c4a;
  float: left;  margin-left: 6px;
  border-radius: 3px;
  padding: 7px 6px 7px 24px;
  color: #fff;
  font-size: 12px;
  border: 0;
  font-family: '宋体';
  font-weight: 500;}

.topdiv1 {
    width: 100%;
    padding: 14px 0;
}

.topdiv1 > a {
    text-decoration: none;
    font-size: 12px;
    border-radius: 3px;
    font-family: '微软雅黑';
    background: #428bca;
    color: #fff;
    padding: 1px 6px;
}

.topdiv1 > span a {
    color: #777;
    font-size: 12px;
}

.topdiv2 {
    background: #e4eaec;
}

.topdiv2 p {
    color: #58666e;
    font-size: 12px;
    padding: 16px 20px;
    line-height: 18px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.topdiv2 p b {
    font-weight: bold;
}

.selectLight {
    background: rgb(66, 139, 202) !important;
}

.mainContent {
    background-color: #fff;
}

.addelt {
    background: #3b3f4e !important;
    color: #fff !important;
    margin-right: 0 !important;
}

.hover-blue {
    border-radius: 3px;
}

.addelt:hover, .hover-blue:hover {
    background: rgb(0, 102, 204) !important;
}
div.row.mainContent.mainContents {
    padding: 3px 0;
    border-bottom: 1px solid #aaa;
    line-height: 30px;
    /*text-align: center;*/
}

.hover-transparent:hover {
    background-color: transparent;
}
.mainContent-top {
    padding: 10px 0;
    border-bottom: 1px solid #aaa;
    background-color: #e4eaec;
    font-weight: bold;
    z-index: 111;
}

#queryValue {
    border: 2px solid #ddd;
    padding: 2px
}

#queryValue:focus {
    border: 2px solid #44b549;
}

.andowniconfont {
    float: right;
    transform: scale(0.7)
}

.andowniconfont2 {
    float: right;
    transform: scale(0.7) rotate(180deg);
}

ul.h_leftnavbox:after {
    content: ".";
    display: block;
    overflow: hidden;
    clear: both
}

.h_leftnavbox li {
    list-style: none
}

#jbox-state-state0 > div.jbox-button-panel {
    box-sizing: content-box !important;
}

div.modal-dialog h3.modal-title {
    color: #fff;
}

#priceWay {
    position: absolute;
    min-height: 1000px;
    height: 100%;
}

body:after {
    content: '';
    display: block;
    overflow: hidden;
    clear: both;
}

body.modal-open {
    padding: 0 !important;
}

.h_leftnav .h_leftnavbox > li {
    width: 174px;
    position: relative;
}

/*.h_leftnavbox>li:after{*/
/*content: '.';*/
/*display: block;*/
/*overflow: hidden;*/
/*clear: both;*/
/*height:0;*/
/*}*/

.h_leftnavbox > ul:after {

    content: '.';
    display: block;
    overflow: hidden;
    clear: both;
}

.h_leftnavbox > ul li a {
    font-weight: 400;
}

.price-table {
    padding: 15px;
    background-color: #fff;
}

.h_keywordbox1 > b:last-child > i {
    width: 24px;
    height: 24px;
}

.h_keywordbox1 > b:first-child > b {
    display: none;
}

						
						
						
						
						
						
						
						