body {
	display: block
}

.home-wrap {
	width: 1256px;
	padding: 16px 32px;
	margin: 0 auto;
	color: #333
}

.grey-line {
	border-bottom: 1px solid #d4d4d4
}

.yellow {
	color: #f2ae43
}

.ellips {
	display: block;
	vertical-align: middle;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

.font-lg {
	font-size: 24px
}

.home-top {
	height: 100px
}

.home-user {
	width: 50%
}

.user-part {
	position: relative;
	top: 10px;
	float: left;
	width: 250px;
	border-right: 1px solid #d4d4d4;
	padding-right: 32px;
	height: 69px
}

.user-part .home-name {
	font-size: 24px;
	padding-bottom: 24px
}

.user-part .home-email {
	font-size: 14px
}

.user-pay {
	float: left;
	padding-left: 32px;
	color: #333
}

.home-btn-wrap {
	padding-top: 16px
}

.home-btn-wrap a {
	width: 80px;
	height: 35px;
	line-height: 35px
}

.home-user-part {
	width: 400px;
	float: right
}

.home-user-part .home-notice {
	font-size: 18px;
	color: #333;
	line-height: 28px;
	max-width: 290px
}

.home-user-part p {
	width: 400px;
	position: relative;
	color: #898989
}

.home-user-part p .home-notice-com {
	font-size: 14px;
	color: #898989;
	line-height: 24px;
	max-width: 290px
}

.home-user-part p .time-show {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 12px;
	line-height: 24px
}

.c-btn-white:hover {
	background: #ff7f00
}

.card-body {
	margin-right: -28px
}

.home-net {
	position: relative;
	color: #333;
	font-size: 18px;
	padding: 16px 0;
	margin-bottom: 24px
}

.home-net label {
	position: absolute;
	top: 18px;
	background: #efefef;
	padding-right: 10px
}

.card-wrapper {
	margin-right: -28px;
	height: 202px
}

.pad-botm {
	padding: 0 0 80px
}

.home-net-card {
	position: relative;
	margin-right: 28px
}

.home-net-card .card-item {
	position: relative;
	float: left;
	width: 154px;
	height: 150px;
	padding: 16px;
	margin-right: 28px;
	margin-bottom: 16px;
	color: #4f4f4f
}

.border-blue {
	background: #fff;
	border-bottom: 4px solid #148cec
}

.border-blue:hover {
	box-shadow: 0 0 3px 1px #81c6fd;
	border-bottom: 4px solid #148cec
}

.border-yellow {
	background: #fff;
	border-bottom: 4px solid #ffba34
}

.border-black:hover {
	box-shadow: 0 0 3px 1px #000;
	border-bottom: 4px solid #000
}

.border-yellow:hover {
	box-shadow: 0 0 3px 1px #ffc045;
	border-bottom: 4px solid #ffba34
}

.border-dark-blue {
	background: #fff;
	border-bottom: 4px solid #002471
}

.border-dark-blue:hover {
	box-shadow: 0 0 3px 1px #002060
}

.border-red {
	background: #fff;
	border-bottom: 4px solid red
}

.border-red:hover {
	box-shadow: 0 0 3px 1px #cd5c5c;
	border-bottom: 4px solid red
}

.border-green {
	background: #fff;
	border-bottom: 4px solid #34bf75
}

.border-green:hover {
	box-shadow: 0 0 3px 1px #46e490;
	border-bottom: 4px solid #34bf75
}

.border-pink {
	background: #fff;
	border-bottom: 4px solid #6939b0
}

.border-pink:hover {
	box-shadow: 0 0 3px 1px #b27eff;
	border-bottom: 4px solid #6939b0
}

.border-yellow2 {
	background: #fff;
	border-bottom: 4px solid #ff9518
}

.border-yellow2:hover {
	box-shadow: 0 0 3px 1px #ffa944;
	border-bottom: 4px solid #ff9518
}

.home-icon {
	width: 40px;
	height: 40px;
	position: absolute;
	left: 16px;
	top: 16px
}

.home-icon-vm {
	background: url(../images/sprite_icon.16fd29.png) -160px -171px
		no-repeat
}

.home-icon-duank{background: url(../images/sprite_icon.16fd29.png) -5px -179px
		no-repeat}
.home-icon-duand{background: url(../images/sprite_icon.16fd29.png) -5px -222px
		no-repeat}
.home-icon-liu{background: url(../images/sprite_icon.16fd29.png) -5px -265px
		no-repeat}
.home-icon-snapshot {
	background: url(../images/sprite_icon.16fd29.png) -260px -205px
		no-repeat
}

.home-icon-ebs {
	background: url(/resources/console/i/sprite_icon.16fd29.png) -260px
		-155px no-repeat
}

.home-icon-firewall {
	background: url(../images/sprite_icon.16fd29.png) -260px -105px
		no-repeat
}

.home-icon-eip {
	background: url(../images/sprite_icon.16fd29.png) -101px -179px
		no-repeat
}

.home-icon-eeip {
	background: url(../images/sprite_icon.16fd29.png) -260px -155px
		no-repeat
}

.home-icon-lbs {
	background: url(../images/sprite_icon.16fd29.png) -210px -205px
		no-repeat
}

.home-icon-vpc {
	background: url(../images/sprite_icon.16fd29.png) -53px -179px no-repeat
}

.home-icon7 {
	background: url(../images/sprite_icon.16fd29.png) -5px -179px no-repeat
}

.home-icon8 {
	background: url(../images/sprite_icon.16fd29.png) -105px -176px
		no-repeat
}

.home-icon9 {
	background: url(../images/sprite_icon.16fd29.png) -255px -55px no-repeat
}

.home-icon10 {
	background: url(../images/sprite_icon.16fd29.png) -255px -5px no-repeat
}

.home-icon11 {
	background: url(/resources/console/i/sprite_icon.16fd29.png) -210px
		-155px no-repeat
}

.home-icon12 {
	background: url(/resources/console/i/sprite_icon.16fd29.png) -210px
		-105px no-repeat
}

.home-icon13 {
	background: url(/resources/console/i/sprite_icon.16fd29.png) -305px -5px
		no-repeat
}

.home-icon14 {
	background: url(/resources/console/i/sprite_icon.16fd29.png) -205px
		-55px no-repeat
}

.home-icon15 {
	background: url(../images/sprite_icon.16fd29.png) -205px -5px no-repeat
}

.cloud-live {
	background: url(../images/sprite_icon.16fd29.png) -160px -121px
		no-repeat
}

.home-card-title {
	display: block;
	text-align: right;
	color: #4f4f4f;
	line-height: 40px;
	padding-bottom: 20px
}

.home-card-coment {
	display: block;
	padding-bottom: 5px;
	font-size: 12px;
	height: 26px;
	line-height: 26px;
	color: #4f4f4f
}

a.home-card-coment:hover {
	color: #5fafe4
}

.color-red {
	color: #e52c2c
}

.mar-r {
	margin-right: 24px
}

.ui-loading {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 50%;
	top: 50%;
	margin-top: -10px;
	margin-left: -10px
}

.region-name, .region-wrapper {
	display: block;
	overflow: hidden
}

.mfa-enter, .mfa-quit {
	display: inline-block;
	margin-top: 5px;
	height: 20px;
	line-height: 12px;
	width: 110px
}