<div id="helpdocum">
    <!-- 搜索块header-start-->
    <div class="h_elp_wrap fl">
        <div class="h_elp_had fl">
            <div class="h_elp_had-inner">
                <h2 class="title fl" style="margin-left: 514px;">
                    <a href="javascript:;">帮助与文档</a>
                </h2>
            </div>
        </div>
    </div>
    <!-- 搜索块header-end-->
    <!-- 内容header-start-->
    <div class="maincont fl">
        <div class="warp">
            <div class="grids-table">
                <div class="grids-nav" ng-include="'helpLeft.html'"></div>
                <div class="grids-details">
                    <div class="grids-height">
                        <p class="grids-crumbs">
                            <a href="javascript:;" ng-click="gotoPage('/documents/userguide')">帮助与文档</a>
                            <i class="r_png"></i>
                            <a href="javascript:;"> IaaS备份与恢复指南</a>
                            <i class="r_png"></i>
                            <span>总览</span>
                        </p>
                        <h1 class="grids-height-title">
                            IaaS备份与恢复指南
                        </h1>
                        <div class="iaas_line">
                            <p>
                                备份（Snapshot）用于在块设备级别（block device level）上进行硬盘的备份与恢复， 可以同时对多张硬盘做备份（包括系统盘和数据盘），
                                也可以对正在运行的主机做在线备份。 一张硬盘可以有多个备份节点， 您可以随时从任意一个备份点恢复数据。
                            </p>
                            <p>
                                备份与实时副本的区别：
                            </p>
                            <p>
                                xxxxx云的硬盘（包括系统盘和数据盘）都是有多份 实时副本 的，
                                即数据的写入只有在多个副本上都完成后才算成功，
                                实时副本可以保证硬件设备出现问题时数据不丢失。
                            </p>
                            <p>
                                备份 是用于捕捉硬盘在某一个时刻的状态，未来可以随时恢复到这个状态。 在某些时候，例如误操作或者应用逻辑的 bug，可能会导致业务数据的丢失，
                                这种情况下实时副本无法恢复数据，因为硬件设备并没有问题。 这时候，就需要通过备份，从历史备份点恢复数据。
                            </p>
                            <p>
                                即，实时副本主要用于灾难恢复；而备份则是用于保存业务数据的里程碑 （milestone）状态，以便在从业务到硬件的任何一个层面出问题时恢复数据。
                            </p>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- 内容header-send-->
</div>