<div id="callcenter" class="dsotos">
    <div class="solution-img">
        <div>
            <h1>呼叫中心行业解决方案</h1>
            <p>云呼叫中心，即采用云技术，使得呼叫中心的运营无需采购过多的设备，在网络带宽充足的情况下，使用移动终端上网即可实现呼叫应用的模式。</p>
            <p><a  href="/horizon/auth/login/" target="_self">立即咨询</a></p>
        </div>
    </div>

    <div class="solution-contents">
        <div class="clear solutions stitle">
            <ul class="">
                <li><a href="" class="md" name="#a2">方案特点</a></li>
                <li><a href="" class="md" name="#a1s">呼叫中心类型</a></li>

                <li><a href="" class="md" name="#a3">方案架构</a></li>
            </ul>
            <div class="clear ">
                <a href="/horizon/auth/login/" target="_self"><button style="margin-top:8px;">立即咨询</button></a>
            </div>
        </div>
        <script>
            smallt.stitleH = $(".stitle").offset().top;//页面加载就取下固定值
            smallt.left = parseInt($(".stitle").css("left"));
        </script>

        <div class="jjfa" style="background: #edf7ff;"><a id="a1s"></a>
            <p class="jjfatitlep">呼叫中心类型</p>
            <div class="contents ct4">

                <div class="container-fluid">
                    <div class="row">
                        <div class="neirong jjfalszj clear jjfats" style="border: 0px solid #ddd;">
                            <ul class="clear neirong-title">
                                <li style="background:#fff" class="col-md-6"><a style="color:#2277e6;"
                                                                                href="javascript:;">多租户</a></li>
                                <li class="col-md-6"><a href="javascript:;">多项目</a></li>
                            </ul>
                            <div class="neirong-content nr0 col-md-12">
                                <ol class="fl"></ol>
                                <div>
                                    <p>根据不同的客户、不同的项目可虚拟出多个独立的呼叫中心，<br>每个呼叫中心都可以单独设置CTI、IVR、录音、客户资料，生成独立的报表、监控。</p>
                                </div>
                            </div>
                            <div class="neirong-content nr1 col-md-12" style="display: none;">
                                <ol class="fl"></ol>
                                <div>
                                    <p>针对同一客户，支持多个项目同时运行，不同的项目不同的IVR流程，<br>不同的客户资料工单，不同的电话任务。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="jjfa">
            <a id="a2"></a>
            <p class="jjfatitlep">方案特点</p>
            <ul class="clear">
                <li>
                    <h3>轻资产</h3>
                    <p>"零成本"建设、通话费用低廉，节省资金</p>
                </li>
                <li>
                    <h3>按需使用</h3>
                    <p>坐席规模按需增减，免除峰时不足，谷时浪费现象</p>
                </li>
                <li>
                    <h3>高灵活性</h3>
                    <p>布点自由，有互联网即可使用</p>
                </li>
                <li>
                    <h3>开放平台</h3>
                    <p>开放平台，与客户已有CRM系统快速无缝集成</p>
                </li>
            </ul>
        </div>


        <a id="a3"></a>
        <div class="solut-c1 clear" style="padding:30px 0;">
            <p class="jjfatitlep" style="margin-bottom: 30px">方案架构</p>
            <div class="clear solut-c" style="background: #fff">
                <div class="fl">
                    <div class="solut-c-title">
                    </div>
                    <div class="ulli-img">
                        <div style="display: block">
                            <img src="images/hujiaozhongxin123123.png" alt="">
                        </div>

                    </div>
                </div>
                <div class="fr">
                    <div style="display: block;">
                        <h3>方案说明：</h3>
                        <h2></h2>
                        <p><strong>作为现有呼叫中心平台的灾备，灾难发生时，可快速切换到云平台恢复业务 </strong></p>
                        <ul>
                            <li>对于坐席不放在同一场所，可采用此方案。</li>
                            <li>可降低平台维护费。</li>
                            <li>增值服务：帮助用户搭建xxxxxx环境，并提供长期运维服务。</li>
                            <li>快速响应：严格按照ITIL流程管理响应客户需求。</li>
                            <li>高性能：提供所有xxxxxx功能特性，平台性能与xxxxxx无差别。</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
