<div id="helpdocum">
    <!-- 搜索块header-start-->
    <div class="h_elp_wrap fl">
        <div class="h_elp_had fl">
            <div class="h_elp_had-inner">
                <h2 class="title fl" style="margin-left: 514px;">
                    <a href="javascript:;">帮助与文档</a>
                </h2>
            </div>
        </div>
    </div>
    <!-- 搜索块header-end-->
    <!-- 内容header-start-->
    <div class="maincont fl">
        <div class="warp">
            <div class="grids-table">
                <div class="grids-nav" ng-include="'helpLeft.html'"></div>
                <div class="grids-details">
                    <div class="grids-height">
                        <p class="grids-crumbs">
                            <a href="javascript:;" ng-click="gotoPage('/documents/userguide')">帮助与文档</a>
                            <i class="r_png"></i>
                            <a href="javascript:;"> 快速入门CaaS服务</a>
                            <i class="r_png"></i>
                            <span> 步骤四：查看业务进度</span>
                        </p>
                        <h1 class="grids-height-title">
                            步骤四：查看业务进度
                        </h1>
                        <div class="iaas_line">
                            <p>
                                后续您就可以看到业务进度展示区中查看业务的进度。
                            </p>
                            <p style="margin-top: 20px;">
                                <img src="./images/h_plan1.png" alt="" style="width: 927px;">
                            </p>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- 内容header-send-->
</div>