<div id="dsj">
    <div class="solution-img">
        <div>
            <h1>大数据解决方案</h1>
            <p>纵横数智，助画方略</p>
            <p><a href="">联系商务</a><a href="">详情咨询</a></p>
        </div>
    </div>

    <div class="solution-contents">
        <div class="solution-show clear">
            <div>
                <div class="solution-show-img">
                    <img src="images/3.png" alt="">
                </div>
                <h4>源于社区、优于社区</h4>
                <p>源于开源社区版本，知识迁移平滑，运维管理简单，同时自研超过30个组件</p>
            </div>
            <div>
                <div class="solution-show-img">
                    <img src="images/4.png" alt="">
                </div>
                <h4>支持多环境部署</h4>
                <p>支持xxxxxx、xxxxxx、非云化环境部署，满足不同客户对于数据管理策略的合规要求</p>
            </div>
            <div>
                <div class="solution-show-img">
                    <img src="images/2.png" alt="">
                </div>
                <h4>安全合规</h4>
                <p>xxxxx云2016年首批通过中国数据产业联盟大数据产品基础能力认证；完备的权限及审计机制</p>
            </div>
            <div>
                <div class="solution-show-img">
                    <img src="images/1.png" alt="">
                </div>
                <h4>长期大规模实践</h4>
                <p>支持过万台单集群调度；超过7年经验积累，丰富的平台、算法及运维人员支持</p>
            </div>
        </div>
        <div class="clear solutions stitle">
            <ul class="">
                <li><a href="" class="md" name="#anli">行业解决方案</a></li>
                <li><a href="" class="md" name="#gaishu">应用场景</a></li>
                <!--<li><a href="" class="md" name="#cpgn">功能介绍</a></li>-->
            </ul>
            <div class="clear ">
                <a href="/horizon/auth/login/" target="_self"><button>立即使用</button></a>
            </div>
        </div>
        <script>
            smallt.stitleH = $(".stitle").offset().top;//页面加载就取下固定值
            smallt.left = parseInt($(".stitle").css("left"));
        </script>
        <div class="solut-c1  clear">
            <div class="clear  solut-c">
                <div class="fl">
                    <div class="solut-c-title">
                        <h1>行业解决方案</h1>
                        <a id="anli"></a>
                        <p>满足不同行业个各应用场景的需求</p>
                    </div>
                    <ul class="clear">
                        <li><a class="blue-fff">政务</a></li>
                        <li><a>金融</a></li>
                        <li><a>公共安全</a></li>
                        <li><a>城市规划</a></li>
                        <li><a>旅游</a></li>
                    </ul>
                    <div class="ulli-img">
                        <div style="display: block">
                            <img src="images/index-yjsdyg.png" alt="">
                        </div>
                        <div>
                            <img src="images/screenshot_images_1x.gif" alt="">
                        </div>
                        <div>
                            <img src="images/xxx-weixin.jpg" alt="">
                        </div>
                        <div>
                            <img src="images/service1.png" alt="">
                        </div>
                        <div>
                            <img src="images/cloudhost.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="fr">
                    <div style="display: block;">
                        <h3>政务大数据解决方案</h3>
                        <h2></h2>
                        <h4>应用现状</h4>
                        <p>
                            在互联网+背景下，各级政府正在探索如何将政务信息化过程中积累的海量数据发挥出更大价值，为民众提供更便捷智能服务，优化提升行政效率和质量。然而，传统技术和社区方案难以满足多种海量数据处理能力和高可靠高安全需求，难以发挥内部外部数据整合优势。</p>
                        <h4>方案特点</h4>
                        <p>
                            xxxxx大数据方案，可以快速为政府机构提供一站式大数据方案，快速接入内部和外部数据，从数据处理、分析、到展示，充分挖掘政务数据潜力，提供交互式展示工具，助力外网门户服务或内部政务应用。还可结合xxxxx海量信息数据，提供人群画像、区域人流分析等公共服务，力助政府高效行政，快速决策。</p>
                    </div>
                    <div>
                        <h3>金融大数据解决方案</h3>
                        <h2></h2>
                        <h4>应用现状</h4>
                        <p>
                            金融的目标是提高资金时空分配效率。无论是传统金融机构，还是互联网金融新贵，均高度依赖于数据和信息。当前，客户呈现出移动化、社交化、个性化趋势，金融机构可以使用大数据这一有效的技术手段，力助数据整合分析和业务逻辑重构。</p>
                        <h4>方案特点</h4>
                        <p>
                            依托xxxxx金融大数据方案，金融机构可快速具备整合、分析、处理海量数据的能力，洞察业务本质。无论传统事务交易记录，还是其他业务数据，都可以进一步发挥数据潜力。更可结合xxxxx已有海量数据，提供垂直领域细分应用，例如金融产品精准推荐、营业网点选址等。通过机器学习组件，还可自动构建新的数据模型，支持创新业务。</p>
                    </div>
                    <div>
                        <h3>公共安全大数据解决方案</h3>
                        <h2></h2>
                        <h4>应用现状</h4>
                        <p>
                            各级公共安全机构已经深刻意识到，采用云计算大数据技术手段，整合内部外部数据，可建设服务于具体公共安全业务的数据整合、分析、展示平台，有效提高业务效率。传统大数据建设方案存在运维难度大，建设周期长，业务数据维度单一等各种问题。</p>
                        <h4>方案特点</h4>
                        <p>xxxxx大数据方案可以为各种公共安全机构快速搭建安全可靠的大数据平台。完全支持专网或私有化环境独立部署，并通过公安部信息系统安全等级要求，以及数据中心联盟大数据基础能力认证、ISO/IEC
                            20000-1 、ISO9001、ISO27001等多项认证，安全合规。 更可以通过xxxxx海量应用和数据，增加数据分析维度，提升业务能力。</p>
                    </div>
                    <div>
                        <h3>城市规划大数据解决方案</h3>
                        <h2></h2>
                        <h4>应用现状</h4>
                        <p>
                            城市规划以发展眼光、科学论证、专家决策为前提，对城市经济结构、空间结构、社会结构发展进行规划。传统的规划方式更强调自顶向下静态部署，缺乏依据动态数据进行分析调整和反馈。而城市的复杂和动态发展特性决定了城市规划需要借助各种海量数据，是一个不断修订，持续改进和完善的复杂的连续决策过程</p>
                        <h4>方案特点</h4>
                        <p>
                            xxxxx大数据方案立足于“以人为本”理念，帮助城市规划机构深入洞察城市结构的方方面面。我们将基于地理位置和独有社会化群体动态信息的大数据充分整合，结合城市规划理论和经验，帮助城市设计更为合理科学，在规划建设和运营管理方面帮助各级部门实现可持续发展的城市规划。</p>
                    </div>
                    <div>
                        <h3>旅游行业大数据解决方案</h3>
                        <h2></h2>
                        <h4>应用现状</h4>
                        <p>
                            无论是互联网旅游服务提供商，还是旅游景点运营机构，都迫切希望能够将海量用户数据进行分析整理。然而，大部分现有技术方案需要用户自行整理收集大量用户数据，并完成复杂的分析处理和呈现过程，使得旅游服务无法动态响应和满足人们对个性化旅游服务和热点旅游资源的需求。
                            方案特点</p>
                        <h4>方案特点</h4>
                        <p>
                            xxxxx大数据方案进一步开放xxxxx已有的海量群体数据，帮助用户在自有业务数据基础之上，引入基于交通、出行轨迹等社会化信息，帮助决策者从游客、旅游资源、配套服务海量数据中汇总分析出最具价值的信息，从而帮助主管机构和旅游服务提供商提升业务规模和利润，改善旅行者的满意度和舒适感，并促进旅游资源的有效利用。</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="solut-c2 solut-c clear">
            <div class="solut-c-title">
                <h1>应用场景</h1>
                <a id="gaishu"></a>
                <p>满足不同行业个各应用场景的需求</p>
            </div>
            <ul class="clear">
                <li><a class="blue-fff" href="">政务</a></li>
                <li><a href="">金融</a></li>
                <li><a href="">公共安全</a></li>
                <li><a href="">城市规划</a></li>
                <li><a href="">旅游</a></li>
            </ul>
            <div class="solut-c2-content clear">
                <div style="display: block">
                    <div class="fl solut-c2-contents">
                        <h4>应用场景一</h4>
                        <div class="fl">
                            <img src="images/1.png" alt="">
                        </div>
                        <div class="fr">
                            <h3>社会公共安全预警决策和调度指挥</h3>
                            <p><span>场景简述: </span>基于社交信息和实时位置的信息分析</p>
                            <p><span>场景简述: </span>提供其他技术手段难以实现的实时人口密度检测和分析预警；结合社交内容分析，提供热点区域在重大活动、节假日的实时地理人流分析数据，辅助公共安全决策
                            </p>
                            <p><span>场景简述: </span>提供其他技术手段难以实现的实时人口密度检测和分析预警；结合社交内容分析，提供热点区域在重大活动、节假日的实时地理人流分析数据，辅助公共安全决策
                            </p>
                            <p><span>相关产品: </span><a href="">区域人流分析 </a> <a href=""> 文智</a></p>
                        </div>
                    </div>
                    <div class="fr solut-c2-contents">
                        <h4>应用场景二</h4>
                        <div class="fl">
                            <img src="images/2.png" alt="">
                        </div>
                        <div class="fr">
                            <h3>政务大数据处理平台</h3>
                            <p><span>场景简述: </span>基于社交信息和实时位置的信息分析</p>
                            <p><span>场景简述: </span>提供其他技术手段难以实现的实时人口密度检测和分析预警；结合社交内容分析，提供热点区域在重大活动、节假日的实时地理人流分析数据，辅助公共安全决策
                            </p>
                            <p><span>相关产品: </span><a href="">区域人流分析 </a> <a href=""> 文智</a></p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="fl solut-c2-contents">
                        <h4>应用场景一</h4>
                        <div class="fl">
                            <img src="images/3.png" alt="">
                        </div>
                        <div class="fr">
                            <h3>银行数据仓库</h3>
                            <p><span>场景简述: </span>基于社交信息和实时位置的信息分析</p>
                            <p><span>场景简述: </span>提供其他技术手段难以实现的实时人口密度检测和分析预警；结合社交内容分析，提供热点区域在重大活动、节假日的实时地理人流分析数据，辅助公共安全决策
                            </p>
                            <p><span>相关产品: </span><a href="">区域人流分析 </a> <a href=""> 文智</a></p>
                        </div>
                    </div>
                    <div class="fr solut-c2-contents">
                        <h4>应用场景二</h4>
                        <div class="fl">
                            <img src="images/1.png" alt="">
                        </div>
                        <div class="fr">
                            <h3>金融产品营销</h3>
                            <p><span>场景简述: </span>基于社交信息和实时位置的信息分析</p>
                            <p><span>场景简述: </span>提供其他技术手段难以实现的实时人口密度检测和分析预警；结合社交内容分析，提供热点区域在重大活动、节假日的实时地理人流分析数据，辅助公共安全决策
                            </p>
                            <p><span>相关产品: </span><a href="">区域人流分析 </a> <a href=""> 文智</a></p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="fl solut-c2-contents">
                        <h4>应用场景一</h4>
                        <div class="fl">
                            <img src="images/1.png" alt="">
                        </div>
                        <div class="fr">
                            <h3>公共安全案件串并/关联分析</h3>
                            <p><span>场景简述: </span>基于社交信息和实时位置的信息分析</p>
                            <p><span>场景简述: </span>提供其他技术手段难以实现的实时人口密度检测和分析预警；结合社交内容分析，提供热点区域在重大活动、节假日的实时地理人流分析数据，辅助公共安全决策
                            </p>
                            <p><span>相关产品: </span><a href="">区域人流分析 </a> <a href=""> 文智</a></p>
                        </div>
                    </div>
                    <div class="fr solut-c2-contents">
                        <h4>应用场景二</h4>
                        <div class="fl">
                            <img src="images/4.png" alt="">
                        </div>
                        <div class="fr">
                            <h3>城市公共安全预警决策和调度指挥</h3>
                            <p><span>场景简述: </span>基于社交信息和实时位置的信息分析</p>
                            <p><span>场景简述: </span>提供其他技术手段难以实现的实时人口密度检测和分析预警；结合社交内容分析，提供热点区域在重大活动、节假日的实时地理人流分析数据，辅助公共安全决策
                            </p>
                            <p><span>相关产品: </span><a href="">区域人流分析 </a> <a href=""> 文智</a></p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="fl solut-c2-contents">
                        <h4>应用场景一</h4>
                        <div class="fl">
                            <img src="images/4.png" alt="">
                        </div>
                        <div class="fr">
                            <h3>城市规划大数据支撑系统</h3>
                            <p><span>场景简述: </span>基于社交信息和实时位置的信息分析</p>
                            <p><span>场景简述: </span>提供其他技术手段难以实现的实时人口密度检测和分析预警；结合社交内容分析，提供热点区域在重大活动、节假日的实时地理人流分析数据，辅助公共安全决策
                            </p>
                            <p><span>相关产品: </span><a href="">区域人流分析 </a> <a href=""> 文智</a></p>
                        </div>
                    </div>
                    <div class="fr solut-c2-contents">
                        <h4>应用场景二</h4>
                        <div class="fl">
                            <img src="images/2.png" alt="">
                        </div>
                        <div class="fr">
                            <h3>政务大数据处理平台</h3>
                            <p><span>场景简述: </span>基于社交信息和实时位置的信息分析</p>
                            <p><span>场景简述: </span>提供其他技术手段难以实现的实时人口密度检测和分析预警；结合社交内容分析，提供热点区域在重大活动、节假日的实时地理人流分析数据，辅助公共安全决策
                            </p>
                            <p><span>相关产品: </span><a href="">区域人流分析 </a> <a href=""> 文智</a></p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="fl solut-c2-contents">
                        <h4>应用场景一</h4>
                        <div class="fl">
                            <img src="images/2.png" alt="">
                        </div>
                        <div class="fr">
                            <h3>社会公共安全预警决策和调度指挥</h3>
                            <p><span>场景简述: </span>基于社交信息和实时位置的信息分析</p>
                            <p><span>场景简述: </span>提供其他技术手段难以实现的实时人口密度检测和分析预警；结合社交内容分析，提供热点区域在重大活动、节假日的实时地理人流分析数据，辅助公共安全决策
                            </p>
                            <p><span>相关产品: </span><a href="">区域人流分析 </a> <a href=""> 文智</a></p>
                        </div>
                    </div>
                    <div class="fr solut-c2-contents">
                        <h4>应用场景二</h4>
                        <div class="fl">
                            <img src="images/3.png" alt="">
                        </div>
                        <div class="fr">
                            <h3>社会公共安全预警决策和调度指挥</h3>
                            <p><span>场景简述: </span>基于社交信息和实时位置的信息分析</p>
                            <p><span>场景简述: </span>提供其他技术手段难以实现的实时人口密度检测和分析预警；结合社交内容分析，提供热点区域在重大活动、节假日的实时地理人流分析数据，辅助公共安全决策
                            </p>
                            <p><span>相关产品: </span><a href="">区域人流分析 </a> <a href=""> 文智</a></p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
<script src="js/solute.js"></script>