<div id="helpdocum">
    <!-- 搜索块header-start-->
    <div class="h_elp_wrap fl">
        <div class="h_elp_had fl">
            <div class="h_elp_had-inner">
                <h2 class="title fl" style="margin-left: 514px;">
                    <a href="javascript:;">帮助与文档</a>
                </h2>
            </div>
        </div>
    </div>
    <!-- 搜索块header-end-->
    <!-- 内容header-start-->
    <div class="maincont fl">
        <div class="warp">
            <div class="grids-table">
                <div class="grids-nav" ng-include="'helpLeft.html'"></div>
                <div class="grids-details">
                    <div class="grids-height">
                        <p class="grids-crumbs">
                            <a href="javascript:;" ng-click="gotoPage('/documents/userguide')">帮助与文档</a>
                            <i class="r_png"></i>
                            <a href="javascript:;"> xxxxx国际加速账号申请使用指南</a>
                            <i class="r_png"></i>
                            <span> 国际加速账号申请</span>
                        </p>
                        <h1 class="grids-height-title">
                            国际加速账号申请
                        </h1>
                        <div class="iaas_line gjjsppp">
                            <p>
                                1.注册并登陆www.xxx.com管理控制台，在左侧菜单选择“服务区”，如下图
                            </p>
                            <p>
                                <img src="./images/gjzhsq1.png" alt="">
                            </p>
                            <p>
                                2. 在菜单中选择“企业软件服务”—>“国际加速”，进入“国际加速”操作区域。
                                在区域中，点击“新建”
                            </p>
                            <p>
                                <img src="./images/gjzhsq2.png" alt="">
                            </p>
                            <p>
                                弹出窗口如下
                            </p>
                            <p>
                                <img src="./images/gjzhsq3.png" alt="">
                            </p>
                            <p>
                                3. 点击提交，在下方出现一条支付信息，支付完毕后，申请账号成功，如下图，站点域名，为账号vpn的Server地址。
                            </p>
                            <p>
                                <img src="./images/gjzhsq4.png" alt="">
                            </p>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- 内容header-send-->
</div>