<div id="gstd" class="clear">
    <input class="leftLight" type="hidden" value="0" name="gstdclass">

    <div class="show">
        <div class="clear">
            <div ng-include="'left.html'"></div>

            <div class="show-word fl">
                <div class="show-word-top">
                    <h2><span>高速通道</span></h2>
                    <p>网络高速通道作为TelCloud
                        DCI产品，是一种便捷高效的网络服务解决方案，用于在不同数据中心、云、以及办公网络之间实现高速、稳定、安全的私网通信，包括跨地域不同网络间内网互通、点对点数据传输、专线接入等场景，有效的帮助您提高网络拓扑的灵活性和跨网络通信的质量和安全性。 </p>
                </div>
                <div class="show-word-down">
                    <button ng-click="gotoPage('/denglu')">立即使用</button>
                </div>
            </div>
            <div class="show-img fr">
                <img src="images/gaosutongdao.png" alt="">
            </div>
        </div>
    </div>
    <div class="main-content">
        <div class="clear stitle">
            <ul class="">
                <li><a href="" class="md" name="#anli">产品优势</a></li>
                <li><a href="" class="md" name="#anli3">产品特点</a></li>
                <li><a href="" class="md" name="#anli2442">互联方式</a></li>
                <li><a href="" class="md" name="#yycj">应用场景</a></li>
                <li><a href="" class="md" name="#hyyy">行业应用</a></li>
            </ul>
            <div class="clear ">
                <button  ng-click="gotoPage('/denglu')">立即使用</button>
            </div>
        </div>
        <script>
            smallt.stitleH = $(".stitle").offset().top;//页面加载就取下固定值
            smallt.left = parseInt($(".stitle").css("left"));
        </script>
        <div>

            <div class="contents container-fluid  ct3">
                <div class="row">
                    <a id="anli"></a>
                    <h3>产品优势<span class="fr"></span></h3>
                    <table class="col-md-12">
                        <tbody>
                        <tr>
                            <td class="col-md-2"><h4>优势点</h4></td>
                            <td class="col-md-6" style="position: relative">
                                <div class="tablediv1"></div>
                                <h4 style="color:#116ddd">龙腾云高速通道</h4>
                            </td>
                            <td class="col-md-4">
                                <h4>专线</h4>

                            </td>
                        </tr>
                        <tr>
                            <td class=" ">
                                <p>通信质量</p>
                            </td>
                            <td>
                                <p>全网络双线热备份，单条故障不影
                                    响专线正常运行</p>
                            </td>
                            <td class="">
                                <p>单线无法多链路备份</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="">
                                <p>安全性</p>
                            </td>
                            <td>
                                <p>基于SDN网络技术实现，不同通信链路相互隔离，安全性高</p>
                            </td>
                            <td class="">
                                <p>很难提供冗余</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="">
                                <p>灵活性</p>
                            </td>
                            <td>
                                <p>轻松调整连接，随时增加/减少带宽，秒级提速变更</p>
                            </td>
                            <td class="">
                                <p>增加/减少带宽最短流程15个工作日可完成</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="">
                                <p>操作</p>
                            </td>
                            <td>
                                <p>龙腾云平台统一管理，操作简便，视图可见 </p>
                            </td>
                            <td class="">
                                <p>线路使用情况无法可视化</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="">
                                <p>成本</p>
                            </td>
                            <td style="position: relative;">
                                <p>按需计费节省资金 </p>
                                <div class="tablediv2"></div>
                            </td>
                            <td class="">
                                <p>费用高</p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="contents container-fluid  ct7">
                <div class="row">
                    <a id="anli3"></a>
                    <h3>产品特点<span class="fr"></span></h3>
                    <h4><b>使用高速通道，可以实现两侧的私网通信避免绕行公网带来的网络质量不稳定问题，也可以免去数据在传输过程中被窃取的风险</b></h4>
                    <ul class="clear">
                        <li>
                            <img src="images/gaosutongdao-01.png" alt="">
                            <h4>接入覆盖</h4>
                            <p>可接入龙腾云、AWS、青云、龙腾云以及全国各区域众多IDC数据中心。</p>
                        </li>
                        <li>
                            <img src="images/gaosutongdao-02.png" alt="">
                            <h4>网络覆盖</h4>
                            <p>龙腾云与各大IDC互联，机房落地与北京百座写字楼，便于楼宇内及附近用户云接入。</p>
                        </li>
                        <li>
                            <img src="images/gaosutongdao-03.png" alt="">
                            <h4>稳定可靠</h4>
                            <p>高速、稳定的私网通信，保证通信可靠性和实时性。</p>
                        </li>

                    </ul>
                    <ul class="clear">
                        <li>
                            <img src="images/gaosutongdao-04.png" alt="">
                            <h4>安全</h4>
                            <p>基于SDN网络技术实现，不同通信链路相互隔离，安全性高。</p>
                        </li>
                        <li>
                            <img src="images/gaosutongdao-05.png" alt="">
                            <h4>降低宽带成本</h4>
                            <p>高速通道直接在龙腾云数据网网络服务内互传数据，降低宽带费用支出。</p>
                        </li>
                    </ul>
                    <h4><b>基于SDN技术使得功能更加丰富灵活业务可视化，一键升速，灵活计费</b></h4>
                    <ul class="clear">
                        <li>
                            <img src="images/gaosutongdao-06.png" alt="">
                            <h4>即时交付</h4>
                            <p>五分钟完成专线申请，秒级完成线路变更。</p>
                        </li>
                        <li>
                            <img src="images/gaosutongdao-07.png" alt="">
                            <h4>自助调整带宽</h4>
                            <p>可以方便灵活的调整带宽，并快速生效，可轻松配置多个链接。</p>
                        </li>
                        <li>
                            <img src="images/gaosutongdao-08.png" alt="">
                            <h4>双线热备</h4>
                            <p>支持全网络双线热备份，单条故障影响专线正常运行，满足金融、政府等高可用要求。</p>
                        </li>
                        <li>
                            <img src="images/gaosutongdao-09.png" alt="">
                            <h4>业务可视化</h4>
                            <p>通过龙腾云平台随时查看线路运行情况，及时作出业务决策。</p>
                        </li>
                        <li>
                            <img src="images/gaosutongdao-10.png" alt="">
                            <h4>按需计费</h4>
                            <p>真正单行伸缩的云端计费。</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="contents container-fluid  ct6">

                <div class="row">
                    <a id="anli2442"></a>
                    <h3>互联方式<span class="fr"></span></h3>
                    <h4><b>数据中心与公有云 </b></h4>
                    <p>用户数据中心与公有云的高速通道，满足用户自建或托管数据中心与龙腾云、AWS、青云、龙腾云等互联</p>
                    <div>
                        <img src="images/gstdhlfs1.png" alt="">
                    </div>
                    <h4><b>数据中心与私有云 </b></h4>
                    <p>用户数据中心与私有云的高速通道，满足用户自建或托管数据中心与自建私有云或托管云互联。</p>
                    <div>
                        <img src="images/gstdhlfs2.png" alt="">
                    </div>
                    <h4><b>办公网与公有云 </b></h4>
                    <p>办公网与公有云的高速通道，满足用户办公网与龙腾云、AWS、青云、龙腾云等互联。 </p>
                    <div>
                        <img src="images/gstdhlfs3.png" alt="">
                    </div>
                    <h4><b>多云互联 </b></h4>
                    <p>多个公有云或私有云之间的专网互联，为客户组建多云混合提供网络支持。</p>
                    <div>
                        <img src="images/gstdhlfs4.png" alt="">
                    </div>
                    <h4><b>多数据中心互联 </b></h4>
                    <p>两个或多个数据中心之间的互联与数据传输，满足用户多点组网需求。 </p>
                    <div>
                        <img src="images/gstdhlfs5.png" alt="">
                    </div>
                </div>
            </div>
            <div class="contents ct4">
                <div class="container-fluid">
                    <div class="row">
                        <a id="yycj"></a>
                        <h3>应用场景</h3>
                        <div class="neirong clear">
                            <ul class="clear neirong-title">
                                <li style="background:#fff" class="col-md-4"><a style="color:#2277e6;"
                                                                                href="javascript:;">处理大型数据集</a></li>
                                <li class="col-md-4"><a href="javascript:;">实时数据馈送</a></li>
                                <li class="col-md-4"><a href="javascript:;">混合型计算机运行环境</a></li>

                            </ul>
                            <div class="neirong-content nr0 col-md-12">
                                <p>通过 Internet 传输大型数据集费时且价格高。如果您和大多数企业一样，平时在线上传频率固定，带宽几乎是平的，一遇到大型数据与云之间的传输，
                                    可能突发到几个G，为了缩短数据传输所需的时间，您使用高质量的链路，就需要承担每年几十万甚至是几百万的专线和MPLS的高额链路租金。如果使用公用互联网方式，就得忍受无保障的网络质量，
                                    严重影响业务开展。龙腾云高速通道业务能让您能在数据中心、办公室或托管环境和各种云之间直接传输业务重要数据，不仅不需要经过您的 Internet
                                    服务提供商，还能消除网络拥堵。此外，龙腾云的高速通道简便的即用即付定价方式和无需最低承诺的特点，
                                    意味着您只需要为使用的网络端口和通过连接传输的数据支付费用，大大降低您的联网成本。</p>
                            </div>
                            <div class="neirong-content nr1 col-md-12" style="display: none;">
                                <p>使用实时数据馈送的应用程序也可从龙腾云高速通道中获益。例如，在网络传输时间始终保持一致时，语音和视频等应用程序的性能最佳。由于当数据 A 点传输到 B 点时
                                    Internet 是持续变化的，Internet 上的传输等待时间也会随之发生变化。使用龙腾云高速通道，您可以控制数据的路径方式，从而获得比 Internet
                                    型连接更加一致的网络体验。</p>
                            </div>
                            <div class="neirong-content nr2 col-md-12" style="display: none;">
                                <p>龙腾云高速通道可以帮助您构建混合型计算机运行环境，可满足需要使用专用联接的管理要求。混合型环境能让您将龙腾云的灵活性和经济效益结合对现有其他基础设施的利用相融合。</p>

                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <!--<div class="contents container-fluid  ct5">-->

            <!--<div class="row">-->
            <!--<a id="yycj"></a>-->
            <!--<h3>应用场景<span class="fr"></span></h3>-->
            <!--<p>有几种情况下使用龙腾云高速通道 是很合适的，包括：</p>-->
            <!--<p><b>处理大型数据集:</b>通过 Internet 传输大型数据集费时且价格高。如果您和大多数企业一样，平时在线上传频率固定，带宽几乎是平的，一遇到大型数据与云之间的传输，-->
            <!--可能突发到几个G，为了缩短数据传输所需的时间，您使用高质量的链路，就需要承担每年几十万甚至是几百万的专线和MPLS的高额链路租金。如果使用公用互联网方式，就得忍受无保障的网络质量，-->
            <!--严重影响业务开展。龙腾云高速通道业务能让您能在数据中心、办公室或托管环境和各种云之间直接传输业务重要数据，不仅不需要经过您的 Internet 服务提供商，还能消除网络拥堵。此外，龙腾云的高速通道简便的即用即付定价方式和无需最低承诺的特点，-->
            <!--意味着您只需要为使用的网络端口和通过连接传输的数据支付费用，大大降低您的联网成本。</p>-->
            <!--<p><b>实时数据馈送:</b>使用实时数据馈送的应用程序也可从龙腾云高速通道中获益。例如，在网络传输时间始终保持一致时，语音和视频等应用程序的性能最佳。由于当数据 A 点传输到 B 点时 Internet 是持续变化的，Internet 上的传输等待时间也会随之发生变化。使用龙腾云高速通道，您可以控制数据的路径方式，从而获得比 Internet 型连接更加一致的网络体验。</p>-->
            <!--<p><b>混合型计算机运行环境:</b>龙腾云高速通道可以帮助您构建混合型计算机运行环境，可满足需要使用专用联接的管理要求。混合型环境能让您将龙腾云的灵活性和经济效益结合对现有其他基础设施的利用相融合。</p>-->
            <!--<div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <div class="contents container-fluid ct1">
                <div class="row">
                    <a id="hyyy"></a>
                    <h3>行业应用<span class="fr"></span></h3>
                    <div class="img-center clear" title="行业应用">
                        <div>
                            <img src="images/sydw.png" alt="">
                            <p>企事业单位</p>
                        </div>
                        <div>
                            <img src="images/game.png" alt="">
                            <p>游戏</p>
                        </div>
                        <div>
                            <img src="images/jinrong.png" alt="">
                            <p>金融</p>
                        </div>
                        <div>
                            <img src="images/syhz.png" alt="">
                            <p>商业企业</p>
                        </div>
                        <div>
                            <img src="images/lingshou.png" alt="">
                            <p>零售</p>
                        </div>
                        <div>
                            <p style="text-align:center;line-height:70px;font-size: 34px;">...</p>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>

</div>
<!--<script src="../js/jsy.js"></script>-->
