<div id="newsbox">
    <div class="news-hader lxwb_banner">
        <div class="banner-text">
            <p>关于作者</p>
        </div>
    </div>
    <!-- news cont start-->
    <div class="news-wapcont">
        <section class="about-content contact_us" style="background:none;height: 100%;">
            <div class="viewport-inner" style="width: 800px;    margin-bottom: 60px;">
                <div class="page-inner">
                    <h1 style="    padding-bottom: 14px;    font-size: 26px;">个人简介</h1>
                    <p class="lead lead0" style="text-indent:2em "><br>
                        1、精通HTML5+CSS3+JS编程，熟悉各种前端调试工具； 熟悉JS性能优化;<br>
                        2、精通Ajax原理，能够使用Ajax实现与服务器的异步通信，完成页面的局部提交和刷新;<br>
                        3、熟练掌握jQuery,Angular1.x框架。 了解vue.js，angular2.0<br>
                        4、熟练掌握Bootstrap，可实现响应式布局和功能交互;<br>
                        5、熟悉Gulp自动化构建项目；<br>
                        6、可使用svn,git；<br>

                    </p>
                </div>
            </div>
        </section>
    </div>
    <!-- news cont end-->
</div>
<script>
    //页面按钮点击跳转
    $('.news_page>a').click(function () {
        var _this = $(this);
        _this.css({
            border: 'none',
            color: '#333'
        }).attr('active', 'true');
        if (_this.attr('active') == 'true') {

        }
        _this.siblings('a').css('border', '1px solid #ddd').css('color', '#999').attr('active', 'false');
    });
    ;
</script>