<div id="helpdocum">
    <!-- 搜索块header-start-->
    <div class="h_elp_wrap fl">
        <div class="h_elp_had fl">
            <div class="h_elp_had-inner">
                <h2 class="title fl" style="margin-left: 514px;">
                    <a href="javascript:;">帮助与文档</a>
                </h2>
            </div>
        </div>
    </div>
    <!-- 搜索块header-end-->
    <!-- 内容header-start-->
    <div class="maincont fl">
        <div class="warp">
            <div class="grids-table">
                <div class="grids-nav" ng-include="'helpLeft.html'"></div>
                <div class="grids-details">
                    <div class="grids-height">
                        <p class="grids-crumbs">
                            <a href="javascript:;" ng-click="gotoPage('/helpdocum')">帮助与文档</a>
                            <i class="r_png"></i>
                            <a href="javascript:;" ng-click="gotoPage('/helpdocum')">产品文档</a>
                            <i class="r_png"></i>
                            <a href="javascript:;">云主机</a>
                            <i class="r_png"></i>
                            <span>云主机概述</span>
                        </p>
                        <h1 class="grids-height-title">
                            云主机
                        </h1>
                        <p>
                            本文档主要介绍如何快速使用 Windows 系统的云服务器实例的相关功能，引导新手快速了解龙腾云服务器的创建和配置。
                            Web服务台，点击左侧导航中的“新建按钮”，接着填写服务名称，选择服务种类，完成后点击下一步。
                        </p>
                        <p style="margin-top: 20px;">
                            <img src="./images/service1.png" alt="" style="width: 927px;">
                        </p>
                        <!--<div class="grids-height-solve">
                            <p>以上信息是否解决您的问题？</p>
                            <a href="javascript:;" id="solve-yes" class="solve-yes j-solve-active">是</a>
                            <a href="javascript:;" id="solve-no" class="solve-no">否</a>
                        </div>
                        <div class="grids-height-sbm" id="grids-height-sbm">
                            <span class="icon-ok"></span>
                            <span>提交成功！非常感谢您的反馈，我们会继续努力做到更好！</span>
                        </div>
                        <div class="grids-height-problem">
                            <p>
                                <span class="icon-no"></span>
                                为了我们更有效的优化资料库，以及针对性的改善我们的服务，我们很需要您进一步的反馈信息：</p>
                            <ul>
                                <li><label class="tc-15-radio-wrap"><input value="1"  type="radio" class="tc-15-radio">页面内容不全面，不深入</label></li>
                                <li><label class="tc-15-radio-wrap"><input value="2"  type="radio" class="tc-15-radio">页面内容更新不及时</label></li>
                                <li><label class="tc-15-radio-wrap"><input value="3"  type="radio" class="tc-15-radio">描述不够清晰，比较混乱</label></li>
                                <li><label class="tc-15-radio-wrap"><input value="4"  type="radio" class="tc-15-radio">系统或功能太复杂，同时文档也缺乏足够的引导</label>
                                </li>
                            </ul>
                            <textarea id="feedbackText" class="tc-15-input-textarea" placeholder="您可以在这里输入更多意见和建议（限200字以内）"></textarea>
                            <p class="tool" id="toolbtnbox">
                                <button type="button" class="solve-yes2 j-solve-active2">确定</button>
                                <button type="button" class="solve-no2">取消</button>
                                <span id="feedbackTips" class="txt-error" style="display:none;">请至少选择或填写一项反馈信息</span>
                            </p>
                        </div>-->


                        <!--  <div class="grids-fot">
                              <h3>
                                  云服务器相关文档
                              </h3>
                              <ul>

                                  <li><a href="javascript:;">价格总览</a></li>

                                  <li><a href="javascript:;">TelCloudHost实例价格</a></li>

                                  <li><a href="javascript:;">计费模式说明</a></li>

                                  <li><a href="javascript:;">云服务器TelCloudHost帮助文档</a></li>

                                  <li><a href="javascript:;">TelCloudHost 概述</a></li>

                                  <li><a href="javascript:;">购买网络带宽</a></li>

                                  <li><a href="javascript:;">TelCloudHost实例</a></li>

                                  <li><a href="javascript:;">步骤五：分区及格式化数据盘</a></li>

                                  <li><a href="javascript:;">步骤六：部署应用环境</a></li>

                              </ul>
                          </div>-->
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- 内容header-send-->
</div>