<div id="helpdocum" class="help_introduce">
    <!-- 搜索块header-start-->
    <div class="h_elp_wrap fl">
        <div class="h_elp_had fl">
            <div class="h_elp_had-inner">
                <h2 class="title fl" style="margin-left: 514px;">
                    <a href="javascript:;">帮助与文档</a>
                </h2>
                <!-- <div class="search_box fl">
                     <div class="search_bar">
                         <input type="text" placeholder="请输入你想了解的关键词" id="searchInput">
                         <a href="javascript:;" class="search_btn"><span>搜索</span></a>
                     </div>
                     <a href="javascript:;" class="link" target="_blank">云服务器</a>
                     <a href="javascript:;" class="link" target="_blank">微信小程序</a>
                     <a href="javascript:;" class="link" target="_blank">云数据库</a>
                     <a href="javascript:;" class="link" target="_blank">域名备案</a>
                     <a href="javascript:;" class="link" target="_blank">SSL证书</a>
                     <a href="javascript:;" class="link" target="_blank">直播</a>
                     <a href="javascript:;" class="link" target="_blank">计费</a>
                 </div>-->
            </div>
        </div>
    </div>
    <!-- 搜索块header-end-->
    <!-- 内容header-start-->
    <div class="maincont fl">
        <div class="warp">
            <div class="grids-table">
                <div class="grids-nav" ng-include="'helpLeft.html'"></div>
                <div class="grids-details">
                    <div class="grids-height">
                        <p class="grids-crumbs">
                            <a href="javascript:;">帮助与文档</a>
                            <i class="r_png"></i>
                            <a href="javascript:;"> 快速入门Iaas服务</a>
                            <i class="r_png"></i>
                            <span> 步骤一：创建服务</span>
                        </p>
                        <div class="iaas_line">
                            <h1 style="margin: 14px 0;">IaaS服务简介</h1>
                            <p>**是一个提供按需分配、弹性可伸缩的计算能力的公有云服务。通过使用**，
                                您不必再为了软件开发、测试、以及应用/服务上线运行而购买物理设备了，
                                也不必投入人力物力进行设备维护。
                                您可以直接在**中迅速得到任意您需要的计算、存储、网络、安全等方方面面的能力，
                                并可以随时调整它们的规模。</p>
                            <p>**执行按用量收费原则，即，您只需要为您使用了的资源付费。
                                而且，**是按秒计费的，**中的任何资源都是可以随时调整尺寸/规模的，
                                这最大程度地降低了您的费用、并为弹性计算提供了计费基础。</p>
                        </div>
                        <div class="iaas_line">
                            <h2>主要概念</h2>
                            <p>为了便于后续使用，简要介绍几个主要的概念，
                                以及它们与您现有计算环境中元素的相同、相异点。</p>
                            <div>
                                <h3>镜像和主机</h3>
                                <p>镜像分为两类。其一是**官方提供的，称之为"系统镜像"，包括了各种 Linux、Windows 等操作系统，
                                    各系统映像的初始本地终端用户名和密码均可在创建主机时自行设立。其二是用户通过捕获一个主机来自行创建的，
                                    名为"自有镜像"， （需要注意，主机在关机状态下才能被捕获为镜像）。 系统镜像全局可见可用，自有镜像只有用户本人可见可用。</p>
                                <p>主机（Instance）是以虚拟机器的形式运行在**中。您可以创建任意数量的主机。
                                    在创建主机时， 您需要指明 CPU 和内存的配置。**允许您任意指定 CPU、内存的数量，
                                    也允许您在主机创建之后随时再行调整。</p>
                            </div>
                            <div>
                                <h3>区域</h3>
                                <p>**是一个多区域部署的服务。可部署于北京和广东区，您可以在不同区域创建云资源（比如主机等），
                                    以迎合您不同的市场和客户，
                                    或者在多地进行均衡等。</p>
                                <p>因为获取物理资源的成本不一，所以每个区域的价格都略有差异。 请查询价格列表，以了解更多。</p>
                            </div>
                            <div>
                                <h3>存储</h3>
                                <p>正如物理世界中的硬盘，在**中，硬盘（Volume）为主机提供块级的原始存储设备，
                                    它独立于主机的生命周期而存在，可以被连接到任意运行中的主机上，
                                    为主机提供持久化的、块级存储，并可以随时解除连接，转接至其他主机， 如此可以实现数据的快速转移。</p>
                                <p>**提供了两种规格的硬盘：容量型硬盘、性能型硬盘。
                                    性能型硬盘的性能可达128MB/s，适用于对IO要求较高的应用，例如数据库等在线业务;
                                    容量型硬盘拥有更大的单块硬盘容积，最高可达5TB，适用于对容量要求较高的应用，例如文档存储等离线业务。</p>
                                <p>除了硬盘，**还提供了备份服务。备份（Snapshot）用于在块设备级别（block device level）上进行硬盘的备份与恢复，
                                    可以同时对多张硬盘做备份（包括系统盘和数据盘），也可以对正在运行的主机做在线备份。
                                    一张硬盘可以有多个备份链，每条备份链包括一个全量备份点以及多个增量备份点，您可以随时从任意一个备份点恢复数据。</p>
                            </div>
                            <div>
                                <h3>网络</h3>
                                <p>**提供了一个由**系统维护的基础网络，基础网络的好处是简单、无需用户做任何配置与管理，
                                    即可直接使用， 但正因为它是全局网络，所以其安全保障是依靠防火墙（Security Group）来实现的。</p>
                                <p>**为用户的每个服务创建了一个私有网络，私有网络之间是100%隔离的，以满足对安全的100%追求。</p>
                            </div>
                            <div>
                                <h3>安全</h3>
                                <p>为了加强位于基础网络中的主机或路由器的安全性，**为每个用户创建了一个缺省防火墙，
                                    缺省防火墙放开了 TCP 下行22号端口和 ICMP for ping， 其他防火墙都不包含任何规则，
                                    即全部端口都是封闭的。 您可以任意调整规则以满足您的安全需求。</p>
                            </div>
                            <div>
                                <h3>资源监控</h3>
                                <p>您使用的主机、硬盘以及网络资源都有监控，
                                    您可以很方便的了解系统运行情况以及分析和定位问题。监控信息分不同的粒度，
                                    从一分钟到一年的历史数据都有，并且还有10秒钟级别的实时数据。</p>
                            </div>
                            <div>
                                <h2>如何使用**</h2>
                                <p>我们提供了多种方式来使用**的各项服务。</p>
                                <ul>
                                    <li><p>图形界面工具</p>
                                        <p>为了便于大家使用，**提供了一个WEB 控制台</a></p>
                                    </li>
                                </ul>
                            </div>
                            <div>
                                <h2>充值与计费</h2>
                                <p>**支持在线充值和银行转账，您可以自行选择付款方式。如果需要发票，请到
                                    <a>发票管理</a> 提出申请。</p>
                                <p>**执行按用量收费原则，即，您只需要为您使用了的资源付费，并且计费是按秒进行的，并且不设最低消费指标。</p>
                                <p>您随时可以在 WEB 控制台中查看
                                    <a>消费记录</a> 。</p>
                            </div>
                            <div>
                                <h2>服务限制</h2>
                                <p>为了保证每个用户都得到公平的计算能力，并防止恶意使用，**系统有如下整体限制：</p>
                                <ul>
                                    <li>磁盘 IO 限制为 128 MB/s;</li>
                                    <li>内部网络带宽限制为 512 Mbps，峰值为 1 Gbps;</li>
                                    <li>从资源数量角度，每个用户可以使用 5个主机。从元件角度，每个用户可以使用 10个 CPU、20GB 内存，10Mbps 的带宽，500GB
                                        的容量型硬盘，500GB 的性能型硬盘。
                                    </li>
                                    <li>以上限制均为全局设定，其目的仅仅是为了防止资源滥用，如果您需要超过这些限制的计算能力，
                                        <a>与我们联系</a> 即可扩大指标。
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!--    <div class="grids-height-solve">
                                <p>以上信息是否解决您的问题？</p>
                                <a href="javascript:;" id="solve-yes" class="solve-yes j-solve-active">是</a>
                                <a href="javascript:;" id="solve-no" class="solve-no">否</a>
                            </div>
                            <div class="grids-height-sbm" id="grids-height-sbm">
                                <span class="icon-ok"></span>
                                <span>提交成功！非常感谢您的反馈，我们会继续努力做到更好！</span>
                            </div>
                            <div class="grids-height-problem">
                                <p>
                                    <span class="icon-no"></span>
                                    为了我们更有效的优化资料库，以及针对性的改善我们的服务，我们很需要您进一步的反馈信息：</p>
                                <ul>
                                    <li><label class="tc-15-radio-wrap"><input value="1"  type="radio" class="tc-15-radio">页面内容不全面，不深入</label></li>
                                    <li><label class="tc-15-radio-wrap"><input value="2"  type="radio" class="tc-15-radio">页面内容更新不及时</label></li>
                                    <li><label class="tc-15-radio-wrap"><input value="3"  type="radio" class="tc-15-radio">描述不够清晰，比较混乱</label></li>
                                    <li><label class="tc-15-radio-wrap"><input value="4"  type="radio" class="tc-15-radio">系统或功能太复杂，同时文档也缺乏足够的引导</label>
                                    </li>
                                </ul>
                                <textarea id="feedbackText" class="tc-15-input-textarea" placeholder="您可以在这里输入更多意见和建议（限200字以内）"></textarea>
                                <p class="tool" id="toolbtnbox">
                                    <button type="button" class="solve-yes2 j-solve-active2">确定</button>
                                    <button type="button" class="solve-no2">取消</button>
                                    <span id="feedbackTips" class="txt-error" style="display:none;">请至少选择或填写一项反馈信息</span>
                                </p>
                            </div>-->


                        <!-- <div class="grids-fot">
                             <h3>
                                 云服务器相关文档
                             </h3>
                             <ul>

                                 <li><a href="javascript:;">价格总览</a></li>

                                 <li><a href="javascript:;">TelCloudHost实例价格</a></li>

                                 <li><a href="javascript:;">计费模式说明</a></li>

                                 <li><a href="javascript:;">云服务器TelCloudHost帮助文档</a></li>

                                 <li><a href="javascript:;">TelCloudHost 概述</a></li>

                                 <li><a href="javascript:;">购买网络带宽</a></li>

                                 <li><a href="javascript:;">TelCloudHost实例</a></li>

                                 <li><a href="javascript:;">步骤五：分区及格式化数据盘</a></li>

                                 <li><a href="javascript:;">步骤六：部署应用环境</a></li>

                             </ul>
                         </div>-->
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- 内容header-send-->
</div>
</div>
</div>