<div id="helpdocum">
    <!-- 搜索块header-start-->
    <div class="h_elp_wrap fl">
        <div class="h_elp_had fl">
            <div class="h_elp_had-inner">
                <h2 class="title fl" style="margin-left: 514px;">
                    <a href="javascript:;">帮助与文档</a>
                </h2>
            </div>
        </div>
    </div>
    <!-- 搜索块header-end-->
    <!-- 内容header-start-->
    <div class="maincont fl">
        <div class="warp">
            <div class="grids-table">
                <div class="grids-nav" ng-include="'helpLeft.html'"></div>
                <div class="grids-details">
                    <div class="grids-height">
                        <p class="grids-crumbs">
                            <a href="javascript:;">帮助与文档</a>
                            <i class="r_png"></i>
                            <a href="javascript:;"> 快速入门Iaas服务</a>
                            <i class="r_png"></i>
                            <span> 步骤一：找到功能区域</span>
                        </p>
                        <h1 class="grids-height-title">
                            步骤一：找到功能区域
                        </h1>
                        <div class="iaas_line">
                            <p>
                                登录控制台后点击 “CaaS电信技术设施即服务”模块
                            </p>
                            <p style="margin-top: 20px;">
                                <img src="./images/h_found.png" alt="" style="width:727px;">
                            </p>
                            <p>
                                点击箭头图标展开需要操作的服务项
                            </p>
                            <p style="margin-top: 20px;">
                                <img src="./images/h_work.png" alt="" style="width: 727px;">
                            </p>
                            <p>
                                找到功能区的“工单”按钮，点击新建该条服务的工单
                            </p>
                            <p>
                                <img src="./images/h_contract0.png" alt="" style="width: 727px;">
                            </p>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- 内容header-send-->
</div>