<div id="newsbox">
    <div class="news-hader lxwb_banner" style="margin-bottom: 0;">
        <div class="banner-text">
            <p>联系我们</p>
        </div>
    </div>
    <!-- news cont start-->
    <div class="news-wapcont" style="    margin: 20px auto;">
        <section class="about-content contact_us">
            <div class="viewport-inner">
                <ol class="contact-list">
                    <li><b>电子邮件：</b>telcloud@longtelchina.com</li>
                    <li><b>新浪微博：</b>
                        <a href="http://weibo.com/longtelchina" target="_block" "="">http://weibo.com/longtelchina</a>
                    </li>
                    <li><b>龙腾微信：</b>TelCloud</li>
                    <li><b>24小时热线电话：</b>4008881360</li>
                    <li><b>地址：</b>北京市朝阳区胜古南里甲13号 邮编100029</li>
                    <li>龙腾佳讯办公地址位于胜古南里小区的独立楼宇中，周边有贵州大厦、地铁 5 号线和平西桥站、化工大学西校区。第一次来访请遵循以下线路，以方便您的交通。
                        <br>
                        1- 出租车：在蓝星大厦门口下车，沿着大门西侧的胡同向北步行 200 米，见警务工作站向左转，走到尽头的灰色二层楼。（全程 3 分钟，如绿色实线）
                        <br>
                        2- 驾车：导航到“咸亨酒店安贞店”，到达前 50 米的辅路过街天桥下计时停车（如蓝色区域）。从过街天桥旁过道向西走，见到警务工作站向前走，到达尽头的灰色二层楼。（全程 2 分钟，如蓝色线路）
                        <br>
                        3- 地铁：北京地铁 5 号线和平西桥站下车出 A 口，步行穿过三环路到蓝星大厦门口（如绿色虚线），然后沿着绿色实线步行到达。（全程 5 分钟）
                    </li>
                </ol>
            </div>
        </section>
    </div>
    <!-- news cont end-->
</div>
<script>
    //页面按钮点击跳转
    $('.news_page>a').click(function () {
        var _this = $(this);
        _this.css({
            border: 'none',
            color: '#333'
        }).attr('active', 'true');
        if (_this.attr('active') == 'true') {

        }
        _this.siblings('a').css('border', '1px solid #ddd').css('color', '#999').attr('active', 'false');
    });
    ;
</script>