<div id="helpdocum">
    <!-- 搜索块header-start-->
    <div class="h_elp_wrap fl">
        <div class="h_elp_had fl">
            <div class="h_elp_had-inner">
                <h2 class="title fl" style="margin-left: 514px;">
                    <a href="javascript:;">帮助与文档</a>
                </h2>
            </div>
        </div>
    </div>
    <!-- 搜索块header-end-->
    <!-- 内容header-start-->
    <div class="maincont fl">
        <div class="warp">
            <div class="grids-table">
                <div class="grids-nav">
                    <div class="grids-nav-inner">
                        <div class="grids-nav-list">
                            <a href="javascript:;" class='grids-nav-title'>
                                云服务器
                                <i class="grids-nav-title_png"></i>
                            </a>
                            <div class="grids-nav-innerbox">
                                <div class="grids-nav-inner-list">
                                    <a href="javascript:;" class="grids-side-navLayer">
                                        快速入门Iaas服务
                                        <i class="nav-drop-down-icon"></i>
                                    </a>
                                    <ul class="nav-inner-list-2">
                                        <li>
                                            <a class="side-nav-title-2 list-focus" href="javascript:;">第一步：创建服务</a>
                                        </li>
                                        <li>
                                            <a class="side-nav-title-2" href="javascript:;">第二步：资源配置</a>
                                        </li>
                                        <li>
                                            <a class="side-nav-title-2" href="javascript:;">第三步：密码设置</a>
                                        </li>
                                        <li>
                                            <a class="side-nav-title-2" href="javascript:;">第四步：创建硬盘</a>
                                        </li>
                                        <li>
                                            <a class="side-nav-title-2" href="javascript:;">第五步：连接主机</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="grids-nav-inner-list">
                                    <a href="javascript:;" class="grids-side-navLayer">
                                        快速入门Caas服务
                                        <i class="nav-drop-down-icon"></i>
                                    </a>
                                    <ul class="nav-inner-list-2">
                                        <li>
                                            <a class="side-nav-title-2" href="javascript:;">第一步：新建服务</a>
                                        </li>
                                        <li>
                                            <a class="side-nav-title-2" href="javascript:;">第二步：填写服务详情</a>
                                        </li>
                                        <li>
                                            <a class="side-nav-title-2" href="javascript:;">第三步：提交申请</a>
                                        </li>
                                        <li>
                                            <a class="side-nav-title-2" href="javascript:;">第四步：查看进度和咨询</a>
                                        </li>
                                        <li>
                                            <a class="side-nav-title-2" href="javascript:;">CaaS服务改变</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="grids-nav-inner-list">
                                    <a href="javascript:;" class="grids-side-navLayer">
                                        存储<i class="nav-drop-down-icon"></i>
                                    </a>
                                    <ul class="nav-inner-list-2">
                                        <li>
                                            <a class="side-nav-title-2" href="javascript:;">存储概述</a>
                                        </li>
                                        <li>
                                            <a class="side-nav-title-2" href="javascript:;">云硬盘</a>
                                        </li>
                                        <li>
                                            <a class="side-nav-title-2" href="javascript:;">本地盘</a>
                                        </li>
                                        <li>
                                            <a class="side-nav-title-2" href="javascript:;">对象存储COS</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="grids-nav-inner-list">
                                    <a href="javascript:;" class="grids-side-navLayer">
                                        镜像<i class="nav-drop-down-icon"></i>
                                    </a>
                                    <ul class="nav-inner-list-2">
                                        <li class="">
                                            <a class="side-nav-title-2" href="javascript:;">镜像概述</a>
                                        </li>
                                        <li class="">
                                            <a class="side-nav-title-2" href="javascript:;">镜像类型</a>
                                        </li>
                                        <li class="">
                                            <a class="side-nav-title-2" href="javascript:;">创建自定义镜像</a>
                                        </li>
                                        <li class="">
                                            <a class="side-nav-title-2" href="javascript:;">复制镜像</a>
                                        </li>
                                        <li class="">
                                            <a class="side-nav-title-2" href="javascript:;">共享自定义镜像</a>
                                        </li>
                                        <li class="">
                                            <a class="side-nav-title-2" href="javascript:;">取消共享自定义镜像</a>
                                        </li>
                                        <li class="">
                                            <a class="side-nav-title-2" href="javascript:;">导入镜像</a>
                                        </li>
                                        <li class="">
                                            <a class="side-nav-title-2" href="javascript:;">删除自定义镜像</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="grids-nav-inner-list">
                                    <a href="javascript:;" class="grids-side-navLayer">
                                        监控与告警<i class="nav-drop-down-icon"></i>
                                    </a>
                                    <ul class="nav-inner-list-2">
                                        <li>
                                            <a class="side-nav-title-2" href="javascript:;">监控与告警概述</a>
                                        </li>
                                        <li>
                                            <a class="side-nav-title-2" href="javascript:;">获取实例监控数据</a>
                                        </li>
                                        <li>
                                            <a class="side-nav-title-2" href="javascript:;">创建告警</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="grids-nav-inner-list">
                                    <a href="javascript:;" class="grids-side-navLayer">
                                        网络与安全性
                                        <i class="nav-drop-down-icon"></i>
                                    </a>
                                    <ul class="nav-inner-list-2">
                                        <li>
                                            <a class="side-nav-title-2" href="javascript:;">网络与安全性概述</a>
                                        </li>
                                        <li>
                                            <a class="side-nav-title-2" href="javascript:;">SSH 密钥</a>
                                        </li>
                                        <li>
                                            <a class="side-nav-title-2" href="javascript:;">登录密码</a>
                                        </li>
                                        <li>
                                            <a class="side-nav-title-2" href="javascript:;">安全组</a>
                                        </li>
                                        <li>
                                            <a class="side-nav-title-2" href="javascript:;">弹性公网 IP</a>
                                        </li>
                                        <li>
                                            <a class="side-nav-title-2" href="javascript:;">Internet 访问</a>
                                        </li>
                                        <li>
                                            <a class="side-nav-title-2" href="javascript:;">内网访问</a>
                                        </li>
                                        <li>
                                            <a class="side-nav-title-2" href="javascript:;">网络环境</a>
                                        </li>
                                        <li>
                                            <a class="side-nav-title-2" href="javascript:;">弹性网卡</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="grids-nav-inner-list">
                                    <a href="javascript:;" class="grids-side-navLayer">
                                        常见问题FAQ
                                        <i class="nav-drop-down-icon"></i>
                                    </a>
                                    <ul class="nav-inner-list-2">
                                        <li>
                                            <a class="side-nav-title-2" href="javascript:;">云腾云帮助文档</a>
                                        </li>
                                        <li>
                                            <a class="side-nav-title-2" href="javascript:;">云腾云帮助文档</a>
                                        </li>
                                        <li>
                                            <a class="side-nav-title-2" href="javascript:;">云腾云帮助文档</a>
                                        </li>
                                        <li>
                                            <a class="side-nav-title-2" href="javascript:;">云腾云帮助文档</a>
                                        </li>
                                        <li>
                                            <a class="side-nav-title-2" href="javascript:;">云腾云帮助文档</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="grids-nav-inner-list">
                                    <a href="javascript:;" class="grids-side-navLayer">
                                        新闻
                                        <i class="nav-drop-down-icon"></i>
                                    </a>
                                    <ul class="nav-inner-list-2">
                                        <li class="">
                                            <a class="side-nav-title-2" href="javascript:;">1</a>
                                        </li>
                                        <li class="">
                                            <a class="side-nav-title-2" href="javascript:;">2</a>
                                        </li>
                                        <li class="">
                                            <a class="side-nav-title-2" href="javascript:;">3</a>
                                        </li>
                                        <li class="">
                                            <a class="side-nav-title-2" href="javascript:;">4</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="grids-nav-inner-list">
                                    <a href="javascript:;" class="grids-side-navLayer">
                                        新闻
                                        <i class="nav-drop-down-icon"></i>
                                    </a>
                                    <ul class="nav-inner-list-2">
                                        <li class="">
                                            <a class="side-nav-title-2" href="javascript:;">1</a>
                                        </li>
                                        <li class="">
                                            <a class="side-nav-title-2" href="javascript:;">2</a>
                                        </li>
                                        <li class="">
                                            <a class="side-nav-title-2" href="javascript:;">3</a>
                                        </li>
                                        <li class="">
                                            <a class="side-nav-title-2" href="javascript:;">4</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="grids-nav-inner-list">
                                    <a href="javascript:;" class="grids-side-navLayer">
                                        新闻
                                        <i class="nav-drop-down-icon"></i>
                                    </a>
                                    <ul class="nav-inner-list-2">
                                        <li class="">
                                            <a class="side-nav-title-2" href="javascript:;">1</a>
                                        </li>
                                        <li class="">
                                            <a class="side-nav-title-2" href="javascript:;">2</a>
                                        </li>
                                        <li class="">
                                            <a class="side-nav-title-2" href="javascript:;">3</a>
                                        </li>
                                        <li class="">
                                            <a class="side-nav-title-2" href="javascript:;">4</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="grids-nav-inner-list">
                                    <a href="javascript:;" class="grids-side-navLayer">
                                        新闻
                                        <i class="nav-drop-down-icon"></i>
                                    </a>
                                    <ul class="nav-inner-list-2">
                                        <li class="">
                                            <a class="side-nav-title-2" href="javascript:;">1</a>
                                        </li>
                                        <li class="">
                                            <a class="side-nav-title-2" href="javascript:;">2</a>
                                        </li>
                                        <li class="">
                                            <a class="side-nav-title-2" href="javascript:;">3</a>
                                        </li>
                                        <li class="">
                                            <a class="side-nav-title-2" href="javascript:;">4</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="grids-h_elplist">
                                <ul class="grids-h_elplist-menu">
                                    <li class="menu-title">
                                        <i class="cputepng"></i>
                                        计算
                                    </li>
                                    <li>
                                        <a ng-click="gotoPage('/helpover')" href="javascript:;">云主机</a>
                                    </li>
                                    <li>
                                        <a title="云服务器" href="javascript:;">专用宿主机</a>
                                    </li>
                                    <li>
                                        <a title="云服务器" href="javascript:;">云硬盘</a>
                                    </li>
                                    <li>
                                        <a title="云服务器" href="javascript:;">黑石物理服务器</a>
                                    </li>
                                </ul>
                                <ul class="grids-h_elplist-menu">
                                    <li class="menu-title">
                                        <i class="cputepng"></i>
                                        计算
                                    </li>
                                    <li>
                                        <a title="云服务器" href="javascript:;">云服务器</a>
                                    </li>
                                    <li>
                                        <a title="云服务器" href="javascript:;">专用宿主机</a>
                                    </li>
                                    <li>
                                        <a title="云服务器" href="javascript:;">云硬盘</a>
                                    </li>
                                    <li>
                                        <a title="云服务器" href="javascript:;">黑石物理服务器</a>
                                    </li>
                                </ul>
                                <ul class="grids-h_elplist-menu">
                                    <li class="menu-title">
                                        <i class="cputepng"></i>
                                        计算
                                    </li>
                                    <li>
                                        <a title="云服务器" href="javascript:;">云服务器</a>
                                    </li>
                                    <li>
                                        <a title="云服务器" href="javascript:;">专用宿主机</a>
                                    </li>
                                    <li>
                                        <a title="云服务器" href="javascript:;">云硬盘</a>
                                    </li>
                                    <li>
                                        <a title="云服务器" href="javascript:;">黑石物理服务器</a>
                                    </li>
                                </ul>
                                <ul class="grids-h_elplist-menu">
                                    <li class="menu-title">
                                        <i class="cputepng"></i>
                                        计算
                                    </li>
                                    <li>
                                        <a title="云服务器" href="javascript:;">云服务器</a>
                                    </li>
                                    <li>
                                        <a title="云服务器" href="javascript:;">专用宿主机</a>
                                    </li>
                                    <li>
                                        <a title="云服务器" href="javascript:;">云硬盘</a>
                                    </li>
                                    <li>
                                        <a title="云服务器" href="javascript:;">黑石物理服务器</a>
                                    </li>
                                </ul>
                                <ul class="grids-h_elplist-menu">
                                    <li class="menu-title">
                                        <i class="cputepng"></i>
                                        计算
                                    </li>
                                    <li>
                                        <a title="云服务器" href="javascript:;">云服务器</a>
                                    </li>
                                    <li>
                                        <a title="云服务器" href="javascript:;">专用宿主机</a>
                                    </li>
                                    <li>
                                        <a title="云服务器" href="javascript:;">云硬盘</a>
                                    </li>
                                    <li>
                                        <a title="云服务器" href="javascript:;">黑石物理服务器</a>
                                    </li>
                                </ul>
                                <ul class="grids-h_elplist-menu">
                                    <li class="menu-title">
                                        <i class="cputepng"></i>
                                        计算
                                    </li>
                                    <li>
                                        <a title="云服务器" href="javascript:;">云服务器</a>
                                    </li>
                                    <li>
                                        <a title="云服务器" href="javascript:;">专用宿主机</a>
                                    </li>
                                    <li>
                                        <a title="云服务器" href="javascript:;">云硬盘</a>
                                    </li>
                                    <li>
                                        <a title="云服务器" href="javascript:;">黑石物理服务器</a>
                                    </li>
                                </ul>
                                <ul class="grids-h_elplist-menu">
                                    <li class="menu-title">
                                        <i class="cputepng"></i>
                                        计算
                                    </li>
                                    <li>
                                        <a title="云服务器" href="javascript:;">云服务器</a>
                                    </li>
                                    <li>
                                        <a title="云服务器" href="javascript:;">专用宿主机</a>
                                    </li>
                                    <li>
                                        <a title="云服务器" href="javascript:;">云硬盘</a>
                                    </li>
                                    <li>
                                        <a title="云服务器" href="javascript:;">黑石物理服务器</a>
                                    </li>
                                </ul>
                                <ul class="grids-h_elplist-menu">
                                    <li class="menu-title">
                                        <i class="cputepng"></i>
                                        计算
                                    </li>
                                    <li>
                                        <a title="云服务器" href="javascript:;">云服务器</a>
                                    </li>
                                    <li>
                                        <a title="云服务器" href="javascript:;">专用宿主机</a>
                                    </li>
                                    <li>
                                        <a title="云服务器" href="javascript:;">云硬盘</a>
                                    </li>
                                    <li>
                                        <a title="云服务器" href="javascript:;">黑石物理服务器</a>
                                    </li>
                                </ul>
                                <ul class="grids-h_elplist-menu">
                                    <li class="menu-title">
                                        <i class="cputepng"></i>
                                        计算
                                    </li>
                                    <li>
                                        <a title="云服务器" href="javascript:;">云服务器</a>
                                    </li>
                                    <li>
                                        <a title="云服务器" href="javascript:;">专用宿主机</a>
                                    </li>
                                    <li>
                                        <a title="云服务器" href="javascript:;">云硬盘</a>
                                    </li>
                                    <li>
                                        <a title="云服务器" href="javascript:;">黑石物理服务器</a>
                                    </li>
                                </ul>
                                <ul class="grids-h_elplist-menu">
                                    <li class="menu-title">
                                        <i class="cputepng"></i>
                                        计算
                                    </li>
                                    <li>
                                        <a title="云服务器" href="javascript:;">云服务器</a>
                                    </li>
                                    <li>
                                        <a title="云服务器" href="javascript:;">专用宿主机</a>
                                    </li>
                                    <li>
                                        <a title="云服务器" href="javascript:;">云硬盘</a>
                                    </li>
                                    <li>
                                        <a title="云服务器" href="javascript:;">黑石物理服务器</a>
                                    </li>
                                </ul>
                                <ul class="grids-h_elplist-menu">
                                    <li class="menu-title">
                                        <i class="cputepng"></i>
                                        计算
                                    </li>
                                    <li>
                                        <a title="云服务器" href="javascript:;">云服务器</a>
                                    </li>
                                    <li>
                                        <a title="云服务器" href="javascript:;">专用宿主机</a>
                                    </li>
                                    <li>
                                        <a title="云服务器" href="javascript:;">云硬盘</a>
                                    </li>
                                    <li>
                                        <a title="云服务器" href="javascript:;">黑石物理服务器</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    var $list = $('.grids-nav-list'),
                            linjieTop = $('.grids-nav').offset().top;
                </script>
                <div class="grids-details">
                    <div class="grids-height">
                        <p class="grids-crumbs">
                            <a href="javascript:;" ng-click="gotoPage('/helpdocum')">帮助与文档</a>
                            <i class="r_png"></i>
                            <a href="javascript:;" ng-click="gotoPage('/helpdocum')">产品文档</a>
                            <i class="r_png"></i>
                            <a href="javascript:;">快速入门Iaas服务</a>
                            <i class="r_png"></i>
                            <span>步骤一:创建服务</span>
                        </p>
                        <h1 class="grids-height-title">
                            步骤一：创建服务
                        </h1>
                        <p>
                            本文档主要介绍如何快速使用 Windows 系统的云服务器实例的相关功能，引导新手快速了解**服务器的创建和配置。
                        </p>
                        <p>
                            Web服务台，点击左侧导航中的“新建按钮”，接着填写服务名称，选择服务种类，完成后点击下一步。
                        </p>
                        <p>
                            <img src="./images/service1.png" alt="">
                        </p>
                        <!-- <div class="grids-height-solve">
                             <p>以上信息是否解决您的问题？</p>
                             <a href="javascript:;" class="solve-yes">是</a>
                             <a href="javascript:;" class="solve-no">否</a>
                         </div>
                     </div>
                     <p style="height: 1000px;">ppppp</p>-->
                    </div>
                </div>
            </div>
        </div>
        <!-- 内容header-send-->
    </div>

    <script src="js/help_doc.js"></script>