<div id="helpdocum">
    <!-- 搜索块header-start-->
    <div class="h_elp_wrap fl">
        <div class="h_elp_had fl">
            <div class="h_elp_had-inner">
                <h2 class="title fl" style="margin-left: 514px;">
                    <a href="javascript:;">帮助与文档</a>
                </h2>
            </div>
        </div>
        <!-- 搜索块header-end-->

        <!--文档内容--start-->
        <div class="h_elp_cont">
            <div class="tab_navbox">
                <div class="tab_bor"></div>
                <ul class="tab_navlist fl">
                    <li>
                        <a href="javascript:;" class="j-nav-active0">
                            产品文档
                        </a>
                    </li>
                </ul>
                <div class="tab_navother fr">
                    <a href="javascript:;">
                        <i class="fl"></i>
                        <span class="fl">
                            社区问答
                        </span>
                    </a>
                </div>
            </div>
            <div class="tab_title">
                <h3>产品文档</h3>
                <p>龙腾云产品文档从产品简介，购买指导，操作指南，常见问题等方面阐述，助你快速部署上云。</p>
            </div>
            <div class="tab_cont">
                <ul class="cont_grids">
                    <li>
                        <div class="grids_cpute">
                            <h4 class="title">
                                <i class="cputepng"></i>
                                计算
                            </h4>
                            <ul class="cpute_list">
                                <li>
                                    <a ng-click="gotoPage('/helpcloud')" href="javascript:;">
                                        云主机
                                        <i class="cpute_hot"></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="javascript:;">
                                        镜像
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="javascript:;">
                                        云硬盘
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="javascript:;">
                                        如何使用龙腾云
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="javascript:;">
                                        充值与计费
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="javascript:;">
                                        服务限制
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="grids_cpute">
                            <h4 class="title">
                                <i class="cputepng"></i>
                                网络
                            </h4>
                            <ul class="cpute_list">
                                <li>
                                    <a target="_blank" href="javascript:;">
                                        负载均衡
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="javascript:;">
                                        私有网络
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="javascript:;">
                                        专线接入
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="javascript:;">
                                        NAT网关
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="javascript:;">
                                        VPN连接
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="grids_cpute">
                            <h4 class="title">
                                <i class="cputepng"></i>
                                监控与管理
                            </h4>
                            <ul class="cpute_list">
                                <li>
                                    <a target="_blank" href="javascript:;">
                                        云监控
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="javascript:;">
                                        自定义监控
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="javascript:;">
                                        命令行工具 CLI
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="javascript:;">
                                        云拨测
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="javascript:;">
                                        蓝鲸平台
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="grids_cpute">
                            <h4 class="title">
                                <i class="cputepng"></i>
                                存储
                            </h4>
                            <ul class="cpute_list">
                                <li>
                                    <a target="_blank" href="javascript:;">
                                        对象存储服务
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="javascript:;">
                                        内容分发网络
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="grids_cpute">
                            <h4 class="title">
                                <i class="cputepng"></i>
                                区域
                            </h4>
                            <ul class="cpute_list">
                                <li>
                                    <a target="_blank" href="javascript:;">
                                        1
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="javascript:;">
                                        2
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li>
                        <div class="grids_cpute">
                            <h4 class="title">
                                <i class="cputepng"></i>
                                备份与恢复
                            </h4>
                            <ul class="cpute_list">
                                <li>
                                    <a target="_blank" href="javascript:;">
                                        创建备份
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="javascript:;">
                                        删除备份
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="javascript:;">
                                        备份还原
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="javascript:;">
                                        计费模式
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="grids_cpute">
                            <h4 class="title">
                                <i class="cputepng"></i>
                                安全服务
                            </h4>
                            <ul class="cpute_list">
                                <li>
                                    <a target="_blank" href="javascript:;">
                                        主机与网站安全
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="javascript:;">
                                        网络安全（大禹）
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="javascript:;">
                                        天御业务安全防护
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="javascript:;">
                                        应用乐固
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="grids_cpute">
                            <h4 class="title">
                                <i class="cputepng"></i>
                                备份与恢复
                            </h4>
                            <ul class="cpute_list">
                                <li>
                                    <a target="_blank" href="javascript:;">
                                        创建备份
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="javascript:;">
                                        删除备份
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="javascript:;">
                                        备份还原
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="javascript:;">
                                        计费模式
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="grids_cpute">
                            <h4 class="title">
                                <i class="cputepng"></i>
                                安全服务
                            </h4>
                            <ul class="cpute_list">
                                <li>
                                    <a target="_blank" href="javascript:;">
                                        主机与网站安全
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="javascript:;">
                                        网络安全（大禹）
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="javascript:;">
                                        天御业务安全防护
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="javascript:;">
                                        应用乐固
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>


        </div>

    </div>
    <!--文档内容--end-->
</div>


</div>

<script>
    $('.tab_navlist>li').click(function () {
        $(this).find('a').addClass('j-nav-active0');
        $(this).siblings('li').find('a').removeClass('j-nav-active0');
    });
</script>