<div id="helpdocum">
    <!-- 搜索块header-start-->
    <div class="h_elp_wrap fl">
        <div class="h_elp_had fl">
            <div class="h_elp_had-inner">
                <h2 class="title fl" style="margin-left: 514px;">
                    <a href="javascript:;">帮助与文档</a>
                </h2>
            </div>
        </div>
    </div>
    <!-- 搜索块header-end-->
    <!-- 内容header-start-->
    <div class="maincont fl">
        <div class="warp">
            <div class="grids-table">
                <div class="grids-nav" ng-include="'helpLeft.html'"></div>
                <div class="grids-details">
                    <div class="grids-height">
                        <p class="grids-crumbs">
                            <a href="javascript:;">帮助与文档</a>
                            <i class="r_png"></i>
                            <a href="javascript:;"> 快速入门Iaas服务</a>
                            <i class="r_png"></i>
                            <span> 步骤三：查看工单进度</span>
                        </p>
                        <h1 class="grids-height-title">
                            步骤三：查看工单进度
                        </h1>
                        <div class="iaas_line">
                            <p>
                                点击顶端导航栏的工单下的“全部工单”按钮
                            </p>
                            <p style="margin-top: 20px;">
                                <img src="./images/h_allgongdan.png" alt="" style="width:727px;">
                            </p>
                            <p>
                                查看刚才提交的工单以及工作人员的回复。
                            </p>
                            <p style="margin-top: 20px;">
                                <img src="./images/h_schedule1.png" alt="" style="width:727px;">
                            </p>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- 内容header-send-->
</div>