<div id="hhy">
    <div class="solution-img">
        <div>
            <h1>混合云解决方案</h1>
            <p>内网级混合云，兼顾弹性与安全</p>
            <p><a href="">立即咨询</a></p>
        </div>
    </div>

    <div class="solution-contents">
        <div class="solution-show clear">
            <div>
                <div class="solution-show-img">
                    <img src="images/1.png" alt="">
                </div>
                <h4>内网级混合云架构</h4>
                <p>龙腾物理服务器和云服务器(即TelCloudHost，龙腾云虚拟服务器)内网互通，构建内网级混合云，可快速、灵活扩容，帮你轻松应对节假日、活动高峰请求</p>
            </div>
            <div>
                <div class="solution-show-img">
                    <img src="images/2.png" alt="">
                </div>
                <h4>顶级基础设施</h4>
                <p>龙腾自建数据中心，优质20线BGP万兆带宽、真双路供电保障、严格的IDC流程化管理、周全的IDC运维驻场服务 ，提供顶级、高可用的运行环境</p>
            </div>
            <div>
                <div class="solution-show-img">
                    <img src="images/3.png" alt="">
                </div>
                <h4>全面的安全防护技术</h4>
                <p>汇聚龙腾最顶尖的安全防护架构, 提供网络防护、入侵检测、数据泄漏检测、漏洞防护等安全技术，全方位保护业务安全</p>
            </div>
            <div>
                <div class="solution-show-img">
                    <img src="images/4.png" alt="">
                </div>
                <h4>专业的运维支撑</h4>
                <p>7x24小时的专属架构师服务 ，提供快速排障、技术指导、架构建议等全栈式服务，提高运维效率，降低运维成本</p>
            </div>
        </div>
        <div class="clear solutions stitle">
            <ul class="">
                <li><a href="" class="md" name="#anli">部署和架构</a></li>
                <li><a href="" class="md" name="#gaishu">专属产品</a></li>
                <!--<li><a href="" class="md" name="#cpgn">功能介绍</a></li>-->
            </ul>
            <div class="clear ">
                <button>立即选购</button>
            </div>
        </div>
        <script>
            smallt.stitleH = $(".stitle").offset().top;//页面加载就取下固定值
            smallt.left = parseInt($(".stitle").css("left"));
        </script>
        <div class="solut-c1 clear">
            <div class="clear solut-c">
                <div class="fl">
                    <div class="solut-c-title">
                        <h1>内网级混合云架构</h1>
                        <a id="anli"></a>
                        <p>兼顾弹性与安全的混合云架构</p>
                    </div>
                    <div class="ulli-img">
                        <div style="display: block">
                            <img src="images/index-yjsdyg.png" alt="">
                        </div>

                    </div>
                </div>
                <div class="fr">
                    <div style="display: block;">
                        <h3>内网混合云架构</h3>
                        <h2></h2>
                        <h4>兼顾弹性与安全的混合云架构</h4>
                        <ul>
                            <li>需自建数据中心</li>
                            <li>拉专线连接公有云和私有云</li>
                        </ul>
                        <h4 style="margin-top:30px">专属解决方案</h4>
                        <ul>
                            <li>提供独享物理服务器租赁服务</li>
                            <li>提供独享数据库宿主机</li>
                            <li>提供特殊设备托管服务</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="ww1200">
            <div class="solut-c2 solut-c clear">
                <div class="solut-c-title">
                    <h1>重新定义混合云</h1>
                    <a id="gaishu"></a>
                    <p>龙腾云内网级混合云架构的专属产品,帮您灵活应对各种应用场景</p>
                </div>
                <div class="product-details">
                    <div class="product-d-1 clear">
                        <div class="fl product-img">
                            <img src="//imgcache.qq.com/open_proj/proj_qcloud_v2/qcloud_2015/css/img/solution/mix-manage-1.png">
                        </div>
                        <div class="fr product-contents">
                            <h4 class="title">物理服务器</h4>
                            <p>独享高性能物理服务器,提供完全的物理设备控制权限和全栈式物理设备运维服务。让您不仅摆脱设备采购、上架、安装、运维等事务性工作、还能按需购买、按月计费降低一次性IT成本投入。
                                物理服务器和云服务器(TelCloudHost,龙腾云虚拟服务器)内网互通,可构建内网级混合云,实现快速、灵活扩容，帮你轻松应对节假日、活动高峰请求。</p>
                            <ul class="clear">
                                <li>
                                    <h2>独享</h2>
                                    <p>物理服务器</p>
                                </li>
                                <li style="border-left:2px solid #ddd;border-right:2px solid #ddd;">
                                    <h2>高效</h2>
                                    <p>一体化运维服务</p>
                                </li>
                                <li>
                                    <h2>弹性</h2>
                                    <p>与云服务器内网互通</p>
                                </li>
                            </ul>
                            <p><a href="">了解详情</a></p>
                        </div>
                    </div>
                    <h2 class="line-05"></h2>
                    <div class="product-d-2 clear">
                        <div class="fr product-img">
                            <img src="//imgcache.qq.com/open_proj/proj_qcloud_v2/qcloud_2015/css/img/solution/mix-manage-2.png">
                        </div>
                        <div class="fl product-contents">
                            <h4 class="title">数据库</h4>
                            <p>数据库是基于开源数据库MySQL专业打造的独享高性能物理宿主机的数据存储服务，100%完全兼容MySQL
                                协议，并提供完整的监控、运维服务，适用于面向关系型数据库的场景。</p>
                            <ul class="clear">
                                <li>
                                    <h2>一致</h2>
                                    <p>数据实时同步</p>
                                </li>
                                <li style="border-left:2px solid #ddd;border-right:2px solid #ddd;">
                                    <h2>可靠</h2>
                                    <p>备份灵活配置</p>
                                </li>
                                <li>
                                    <h2>简单</h2>
                                    <p>减低运维门槛</p>
                                </li>
                            </ul>
                            <p><a href="">了解详情</a></p>
                        </div>
                    </div>
                    <h2 class="line-05"></h2>
                    <div class="product-d-3 clear">
                        <div class="fl product-img">
                            <img src="//imgcache.qq.com/open_proj/proj_qcloud_v2/qcloud_2015/css/img/solution/mix-manage-3.png">
                        </div>
                        <div class="fr product-contents">
                            <h4 class="title">专线接入</h4>
                            <p>
                                独享、稳定、可靠的大流量专线接入服务。本地接入点覆盖十余主力城市、一次接入即可与龙腾云内网互联、全网络双线热备份单条故障不影响专线正常运行。使用龙腾云专线连接本地数据中心，轻松构建混合云架构。</p>
                            <ul class="clear">
                                <li>
                                    <h2>可靠</h2>
                                    <p>多路径冗余备份</p>
                                </li>
                                <li style="border-left:2px solid #ddd;border-right:2px solid #ddd;">
                                    <h2>方便</h2>
                                    <p>接入点覆盖广</p>
                                </li>
                                <li>
                                    <h2>大带宽</h2>
                                    <p>支持10Gbps带宽</p>
                                </li>
                            </ul>
                            <p><a href="">了解详情</a></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
