<div id="beian">
    <div class="beian-img">
        <h1></h1>
    </div>
    <div style="position:relative;margin-bottom: 60px; ">
        <h2 style="text-align: center;padding:0 0 40px 0;">备案流程</h2>
        <ul class="clear">
            <li>
                <i><img src="/images/person2.svg" alt=""></i>
                <i style="display: none"><img src="/images/person1.svg" alt=""></i>
                <p>进入备案系统</p>
                <span>1</span>
            </li>
            <li>
                <i><img src="/images/write2.svg" alt=""></i>
                <i style="display: none"><img src="/images/write1.svg" alt=""></i>
                <p>填写信息提交初审</p>
                <span>2</span>
            </li>
            <li>
                <i><img src="/images/top2.svg" alt=""></i>
                <i style="display: none"><img src="/images/top1.svg" alt=""></i>              </i>
                <p>上传备案资料</p>
                <span>3</span>
            </li>
            <li>
                <i><img src="/images/search2.svg" alt=""></i>
                <i style="display: none"><img src="/images/search1.svg" alt=""></i>               </i>
                <p>管局审核</p>
                <span>4</span>
            </li>
            <li>
                <i><img src="/images/right2.svg" alt=""></i>
                <i style="display: none"><img src="/images/right1.svg" alt=""></i>              </i>
                <p>备案成功</p>
                <span>5</span>
            </li>
        </ul>
        <h3 class="line-red"></h3>
        <span class="oneday">1个工作日</span>
        <span class="twoday">耐心等待，约20个工作日</span>
        <div class="fl" style="    width: 100%;text-align: center; margin-top: 40px;">
            <a  href="/horizon/auth/login/" target="_self" class="btn-an" >开始备案</a>
        </div>
    </div>
</div>