<div id="idc" class="dsotos">
    <div class="solution-img">
        <div>
            <h1>数据中心解决方案</h1>
            <p>
                xxxxx云的IDC产品解决方案能帮助传统IDC企业一步上云，实现传统数据中心转为云数据中心，让传统IDC企业可提供创新的公有xxxxx服务。该产品不仅封装了xxxxx云基础云平台技术，还封装了xxxxx云多年来在公有云领域的成熟运营经验。该产品提供从IaaS功能产品与管理、PaaS/SaaS支撑能力，到云认证计费、云监控等全业务云计算产品链，稳定可靠、部署简单、快速定制，一天之内就可完成IDC公有云部署。</p>
            <p><a  href="/horizon/auth/login/" target="_self">立即咨询</a></p>
        </div>
    </div>

    <div class="solution-contents">
        <div class="clear solutions stitle">
            <ul class="">
                <li><a href="" class="md" name="#a1s">面临的调整</a></li>
                <li><a href="" class="md" name="#a2">方案特点</a></li>
                <!--<li><a href="" class="md" name="#a3">发展趋势</a></li>-->
                <li><a href="" class="md" name="#a4">方案架构</a></li>
            </ul>
            <div class="clear ">
                <a href="/horizon/auth/login/" target="_self"><button style="margin-top:8px;">立即咨询</button></a>
            </div>
        </div>
        <script>
            smallt.stitleH = $(".stitle").offset().top;//页面加载就取下固定值
            smallt.left = parseInt($(".stitle").css("left"));
        </script>

        <div class="jjfa" style="background:#edf7ff ">
            <p class="jjfatitlep">面临的调整</p>
            <div class="contents ct4">
                <a id="a1s"></a>
                <div class="container-fluid">
                    <div class="row">
                        <div class="neirong jjfalszj clear jjfats" style=" border: 0px solid #ddd;">
                            <ul class="clear neirong-title">
                                <li style="background:#fff" class="col-md-3"><a style="color:#2277e6;"
                                                                                href="javascript:;">助力IDC企业快速转型</a></li>
                                <li class="col-md-3"><a href="javascript:;">大幅降低IDC企业的运营成本</a></li>
                                <li class="col-md-3"><a href="javascript:;">提升IDC企业的品牌力量</a></li>
                                <li class="col-md-3"><a href="javascript:;"> 快速整合企业资源</a></li>
                            </ul>
                            <div class="neirong-content nr0 col-md-12">
                                <ol class="fl"></ol>
                                <div>
                                    <h4>问题</h4>
                                    <p style="margin-bottom:20px;">公司传统业务在云计算的新鲜技术下冲击严重，导致客户严重流失。</p>
                                    <h4>解决方案</h4>
                                    <p>在确保原有IDC业务下，从云技术进行业务创新与转型，xxxxx云坚实的虚拟化技术助您轻松接入云技术、步入云行业，与时俱进。</p>
                                </div>
                            </div>
                            <div class="neirong-content nr1 col-md-12" style="display: none;">
                                <ol class="fl"></ol>
                                <div>
                                    <h4>问题</h4>
                                    <p style="margin-bottom:20px;">硬件资源利用率较低，建设运营成本较高。</p>
                                    <h4>解决方案</h4>
                                    <p>低成本接入xxxxx云云化技术；主机到云主机的转型，大幅降低IDC客户购买成本。</p>
                                </div>
                            </div>
                            <div class="neirong-content nr2 col-md-12" style="display: none;">
                                <ol class="fl"></ol>
                                <div>
                                    <h4>业务需求</h4>
                                    <p style="margin-bottom:20px;">成为IDC行业标杆，提升品牌影响力。</p>
                                    <h4>解决方案</h4>
                                    <p>xxxxx云为IDC企业提供了向公有xxxxx服务转型的能力，企业可基于云平台打造智慧型的混合云管理服务平台，提升自身品牌影响力。</p>
                                </div>
                            </div>
                            <div class="neirong-content nr3 col-md-12" style="display: none;">
                                <ol class="fl"></ol>
                                <div>
                                    <h4>问题</h4>
                                    <p style="margin-bottom:20px;">业务结构单一，未形成整合优势。</p>
                                    <h4>解决方案</h4>
                                    <p>IDC面临着主机租用用户的大量流失，IDC闲置资源，xxxxx云提供涵盖硬件和软件的整体解决方案，迅速搭建起“资源池”，充分利用闲置资源。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <a id="a2"></a>
        <p class="jjfatitlep">方案特点</p>
        <div class="jjfa" style="padding-top:0;">

            <ul class="clear">
                <li>
                    <h3>完整公有云平台功能</h3>
                    <p>完整的公有xxxxx服务平台功能
                        转云后的用户可以享受完整的公有xxxxx服务平台功能，享受平台化的便捷管理。</p>
                </li>
                <li>
                    <h3>全局管理与调度</h3>
                    <p>IDC资源全局管理与调度
                        通过平台进行IDC资源的整体调度与全局管理，操作简单，管理便捷。</p>
                </li>
                <li>
                    <h3>一步上云</h3>
                    <p>高效极速部署，传统IDC一步上云
                        专业人员进行部署，部署快速简便，一天之内即可享受云端服务。</p>
                </li>
                <li>
                    <h3>完善的配套服务</h3>
                    <p>完善的云计算平台 专属的销售技能培训 专业的市场材料支持 7*24小时的技术维护支持。</p>
                </li>
            </ul>
        </div>

        <!--<a id="a3"></a>-->
        <!--<p class="jjfatitlep">发展趋势</p>-->
        <!--<div class="jjfa">-->
        <!--<div class="contents ct4">-->
        <!--<div class="container-fluid">-->
        <!--<div class="row">-->
        <!--<div class="neirong clear jjfats">-->
        <!--<ul class="clear neirong-title">-->
        <!--<li style="background:#fff" class="col-md-4"><a style="color:#2277e6;"-->
        <!--href="javascript:;">助力IDC企业快速转型</a></li>-->
        <!--<li class="col-md-4"><a href="javascript:;">大幅降低IDC企业的运营成本</a></li>-->
        <!--<li class="col-md-4"><a href="javascript:;">提升IDC企业的品牌力量</a></li>-->
        <!--</ul>-->
        <!--<div class="neirong-content nr0 col-md-12">-->
        <!--<span>云计算整体市场增速远远高于传统IT：增速的巨大差异，带来的是云计算架构占比的迅速提高，传统IT架构供应商面临着大量客户流失的风险和挑战。数据中心运营商可结合自身在网络、安全及运营方面的专长，推出基于云技术的解决方案，满足客户对于新型服务的需求，同时提高自身运营资源的利用率，拓展新的市场空间。</span>-->
        <!--</div>-->
        <!--<div class="neirong-content nr1 col-md-12" style="display: none;">-->
        <!--<span>虽然云计算和传统IT架构在短期内将并存，但传统架构占比迅速降低，必然带来客户维护成本提高、创新能力限制等严峻挑战，越来越多的传统供应商将面临着经营危机。数据中心运营商积极思考应对之举，已经成为行业发展的必然选择。当前的数据中心增值业务保持较快发展势头，基于云架构的增值业务正成为各数据中心企业形成差异化竞争力的着力点，未来发展前景可观。</span>-->
        <!--</div>-->
        <!--<div class="neirong-content nr2 col-md-12" style="display: none;">-->
        <!--<span>从行业发展趋势来看，云计算正从建设模式、用户行为、业务模式和网络承载等方面改变着数据中心产业。云计算技术在解决原来数据中心发展问题方面成效显著，数据中心业务正在逐步从提供资源转向提供服务，同时，云计算技术能促进数据中心实现节能减排、绿色管理，并为数据中心提供更高的灵活性。</span>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->

        <a id="a4"></a>
        <div class="solut-c1 clear" style="padding-top: 10px;">
            <p class="jjfatitlep" style="margin-bottom:50px;">方案架构</p>

            <div class="clear solut-c">
                <div class="fl">
                    <div class="solut-c-title">
                    </div>
                    <div class="ulli-img">
                        <div style="display: block">
                            <img src="images/index-yjsdyg.png" alt="">
                        </div>

                    </div>
                </div>
                <div class="fr">
                    <div style="display: block;">
                        <h3>架构说明：</h3>
                        <h2></h2>
                        <p><strong>由传统数据中心向云的转化</strong></p>
                        <ul>
                            <li>初始化建立可运营的云平台</li>
                            <li>应用及网络架构分析</li>
                            <li>应用及主机向云端迁移</li>
                            <li>现有系统与云平台并行调测</li>
                            <li>搭建整体运维管理平台</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>
