<div id="image" class="clear">
    <input class="leftLight" type="hidden" value="0" name="imageclass">

    <div class="show">
        <div class="clear">
            <div ng-include="'left.html'"></div>

            <div class="show-word fl">
                <div class="show-word-top">
                    <h2><span>镜像</span></h2>
                    <p>镜像（Image）是一个包含了软件及必要配置的机器模版。 作为基础软件，操作系统是必须的，您也可以根据自己的需求将任何应用软件 （比如，数据库、中间件等）放入镜像中。</p>
                </div>
                <div class="show-word-down">
                    <!--<button>免费体验</button>-->
                    <a href="/horizon/auth/login/" target="_self"><button>立即使用</button></a>
                    <!--<button ng-click="gotoPage('/price')">价格计算</button>-->
                </div>
            </div>
            <div class="show-img fr">
                <img src="images/jingxiang.png" alt="">
            </div>
        </div>
    </div>
    <div class="main-content">
        <div class="clear stitle">
            <ul class="">
                <li><a href="" class="md" name="#gaishu">产品概述</a></li>
                <li><a href="" class="md" name="#cpgn">产品功能</a></li>
                <li><a href="" class="md" name="#a4">行业应用</a></li>

            </ul>
            <div class="clear ">
                <a href="/horizon/auth/login/" target="_self"><button>立即使用</button></a>
                <!--<button ng-click="gotoPage('/price')">价格计算</button>-->
            </div>
        </div>
        <script>
            smallt.stitleH = $(".stitle").offset().top;//页面加载就取下固定值
            smallt.left = parseInt($(".stitle").css("left"));
        </script>
        <div>
            <div class="contents container-fluid  ct3">
                <a id="gaishu"></a>
                <h3>产品概述<span class="fr"></span></h3>
                <div>
                    <div class="row">
                        <table class="col-md-12">
                            <tbody>
                            <tr>
                                <td class="col-md-2"><h4>优势点</h4></td>
                                <td class="col-md-6" style="position: relative">
                                    <div class="tablediv1"></div>
                                    <h4 style="color:#116ddd">镜像服务</h4>
                                </td>
                                <td class="col-md-4">
                                    <h4>传统镜像部署</h4>

                                </td>
                            </tr>
                            <tr>
                                <td class=" ">
                                    <p>便捷</p>
                                </td>
                                <td>
                                    <p>用户可通过云服务器TelCloudHost系统盘备份制作私有镜像，也可通过镜像批量开通云服务器。</p>
                                </td>
                                <td class="">
                                    <p>用户需要用多种工具和复杂操作流程来制作镜像，每启用一台服务器，就需要重复一遍镜像安装的操作。</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="">
                                    <p>安全</p>
                                </td>
                                <td>
                                    <p>使用多份冗余存储私有镜像，持久性达到11个9。</p>
                                </td>
                                <td class="">
                                    <p>镜像安装在服务器中，通过磁盘或光盘等介质备份，安装/备份/恢复等都需要经过复杂操作，且容易损毁。</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="">
                                    <p>灵活</p>
                                </td>
                                <td>
                                    <p>通过控制台完成对镜像的自定义管理，帮助用户轻松搞定镜像管理。</p>
                                </td>
                                <td class="">
                                    <p>传统镜像部署需要维护大量的光盘或者磁盘等介质备份，管理方式复杂。</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="">
                                    <p>统一</p>
                                </td>
                                <td style="position: relative">
                                    <p>通过自定义镜像，实现应用系统统一部署与升级，提高维护效率。保证应用环境的一致性， 简化升级维护。</p>
                                    <div class="tablediv2"></div>
                                </td>
                                <td class="">
                                    <p>需要在基础操作系统镜像上部署与配置应用软件，多节点部署下，需要增加额外的配置与同步的工作量。</p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="contents container-fluid  ct8">
                <a id="cpgn"></a>
                <h3>产品功能<span class="fr"></span></h3>
                <div class="notes">
                    <p></p>
                    <div>
                        <ul class="">
                            <li>
                                <h4>丰富的镜像来源</h4>
                                <p>龙腾云提供以下两种镜像：</p>
                                <p>公有镜像：由龙腾云官方提供，由基础操作系统和龙腾提供的初始化组件构成，所有用户均可使用。</p>
                                <p>自定义镜像：由用户通过镜像制作功能制作的镜像，用户制作的镜像只有该账户可以使用。</p>
                            </li>
                            <li>
                                <h4>备份服务器运行环境</h4>
                                <p>自定义镜像可以用来备份服务器的系统盘，数据丢失时，快速恢复。</p>
                            </li>
                            <li>
                                <h4>批量部署软件环境</h4>
                                <p>通过对已经部署好环境的云主机制作镜像批量创建云服务器以此达到快速批量部署软件环境。</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="contents container-fluid ct1">
                <div class="row">
                    <a id="a4"></a>
                    <h3>行业应用<span class="fr"></span></h3>
                    <div class="img-center clear" title="行业应用">
                        <div>
                            <img src="images/sydw.png" alt="">
                            <p>企事业单位</p>
                        </div>
                        <div>
                            <img src="images/game.png" alt="">
                            <p>游戏</p>
                        </div>
                        <div>
                            <img src="images/jinrong.png" alt="">
                            <p>金融</p>
                        </div>
                        <div>
                            <img src="images/syhz.png" alt="">
                            <p>商业企业</p>
                        </div>
                        <div>
                            <img src="images/lingshou.png" alt="">
                            <p>零售</p>
                        </div>
                        <div>
                            <p style="text-align:center;line-height:70px;font-size: 34px;">...</p>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!--<script src="js/jsy.js"></script>-->