<div id="index">
    <input class="leftLight" type="hidden" value="0" name="index-2class">
    <div class="index-nav-black2"
         style="position: absolute;top:0;left:0;width:100%;height:67px;background:transparent;z-index: 1000;"></div>
    <div class="index-nav-black"
         style="position: absolute;top:0;left:0;width:100%;height:65px;background:rgba(0,0,0,0.8);z-index: 1000;display: none;"></div>
    <div class="lunbo clear">
        <div class="lunbo-big clear">
            <div class="lunbo-team">
                <div class="lunimg">
                    <!--<img src="images/lun3.png" alt="">-->
                </div>
                <div class="lunbo-inner lunbo-inner">
                    <!--<h1>全新官网，全新形象</h1>
                    <h4>
                        将完整、全新的 TelCloud 形象展示于此，希望您能
                        <br>
                        受到我们的与众不同。
                    </h4>-->
                    <!-- <div class="tl-element" style="margin-left: 612px;margin-top: -64px;position: absolute;opacity: 1;left: 352px;">
                        <img style="height: auto;" width="400" src="/images/logo.png"></div>
                   <div class="inner-11_log"></div>-->
                    <!--<a ng-click="gotoPage('/gstd')" href=""><i class="icon iconfont"></i>了解详情</a>-->
                </div>
            </div>
            <div class="lunbo-team">
                <div class="lunimg" style="cursor: pointer;" ng-click="gotoPage('/huodong1')">

                </div>
                <div class="lunbo-inner lunbo-inner-1">

                </div>
            </div>
            <div class="lunbo-team">
                <div class="lunimg">
                    <!--<img src="images/lun3.png" alt="">-->
                </div>
                <div class="lunbo-inner lunbo-inner-2">
                    <!--  <h1>
                          TelCloud 云监控
                      </h1>
                      <h4>
                          利用业界先进的云技术、大数据技术以及移动
                          <br>
                          互联彻底重构了运维体系，提供高效、安全
                          <br>
                          易用的一站式IT海量敏捷运维管理平台
                      </h4>-->
                    <a ng-click="gotoPage('/jsy')" href=""><i class="icon iconfont"></i>了解详情</a>
                </div>
            </div>

            <div class="lunbo-team">
                <div class="lunimg">
                    <!--<img src="images/lun4.png" alt="">-->
                </div>
                <div class="lunbo-inner lunbo-inner-3">
                   <!-- <h1>私有云是和公有云一样的
                        <br>企业基础设施</h1>
                    <h4>
                        提升资源利用率
                        <br>
                        提供数据共享
                        <br>
                        降低企业运营成本
                    </h4>-->
                    <a ng-click="gotoPage('/news-cont6')" href=""><i class="icon iconfont"></i>了解详情</a>
                </div>
            </div>
            <div class="lunbo-team">
                <div class="lunimg">
                    <!--<img src="images/lun1.png" alt="">-->
                </div>
                <div class="lunbo-inner lunbo-inner-4">
                   <!-- <h1>LSO电信服务编排</h1>
                    <h4>能够处理从客户订单到服务交付的控制，从数据采集到
                        <br>
                        确保性能等级，从故障修复到提供使用报告，再到为客<br>户提供各种分析报告等等的一切业务。
                    </h4>-->
                    <a ng-click="gotoPage('/newlibao')" href=""><i class="icon iconfont"></i>了解详情</a>

                </div>
            </div>

            <div class="lunbo-team">
                <div class="lunimg">
                    <!--<img src="images/lun3.png" alt="">-->
                </div>
                <div class="lunbo-inner lunbo-inner-5">
                   <!-- <h1>高速通道服务正式商用</h1>
                    <h4>在不同数据中心、云、以及办公网络之间实现
                        <br>
                        高速、稳定、安全的私网通信
                    </h4>-->
                    <a ng-click="gotoPage('/gstd')" href=""><i class="icon iconfont"></i>了解详情</a>

                </div>
            </div>
            <div class="lunbo-team">
                <div class="lunimg">
                    <!--<img src="images/lun3.png" alt="">-->
                </div>
                <div class="lunbo-inner lunbo-inner-6">
                    <!--<h1 style="margin-left: -188px;">混合云</h1>
                    <h4>在不同数据中心、云、以及办公网络之间实现-->
                        <!--<br>-->
                        <!--高速、稳定、安全的私网通信-->
                    <!--</h4>-->
                    <a ng-click="gotoPage('/hhyjj')" href=""><i class="icon iconfont"></i>了解详情</a>

                </div>
            </div>
            <div class="lunbo-team">
                <div class="lunimg">
                    <!--<img src="images/lun3.png" alt="">-->
                </div>
                <div class="lunbo-inner lunbo-inner-7">
                  <!--  <h1>
                        TelCloud智慧云网关
                    </h1>
                    <h4>一体化融合网络接入、管控、优化、审计、
                        <br>
                        运营等功能的高性能综合应用云网关。
                        <br>
                        面向政府、金融、教育、企业等多行业客户
                        <br>
                        不同网络规模业务场景。
                    </h4>-->
                    <a ng-click="gotoPage('/syy')" href=""><i class="icon iconfont"></i>了解详情</a>
                </div>
            </div>
            <div class="lunbo-team">
                <div class="lunimg">
                    <!--<img src="images/lun4.png" alt="">-->
                </div>
                <div class="lunbo-inner lunbo-inner-8">
                    <!--  <h1>龙腾佳讯成功挂牌新三板</h1>
                      <h4>股票代码：839433</h4>-->
                    <a ng-click="gotoPage('/hlwjr')" href=""><i class="icon iconfont"></i>了解详情</a>
                </div>
            </div>

            <div class="lunbo-team">
                <div class="lunimg" ng-click="gotoPage('/huodong1')">
                    <!--<img src="images/lun3.png" alt="">-->
                </div>
                <div class="lunbo-inner lunbo-inner-9">
                    <!-- <h1>私有云是和公有云一样的
                         <br>企业基础设施</h1>
                     <h4>
                         提升资源利用率
                         <br>
                         提供数据共享
                         <br>
                         降低企业运营成本
                     </h4>-->
                    <a ng-click="gotoPage('/zhy')" href=""><i class="icon iconfont"></i>了解详情</a>
                </div>

            </div>
            <div class="lunbo-team">
                <div class="lunimg">
                   <!--<img src="images/lun3.png" alt="">-->
                </div>
                <div class="lunbo-inner lunbo-inner-10">
                   <!-- <h1>零网费，使用**</h1>
                    <h4>
                        即刻加入，四种优惠政策，供您选择。
                        <br>
                    </h4>-->
                    <a ng-click="gotoPage('/yjkproduct')" href=""><i class="icon iconfont"></i>了解详情</a>
                </div>
            </div>


        </div>
        <div class="cControl">
            <a class="shang fl" href="javascript:;">

                <i class="icon iconfont">&#xe697;</i>
            </a>
            <a class="xia fr" href="javascript:;">
                <i class="icon iconfont">&#xe6a7;</i>
            </a>
        </div>

        <ul class="lunbo-circle ">
            <li style="opacity:1;">
                <span class="names">新官网</span>

                <span class="lunindex">1</span>
            </li>
            <li>
                <span class="names">周年惠</span>
                <span class="lunindex">2</span>
            </li>
            <li>
                <span class="names">云网互通</span>
                <span class="lunindex">3</span>
            </li>
            <li>
                <span class="names">新三板</span>
                <span class="lunindex">4</span>
            </li>
            <li>
                <span class="names">专享礼包</span>
                <span class="lunindex">5</span></li>
            <li>
                <span class="names">高速通道</span>
                <span class="lunindex">6</span></li>
            <li>
                <span class="names">混合云</span>
                <span class="lunindex">7</span></li>
            <li>
                <span class="names">私有云</span>
                <span class="lunindex">8</span></li>
            <li>
                <span class="names">电信云</span>
                <span class="lunindex">9</span></li>
            <li>
                <span class="names">安全云</span>
                <span class="lunindex">10</span></li>
            <li>
                <span class="names">云监控</span>
                <span class="lunindex">11</span>
            </li>
        </ul>
    </div>

    <div class="promotion">
        <ul class="clear">
            <li class="">
                <a href="" ng-click="gotoPage('/free')">
                    <div class="fl">
                        <img src="images/lundown01.png" alt="">
                    </div>
                    <div class="fr">
                        <span>免费体验馆</span>
                        <p>企业用户15天免费体验</p>
                    </div>
                </a>
            </li>
            <li class="">
                <a href="" ng-click="gotoPage('/newlibao')">
                    <div class="fl">
                        <img src="images/lundown02.png" alt="">
                    </div>
                    <div class="fr">
                        <span>专享礼包</span>
                        <p>新用户专享礼包</p>
                    </div>
                </a>
            </li>
            <li class="">
                <a href="" ng-click="gotoPage('/huodong1')">
                    <div class="fl">
                        <img src="images/lundown03.png" alt="">
                    </div>
                    <div class="fr">
                        <span>低至四折</span>
                        <p>云产品全线降价</p>
                    </div>
                </a>
            </li>
            <li class="">
                <a href="" ng-click="gotoPage('/beian')">
                    <div class="fl">
                        <img src="images/lundown04.png" alt="">
                    </div>
                    <div class="fr" style="border:none;">
                        <span>0元备案</span>
                        <p>专属客服+全程服务</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="index-c index-c-0">
        <div>
            <h2>我们的产品</h2>
            <p>**TelCloud使IT、通信、安全、服务的交付更加简单、高效、可靠。</p>
            <div class="indexshowteam clear">
                <div class="index-show index-show-1" style="display: none;">
                    <div>
                        <img src="images/3.png" alt="">
                        <h3>IaaS公有云/私有云</h3>
                        <h1></h1>
                    </div>
                    <ul>
                        <li>
                            <a href="">云主机 TelCloud Host</a>
                        </li>
                        <li><a href="">私有云Openstack Cloud</a></li>
                        <!--<li><a href="">...</a></li>-->
                    </ul>
                </div>
                <div class="index-show2 index-show-12 active" style="top:-30px;">
                    <div style="text-align: left;">
                        <div class="fl" style="width: 80px;height:80px;margin:-14px 20px 0 0">
                            <img src="images/3.png" style="width:100%;height:100%;" alt="">
                        </div>
                        <h3>IaaS公有云/私有云</h3>
                        <p>秒级响应 按需付费</p>
                        <h1></h1>
                    </div>
                    <ul>
                        <li>
                            <div>
                                <h3>云主机 TelCloud Host</h3>
                                <p>为您提供简单易用、安全可靠、弹性伸缩、按需付费的计算服务</p>
                            </div>

                            <a ng-click="gotoPage('/jsy')" href="">了解详情</a>
                            <!--<span>优惠</span>-->
                        </li>
                        <li>
                            <div>
                                <h3>私有云Openstack Cloud</h3>
                                <p>为您的企业、组织提供高度弹性和可扩展的IT基础架构平台</p>
                            </div>

                            <a ng-click="gotoPage('/syy')" href="">了解详情</a>
                            <span></span>
                        </li>
                    </ul>
                    <!--<a href="">更多产品</a>-->
                </div>
                <div class="index-show index-show-2">
                    <div>
                        <img src="images/2.png" alt="">
                        <h3>CaaS电信云</h3>
                        <h1></h1>
                    </div>
                    <ul>
                        <li><a href="">互联网接入服务</a></li>
                        <li><a href="">高速通道专有网络</a></li>
                        <!--<li><a href="">...</a></li>-->
                    </ul>
                </div>
                <div class="index-show2 index-show-22">
                    <div style="text-align: left;">
                        <div class="fl" style="width: 80px;height:80px;margin:-14px 20px 0 0">
                            <img src="images/2.png" style="width:100%;height:100%;" alt="">
                        </div>
                        <h3>CaaS电信云</h3>
                        <p>云网互通 秒达八方</p>
                        <h1></h1>
                    </div>
                    <ul>
                        <li>
                            <div>
                                <h3>互联网接入服务</h3>
                                <p>LSO服务生命周期理论框架下搭建、实现一站式下单、全自助便捷、高效、灵活服务。</p>
                            </div>

                            <a ng-click="gotoPage('/hlwjr')" href="">了解详情</a>
                            <!--<span>新品</span>-->
                        </li>
                        <li>
                            <div>
                                <h3>高速通道专有网络</h3>
                                <p>在不同数据中心、云、以及办公网络之间实现高速、稳定、安全的私网通信</p>
                            </div>

                            <a ng-click="gotoPage('/gstd')" href="">了解详情</a>
                            <!--<span>新品</span>-->
                        </li>
                    </ul>
                    <!--<a href="">更多产品</a>-->
                </div>
                <div class="index-show index-show-3">
                    <div>
                        <img src="images/1.png" alt="">
                        <h3>SECaaS安全</h3>
                        <h1></h1>
                    </div>
                    <ul>
                        <li><a href="">智慧云网关</a></li>
                        <li><a href="">云抗D</a></li>
                        <!--<li><a href="">...</a></li>-->
                    </ul>
                </div>
                <div class="index-show2 index-show-32">
                    <div style="text-align: left;">
                        <div class="fl" style="width: 80px;height:80px;margin:-14px 20px 0 0">
                            <img src="images/1.png" style="width:100%;height:100%;" alt="">
                        </div>
                        <h3>SECaaS安全</h3>
                        <p>固若金汤 内外兼防</p>
                        <h1></h1>
                    </div>
                    <ul>
                        <li>
                            <div>
                                <h3>智慧云网关</h3>
                                <p>一体化融合接入、管控、优化、审计运营等功能的高性能综合应用云网关。</p>
                            </div>

                            <a ng-click="gotoPage('/zhy')" href="">了解详情</a>
                            <!--<span>新品</span>-->
                        </li>
                        <li>
                            <div>
                                <h3>云抗D</h3>
                                <p>全自助购买多种套餐服务，防御即开即用，按需扩容，无黑洞，让您轻松防御。</p>
                            </div>

                            <a ng-click="gotoPage('/kangD')" href="">了解详情</a>
                            <span></span>
                        </li>
                    </ul>
                    <!--<a href="">更多产品</a>-->
                </div>
                <div class="index-show index-show-4">
                    <div>
                        <img src="images/4.png" alt="">
                        <h3>SaaS 软件云</h3>
                        <h1></h1>
                    </div>
                    <ul>
                        <li><a href="">云监控(SaaS版)</a></li>
                        <li><a href="">云监控(私用云版)</a></li>
                        <!--<li><a href="">...</a></li>-->
                    </ul>
                </div>
                <div class="index-show2 index-show-42">
                    <div style="text-align: left;">
                        <div class="fl" style="width: 80px;height:80px;margin:-14px 20px 0 0">
                            <img src="images/4.png" style="width:100%;height:100%;" alt="">
                        </div>
                        <h3>SaaS 软件云</h3>
                        <p>自取所需 包罗万象</p>
                        <h1></h1>
                    </div>
                    <ul>
                        <li>
                            <div>
                                <h3>云监控(SaaS版)</h3>
                                <p>易用、安全的云监控，5分钟完成部署即享高品质IT监控服务</p>
                            </div>

                            <a ng-click="gotoPage('/yjkproduct')" href="">了解详情</a>
                            <span></span>
                        </li>
                        <li>
                            <div>
                                <h3>云监控(私有云版)</h3>
                                <p>全球首款“云网管”软件，分布式架构，性能超强，支持四级架构。</p>
                            </div>

                            <a ng-click="gotoPage('/yjkproduct')" href="">了解详情</a>
                            <span></span>
                        </li>
                    </ul>
                    <!--<a href="">更多产品</a>-->
                </div>
            </div>
        </div>

    </div>
    <div class="index-c index-c-1-title">
        <div>
            <h2 class="title">多种行业解决方案</h2>
            <p class="des-text">**多套解决方案，助力您快速步入“互联网+”时代</p>
        </div>
        <ul class="clear">
            <li>
                <h6></h6>
                <ol></ol>

                <div>
                    <div class="index-c1-img">
                        <img src="images/indexjjfa1.png" alt="">
                        <b class="line"></b>
                        <h3>电商解决方案</h3>
                    </div>
                    <div class="hoverblock ">
                        <p>
                            结合大数据能力帮助电商企业快速搭建平台、应对业务高并发，剖析秒杀、视频直播等场景
                        </p>
                        <a ng-click="gotoPage('/jjfa')" href="javascript:;">查看详情</a>
                    </div>
                </div>

            </li>
            <li>
                <h6></h6>
                <ol></ol>

                <div>
                    <div class="index-c1-img">
                        <img src="images/indexjjfajr.png" alt="">
                        <b class="line"></b>
                        <h3>数据中心解决方案</h3>
                    </div>
                    <div class="hoverblock ">
                        <p>
                            **的IDC产品解决方案能帮助传统IDC企业一步上云，实现传统数据中心转为云数据中心，让传统IDC企业可提供创新的公有云服务。
                        </p>
                        <a ng-click="gotoPage('/idcjjfa')" href="">查看详情</a>
                    </div>
                </div>

            </li>
            <li>
                <h6></h6>
                <ol></ol>

                <div>
                    <div class="index-c1-img">
                        <img src="images/indexjjfawz.png" alt="">
                        <b class="line"></b>
                        <h3>零售解决方案</h3>
                    </div>
                    <div class="hoverblock ">
                        <p>
                            **提供云服务器与物理机混合组网服务，保障高性能计算对CPU、内存的高要求，提供公有云与私有云之间专线互通组网，实现业务快速迁移。
                        </p>
                        <a ng-click="gotoPage('/lsjj')" href="">查看详情</a>
                    </div>
                </div>

            </li>
            <li>
                <h6></h6>
                <ol></ol>

                <div>
                    <div class="index-c1-img">
                        <img src="images/indexjjfayp.png" alt="">
                        <b class="line"></b>
                        <h3>混合云解决方案</h3>
                    </div>
                    <div class="hoverblock ">
                        <p>
                            既拥有私有云的掌控性、安全性和性能，又能发挥公有云所能提供的弹性、经济性和速度。
                        </p>
                        <a ng-click="gotoPage('/hhyjj')" href="">查看详情</a>
                    </div>
                </div>

            </li>
            <li>
                <h6></h6>
                <ol></ol>
                <div>
                    <div class="index-c1-img">
                        <img src="images/indexjjfaapp.png" alt="">
                        <b class="line"></b>
                        <h3>呼叫中心解决方案</h3>
                    </div>
                    <div class="hoverblock ">
                        <p>
                            云呼叫中心，即采用云技术，使得呼叫中心的运营无需采购过多的设备，在网络带宽充足的情况下，使用移动终端上网即可实现呼叫应用的模式。
                        </p>
                        <a ng-click="gotoPage('/callc')" href="">查看详情</a>
                    </div>
                </div>

            </li>
        </ul>

    </div>
    <div class="index-c index-c-3">
        <div>
            <h2>众多用户的选择</h2>
            <p>用户的信任，是**不断的前进的动力</p>
            <div style="margin: 10px 0 0 0;">
                <ul class="clear">
                    <li class="sdhover">
                        <div>
                            <h4>红牛</h4>
                            <h2 class="dotted-line"></h2>
                            <p>
                                行业领域：快速消费品领域
                            </p>
                            <p>
                                业务范围：功能型饮料的研发及生产
                            </p>
                        </div>
                    </li>
                    <li class="sdhover">
                        <div>
                            <h4>贝塔斯曼</h4>
                            <h2 class="dotted-line"></h2>
                            <p>
                                行业领域：咨询领域
                            </p>
                            <p>
                                业务范围：业务咨询，信息技术及业务外包服务提供商
                            </p>
                        </div>
                    </li>
                    <li class="sdhover">
                        <div>
                            <h4>安信华</h4>
                            <h2 class="dotted-line"></h2>
                            <p>
                                行业领域：科技推广和应用服务领域
                            </p>
                            <p>
                                业务范围：软件服务；计算机系统服务；生产计算机软硬件等
                            </p>
                        </div>
                    </li>
                    <li class="sdhover">
                        <div>
                            <h4>宝马</h4>
                            <h2 class="dotted-line"></h2>
                            <p>
                                行业领域：车辆制造领域
                            </p>
                            <p>
                                业务范围：高端汽车
                            </p>
                        </div>
                    </li>
                    <li class="sdhover">
                        <div>
                            <h4>中网</h4>
                            <h2 class="dotted-line"></h2>
                            <p>
                                行业领域：网球领域
                            </p>
                            <p>
                                业务范围：网球赛事
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <div class="index-c index-c-2">
        <div class="  clear">

            <div class="index-news fl clear">
                <h2 class="clear">
                    <span class="fl">新鲜动态</span>
                    <ul class="fl newsLi ">
                        <li style="margin:-2px 0 0 0 ;border-bottom:2px solid #2277da">最新</li>
                        <!--<li>产品动态</li>-->
                        <!--<li>媒体报道</li>-->
                    </ul>
                </h2>
                <div class="news-title">
                    <ul class="clear new-0">
                        <li ng-click="gotoPage('/news-cont10')">
                            <a href="">2017.02.13 <b></b>
                                <span>龙全新形象、全新改变 ——**官网全新改版上线</span>
                            </a>
                        </li>
                        <li ng-click="gotoPage('/news-cont9')">
                            <a href="">2017.01.25 <b></b>
                                <span>龙腾佳讯成为清华大数据产业联合会理事单位</span>
                            </a>
                        </li>
                        <li ng-click="gotoPage('/news-cont8')">
                            <a href="">2016.12.19 <b></b>
                                <span>"**"携手伙伴共展云途，看看这是一朵什么云？</span>
                            </a>
                        </li>
                        <li ng-click="gotoPage('/news-cont7')">
                            <a href="">2016.12.05 <b></b>
                                <span>合众力 作云端 运千家 营未来</span>
                            </a>
                        </li>
                        <li ng-click="gotoPage('/news-cont6')">
                            <a href="">2016.12.01 <b></b>
                                <span>【喜报】热烈祝贺龙腾佳讯成功挂牌新三板</span>
                            </a>
                        </li>
                        <li ng-click="gotoPage('/news-cont5')">
                            <a href="">2016.09.27 <b></b>
                                <span>**安全服务正在成为企业云服务的主流</span>
                            </a>
                        </li>


                    </ul>
                    <!--<ul class="clear new-1" style="display: none;">-->
                    <!--<li>-->
                    <!--<a href="">-->
                    <!--12.28 <b></b>-->
                    <!--<span>58集团CTO做客**会客厅：从云计算开始的新一轮角逐</span>-->
                    <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a href="">-->
                    <!--11.22 <b></b>-->
                    <!--<span>58集团CTO做客**会客厅：从云计算开始的新一轮角逐</span>-->
                    <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a href="">-->
                    <!--12.22 <b></b>-->
                    <!--<span>58集团CTO做客**会客厅：从云计算开始的新一轮角逐</span>-->
                    <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a href="">-->
                    <!--12.22 <b></b>-->
                    <!--<span>58集团CTO做客**会客厅：从云计算开始的新一轮角逐</span>-->
                    <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a href="">-->
                    <!--11.28 <b></b>-->
                    <!--<span>58集团CTO做客**会客厅：从云计算开始的新一轮角逐</span>-->
                    <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a href="">-->
                    <!--11.28 <b></b>-->
                    <!--<span>58集团CTO做客**会客厅：从云计算开始的新一轮角逐</span>-->
                    <!--</a>-->
                    <!--</li>-->
                    <!--</ul>-->
                    <!--<ul class="clear new-2" style="display: none;">-->
                    <!--<li>-->
                    <!--<a href="">-->
                    <!--09.28 <b></b>-->
                    <!--<span>58集团CTO做客**会客厅：从云计算开始的新一轮角逐</span>-->
                    <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a href="">-->
                    <!--09.28 <b></b>-->
                    <!--<span>58集团CTO做客**会客厅：从云计算开始的新一轮角逐</span>-->
                    <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a href="">-->
                    <!--09.28 <b></b>-->
                    <!--<span>58集团CTO做客**会客厅：从云计算开始的新一轮角逐</span>-->
                    <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a href="">-->
                    <!--11.28 <b></b>-->
                    <!--<span>58集团CTO做客**会客厅：从云计算开始的新一轮角逐</span>-->
                    <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a href="">-->
                    <!--11.28 <b></b>-->
                    <!--<span>58集团CTO做客**会客厅：从云计算开始的新一轮角逐</span>-->
                    <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a href="">-->
                    <!--11.28 <b></b>-->
                    <!--<span>58集团CTO做客**会客厅：从云计算开始的新一轮角逐</span>-->
                    <!--</a>-->
                    <!--</li>-->
                    <!--</ul>-->
                </div>
            </div>
            <div class="fr clear news-img">
                <h2>长期活动</h2>
                <a ng-click="gotoPage('/newlibao')" href="" style="display: block;">
                    <img src="images/huodongdddddd.png" alt="">
                </a>
            </div>
        </div>
    </div>
    <div class="index-c safety">
        <ul class="clear">
            <li>
                <b class="bei724"></b>
                <span>7*24小时服务</span>
            </li>
            <li>
                <b class="bei5"></b>
                <span>15天免费体验</span>
            </li>
            <li>
                <b class="bei0"></b>
                <span>0元备案</span>
            </li>
            <li>
                <b class="bei1v1"></b>
                <span>1V1 大客户服务</span>
            </li>
        </ul>
    </div>


</div>


