<div id="index">
    <input class="leftLight" type="hidden" value="0" name="index-2class">
    <div class="index-nav-black2"
         style="position: absolute;top:0;left:0;width:100%;height:67px;background:transparent;z-index: 1000;"></div>
    <div class="index-nav-black"
         style="position: absolute;top:0;left:0;width:100%;height:65px;background:rgba(0,0,0,0.8);z-index: 1000;display: none;"></div>
    <div class="lunbo clear">

        <div class="lunbo-big clear">
            <div class="lunbo-team">
                <div class="lunimg-a"  ng-click="gotoPage('/saas/telcloudaccelerate')">
                </div>
                <div class="lunbo-inner lunbo-inner-1">
                    <a ng-click="gotoPage('/saas/telcloudaccelerate')" href=""><i class="icon iconfont"></i>了解详情</a>
                </div>
            </div>
            <div class="lunbo-team">
                <div class="lunimg-b"   ng-click="gotoPage('/news-cont31')">
                </div>
                <div class="lunbo-inner lunbo-inner-2">
                    <a ng-click="gotoPage('/news-cont31')" href=""><i class="icon iconfont"></i>了解详情</a>
                </div>
            </div>
            <div class="lunbo-team">
                <div class="lunimg-c" style="cursor: pointer;" ng-click="gotoPage('/sales')">

                </div>
                <div class="lunbo-inner lunbo-inner-3">

                </div>
            </div>
            <div class="lunbo-team">
                <div class="lunimg-d">
                </div>
                <div class="lunbo-inner lunbo-inner-4">
                    <a ng-click="gotoPage('/giftpackage')" href=""><i class="icon iconfont"></i>了解详情</a>
                </div>
            </div>
            <div class="lunbo-team">
                <div class="lunimg-e">
                </div>
                <div class="lunbo-inner lunbo-inner-5">
                    <a ng-click="gotoPage('/iaas/telcloudhost')" href=""><i class="icon iconfont"></i>了解详情</a>
                </div>
            </div>
            <div class="lunbo-team">
                <div class="lunimg-f">
                </div>
                <div class="lunbo-inner lunbo-inner-6">
                    <a ng-click="gotoPage('/secaas/gateway')" href=""><i class="icon iconfont"></i>了解详情</a>
                </div>
            </div>
            <div class="lunbo-team">
                <div class="lunimg-g">
                </div>
                <div class="lunbo-inner lunbo-inner-7">
                    <a ng-click="gotoPage('/secaas/anti-ddos')" href=""><i class="icon iconfont"></i>了解详情</a>

                </div>
            </div>
            <div class="lunbo-team">
                <div class="lunimg-h">
                </div>
                <div class="lunbo-inner lunbo-inner-8">
                    <a ng-click="gotoPage('/saas/telcloudmonitor')" href=""><i class="icon iconfont"></i>了解详情</a>

                </div>
            </div>
            <div class="lunbo-team">
                <div class="lunimg-i">
                    <!--<img src="images/lun3.png" alt="">-->
                </div>
                <div class="lunbo-inner lunbo-inner-9">
                    <!--<h1 style="margin-left: -188px;">混合云</h1>
                    <h4>在不同数据中心、云、以及办公网络之间实现-->
                        <!--<br>-->
                        <!--高速、稳定、安全的私网通信-->
                    <!--</h4>-->
                    <a ng-click="gotoPage('/caas/expressconnect')" href=""><i class="icon iconfont"></i>了解详情</a>

                </div>
            </div>
            <div class="lunbo-team">
                <div class="lunimg-j">
                </div>
                <div class="lunbo-inner lunbo-inner-10">
                    <a ng-click="gotoPage('/caas/internetaccess')" href=""><i class="icon iconfont"></i>了解详情</a>
                </div>
            </div>
            <div class="lunbo-team">
                <div class="lunimg-k">
                </div>
                <div class="lunbo-inner lunbo-inner-11">
                    <a ng-click="gotoPage('/openstackcloud')" href=""><i class="icon iconfont"></i>了解详情</a>
                </div>
            </div>
            <div class="lunbo-team">
                <div class="lunimg-l" ng-click="gotoPage('/sales')">
                </div>
                <div class="lunbo-inner lunbo-inner-12">
                    <a ng-click="gotoPage('/solutions/hybirdcloud')" href=""><i class="icon iconfont"></i>了解详情</a>
                </div>

            </div>
            <div class="lunbo-team">
                <div class="lunimg-m">
                </div>
                <div class="lunbo-inner lunbo-inner-13">
                    <a ng-click="gotoPage('/news-cont6')" href=""><i class="icon iconfont"></i>了解详情</a>
                </div>
            </div>
            <div class="lunbo-team">
                <div class="lunimg-n">
                </div>
                <div class="lunbo-inner lunbo-inner-14">

                </div>
            </div>



        </div>
        <div class="cControl">
            <a class="shang fl" href="javascript:;">
                <i class="icon iconfont">&#xe697;</i>
            </a>
            <a class="xia fr" href="javascript:;">
                <i class="icon iconfont">&#xe6a7;</i>
            </a>
        </div>
        <ul class="lunbo-circle ">
            <li style="opacity:1;">
                <span class="names">国际加速</span>

                <span class="lunindex">1</span>
            </li>
            <li>
                <span class="names">云牌照</span>

                <span class="lunindex">2</span>
            </li>
            <li>
                <span class="names">周年惠</span>
                <span class="lunindex">3</span>
            </li>
            <li>
                <span class="names">专享礼包</span>
                <span class="lunindex">4</span>
            </li>
            <li>
                <span class="names">公有云</span><!--云网互通-->
                <span class="lunindex">5</span>
            </li>
            <li>
                <span class="names">云网关</span><!--安全云-->
                <span class="lunindex">6</span>
            </li>
            <li>
                <span class="names">云抗D</span>
                <span class="lunindex">7</span>
            </li>
            <li>
                <span class="names">云监控</span>
                <span class="lunindex">8</span>
            </li>
            <li>
                <span class="names">高速通道</span>
                <span class="lunindex">9</span></li>
            </li>
            <li>
                <span class="names">电信云</span>
                <span class="lunindex">10</span></li>
            </li>
            <li>
                <span class="names">私有云</span>
                <span class="lunindex">11</span></li>
            </li>
            <li>
                <span class="names">混合云</span>
                <span class="lunindex">12</span></li>
            </li>
            <li>
                <span class="names">新三板</span>
                <span class="lunindex">13</span>
            </li>
            <li>
                <span class="names">新官网</span>

                <span class="lunindex">14</span>
            </li>








           <!--<li style="opacity:1;">
                <span class="names">国际加速</span>

                <span class="lunindex">1</span>
            </li>
            <li style="opacity:1;">
                <span class="names">云牌照</span>

                <span class="lunindex">2</span>
            </li>
            <li>
                <span class="names">周年惠</span>
                <span class="lunindex">3</span>
            </li>

            <li>
                <span class="names">云监控</span>
                <span class="lunindex">4</span>
            </li>
            <li>
                <span class="names">公有云</span>  云网互通
                <span class="lunindex">5</span>
            </li>
            <li>
                <span class="names">新三板</span>
                <span class="lunindex">6</span>
            </li>
            <li>
                <span class="names">专享礼包</span>
                <span class="lunindex">7</span></li>
            <li>
                <span class="names">高速通道</span>
                <span class="lunindex">8</span></li>
            <li>
                <span class="names">混合云</span>
                <span class="lunindex">9</span></li>
            <li>
                <span class="names">私有云</span>
                <span class="lunindex">10</span></li>
            <li>
                <span class="names">电信云</span>
                <span class="lunindex">11</span></li>
            <li>
                <span class="names">安全云</span>
                <span class="lunindex">12</span></li>
            <li  >
                <span class="names">新官网</span>

                <span class="lunindex">13</span>
            </li>-->


        </ul>
    </div>

    <div class="promotion">
        <ul class="clear">
            <li class="">
                <a href="" ng-click="gotoPage('/free')">
                    <div class="fl">
                        <img src="images/lundown01.png" alt="">
                    </div>
                    <div class="fr">
                        <span>免费体验馆</span>
                        <p>企业用户15天免费体验</p>
                    </div>
                </a>
            </li>
            <li class="">
                <a href="" ng-click="gotoPage('/giftpackage')">
                    <div class="fl">
                        <img src="images/lundown02.png" alt="">
                    </div>
                    <div class="fr">
                        <span>专享礼包</span>
                        <p>新用户专享礼包</p>
                    </div>
                </a>
            </li>
            <li class="">
                <a href="" ng-click="gotoPage('/sales')">
                    <div class="fl">
                        <img src="images/lundown03.png" alt="">
                    </div>
                    <div class="fr">
                        <span>低至四折</span>
                        <p>云产品全线降价</p>
                    </div>
                </a>
            </li>
            <li class="">
                <a href="" ng-click="gotoPage('/icp')">
                    <div class="fl">
                        <img src="images/lundown04.png" alt="">
                    </div>
                    <div class="fr" style="border:none;">
                        <span>0元备案</span>
                        <p>专属客服+全程服务</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="index-c index-c-0">
        <div>
            <h2>我们的产品</h2>
            <p>xxxxx云TelCloud使IT、通信、安全、服务的交付更加简单、高效、可靠。</p>
            <div class="indexshowteam clear">
                <div class="index-show index-show-1" style="display: none;">
                    <div>
                        <img src="images/3.png" alt="">
                        <h3>IaaS公有云</h3>
                        <h1></h1>
                    </div>
                    <ul>
                        <li>
                            <a href="">云主机 TelCloud Host</a>
                        </li>
                        <!--<li><a href="">私有云Openstack Cloud</a></li>-->
                        <!--<li><a href="">...</a></li>-->
                    </ul>
                </div>
                <div class="index-show2 index-show-12 active" style="top:-30px;">
                    <div style="text-align: left;">
                        <div class="fl" style="width: 80px;height:80px;margin:-14px 20px 0 0">
                            <img src="images/3.png" style="width:100%;height:100%;" alt="">
                        </div>
                        <h3>IaaS公有云</h3>
                        <p>秒级响应 按需付费</p>
                        <h1></h1>
                    </div>
                    <ul>
                        <li>
                            <div>
                                <h3>云主机 TelCloud Host</h3>
                                <p>为您提供简单易用、安全可靠、弹性伸缩、按需付费的计算服务</p>
                            </div>

                            <a ng-click="gotoPage('/iaas/telcloudhost')" href="">了解详情</a>
                            <!--<span>优惠</span>-->
                        </li>
                        <!--<li>-->
                            <!--<div>-->
                                <!--<h3>私有云Openstack Cloud</h3>-->
                                <!--<p>为您的企业、组织提供高度弹性和可扩展的IT基础架构平台</p>-->
                            <!--</div>-->

                            <!--<a ng-click="gotoPage('/openstackcloud')" href="">了解详情</a>-->
                            <!--<span></span>-->
                        <!--</li>-->
                    </ul>
                    <!--<a href="">更多产品</a>-->
                </div>
                <div class="index-show index-show-2">
                    <div>
                        <img src="images/2.png" alt="">
                        <h3>CaaS电信云</h3>
                        <h1></h1>
                    </div>
                    <ul>
                        <li><a href="">互联网接入服务</a></li>
                        <li><a href="">高速通道专有网络</a></li>
                        <!--<li><a href="">...</a></li>-->
                    </ul>
                </div>
                <div class="index-show2 index-show-22">
                    <div style="text-align: left;">
                        <div class="fl" style="width: 80px;height:80px;margin:-14px 20px 0 0">
                            <img src="images/2.png" style="width:100%;height:100%;" alt="">
                        </div>
                        <h3>CaaS电信云</h3>
                        <p>云网互通 秒达八方</p>
                        <h1></h1>
                    </div>
                    <ul>
                        <li>
                            <div>
                                <h3>互联网接入服务</h3>
                                <p>LSO服务生命周期理论框架下搭建、实现一站式下单、全自助便捷、高效、灵活服务</p>
                            </div>

                            <a ng-click="gotoPage('/caas/internetaccess')" href="">了解详情</a>
                            <!--<span>新品</span>-->
                        </li>
                        <li>
                            <div>
                                <h3>高速通道专有网络</h3>
                                <p>在不同数据中心、云、以及办公网络之间实现高速、稳定、安全的私网通信</p>
                            </div>

                            <a ng-click="gotoPage('/caas/expressconnect')" href="">了解详情</a>
                            <!--<span>新品</span>-->
                        </li>
                    </ul>
                    <!--<a href="">更多产品</a>-->
                </div>
                <div class="index-show index-show-3">
                    <div>
                        <img src="images/1.png" alt="">
                        <h3>SECaaS安全云</h3>
                        <h1></h1>
                    </div>
                    <ul>
                        <li><a href="">智慧云网关</a></li>
                        <li><a href="">云抗D</a></li>
                        <!--<li><a href="">...</a></li>-->
                    </ul>
                </div>
                <div class="index-show2 index-show-32">
                    <div style="text-align: left;">
                        <div class="fl" style="width: 80px;height:80px;margin:-14px 20px 0 0">
                            <img src="images/1.png" style="width:100%;height:100%;" alt="">
                        </div>
                        <h3>SECaaS安全云</h3>
                        <p>固若金汤 内外兼防</p>
                        <h1></h1>
                    </div>
                    <ul>
                        <li>
                            <div>
                                <h3>智慧云网关</h3>
                                <p>一体化融合接入、管控、优化、审计运营等功能的高性能综合应用云网关</p>
                            </div>

                            <a ng-click="gotoPage('/secaas/gateway')" href="">了解详情</a>
                            <!--<span>新品</span>-->
                        </li>
                        <li>
                            <div>
                                <h3>云抗D</h3>
                                <p>全自助购买多种套餐服务，防御即开即用，按需扩容，无黑洞，让您轻松防御</p>
                            </div>

                            <a ng-click="gotoPage('/secaas/anti-ddos')" href="">了解详情</a>
                            <span></span>
                        </li>
                    </ul>
                    <!--<a href="">更多产品</a>-->
                </div>
                <div class="index-show index-show-4">
                    <div>
                        <img src="images/4.png" alt="">
                        <h3>SaaS 软件云</h3>
                        <h1></h1>
                    </div>
                    <ul>
                        <li><a href="">云监控(SaaS版)</a></li>
                        <li><a href="">云监控(私有云版)</a></li>
                        <li><a href="">xxxxx国际加速</a></li>
                        <!--<li><a href="">...</a></li>-->
                    </ul>
                </div>
                <div class="index-show2 index-show-42">
                    <div style="text-align: left;">
                        <div class="fl" style="width: 80px;height:80px;margin:-14px 20px 0 0">
                            <img src="images/4.png" style="width:100%;height:100%;" alt="">
                        </div>
                        <h3>SaaS 软件云</h3>
                        <p>自取所需 包罗万象</p>
                        <h1></h1>
                    </div>
                    <ul>
                        <li>
                            <div>
                                <h3>云监控(SaaS版)</h3>
                                <p>易用、安全的云监控，5分钟完成部署即享高品质IT监控服务</p>
                            </div>

                            <a ng-click="gotoPage('/saas/telcloudmonitor')" href="">了解详情</a>
                            <span></span>
                        </li>
                        <li>
                            <div>
                                <h3>云监控(私有云版)</h3>
                                <p>全球首款“云网管”软件，分布式架构，性能超强，支持四级架构</p>
                            </div>

                            <a ng-click="gotoPage('/saas/telcloudmonitor')" href="">了解详情</a>
                            <span></span>
                        </li>
                        <li>
                            <div>
                                <h3>xxxxx国际加速</h3>
                                <p>有效解决国际访问速度慢、网络不稳定、接入不便捷等问题</p>
                            </div>

                            <a ng-click="gotoPage('/saas/telcloudaccelerate')" href="">了解详情</a>
                            <span></span>
                        </li>
                    </ul>
                    <!--<a href="">更多产品</a>-->
                </div>
            </div>
        </div>

    </div>
    <div class="index-c index-c-1-title">
        <div>
            <h2 class="title">多种行业解决方案</h2>
            <p class="des-text">xxxxx云多套解决方案，助力您快速步入“互联网+”时代</p>
        </div>
        <ul class="clear">
            <li>
                <h6></h6>
                <ol></ol>

                <div>
                    <div class="index-c1-img">
                        <img src="images/indexjjfa1.png" alt="">
                        <b class="line"></b>
                        <h3>电商解决方案</h3>
                    </div>
                    <div class="hoverblock ">
                        <p>
                            结合大数据能力帮助电商企业快速搭建平台、应对业务高并发，剖析秒杀、视频直播等场景。
                        </p>
                        <a ng-click="gotoPage('/solutions/e-commerce')" href="javascript:;">查看详情</a>
                    </div>
                </div>

            </li>
            <li>
                <h6></h6>
                <ol></ol>

                <div>
                    <div class="index-c1-img">
                        <img src="images/indexjjfajr.png" alt="">
                        <b class="line"></b>
                        <h3>数据中心解决方案</h3>
                    </div>
                    <div class="hoverblock ">
                        <p>
                            xxxxx云的IDC产品解决方案能帮助传统IDC企业一步上云，实现传统数据中心转为云数据中心，让传统IDC企业可提供创新的公有xxxxx服务。
                        </p>
                        <a ng-click="gotoPage('/solutions/idc')" href="">查看详情</a>
                    </div>
                </div>

            </li>
            <li>
                <h6></h6>
                <ol></ol>

                <div>
                    <div class="index-c1-img">
                        <img src="images/indexjjfawz.png" alt="">
                        <b class="line"></b>
                        <h3>零售解决方案</h3>
                    </div>
                    <div class="hoverblock ">
                        <p>
                            xxxxx云提供xxxxx服务器与物理机混合组网服务，保障高性能计算对CPU、内存的高要求，提供公有云与私有云之间专线互通组网，实现业务快速迁移。
                        </p>
                        <a ng-click="gotoPage('/solutions/retail')" href="">查看详情</a>
                    </div>
                </div>

            </li>
            <li>
                <h6></h6>
                <ol></ol>

                <div>
                    <div class="index-c1-img">
                        <img src="images/indexjjfayp.png" alt="">
                        <b class="line"></b>
                        <h3>混合云解决方案</h3>
                    </div>
                    <div class="hoverblock ">
                        <p>
                            既拥有私有云的掌控性、安全性和性能，又能发挥公有云所能提供的弹性、经济性和速度。
                        </p>
                        <a ng-click="gotoPage('/solutions/hybirdcloud')" href="">查看详情</a>
                    </div>
                </div>

            </li>
            <li>
                <h6></h6>
                <ol></ol>
                <div>
                    <div class="index-c1-img">
                        <img src="images/indexjjfaapp.png" alt="">
                        <b class="line"></b>
                        <h3>呼叫中心解决方案</h3>
                    </div>
                    <div class="hoverblock ">
                        <p>
                            云呼叫中心，即采用云技术，使得呼叫中心的运营无需采购过多的设备，在网络带宽充足的情况下，使用移动终端上网即可实现呼叫应用的模式。
                        </p>
                        <a ng-click="gotoPage('/solutions/callcenter')" href="">查看详情</a>
                    </div>
                </div>

            </li>
        </ul>

    </div>
    <div class="index-c index-c-3">
        <div>
            <h2>众多用户的选择</h2>
            <p>用户的信任，是xxxxx云不断的前进的动力</p>
            <div style="margin: 10px 0 0 0;">
                <ul class="clear">
                    <li class="sdhover">
                        <div>
                            <h4>红牛</h4>
                            <h2 class="dotted-line"></h2>
                            <p>
                                行业领域：快速消费品领域
                            </p>
                            <p>
                                业务范围：功能型饮料的研发及生产
                            </p>
                        </div>
                    </li>
                    <li class="sdhover">
                        <div>
                            <h4>贝塔斯曼</h4>
                            <h2 class="dotted-line"></h2>
                            <p>
                                行业领域：咨询领域
                            </p>
                            <p>
                                业务范围：业务咨询，信息技术及业务外包服务提供商
                            </p>
                        </div>
                    </li>
                    <li class="sdhover">
                        <div>
                            <h4>安信华</h4>
                            <h2 class="dotted-line"></h2>
                            <p>
                                行业领域：科技推广和应用服务领域
                            </p>
                            <p>
                                业务范围：软件服务；计算机系统服务；生产计算机软硬件等
                            </p>
                        </div>
                    </li>
                    <li class="sdhover">
                        <div>
                            <h4>宝马</h4>
                            <h2 class="dotted-line"></h2>
                            <p>
                                行业领域：车辆制造领域
                            </p>
                            <p>
                                业务范围：高端汽车
                            </p>
                        </div>
                    </li>
                    <li class="sdhover">
                        <div>
                            <h4>中网</h4>
                            <h2 class="dotted-line"></h2>
                            <p>
                                行业领域：网球领域
                            </p>
                            <p>
                                业务范围：网球赛事
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <div class="index-c index-c-5">
        <div>
            <h2 class="title">为您提供安全合规的云计算服务</h2>
            <p class="des-text">xxxxx云通过国内外权威标准的合规认证，为您提供安全性和合规性的保证</p>
        </div>
        <div id="certificatemom" class="certificatemom" style="position: relative;">
            <ul class="clear certificate">
                <li ng-click="gotoPage('/documents/iso27001')">
                    <img src="images/iso-27001.png" alt="">
                    <p>ISO 27001</p>
                    <span>  信息安全管理体系国际认证标准   </span>
                </li>
                <li ng-click="gotoPage('/documents/iso20000')">
                    <img src="images/iso-20000.png" alt="">
                    <p>ISO 20000</p>
                    <span>  信息技术服务管理体系国际认证标准  </span>
                </li>
                <li ng-click="gotoPage('/documents/iso9001')">
                    <img src="images/iso-9001.png" alt="">
                    <p>ISO 9001</p>
                    <span>  质量管理体系国际认证标准  </span>
                </li>
                <li ng-click="gotoPage('/documents/iso14001')">
                    <img src="images/iso14001.png" alt="">
                    <p>ISO 14001</p>
                    <span> 环境管理体系国际认证标准 </span>
                </li>
                <!--<li>-->
                    <!--<img src="../images/4.png" alt="">-->
                    <!--<p>ISO 2222</p>-->
                    <!--<span> 222222 </span>-->
                <!--</li>-->
            </ul>
            <!--左右滑动控制器-->
            <!--<div class="cerificate-control clear">-->
                <!--<i class="certificate-left fl">-->
                    <!--<b class="icon iconfont">&#xe697;</b>-->
                <!--</i>-->
                <!--<i class="certificate-right fr">-->
                    <!--<b class="icon iconfont">&#xe6a7;</b>-->
                <!--</i>-->
            <!--</div>-->
        </div>


    </div>
    <div class="index-c  index-c-2" style="background: #f2f2f5">
        <div class="  clear">

            <div class="index-news fl clear">
                <h2 class="clear">
                    <span class="fl">新鲜动态</span>
                    <ul class="fl newsLi ">
                        <li style="margin:-2px 0 0 0 ;border-bottom:2px solid #2277da">最新</li>
                        <!--<li>产品动态</li>-->
                        <!--<li>媒体报道</li>--->
                    </ul>
                </h2>
                <div class="news-title">
                    <ul class="clear new-0">
                        <li ng-click="gotoPage('/news-cont31')">
                            <a href="">2017.09.28 <b></b>
                                <span>我们领证了—xxxxx获得工信部颁发的云计算牌照</span>
                            </a>
                        </li>
                        <li ng-click="gotoPage('/news-cont30')">
                            <a href="">2017.09.22 <b></b>
                                <span>xxxxx云抗D为宝马汽车网络安全保驾护航</span>
                            </a>
                        </li>
                        <li ng-click="gotoPage('/news-cont29')">
                            <a href="">2017.09.11 <b></b>
                                <span>xxxxx云知云学堂丨网络世界的网红—SDN</span>
                            </a>
                        </li>
                        <li ng-click="gotoPage('/news-cont28')">
                            <a href="">2017.08.31 <b></b>
                                <span>助力大数据产业腾飞 推动基础设施先行</span>
                            </a>
                        </li>
                        <li ng-click="gotoPage('/news-cont27')">
                            <a href="">2017.08.29 <b></b>
                                <span>让基础设施研究变得更可见—清华大学数据科学研究院大数据基础设施研究中心成立</span>
                            </a>
                        </li>
                        <li ng-click="gotoPage('/news-cont26')">
                            <a href="">2017.08.15 <b></b>
                                <span>邀请函</span>
                            </a>
                        </li>

                    </ul>
                    <!--<ul class="clear new-1" style="display: none;">-->
                    <!--<li>-->
                    <!--<a href="">-->
                    <!--12.28 <b></b>-->
                    <!--<span>58集团CTO做客xxxxx云会客厅：从云计算开始的新一轮角逐</span>-->
                    <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a href="">-->
                    <!--11.22 <b></b>-->
                    <!--<span>58集团CTO做客xxxxx云会客厅：从云计算开始的新一轮角逐</span>-->
                    <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a href="">-->
                    <!--12.22 <b></b>-->
                    <!--<span>58集团CTO做客xxxxx云会客厅：从云计算开始的新一轮角逐</span>-->
                    <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a href="">-->
                    <!--12.22 <b></b>-->
                    <!--<span>58集团CTO做客xxxxx云会客厅：从云计算开始的新一轮角逐</span>-->
                    <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a href="">-->
                    <!--11.28 <b></b>-->
                    <!--<span>58集团CTO做客xxxxx云会客厅：从云计算开始的新一轮角逐</span>-->
                    <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a href="">-->
                    <!--11.28 <b></b>-->
                    <!--<span>58集团CTO做客xxxxx云会客厅：从云计算开始的新一轮角逐</span>-->
                    <!--</a>-->
                    <!--</li>-->
                    <!--</ul>-->
                    <!--<ul class="clear new-2" style="display: none;">-->
                    <!--<li>-->
                    <!--<a href="">-->
                    <!--09.28 <b></b>-->
                    <!--<span>58集团CTO做客xxxxx云会客厅：从云计算开始的新一轮角逐</span>-->
                    <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a href="">-->
                    <!--09.28 <b></b>-->
                    <!--<span>58集团CTO做客xxxxx云会客厅：从云计算开始的新一轮角逐</span>-->
                    <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a href="">-->
                    <!--09.28 <b></b>-->
                    <!--<span>58集团CTO做客xxxxx云会客厅：从云计算开始的新一轮角逐</span>-->
                    <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a href="">-->
                    <!--11.28 <b></b>-->
                    <!--<span>58集团CTO做客xxxxx云会客厅：从云计算开始的新一轮角逐</span>-->
                    <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a href="">-->
                    <!--11.28 <b></b>-->
                    <!--<span>58集团CTO做客xxxxx云会客厅：从云计算开始的新一轮角逐</span>-->
                    <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a href="">-->
                    <!--11.28 <b></b>-->
                    <!--<span>58集团CTO做客xxxxx云会客厅：从云计算开始的新一轮角逐</span>-->
                    <!--</a>-->
                    <!--</li>-->
                    <!--</ul>-->
                </div>
            </div>
            <div class="fr clear news-img">
                <h2>长期活动</h2>
                <a ng-click="gotoPage('/giftpackage')" href="" style="display: block;">
                    <img src="images/huodongdddddd.png" alt="">
                </a>
            </div>
        </div>
    </div>
    <div class="index-c safety">
        <ul class="clear">
            <li>
                <b class="bei724"></b>
                <span>7*24小时服务</span>
            </li>
            <li>
                <b class="bei5"></b>
                <span>15天免费体验</span>
            </li>
            <li>
                <b class="bei0"></b>
                <span>0元备案</span>
            </li>
            <li>
                <b class="bei1v1"></b>
                <span>1V1 大客户服务</span>
            </li>
        </ul>
    </div>


</div>
<!--<script src="../js/index-2.js"></script>-->


