<div id="hlwjr" class="clear">
    <input class="leftLight" type="hidden" value="0" name="hlwjrclass">

    <div class="show" style="position: relative;">
        <div class="clear">
            <div ng-include src="'left.html'"></div>
            <div class="show-word fl">
                <div class="show-word-top">
                    <h2><span>互联网接入</span></h2>
                    <p>龙腾佳讯为企业用户提供DDN专线上网/数字电路/SDH光纤、ADSL、ISDN、Frame Relay等快速且稳定的互联网接入（Internet
                        Access）服务方案，企业用户仅需支付使用月租，即可根据自身需求选择最合适的网络带宽，除了可拥有专线的安全性外，更可享有专属的带宽保证及带宽扩充性等优点。</p>
                </div>
                <div class="show-word-down">
                    <a href="/horizon/auth/login/" target="_self"><button>立即使用</button></a>
                    <!--<button ng-click="gotoPage('/price')">价格计算</button>-->

                </div>
            </div>
            <div class="show-img fr">
                <img src="images/yunjieru.png" alt="">
            </div>
        </div>

    </div>
    <div style="position: relative;">
        <div class="main-content">
            <div class="clear stitle">
                <ul class="">
                    <li><a href="" class="md" name="#a1s">产品优势</a></li>
                    <li><a href="" class="md" name="#a2">接入方案</a></li>
                    <li><a href="" class="md" name="#a4">行业应用</a></li>
                </ul>
                <div class="clear ">
                    <a href="/horizon/auth/login/" target="_self"><button>立即使用</button></a>
                    <!--<button ng-click="gotoPage('/price')">价格计算</button>-->

                </div>
            </div>
            <script>
                smallt.stitleH = $(".stitle").offset().top;//页面加载就取下固定值
                smallt.left = parseInt($(".stitle").css("left"));
            </script>
            <div>

                <div class="contents container-fluid  ct3">
                    <a id="a1s"></a>
                    <h3>产品优势<span class="fr"></span></h3>
                    <div>
                        <div class="row">
                            <table class="col-md-12">
                                <tbody>
                                <tr>
                                    <td class="col-md-2"><h4>优势点</h4></td>
                                    <td class="col-md-6" style="position: relative">
                                        <h4>互联网</h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td class=" ">
                                        <p> 易用</p>
                                    </td>
                                    <td>
                                        <p>品质保证。 网络核心为世界一流的网络设备供货商Cisco所提供的设备及技术支持，确保了网络的高效及稳定性。 </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="">
                                        <p>安全</p>
                                    </td>
                                    <td>
                                        <p>
                                            国际级支持服务。提供每天24小时、每周7天、全年365天的系统监控及全面的技术支持。 </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="">
                                        <p>可靠</p>
                                    </td>
                                    <td>
                                        <p>值得信赖的专业经验。我们的客户包括政府机构、世界500强企业、上市企业、跨国企业以及各类中小型企业等。</p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="contents ct4">
                    <div class="container-fluid">
                        <div class="row">
                            <a id="a2"></a>
                            <h3>接入方案</h3>
                            <div class="neirong clear">
                                <ul class="clear neirong-title">
                                    <li style="background: rgb(255, 255, 255);" class="col-md-3"><a
                                            style="color: rgb(34, 119, 230);" href="javascript:;">DDN专线/数字电路</a></li>
                                    <li class="col-md-3" style="background: rgb(235, 236, 237);"><a href="javascript:;"
                                                                                                    style="color: rgb(51, 51, 51);">ADSL</a>
                                    </li>
                                    <li class="col-md-3" style="background: rgb(235, 236, 237);"><a href="javascript:;"
                                                                                                    style="color: rgb(51, 51, 51);">ISDN</a>
                                    </li>
                                    <li class="col-md-3" style="background: rgb(235, 236, 237);"><a href="javascript:;"
                                                                                                    style="color: rgb(51, 51, 51);">Frame
                                        Relay（帧中继）</a></li>

                                </ul>
                                <div class="neirong-content nr0 col-md-12" style="display: block;">
                                    DDN专线/数字电路。利用点对点的连接方式提供固定专属带宽，用户可完全控制使用方式。因为是专属带宽，不需与他人分享，
                                    因此速度非常快，品质得以保障且安全性极高。理论上讲，企业用户的任何两个点间都可以利用这个方式取得连接。
                                    龙腾佳讯提供64Kb/s～2Mb/s多种带宽选择的DDN专线，以及2Mb/s或以上的数字电路。
                                </div>
                                <div class="neirong-content nr1 col-md-12" style="display: none;">
                                    <p>
                                        ADSL是指利用普通电话线，以ADSL技术方式实现超高速上网等功能的一种电信新业务。
                                        ADSL（Asymmetric Digital Subscriber Line，非对称数字用户线路）是一种新兴的高速通信技术。
                                    </p>
                                </div>
                                <div class="neirong-content nr2 col-md-12" style="display: none;">
                                    <p>
                                        ISDN是以综合数字网为基础发展起来的通信网，它只需利用一条普通的电话线，
                                        便可实现打电话及拨号上网，能够将传真、资料、图像等多种业务在同一个网络中传送和处理。由于它是交换电路，
                                        因此可以自由地选择互联的对端，比较灵活、方便。它是按实际的连接时间来收费的，
                                        因此比较经济，尤其适合不需要长时间在线的客户。许多客户用它来做后备线路，以达到多重连接的品质保障。
                                    </p>
                                </div>
                                <div class="neirong-content nr3 col-md-12" style="display: none;">
                                    <p>
                                        Frame Relay是从分组交换技术发展而来的，它采用虚电路技术，并对分组交换技术进行了简化。
                                        它是在一条物理线路上建立多条虚电路（PVC），因此吞吐量大，而且大大节省了用户的设备投资和电路租用成本。
                                        它采用动态分配带宽的方法，满足用户在网络有空余带宽时处理突发资料的需求，因此它的实际通信速率可以高于用户购买的基本速率。
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="contents container-fluid ct1">
                    <div class="row">
                        <a id="a4"></a>
                        <h3>行业应用<span class="fr"></span></h3>
                        <div class="img-center clear" title="行业应用">
                            <div>
                                <img src="images/sydw.png" alt="">
                                <p>企事业单位</p>
                            </div>
                            <div>
                                <img src="images/game.png" alt="">
                                <p>游戏</p>
                            </div>
                            <div>
                                <img src="images/jinrong.png" alt="">
                                <p>金融</p>
                            </div>
                            <div>
                                <img src="images/syhz.png" alt="">
                                <p>商业企业</p>
                            </div>
                            <div>
                                <img src="images/lingshou.png" alt="">
                                <p>零售</p>
                            </div>
                            <div>
                                <p style="text-align:center;line-height:70px;font-size: 34px;">...</p>
                            </div>

                        </div>
                    </div>

                </div>


            </div>

        </div>
    </div>

</div>

