<div id="helpdocum">
    <!-- 搜索块header-start-->
    <div class="h_elp_wrap fl">
        <div class="h_elp_had fl">
            <div class="h_elp_had-inner">
                <h2 class="title fl" style="margin-left: 514px;">
                    <a href="javascript:;">帮助与文档</a>
                </h2>
            </div>
        </div>
    </div>
    <!-- 搜索块header-end-->
    <!-- 内容header-start-->
    <div class="maincont fl">
        <div class="warp">
            <div class="grids-table">
                <div class="grids-nav" ng-include="'helpLeft.html'"></div>
                <div class="grids-details">
                    <div class="grids-height">
                        <p class="grids-crumbs">
                            <a href="javascript:;" ng-click="gotoPage('/documents/userguide')">帮助与文档</a>
                            <i class="r_png"></i>
                            <a href="javascript:;"> 快速入门云栈服务</a>
                            <i class="r_png"></i>
                            <span> 进入云栈服务</span>
                        </p>
                        <h1 class="grids-height-title">
                            进入云栈服务
                        </h1>
                        <div class="iaas_line">
                            <p>
                                本文档主要介绍如何快速使用 xxxxx云的云栈服务的相关功能，引导新手快速了解xxxxx云云栈服务的创建和使用。 本次操作指引以建立云栈后连接Internet服务栈整个流程为演示。
                            </p>
                            <p>
                                登陆xxxxx云平台后，先点击左上角“服务区”旁的“▼”按钮选择资源区。
                            </p>
                            <p style="margin-top: 20px;">
                                <img src="./images/an-intoyz01.png" alt="" style="width: 780px;">
                            </p>
                            <br>
                            <p>
                                在资源区下点击“云栈服务”的云环  进入“云栈服务”的“云环”页面
                            </p>
                            <p style="margin-top: 20px;">
                                <img src="./images/an-intoyz02.png" alt="" style="width: 780px;">
                            </p>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- 内容header-send-->
</div>