<div id="helpdocum">
    <!-- 搜索块header-start-->
    <div class="h_elp_wrap fl">
        <div class="h_elp_had fl">
            <div class="h_elp_had-inner">
                <h2 class="title fl" style="margin-left: 514px;">
                    <a href="javascript:;">帮助与文档</a>
                </h2>
            </div>
        </div>
    </div>
    <!-- 搜索块header-end-->
    <!-- 内容header-start-->
    <div class="maincont fl">
        <div class="warp">
            <div class="grids-table">
                <div class="grids-nav" ng-include="'helpLeft.html'"></div>
                <div class="grids-details" id="iso">
                    <div class="grids-height">
                        <p class="grids-crumbs">
                            <a href="javascript:;" ng-click="gotoPage('/documents/userguide')">帮助与文档</a>
                            <i class="r_png"></i>
                            <a href="javascript:;"> 认证信息</a>
                            <i class="r_png"></i>
                            <span> ISO20000认证</span>
                        </p>
                        <h1 class="grids-height-title">
                            ISO20000认证
                        </h1>
                        <div class="iaas_line">
                            <p>
                                ISO20000源自于BS15000标准，BS15000是英国标准协会（British Standards Institute）
                                针对IT服务管理而制定的一个标准， 是国际上首个公认的信息技术服务管理（IT Service Management）
                                领域的国际标准。ISO20000信息技术服务管理体系目的是提供建立、实施、运作、监控、评审、
                                维护和改进IT服务管理体系(ITSM)的模式，通过“IT服务标准化”来管理IT问题，即将IT问题归类，
                                识别问题的内在联系，然后依据服务级别协议进行计划、推行和监控，并强调与客户的沟通，
                                帮助企业建立起一套行之有效的以客户为中心的自我完善的体系。
                            </p>
                            <br><br>
                            <p>
                                xxxxx对服务质量的管理一向秉持最严苛的标准，长达13年，为成千上万的客户提供了优质的服务。
                                获得ISO20000认证，标志着采用服务生命周期编排理论架构（LSO Lifecycle Service Orchestration）
                                的xxxxx在云计算和IT运维领域具备为客户提供更可靠、更优质、更高效的服务能力，
                                同时也证明了xxxxx的云计算和IT运维服务能力处于行业领先水平。
                            </p>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- 内容header-send-->
</div>