<div id="helpdocum">
    <!-- 搜索块header-start-->
    <div class="h_elp_wrap fl">
        <div class="h_elp_had fl">
            <div class="h_elp_had-inner">
                <h2 class="title fl" style="margin-left: 514px;">
                    <a href="javascript:;">帮助与文档</a>
                </h2>
            </div>
        </div>
    </div>
    <!-- 搜索块header-end-->
    <!-- 内容header-start-->
    <div class="maincont fl">
        <div class="warp">
            <div class="grids-table">
                <div class="grids-nav" ng-include="'helpLeft.html'"></div>
                <div class="grids-details" id="iso">
                    <div class="grids-height">
                        <p class="grids-crumbs">
                            <a href="javascript:;" ng-click="gotoPage('/documents/userguide')">帮助与文档</a>
                            <i class="r_png"></i>
                            <a href="javascript:;"> 认证信息</a>
                            <i class="r_png"></i>
                            <span> ISO27001认证</span>
                        </p>
                        <h1 class="grids-height-title">
                            ISO27001认证
                        </h1>
                        <div class="iaas_line">
                            <p>
                                ISO27001是全球普遍认可、最权威的信息安全管理标准，采用以风险管理为核心的方法来管理公司和客户信息，
                                并通过定期评估风险和控制措施的有效性来保证体系的持续运行。ISO27001为一个系统的、
                                整体规划的信息安全管理体系，其从预防控制的角度出发，保障组织的信息系统与业务之安全与正常运作。
                                ISO27001信息安全管理体系的目标为通过整体规划的信息安全解决方案，
                                来确保企业信息系统和业务的安全，并保持持续正常运作。
                            </p>
                            <br><br>
                            <p>
                                龙腾佳讯取得ISO27001信息安全管理体系认证，不仅证实了龙腾佳讯在云计算、计算机软件开发、
                                系统集成服务方面的安全管理程序符合国际公认标准；而且证实了龙腾佳讯在云计算技术框架、
                                内部管理同国际信息安全最佳实践的一致性；同时肯定了龙腾佳讯云计算产品从设计到交付的透明度、
                                云计算平台的关键核心安全技术及安全态势感知预警技术、云安全服务自动化的运营模式；
                                证明了龙腾佳讯对于用户所作出的服务承诺将保证每个级别的信息安全。
                            </p>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- 内容header-send-->
</div>