<div id="dsoto" class="dsotos">
    <div class="solution-img">
        <div>
            <h1>电商OTO行业解决方案</h1>
            <p>
                简单的电商网络架构部署包括业务应用服务器，数据库服务器，NFS文件系统服务器，办公系统服务器以及冗余备份服务器。大部分采用集群的方式，进行高可用的设计和系统容量的预估，如：注册用户数、日均UV量、峰值预估、每秒并发数预估、服务器预估等。但随着业务的发展，传统架构带来的问题逐渐增多。 </p>
            <p><a ng-click="gotoPage('/denglu')" href="">立即咨询</a></p>
        </div>
    </div>

    <div class="solution-contents">
        <div class="clear solutions stitle">
            <ul class="">
                <li><a href="" class="md" name="#a2">方案特点</a></li>
                <li><a href="" class="md" name="#a1s">电商行业痛点</a></li>

                <li><a href="" class="md" name="#a3">方案架构</a></li>
            </ul>
            <div class="clear ">
                <button>立即选购</button>
            </div>
        </div>
        <script>
            smallt.stitleH = $(".stitle").offset().top;//页面加载就取下固定值
            smallt.left = parseInt($(".stitle").css("left"));
        </script>


        <div class="jjfa" style="background: #edf7ff;"><a id="a1s"></a>
            <p class="jjfatitlep">电商行业痛点</p>
            <div class="contents ct4">

                <div class="container-fluid">
                    <div class="row">
                        <div class="neirong jjfalszj clear jjfats" style="border: 0px solid #ddd;">
                            <ul class="clear neirong-title">
                                <li style="background:#fff" class="col-md-3"><a style="color:#2277e6;"
                                                                                href="javascript:;">降低电商平台运营成本</a></li>
                                <li class="col-md-3"><a href="javascript:;">应对电商平台流量波峰</a></li>
                                <li class="col-md-3"><a href="javascript:;">提高电商网站访问流程性</a></li>
                                <li class="col-md-3"><a href="javascript:;"> 为电商平台提供全方位安全防护</a></li>
                            </ul>
                            <div class="neirong-content nr0 col-md-12">
                                <ol class="fl"></ol>
                                <div>
                                    <h4>业务需求</h4>
                                    <p style="margin-bottom:20px;">电商企业资金和人力投入有限，需要电商业务系统快速上线，降低运营成本。</p>
                                    <h4>解决方案</h4>
                                    <p>按需选用资源，秒级创建服务器，按用量的灵活付费方式。</p>
                                </div>
                            </div>
                            <div class="neirong-content nr1 col-md-12" style="display: none;">
                                <ol class="fl"></ol>
                                <div>
                                    <h4>业务需求</h4>
                                    <p style="margin-bottom:20px;">按需选用资源，秒级创建服务器，按用量的灵活付费方式。</p>
                                    <h4>解决方案</h4>
                                    <p>云服务器、云硬盘、带宽等产品可弹性伸缩灵活调配，保障电商平台在各类场景下访问急速流畅。</p>
                                </div>
                            </div>
                            <div class="neirong-content nr2 col-md-12" style="display: none;">
                                <ol class="fl"></ol>
                                <div>
                                    <h4>业务需求</h4>
                                    <p style="margin-bottom:20px;">云服务器、云硬盘、带宽等产品可弹性伸缩灵活调配，保障电商平台在各类场景下访问急速流畅。</p>
                                    <h4>解决方案</h4>
                                    <p>电信级服务器、存储和网络设备，对线全动态BGP，10万高并发负载均衡，保障电商系统稳定运行。</p>
                                </div>
                            </div>
                            <div class="neirong-content nr3 col-md-12" style="display: none;">
                                <ol class="fl"></ol>
                                <div>
                                    <h4>业务需求</h4>
                                    <p style="margin-bottom:20px;">为保障电商平台安全交易，不被网络攻击恶意刷单所困扰，需提供全方位安全防护策略。</p>
                                    <h4>解决方案</h4>
                                    <p>7层全方位立体化安全防护措施（接入、传输、基础、网络、虚拟化、数据、管理），抗DDoS流量清洗，安全隔离的私有网络VPC技术，权限访问控制IAM技术，
                                        应用防火墙服务，保障电商平台的安全。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="jjfa">
            <a id="a2"></a>
            <p class="jjfatitlep">方案特点</p>
            <ul class="clear">
                <li>
                    <h3>部署敏捷</h3>
                    <p>龙腾云秒级响应的资源交付速度解决了业务峰值时紧急的扩容需求。</p>
                </li>
                <li>
                    <h3>有效管理</h3>
                    <p>按需计费、可重复的流程、基于SLA的多租户经营模式、统一监控、集中管理。</p>
                </li>
                <li>
                    <h3>降低成本</h3>
                    <p>龙腾云实现秒级响应并按需计费，避免过度配置可随时伸缩调整，复用率高。</p>
                </li>
                <li>
                    <h3>海量存储</h3>
                    <p>为图片，视频，数据库备份等提供海量存储空间。</p>
                </li>
            </ul>
        </div>

        <a id="a3"></a>
        <div class="solut-c1 clear" style="padding:30px 0;">
            <p class="jjfatitlep" style="margin-bottom: 60px">方案架构</p>
            <div class="clear solut-c" style="background: #fff">
                <div class="fl">
                    <div class="solut-c-title">
                    </div>
                    <div class="ulli-img">
                        <div style="display: block">
                            <img src="images/dsotojiagou.png" alt="">
                        </div>

                    </div>
                </div>
                <div class="fr">
                    <div style="display: block;">
                        <h3>方案说明：</h3>
                        <h2></h2>
                        <p><strong>由传统客户DC向云的转化</strong></p>
                        <ul>
                            <li>初始化建立云平台或申请云主机</li>
                            <li>建立高速通道、专线开通</li>
                            <li>应用及网络架构分析</li>
                            <li>应用及主机逐步向云端迁移</li>
                            <li>混合云架构搭建</li>
                            <li>现有系统与云平台并行调测</li>
                            <li>搭建整体运维管理平台</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
