<div id="jsy" class="clear">
    <input class="leftLight" type="hidden" value="0" name="jsyclass">

    <div class="show" style="position: relative;">
        <div class="clear">
            <div ng-include src="'left.html'"></div>
            <div class="show-word fl">
                <div class="show-word-top">
                    <h2><span>云主机</span></h2>
                    <p>**服务器TelCloud
                        Host整合计算、存储与网络资源的IT基础设施，提供基于云计算模式的按需使用和按需付费的高性能服务器。有效解决了传统主机租用价格偏高、服务品质参差不齐等缺点，可全面满足中小企业、个人站长用户对主机租用服务低成本，高可靠，易管理的需求。</p>
                </div>
                <div class="show-word-down">
                    <button ng-click="gotoPage('/denglu')">立即使用</button>
                    <!--<button>价格计算</button>-->
                </div>
            </div>
            <div class="show-img fr">
                <img src="images/yunzhuji.png" alt="">
                <!--<img src="images/cloud.png" alt="">-->
            </div>
        </div>

    </div>
    <div style="position: relative;">
        <div class="main-content">
            <div class="clear stitle">
                <ul class="">
                    <li><a href="" class="md" name="#a1s">产品优势</a></li>
                    <li><a href="" class="md" name="#a2">产品功能</a></li>
                    <li><a href="" class="md" name="#a3">应用场景</a></li>
                    <li><a href="" class="md" name="#a4">行业应用</a></li>
                </ul>
                <div class="clear ">
                    <button ng-click="gotoPage('/denglu')">立即使用</button>
                    <!--<button>价格计算</button>-->
                </div>
            </div>
            <script>
                smallt.stitleH = $(".stitle").offset().top;//页面加载就取下固定值
                smallt.left = parseInt($(".stitle").css("left"));
            </script>
            <div>

                <div class="contents container-fluid  ct3">

                    <h3>产品优势<span class="fr"></span></h3>
                    <div>
                        <div class="row"><a id="a1s"></a>
                            <table class="col-md-12">
                                <tbody>
                                <tr>
                                    <td class="col-md-2"><h4>优势点</h4></td>
                                    <td class="col-md-6" style="position: relative">
                                        <div class="tablediv1"></div>
                                        <h4>云计算</h4>
                                    </td>
                                    <td>传统服务器</td>
                                </tr>
                                <tr>
                                    <td class=" ">
                                        <p>可靠</p>
                                    </td>
                                    <td>
                                        <p>故障自动迁移，服务可用性达99.95%，保障业务连续；<br>
                                            数据多副本，数据持久性达99.99995%，保障数据不丢失。</p>
                                    </td>
                                    <td>
                                        <p>用户手工容灾，依赖于硬件健壮性；数据物理单点，数据安全不可控</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="">
                                        <p>安全</p>
                                    </td>
                                    <td>
                                        <p>100%网络隔离，安全组规则保护，远离病毒攻击和木马威胁。
                                        </p>
                                    </td>
                                    <td>
                                        <p>需额外购买安全防护服务</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="">
                                        <p>弹性</p>
                                    </td>
                                    <td>
                                        <p>支持随时调整主机规格和带宽，高效匹配业务要求、节省成本；<br>
                                            支持“云服务器+物理机”的混合组网模式，提供卓越计算性能+灵活组网方式。</p>
                                    </td>
                                    <td>
                                        <p>机器固定配置，难以满足变化的需求</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="">
                                        <p>易用</p>
                                    </td>
                                    <td style="position: relative;">
                                        <p>简单易用的统一管理控制台，简化运维管理。</p>
                                        <div class="tablediv2"></div>
                                    </td>
                                    <td>
                                        <p>购买装机管理，自行实现硬件扩展</p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="contents ct4">
                    <div class="container-fluid">
                        <div class="row">
                            <a id="a2"></a>
                            <h3>产品功能</h3>
                            <div class="neirong clear">
                                <ul class="clear neirong-title">
                                    <li style="background:#fff" class="col-md-3"><a style="color:#2277e6;"
                                                                                    href="javascript:;">实例类型</a></li>
                                    <li class="col-md-3"><a href="javascript:;">多个位置</a></li>
                                    <li class="col-md-3"><a href="javascript:;">云监控</a></li>
                                    <li class="col-md-3"><a href="javascript:;">负载均衡</a></li>

                                </ul>
                                <div class="neirong-content nr0 col-md-12">

                                    <h4>丰富的机型配置</h4>
                                    <p>云服务器 TelCloudHost 提供多种适用于不同使用场景的实例类型供您选择，这些实例类型由
                                        CPU、内存、存储和网络容量组成不同的组合，您可灵活地为您的应用程序选择适当的资源组合。每种实例类型都包括多种实例大小，从而使您能够将您的资源扩展到符合目标工作负载的要求。</p>
                                    <h4>灵活的配置调整</h4>
                                    <p>云服务器 TelCloudHost 提供丰富的计算、网络和磁盘的配置及容量扩展，支持不关机随时调整网络，支持关机状态下基于云盘的硬件调整和磁盘扩容。
                                        对于突发性业务高峰，您可以使用按量计费的计费模式，随时开通/销毁计算实例，按实例的实际使用量付费。计费精确到秒，最大程度降低成本。
                                        您可在页面上通过鼠标点击操作，快速升级到更高性能和容量的实例规格。升级过程中不影响您业务正常访问和使用，实现快速、平滑扩容，满足业务快速发展需要。</p>
                                </div>
                                <div class="neirong-content nr1 col-md-12" style="display: none;">
                                    <p>
                                        云服务器可以将实例放在不同的区域，其地理位置分散分布于独立的地理区域或国家/区域。TelCloudHost
                                        服务等级协议的承诺是为每个区域提供 99.95% 的可用性。</p>
                                </div>
                                <div class="neirong-content nr2 col-md-12" style="display: none;">
                                    <p>云监控是一种 Web 服务，用于监控通过云服务器启动的云资源和应用程序。它可以显示资源利用情况、操作性能和整体需求模式——包括 CPU
                                        利用率、磁盘读取和写入以及网络流量等度量值。您可以获得统计数据、查看图表。</p>
                                </div>
                                <div class="neirong-content nr3 col-md-12" style="display: none;">
                                    <p>
                                        负载均衡在多个实例间自动分配应用程序的访问流量。它可以让您实现更大的应用程序容错性能，同时持续提供响应应用程序传入流量所需要的负载均衡容量。负载均衡可以检测出群体里不健康的实例，并自动更改路由，使其指向健康的实例，直到不健康的实例恢复为止。您可以在单个可用区或多个可用区中启用负载均衡，以提高应用程序性能的一致性。云监控可用于捕获特定弹性负载均衡器的运行度量值，例如，申请次数和申请延迟。除了负载均衡费用外，您无需支付任何其他费用。
                                       <br>
                                        <br>
                                        <div>
                                            此项功能即将推出，敬请期待！
                                        </div>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="contents ct4">
                    <div class="container-fluid">
                        <div class="row">
                            <a id="a3"></a>
                            <h3>应用场景</h3>
                            <div class="neirong clear">
                                <ul class="clear neirong-title">
                                    <li style="background:#fff" class="col-md-6"><a style="color:#2277e6;"
                                                                                    href="javascript:;">Web/App
                                        应用或网站</a></li>
                                    <li class="col-md-6"><a href="javascript:;">海量图片/视频等大文件流媒体应用</a></li>

                                </ul>
                                <div class="neirong-content nr0 col-md-12">
                                    <p>对于小型的 Web/App
                                        应用或网站，通常在初始阶段访问量会维持在一个较低的水平。您可以从购置一台较低配置的服务器开始，将您的应用程序/代码、配置文件、静态文件、数据库和其他资源全部部署在这台服务器上。**提供种类丰富的镜像，您可以按需获取。</p>
                                    <p>对于高并发高安全的 Web/App
                                        应用架构，弹性计算能帮助您在访问量增加时快速进行拓展，您可以方便地在控制台调整您的云服务器配置（CPU、内存、磁盘容量、带宽），或者增加云服务器数量并搭配负载均衡创建一个流量分发的横向扩展系统。</p>
                                </div>
                                <div class="neirong-content nr1 col-md-12" style="display: none;">
                                    <p>在用户经常读取大数据场景下，I/O 可能会成为云服务器瓶颈。此时，您只需将静态文件添加至容量型硬盘中,数据库添加至性能型硬盘中，结合**网络
                                        的回源能力及负载均衡，实现海量存储、高效分发、极速网络，大幅减少用户访问等待时间，轻松克服用户经常读取大数据场景下的 I/O 瓶颈。</p>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>


                <div class="contents container-fluid ct1">
                    <div class="row">
                        <a id="a4"></a>
                        <h3>行业应用<span class="fr"></span></h3>
                        <div class="img-center clear" title="行业应用">
                            <div>
                                <img src="images/sydw.png" alt="">
                                <p>企事业单位</p>
                            </div>
                            <div>
                                <img src="images/game.png" alt="">
                                <p>游戏</p>
                            </div>
                            <div>
                                <img src="images/jinrong.png" alt="">
                                <p>金融</p>
                            </div>
                            <div>
                                <img src="images/syhz.png" alt="">
                                <p>商业企业</p>
                            </div>
                            <div>
                                <img src="images/lingshou.png" alt="">
                                <p>零售</p>
                            </div>
                            <div>
                                <p style="text-align:center;line-height:70px;font-size: 34px;">...</p>
                            </div>

                        </div>
                    </div>

                </div>


            </div>

        </div>
    </div>

</div>

