<div id="kangD" class="clear">
    <input class="leftLight" type="hidden" value="0" name="kangDclass">

    <div class="show">
        <div class="clear">
            <div ng-include="'left.html'"></div>

            <div class="show-word fl">
                <div class="show-word-top">
                    <h2><span>云抗D</span></h2>
                    <p>
                        TelCloud**抗D—单个节点防御量高达1T,按需扩容，无黑洞。全自助SECaaS购买多种套餐服务，防御即开即用；关心每一个接入用户，为您的重要资源提供性能监控告警服务；7×24优质服务支持，服务器全程监控，保障业务系统稳定续航。</p>
                </div>
                <div class="show-word-down">
                    <button ng-click="gotoPage('/denglu')">立即使用</button>
                </div>
            </div>
            <div class="show-img fr">
                <img src="images/yunkangd.png" alt="">
            </div>
        </div>
    </div>
    <div class="main-content">
        <div class="clear stitle">
            <ul class="">
                <li><a href="" class="md" name="#anli">产品优势</a></li>
                <li><a href="" class="md" name="#gaishu">产品特点</a></li>
                <li><a href="" class="md" name="#yycj1">抗D图示</a></li>
                <li><a href="" class="md" name="#yycj">应用场景</a></li>
                <li><a href="" class="md" name="#hyyy">行业应用</a></li>
            </ul>
            <div class="clear ">
                <button ng-click="gotoPage('/denglu')">立即使用</button>
            </div>
        </div>
        <script>
            smallt.stitleH = $(".stitle").offset().top;//页面加载就取下固定值
            smallt.left = parseInt($(".stitle").css("left"));
        </script>
        <div>

            <div class="contents container-fluid  ct3">
                <div class="row">
                    <a id="anli"></a>
                    <h3>产品优势<span class="fr"></span></h3>
                    <table class="col-md-12">
                        <tbody>
                        <tr>
                            <td class="col-md-2"><h4>优势点</h4></td>
                            <td class="col-md-6" style="position: relative">
                                <div class="tablediv1"></div>
                                <h4 style="color:#116ddd">**抗D</h4>
                            </td>
                            <td class="col-md-4">
                                <h4>传统抗DDoS</h4>

                            </td>
                        </tr>
                        <tr>
                            <td class=" ">
                                <p>成本</p>
                            </td>
                            <td>
                                <p>无硬件、资源投入、按需付费 </p>
                            </td>
                            <td class="">
                                <p>前期大量投入购买软件、硬件资源</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="">
                                <p>人力</p>
                            </td>
                            <td>
                                <p>无需投入专门人员维护管理</p>
                            </td>
                            <td class="">
                                <p>需要专门人员维护管理 </p>
                            </td>
                        </tr>
                        <tr>
                            <td class="">
                                <p>灵活性</p>
                            </td>
                            <td>
                                <p>高性能配置，资源充足，扩展灵活、网络冗余稳定、性价比高 </p>
                            </td>
                            <td class="">
                                <p>资源固定、无拓展性、不具备大规模突发攻击处理能力、性价比低</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="">
                                <p>统计分析</p>
                            </td>
                            <td>
                                <p>专业分析、详细报表、可视化数据 </p>
                            </td>
                            <td class="">
                                <p>分析不足、报表简单、可视化有限</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="">
                                <p>技术支持</p>
                            </td>
                            <td style="position: relative;">
                                <p>专责DDoS防御服务团队关注、注重用户需求和反馈 </p>
                                <div class="tablediv2"></div>
                            </td>
                            <td class="">
                                <p>服务团队服务资源缺乏、不注重用户反馈和客户沟通</p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="contents container-fluid  ct6">

                <div class="row">
                    <a id="gaishu"></a>
                    <h3>产品特点<span class="fr"></span></h3>
                    <p>**抗D采用DNS解析的方式，使用户请求先经过**的防御节点，防御节点对于请求进行识别和过滤，正常访问流量牵引至源站服务器，恶意请求则清洗掉，从而实现DDoS防御。</p>
                    <div>
                        <img src="images/kangDtedian1.png" title="产品特点" alt="">

                    </div>
                </div>
            </div>
            <div class="contents container-fluid  ct6">

                <div class="row">
                    <a id="yycj1"></a>
                    <h3>**抗D图示<span class="fr"></span></h3>
                    <div>
                        <img src="images/kangDtushi1.png" title="抗D图示" alt="">
                    </div>
                </div>
            </div>
            <div class="contents container-fluid  ct6">

                <div class="row">
                    <a id="anli22"></a>
                    <h3>防御资源：<span class="fr"></span></h3>
                    <div>
                        <img style="width:80%" title="防御资源" src="images/kangDziyuan1.png" alt="">
                    </div>
                </div>
            </div>
            <div class="contents container-fluid  ct6">

                <div class="row">
                    <a id="anli221"></a>
                    <h3>技术支持：<span class="fr"></span></h3>
                    <div>
                        <img title="技术支持" style="width:40%" src="images/kangDjszc.png" alt="">
                    </div>
                </div>
            </div>
            <div class="contents container-fluid  ct5">

                <div class="row">
                    <a id="yycj"></a>
                    <h3>应用背景<span class="fr"></span></h3>
                    <p>
                        随着电子商务、在线游戏、网银支付系统、社交网站等需要数据中心支撑的高利润在线业务的高速增长，以恶意竞争为目的的DDoS攻击与日俱增，而持续时间也是越来越长。根据安全事件调查显示，行业间的恶意竞争、巨额金钱讹索，多出现在购物季和各节日期间，如黑色星期五、圣诞节、新年等节日购物时间，PSN、Xbox
                        Live和EA连续多年在圣诞节及大型游戏发布前夕遭受DDoS攻击。
                        在DDoS攻击目标行业中，最严重的为电子商务、金融网贷、在线游戏及政府机构。所以这些行业的企业和机构是最需要使用**抗D产品的。</p>
                    <div>
                    </div>
                </div>
            </div>
            <div class="contents container-fluid ct1">
                <div class="row">
                    <a id="hyyy"></a>
                    <h3>行业应用<span class="fr"></span></h3>
                    <div class="img-center clear" title="行业应用">
                        <div>
                            <img src="images/sydw.png" alt="">
                            <p>企事业单位</p>
                        </div>
                        <div>
                            <img src="images/game.png" alt="">
                            <p>游戏</p>
                        </div>
                        <div>
                            <img src="images/jinrong.png" alt="">
                            <p>金融</p>
                        </div>
                        <div>
                            <img src="images/syhz.png" alt="">
                            <p>商业企业</p>
                        </div>
                        <div>
                            <img src="images/lingshou.png" alt="">
                            <p>零售</p>
                        </div>
                        <div>
                            <p style="text-align:center;line-height:70px;font-size: 34px;">...</p>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
