<div id="lingshou" class="dsotos">
    <div class="solution-img">
        <div>
            <h1>零售解决方案</h1>
            <p>
                龙腾企业云为零售业提供混合组网和高速互通的解决方案，支撑“总部+多分支”业务系统的灵活部署，保障业务系统稳定运行。
            </p>
            <p><a ng-click="gotoPage('/denglu')" href="">立即咨询</a></p>
        </div>
    </div>

    <div class="solution-contents">
        <div class="clear solutions stitle">
            <ul class="">
                <li><a href="" class="md" name="#a2">方案特点</a></li>
                <!--<li><a href="" class="md" name="#a3">发展趋势</a></li>-->
                <li><a href="" class="md" name="#a4">方案架构</a></li>
            </ul>
            <div class="clear ">
                <button>立即选购</button>
            </div>
        </div>
        <script>
            smallt.stitleH = $(".stitle").offset().top;//页面加载就取下固定值
            smallt.left = parseInt($(".stitle").css("left"));
        </script>



        <a id="a2"></a>

        <div class="jjfa" style="padding-top:0;">
            <p class="jjfatitlep">方案特点</p>
            <ul class="clear">
                <li>
                    <h3>混合组网</h3>
                    <p>**提供云服务器与物理机混合组网服务，保障高性能计算对CPU、内存的高要求，提供公有云与私有云之间专线互通组网，实现业务快速迁移。</p>
                </li>
                <li>
                    <h3>弹性伸缩</h3>
                    <p>根据服务器负载情况，**提供快速的自动化的弹性伸缩服务，保证客户业务的连续性和快速扩容。</p>
                </li>
                <li>
                    <h3>安全可靠</h3>
                    <p>电信级安全设备及二层、三层网络隔离，确保客户数据安全。</p>
                </li>
            </ul>
        </div>

        <!--<a id="a3"></a>-->
        <!--<p class="jjfatitlep">发展趋势</p>-->
        <!--<div class="jjfa">-->
        <!--<div class="contents ct4">-->
        <!--<div class="container-fluid">-->
        <!--<div class="row">-->
        <!--<div class="neirong clear jjfats">-->
        <!--<ul class="clear neirong-title">-->
        <!--<li style="background:#fff" class="col-md-4"><a style="color:#2277e6;"-->
        <!--href="javascript:;">助力IDC企业快速转型</a></li>-->
        <!--<li class="col-md-4"><a href="javascript:;">大幅降低IDC企业的运营成本</a></li>-->
        <!--<li class="col-md-4"><a href="javascript:;">提升IDC企业的品牌力量</a></li>-->
        <!--</ul>-->
        <!--<div class="neirong-content nr0 col-md-12">-->
        <!--<span>云计算整体市场增速远远高于传统IT：增速的巨大差异，带来的是云计算架构占比的迅速提高，传统IT架构供应商面临着大量客户流失的风险和挑战。数据中心运营商可结合自身在网络、安全及运营方面的专长，推出基于云技术的解决方案，满足客户对于新型服务的需求，同时提高自身运营资源的利用率，拓展新的市场空间。</span>-->
        <!--</div>-->
        <!--<div class="neirong-content nr1 col-md-12" style="display: none;">-->
        <!--<span>虽然云计算和传统IT架构在短期内将并存，但传统架构占比迅速降低，必然带来客户维护成本提高、创新能力限制等严峻挑战，越来越多的传统供应商将面临着经营危机。数据中心运营商积极思考应对之举，已经成为行业发展的必然选择。当前的数据中心增值业务保持较快发展势头，基于云架构的增值业务正成为各数据中心企业形成差异化竞争力的着力点，未来发展前景可观。</span>-->
        <!--</div>-->
        <!--<div class="neirong-content nr2 col-md-12" style="display: none;">-->
        <!--<span>从行业发展趋势来看，云计算正从建设模式、用户行为、业务模式和网络承载等方面改变着数据中心产业。云计算技术在解决原来数据中心发展问题方面成效显著，数据中心业务正在逐步从提供资源转向提供服务，同时，云计算技术能促进数据中心实现节能减排、绿色管理，并为数据中心提供更高的灵活性。</span>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->

        <a id="a4"></a>
        <div class="solut-c1 clear" style="padding-top: 10px;">
            <p class="jjfatitlep" style="margin-bottom:50px;">方案架构</p>

            <div class="clear solut-c">
                <div class="fl">
                    <div class="solut-c-title">
                    </div>
                    <div class="ulli-img">
                        <div style="display: block">
                            <img src="images/lingshou222.png" alt="">
                        </div>

                    </div>
                </div>
                <div class="fr">
                    <div style="display: block;">
                        <h3>方案说明：</h3>
                        <h2></h2>
                        <!--<p><strong>由传统数据中心向云的转化</strong></p>-->
                        <ul>
                            <li>将企业的业务系统部署在**，采用物理机和云服务器混合组网模式。</li>
                            <li>企业总部与分支机构都通过专线与云端业务系统建立专有网络，保证业务互通。</li>
                            <li>高质量网络保障总部与各分支节点的互联互通。</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>
