<div id="tgy" class="clear">
    <input class="leftLight" type="hidden" value="0" name="tgyclass">

    <div class="show" style="position: relative;">
        <div class="clear">
            <div ng-include src="'left.html'"></div>
            <div class="show-word fl">
                <div class="show-word-top">
                    <h2><span>托管云</span></h2>
                    <p>龙腾云
                        TelCloud构建的“千云”私有云平台集计算、存储、虚拟化和云管理平台于一体，着力于帮助企业以更低的成本，获得更高效、更敏捷、更安全的服务。图形化的工作界面，按照场景的弹性分配，动态的扩展与开放的架构，可以更好的解决客户的需求，提供不同类型的解决方案。</p>
                </div>
                <div class="show-word-down">
                    <a href="/horizon/auth/login/" target="_self"><button>立即使用</button></a>
                    <!--<button ng-click="gotoPage('/price')">价格计算</button>-->
                </div>
            </div>
            <div class="show-img fr">
                <img src="images/tuoguanyun.png" alt="">
            </div>
        </div>

    </div>
    <div style="position: relative;">
        <div class="main-content">
            <div class="clear stitle">
                <ul class="">
                    <li><a href="" class="md" name="#a1s">产品优势</a></li>
                    <li><a href="" class="md" name="#a2">产品功能</a></li>
                    <li><a href="" class="md" name="#a3">产品架构</a></li>
                    <li><a href="" class="md" name="#a4">行业应用</a></li>
                </ul>
                <div class="clear ">
                    <a href="/horizon/auth/login/" target="_self"><button>立即使用</button></a>
                    <!--<button ng-click="gotoPage('/price')">价格计算</button>-->
                </div>
            </div>
            <script>
                smallt.stitleH = $(".stitle").offset().top;//页面加载就取下固定值
                smallt.left = parseInt($(".stitle").css("left"));
            </script>
            <div>

                <div class="contents container-fluid  ct3">
                    <a id="a1s"></a>
                    <h3>产品优势<span class="fr"></span></h3>
                    <div>
                        <div class="row">
                            <table class="col-md-12">
                                <tbody>
                                <tr>
                                    <td class="col-md-2"><h4>优势点</h4></td>
                                    <td class="col-md-6" style="position: relative">
                                        <h4>托管云</h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td class=" ">
                                        <p>易用</p>
                                    </td>
                                    <td>
                                        <p>
                                            资源申请秒级响应，极大缩短了业务应用上线的周期；云主机可以灵活挂载卸载云硬盘，添加删除网卡，绑定解绑公网IP，弹性调整配置，灵活便捷；通过VNC可视化界面，无需网络连通，也可以快速登陆云主机进行管理。</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="">
                                        <p>可靠</p>
                                    </td>
                                    <td>
                                        <p>
                                            提供与龙腾云公有云相同的SLA服务保障，无论是底层架构，还是专业的运维团队，保证您的云时刻在线。持续不断产品更新，优化云平台性能，上线新的产品功能，你的云平台将在技术和功能保持领先。</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="">
                                        <p>安全</p>
                                    </td>
                                    <td>
                                        <p>提供了全方位的网络和系统安全保
                                            护,并通过稳固的底层构架保障用户数据的安全性和业务稳定性，精确到分钟级的实时云主机监控，支持自定义告警功能，保证您的业务稳定运行，支持VLAN\VXLAN网络隔离、软防火墙、数据灾备方案、平台各组件高可用。</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="">
                                        <p>节省成本</p>
                                    </td>
                                    <td>
                                        <p>
                                            集中管理企业内部IT资源，通过云化，形成一个大的资源池，在有资源需求的时候进行统一调度，简化了IT基础设施的部署和管理，通过资源的云化，提升了资源的利用率、降低了整体TCO。</p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="contents ct4">
                    <div class="container-fluid">
                        <div class="row">
                            <a id="a2"></a>
                            <h3>产品功能</h3>
                            <div class="neirong clear">
                                <ul class="clear neirong-title">
                                    <li style="background:#fff" class="col-md-2"><a style="color:#2277e6;"
                                                                                    href="javascript:;">计算</a></li>
                                    <li class="col-md-2"><a href="javascript:;">镜像</a></li>
                                    <li class="col-md-2"><a href="javascript:;">存储</a></li>
                                    <li class="col-md-2"><a href="javascript:;">网络</a></li>
                                    <li class="col-md-2"><a href="javascript:;">公网IP EIP</a></li>
                                    <li class="col-md-2"><a href="javascript:;">路由器 Router</a></li>
                                </ul>
                                <div class="neirong-content nr0 col-md-12">
                                    <p><strong>计算</strong><br>托管云提供一种可随时自助获取、可弹性伸缩的云服务器，帮助用户打造可靠、安全、灵活、高效的应用环境，确保服务持久稳定运行，提升运维效率。
                                    </p>
                                    <ul>
                                        <li>
                                            <h4>秒级获取</h4>
                                            <p>秒级启动速度，无论同时创建多少台，都可以在几十秒内完成。</p>
                                        </li>
                                        <li>
                                            <h4>高弹性</h4>
                                            <p>弹性可扩展，随时调整CPU、内存。</p>
                                        </li>
                                        <li>
                                            <h4>自有映像</h4>
                                            <p>可在搭建好环境后捕获成自有映像，之后可基于此自由映像创建更多主机。</p>
                                        </li>
                                        <li>
                                            <h4>网页登录</h4>
                                            <p>不需要绑定公网IP就可在网页上登录主机。</p>
                                        </li>
                                        <li>
                                            <h4>全面监控</h4>
                                            <p>历史和实时监控主机CPU、内存、硬盘读写、网络流量等重要数据。</p>
                                        </li>

                                    </ul>
                                </div>
                                <div class="neirong-content nr1 col-md-12" style="display: none;">
                                    <p><strong>镜像</strong><br>镜像（Image）是一个包含了软件及必要配置的机器模版。
                                        作为基础软件，操作系统是必须的，您也可以根据自己的需求将任何应用软件 （比如，数据库、中间件等）放入镜像中。</p>
                                    <ul>
                                        <li>
                                            <h4>多种操作系统</h4>
                                            <p>我们为您提供最新、最常用、最稳定的镜像。</p>
                                        </li>
                                        <li>
                                            <h4>共享镜像</h4>
                                            <p>可将自有镜像选择分享给您的子帐户。</p>
                                        </li>
                                        <li>
                                            <h4>自带存储空间</h4>
                                            <p>Linux 自带 20G 高性能硬盘；Windows 自带 50G 高性能硬盘。</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="neirong-content nr2 col-md-12" style="display: none;">
                                    <p><strong>存储</strong><br>统一的CEPH分布式存储，降低云平台存储成本，颠覆原生Open—
                                        stack存储架构，减少组件间的数据传输，让您的云平台体验更加 顺畅。</p>
                                    <ul>
                                        <li>
                                            <h4>分布式架构</h4>
                                            <p>领先的云存储软件架构，多副本机制，带来更加安全的数据保障，实现数据容错、纠删功能，集成存储界面，实现服务可视化管理</p>
                                        </li>
                                        <li>
                                            <h4>智能数据模型</h4>
                                            <p>基于业务的数据冷热分层</p>
                                            <p>动态加速存储功能</p>
                                            <p>为业务提供多种存储资源池</p>
                                            <p>提供性能与容量的自由选择SSD+HDD</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="neirong-content nr3 col-md-12" style="display: none;">
                                    <p><strong>网络</strong><br>基于Neutron、OVS、VXLAN、NameSpace等技 术,UStack托管云将所有物理世界的网络设备都被
                                        设计成了可操作的网络对象。云管理面板,就可以根据业务需要灵活快速地构建 复杂的网络环境,使网络管理更加智能。</p>
                                </div>
                                <div class="neirong-content nr4 col-md-12" style="display: none;">
                                    <p><strong>公网 IP 地址</strong><br>公网 IP 地址是在互联网上合法的静态 IP 地址。 在龙腾云系统中，公网 IP
                                        地址与您的账户而非特定的资源（主机或路由器）关联，在您创建主机时我们会为您的主机随机分配一个公网IP，一个服务只有一个公网IP。</p>
                                    <ul>
                                        <li>
                                            <h4>软件定义网络SDN</h4>
                                            <p>灵活的组网方式 图形化的网络拓扑</p>
                                            <p>界面化定制您的私有网络</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="neirong-content nr5 col-md-12" style="display: none;">
                                    <p><strong>统一的CEPH分布式存储<br></strong>降低云平台存储成本，颠覆原生Open— stack存储架构，减少组件间的数据传输，让您的云平台体验更加
                                        顺畅。</p>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="contents container-fluid  ct6">

                    <div class="row">
                        <a id="a3"></a>
                        <h3>产品架构<span class="fr"></span></h3>
                        <p>TelCloud通过领先的技术，打造基于OpenStack的强大云平台。</p>
                        <p>
                            TelCloud云平台采用超融合架构，在标准的x86服务器和通用网络设备的基础上，通过弹性计算、统一存储和SDN网络等技术，构建了涵盖云主机、云硬盘和VPC网络在内的完整云计算基础设施，为用户提供全功能的云计算平台。通过强大的运维监控系统和完善的持续集成体系将为TelCloud云平台不断增加新的功能，为用户持续交付新的价值。</p>
                        <div>
                            <img src="images/tgy001.png" alt="">
                        </div>

                    </div>
                </div>
                <div class="contents container-fluid ct1">
                    <div class="row">
                        <a id="a4"></a>
                        <h3>行业应用<span class="fr"></span></h3>
                        <div class="img-center clear" title="行业应用">
                            <div>
                                <img src="images/sydw.png" alt="">
                                <p>企事业单位</p>
                            </div>
                            <div>
                                <img src="images/game.png" alt="">
                                <p>游戏</p>
                            </div>
                            <div>
                                <img src="images/jinrong.png" alt="">
                                <p>金融</p>
                            </div>
                            <div>
                                <img src="images/syhz.png" alt="">
                                <p>商业企业</p>
                            </div>
                            <div>
                                <img src="images/lingshou.png" alt="">
                                <p>零售</p>
                            </div>
                            <div>
                                <p style="text-align:center;line-height:70px;font-size: 34px;">...</p>
                            </div>

                        </div>
                    </div>

                </div>


            </div>

        </div>
    </div>

</div>

