<div id="newlibao">
    <div class="img-titleshow">
        <h1>专享礼包</h1>

        <p>**专享礼包活动规则</p>
    </div>
    <div class="guize">
        <h3>注册领红包</h3>
        <p>注册即送100元平台红包，在线试用云主机。</p>
        <p>活动规则: </p>
        <ul>
            <li>
                <span>适用人群：活动期间新注册用户；</span>
            </li>
            <li>
                <span>活动时间：2017年1月1日-2017年6月30日；</span>
            </li>
            <li>
                <span>参与方式：新注册用户可立即领取100元红包；</span>
            </li>
            <li>
                <span>红包适用范围：适用于云主机业务，使用后不予退还；</span>
            </li>
            <li>
                <span>参与限制：每个新用户限参与1次（PC端和手机端共1次），不支持退款；</span>
            </li>
            <li>
                <span>活动最终解释权在法律范围内归**所有。</span>
            </li>
        </ul>
        <i class="left-img"></i>
    </div>
    <div class="guize">
        <h3>多充多送</h3>
        <p>充值立享充值金额10%平台红包。</p>
        <p>活动规则: </p>
        <ul>
            <li>
                <span>适用人群：活动期间一次性充值1000元及以上用户；</span>
            </li>
            <li>
                <span>活动时间：2017年1月1日-2017年6月30日；</span>
            </li>
            <li>
                <span>红包适用范围：仅限云主机业务使用，使用后不予退还；</span>
            </li>
            <li>
                <span>优惠限制：赠送10%充值金额红包仅限于下次充值金额大于等于本次充值金额时使用，如有退款，赠送金额全部收回。</span>
            </li>
            <li>
                <span>活动最终解释权在法律范围内归**所有。</span>
            </li>
        </ul>
        <i class="left-img"></i>
    </div>
    <div class="guize">
        <h3>带宽增速百分百</h3>
        <p>购买**IaaS服务，已购CaaS带宽免费提速100%！</p>
        <p>活动规则: </p>
        <ul>
            <li>
                <span>适用人群：活动期间CaaS用户购买IaaS服务；</span>
            </li>
            <li>
                <span>活动时间：2017年1月1日-2017年6月30日；</span>
            </li>
            <li>
                <span>参与限制： 仅限带宽20M及以下，购买IaaS服务开票金额达到现有CaaS合同额50%及以上可参与。</span>
            </li>
            <li>
                <span>活动最终解释权在法律范围内归**所有。</span>
            </li>
        </ul>
        <i class="left-img"></i>
        <!--<h2>四、 活动最终解释权在法律范围内归**所有。</h2>-->

    </div>
</div>