<div id="newsbox" class="newsbox_cont">
    <div class="news-hader">
        <div class="banner-text">
            <p class="banner-title">新闻动态</p>
            <p>通过媒体报道，理解我们更多的侧面</p>
        </div>
    </div>
    <!-- news cont start-->
    <div class="news-wapcont">
        <div class="fl cont_left">
            <h2 class="cont_left-title">
                <a ng-click="gotoPage('/about/news')" href="javascript:;">
                    < 返回最近报道列表
                </a>
            </h2>
            <div class="cont_list">
                <h1>
                    xxxxx云为您的数据安全保驾护航
                </h1>
            </div>
            <p class="news_cont-data">
                <span>
                    2016-05-22
                </span>
                <!-- <span style="margin-left: 40px;">
                     来源：
                 </span>-->
            </p>
            <div class="news_cont-list">
                <p>
                    最近，勒索软件成为了全民热议话题，全球共有150多个国家遭到病毒“永恒之蓝”的攻击，
                    校园网、公安网、医疗网等专线专网成为被攻击的主要对象，此次勒索病毒迅速感染全球大量主机的原因是利用了“永恒
                    之蓝”的漏洞MS17-010，可远程控制未修复漏洞机器，受感染机器资料将被加密，基本无法恢复。
                </p>
                <p style="text-align: center">
                    <img src="images/bjhh_1.png" alt="">
                </p>
                <p style="text-align: center">▲ 电脑被勒索后显示界面</p>
                <p>
                    对于安全圈里的人来说，勒索病毒已经算是一个老生常谈问题。10年前引发
                    大面积机器瘫痪的蠕虫病毒尼姆达、熊猫烧香还主要影响PC端，而在企业业务互联网化，联网设备IOT化的今天，
                    WannaCry勒索病毒这样的病毒很可能会常态化，影响也会越来越重大。
                </p>
                <p>
                    在本次勒索病毒爆发中，xxxxx云没有一例用户中招。
                    xxxxx云一直把数据安全作为云平台设计的基本原则，所有功能实现都基于这个原则设计：
                </p>
                <p>
                    <img src="images/bjhh_2.png" alt="">
                </p>
                <p>
                    <img src="images/bjhh_3.png" alt="">
                </p>
                <p>
                    <img src="images/bjhh_4.png" alt="">
                </p>
                <p>
                    此外，自去年9月xxxxx就与业界领先安全厂商合作，推出安全云产品。xxxxx云产品全面采用API对接技术，
                    部署非常快捷，可以在短时间内完成在xxxxx云SECaaS下的部署。
                </p>
                <p style="text-align: center">
                    <img src="images/bjhh_5.png" alt="">
                </p>
                <p>
                    <img src="images/bjhh_4-1.png" alt="">
                </p>
                <p style="text-align: center">
                    <img src="images/bjhh_6.png" alt="">
                </p>
                <p style="text-align: center">
                    <img src="images/bjhh_7.png" alt="">
                </p>
                <p>
                    <img src="images/bjhh_7-1.png" alt="">
                </p>
                <p style="text-align: center">
                    <img src="images/bjhh_8.png" alt="">
                </p>
                <p style="text-align: center">
                    <img src="images/bjhh_9.png" alt="">
                </p>
                <p>
                    <img src="images/bjhh_9-1.png" alt="">
                </p>
                <p style="text-align: center">
                    <img src="images/bjhh_10.png" alt="">
                </p>
                <p style="text-align: center">
                    <img src="images/bjhh_11.png" alt="">
                </p>
                <p>
                    在勒索软件不断“变异”的趋势下，类似攻击行为会不断的渗透，
                    xxxxx云将会不遗余力的致力于云安全产品研发，为我们用户的数据安全保驾护航。
                </p>
                <p style="text-align: center">
                    <img src="images/sheng35.png" alt="">
                </p>

            </div>

        </div>

        <div class="fr cont_right" ng-include="'template/news_report.html'">

        </div>

        <div class="news_cont-node">
            <div style="margin-top: 16px;display: inline-block;margin-left: 10px;  color: #2277da;">
                上一篇报道：
                <a ng-click="gotoPage('/news-cont17')" href="javascript:;" style="color:#333;display: inline-block;">
                    xxxxx云知云学堂第二弹
                </a>
            </div>
            <div style=" margin-left: 10px;     margin-top: 16px;  color: #2277da;">
                下一篇报道：
                <a ng-click="gotoPage('/news-cont19')" href="javascript:;" style="color:#333;display: inline-block;">
                    浓情端午，xxxxx云粽情有礼
                </a>
            </div>
        </div>

    </div>
    <!-- news cont end-->
</div>