<div id="newsbox" class="newsbox_cont">
    <div class="news-hader">
        <div class="banner-text">
            <p class="banner-title">新闻动态</p>
            <p>通过媒体报道，理解我们更多的侧面</p>
        </div>
    </div>
    <!-- news cont start-->
    <div class="news-wapcont">
        <div class="fl cont_left">
            <h2 class="cont_left-title">
                <a ng-click="gotoPage('/about/news')" href="javascript:;">
                    < 返回最近报道列表
                </a>
            </h2>
            <div class="cont_list">
                <h1>
                    招聘| We Need You
                </h1>
            </div>
            <p class="news_cont-data">
                <span>
                    2017-07-31
                </span>
                <!-- <span style="margin-left: 40px;">
                     来源：
                 </span>-->
            </p>
            <div class="news_cont-list">
                <p style="text-align: center">
                    <img src="images/wxwz_1.png" alt="">
                </p>
                <p style="text-align: center">
                    <img src="images/wxwz_2.png" alt="">
                </p>
                <p style="text-align: center">
                    <img src="images/wxwz_3.png" alt="">
                </p>
                <p style="text-align: center">
                    <img src="images/wxwz_4.png" alt="">
                </p>
                <p style="text-align: center">
                    <img src="images/wxwz_5.png" alt="">
                </p>

                <p style="text-align: center">
                    <img src="images/wxwz_6.png" alt="">
                </p>
                <p style="text-align: center;color: #000;">
                    ▲
                </p>
                <p style="text-align: center">
                   <strong> 识别上方“二维码”查看职位信息</strong>
                    <br>
                    <span style="margin-top: 10px;display: block;color: #28C;">
                        简历投递地址
                    <br>
                    zhangj@longtel.com
                    </span>
                </p>
                <p style="text-align: center; font-size:13px;">
                    — FIN —
                    <br>
                </p>
                <p style="text-align: center">
                    <img src="images/wxwz_7.jpg" alt="">
                </p>

                <p style="text-align: center">
                    <img src="images/wxwz_8.jpg" alt="">
                </p>

            </div>

        </div>

        <div class="fr cont_right" ng-include="'template/news_report.html'">

        </div>

        <div class="news_cont-node">
            <div ng-click="gotoPage('/news-cont24')"
                 style="margin-top: 16px;display: inline-block;margin-left: 10px;  color: #2277da;">
                上一篇报道：
                <a href="javascript:;" style="color:#333;display: inline-block;">
                    全国首家SDN运营网落地北京数百栋商业楼宇
                </a>
            </div>
            <br>
            <div ng-click="gotoPage('/news-cont26')"
                 style="margin-top: 16px;display: inline-block;margin-left: 10px;  color: #2277da;">
                下一篇报道：
                <a href="javascript:;" style="color:#333;display: inline-block;">
                    邀请函
                </a>
            </div>
        </div>

    </div>
    <!-- news cont end-->
</div>