<div id="newsbox" class="newsbox_cont">
    <div class="news-hader">
        <div class="banner-text">
            <p class="banner-title">新闻动态</p>
            <p>通过媒体报道，理解我们更多的侧面</p>
        </div>
    </div>
    <!-- news cont start-->
    <div class="news-wapcont">
        <div class="fl cont_left">
            <h2 class="cont_left-title">
                <a ng-click="gotoPage('/news')" href="javascript:;">
                    < 返回最近报道列表
                </a>
            </h2>
            <div class="cont_list">
                <h1>
                    ****成为清华大数据产业联合会理事单位
                </h1>
            </div>
            <p class="news_cont-data">
                <span>
                    2017-01-25
                </span>
                <!-- <span style="margin-left: 40px;">
                     来源：
                 </span>-->
            </p>
            <div class="news_cont-list">
                <p>
                    <img src="./images/qinghua111.png" style="width: 640px;">
                </p>
                <p>
                    经清华大数据产业联合会审核，北京****科技股份公司（以下简称“****”）正式加入清华大数据产业联合会，
                    并成为清华大数据产业联合会理事单位。
                </p>
                <p>
                    <img src="./images/pinshu111.png" style="width: 640px;">
                </p>
                <p>
                    清华大数据产业联合会是在清华大学数据科学研究院发起指导下，依托于清华大学独特的师资和生源优势、清华大学多个院系和学科在大数据相关领域多年的积累与探索，联合大数据产业链中的优秀龙头企业与创新企业共同成立。联合会旨在提供大数据产业链的思维碰撞与资源对接平台，促进产、学、研良性互动，
                    以产业需求带动复合型大数据人才的培养，推动大数据生态系统中的各合作共赢。
                </p>
                <p>
                    此次****公司携手清华大数据产业联合会，成为联合会理事单位，表明联合会对****的认可和对****未来发展的信心。 通过与清华大数据产业联合会的深入合作，
                    ****将会不遗余力的致力于大数据方向的探索，为大数据方向的学生提供更多的实习和就业机会。
                </p>
                <p>未来，**还将在大数据领域开发更多应用和产品，解决众多行业出现的需求和痛点，
                    助力企业传统行业的全面升级。“动一下鼠标就可以秒级操作PB级别的数据”确实让人兴奋不已呢！</p>
                <p>
                    PS：**产品概览
                </p>
                <p>
                    <img src="./images/chanpingailan111.png" style="width: 640px;">
                </p>
            </div>
            <div class="news_cont-node">
                <div style="    color: #2277da;">
                    下一篇报道：
                    <a ng-click="gotoPage('/news-cont8')" href="javascript:;" style="color:#333;display: inline-block;">
                        "**"携手伙伴共展云途，看看这是一朵什么云？
                    </a>
                </div>
                <!--<div style="      margin-top: 16px;  color: #2277da;">
                    下一篇报道：
                    <a href="javascript:;"style="color:#333;display: inline-block;">

                    </a>
                </div>-->
            </div>

        </div>

        <div class="fr cont_right">
            <div class="right_cont">
                <h2 class="cont_rightt-title">
                    热门报道
                    <span class="line fl"></span>
                </h2>
                <ul class="cont_right-list">
                    <li>
                        <a ng-click="gotoPage('/news-cont10')" href="javascropt:;">
                            <span class="dot fl"></span>
                            全新形象、全新改变 ——**官网全新改版上线
                        </a>
                        <p class="news-latest-date">
                            2017-02-13
                        </p>
                    </li>
                    <li>
                        <a ng-click="gotoPage('/news-cont9')" href="javascropt:;">
                            <span class="dot fl"></span>
                            ****成为清华大数据产业联合会理事单位
                        </a>
                        <p class="news-latest-date">
                            2017-01-25
                        </p>
                    </li>
                    <li>
                        <a ng-click="gotoPage('/news-cont8')" href="javascropt:;">
                            <span class="dot fl"></span>
                            "**"携手伙伴共展云途，看看这是一朵什么云？
                        </a>
                        <p class="news-latest-date">
                            2016-12-19
                        </p>
                    </li>
                    <li>
                        <a ng-click="gotoPage('/news-cont7')" href="javascropt:;">
                            <span class="dot fl"></span>
                            合众力 作云端 运千家 营未来
                        </a>
                        <p class="news-latest-date">
                            2016-12-05
                        </p>
                    </li>
                    <li>
                        <a ng-click="gotoPage('/news-cont6')" href="javascropt:;">
                            <span class="dot fl"></span>
                            【喜报】热烈祝贺****成功挂牌新三板
                        </a>
                        <p class="news-latest-date">
                            2016-11-01
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- news cont end-->
</div>