<div id="newsbox">
    <div class="news-hader">
        <div class="banner-text">
            <p class="banner-title">新闻动态</p>
            <p>通过媒体报道，理解我们更多的侧面</p>
        </div>
    </div>
    <!-- news cont start-->
    <div class="news-wapcont">
        <div class="fl cont_left">
            <h2 class="cont_left-title">
                <span class="line fl"></span>
                最近报道
            </h2>
            <ul class="cont_list">
                <li class="news-latest">
                    <a href="javascript:;" class='fl'>
                        <img src="./images/lianhehui111.jpg" alt="">
                    </a>
                    <h2 class="news-latest-title">
                        <a ng-click="gotoPage('/news-cont9')" href="javascript:;">
                            ****成为清华大数据产业联合会理事单位
                        </a>
                    </h2>
                    <p class="news-latest-cont">
                        经清华大数据产业联合会审核，北京****科技股份公司（以下简称“****”）
                        正式加入清华大数据产业联合会，并成为清华大数据产业联合会理事单位。
                    </p>
                    <p class="news-latest-date">
                        2017-01-25
                        <span></span>
                        **
                    </p>
                </li>
                <li class="news-latest">
                    <a href="javascript:;" class='fl'>
                        <img src="./images/shenmeyun111.jpg" alt="">
                    </a>
                    <h2 class="news-latest-title">
                        <a ng-click="gotoPage('/news-cont8')" href="javascript:;">
                            "**"携手伙伴共展云途，看看这是一朵什么云？
                        </a>
                    </h2>
                    <p class="news-latest-cont">
                        近日，随着****公司首次合作伙伴大会的举行，让“**”这个新的公有云品牌得以在业界“曝光”。
                    </p>
                    <p class="news-latest-date">
                        2016-12-19
                        <span></span>
                        **
                    </p>
                </li>
                <li class="news-latest">
                    <a href="javascript:;" class='fl'>
                        <img src="./images/weilai111.jpg" alt="">
                    </a>
                    <h2 class="news-latest-title">
                        <a ng-click="gotoPage('/news-cont7')" href="javascript:;">
                            合众力 作云端 运千家 营未来
                        </a>
                    </h2>
                    <p class="news-latest-cont">
                        **合作伙伴大会于2016年11月30日在京成功召开。本次会议围绕“**、身边的云”，
                        主要面向北京地区的独立数据中心和网络服务合作伙伴，共同探讨**的发展历程、产品特色优势及**全新的合作伙伴政策。
                    </p>
                    <p class="news-latest-date">
                        2016-12-05
                        <span></span>
                        **
                    </p>
                </li>
                <li class="news-latest">
                    <a href="javascript:;" class='fl'>
                        <img src="./images/sanban111.png" alt="">
                    </a>
                    <h2 class="news-latest-title">
                        <a ng-click="gotoPage('/news-cont6')" href="javascript:;">
                            【喜报】热烈祝贺****成功挂牌新三板
                        </a>
                    </h2>
                    <p class="news-latest-cont">
                        2016年10月28日，北京****科技股份公司，简称“****”，
                        在“新三板”即全国中小企业股份转让系统正式挂牌上市,股票代码839433
                    </p>
                    <p class="news-latest-date">
                        2016-11-01
                        <span></span>
                        **
                    </p>
                </li>
                <li class="news-latest">
                    <a href="javascript:;" class='fl'>
                        <img src="./images/zhuliu111.jpg" alt="">
                    </a>
                    <h2 class="news-latest-title">
                        <a ng-click="gotoPage('/news-cont5')" href="javascript:;">
                            **安全服务正在成为企业云服务的主流
                        </a>
                    </h2>
                    <p class="news-latest-cont">
                        安全产品作为软件服务产品中最为复杂的产品，近些年经历了高速发展的阶段，新的产品形式层出不穷，
                        随着市场需求的变化，各安全厂商逐渐认识到单靠单一厂商的设备无法满足市场需求和抵御变化多样的网络风险。
                    </p>
                    <p class="news-latest-date">
                        2016-09-27
                        <span></span>
                        **
                    </p>
                </li>
                <li class="news-latest">
                    <a href="javascript:;" class='fl'>
                        <img src="./images/wanghutong111.jpg" alt="">
                    </a>
                    <h2 class="news-latest-title">
                        <a ng-click="gotoPage('/news-cont4')" href="javascript:;">
                            **让您时时刻刻云网互通
                        </a>
                    </h2>
                    <p class="news-latest-cont">
                        9月7日电信主干网络故障导致**、AWS、金山云及UCLOUD等云服务提供商在北京的服务器电信线路均出现访问故障，
                        此次故障持续近4小时才得以解决。
                    </p>
                    <p class="news-latest-date">
                        2016-09-19
                        <span></span>
                        **
                    </p>
                </li>
                <li class="news-latest">
                    <a href="javascript:;" class='fl'>
                        <img src="./images/yuanmeng111.jpg" alt="">
                    </a>
                    <h2 class="news-latest-title">
                        <a ng-click="gotoPage('/news-cont3')" href="javascript:;">
                            **携手中网，和你一起圆梦
                        </a>
                    </h2>
                    <p class="news-latest-cont">
                        中网青少年巡回赛由北京中国网球公开赛体育推广有限公司主办、北京市体育局青少处支持、考奇网球承办。
                        2016赛季，中网青少年巡回赛将陆续在北京、上海、深圳、昆明、包头、贵阳、郑州、西安、泉州、柳州10大赛区展开，
                        直至9月中网前夕正式收官，总决赛将在中网赛期举行。**秉承追求卓越、健康拼搏的网球精神，全程支持中网青
                    </p>
                    <p class="news-latest-date">
                        2016-06-21
                        <span></span>
                        **
                    </p>
                </li>
                <li class="news-latest">
                    <a href="javascript:;" class='fl'>
                        <img src="./images/huodong1111.jpg" alt="">
                    </a>
                    <h2 class="news-latest-title">
                        <a ng-click="gotoPage('/news-cont2')" href="javascript:;">
                            **优惠政策及活动规则
                        </a>
                    </h2>
                    <p class="news-latest-cont">
                        一、 注册领红包
                        <br>
                        注册即送100元平台红包，在线试用云主机 。 活动规则:
                        <br>
                        1. 适用人群：活动期间新注册用户； 2. 活动时间：2016年6月1日-2016年12月31日；
                    </p>
                    <p class="news-latest-date">
                        2016-06-07
                        <span></span>
                        **
                    </p>
                </li>
                <li class="news-latest">
                    <a href="javascript:;" class='fl'>
                        <img src="./images/gaoxiao111.jpg" alt="">
                    </a>
                    <h2 class="news-latest-title">
                        <a ng-click="gotoPage('/news-cont1')" href="javascript:;">
                            高校移动创新大赛，**助你飞翔
                        </a>
                    </h2>
                    <p class="news-latest-cont">
                        中国高校计算机大赛 是面向全国高校各专业在校学生的科技类竞赛活动， 旨在促进高校计算机课程教学内容和教学方法改革，激发学生创新意识，
                        提升学生计算机问题求解水平，特别是计算机程序设计、大数据处理和移动应用的设计与开发能力，提高全国高校计算机应用水平。
                    </p>
                    <p class="news-latest-date">
                        2016-05-18
                        <span></span>
                        **
                    </p>
                </li>
            </ul>
            <!-- <div class="news_page">
                 <a href="javascript:;" style="width: auto;padding: 0 8px;">
                     <&nbsp上一页
                 </a>
                 <a href="javascript:;">
                     1
                 </a>
                 <a href="javascript:;">
                     2
                 </a>
                 <a href="javascript:;">
                     3
                 </a>
                 <a href="javascript:;">
                     4
                 </a>
                 <a href="javascript:;" style="width: auto;padding: 0 8px;">
                     下一页&nbsp>
                 </a>
             </div>-->

        </div>

        <div class="fr cont_right">
            <div class="right_cont">
                <h2 class="cont_rightt-title">
                    热门报道
                    <span class="line fl"></span>
                </h2>
                <ul class="cont_right-list">
                    <li>
                        <a ng-click="gotoPage('/news-cont10')" href="javascropt:;">
                            <span class="dot fl"></span>
                            全新形象、全新改变 ——**官网全新改版上线
                        </a>
                        <p class="news-latest-date">
                            2017-02-13
                        </p>
                    </li>
                    <li>
                        <a ng-click="gotoPage('/news-cont9')" href="javascropt:;">
                            <span class="dot fl"></span>
                            ****成为清华大数据产业联合会理事单位
                        </a>
                        <p class="news-latest-date">
                            2017-01-25
                        </p>
                    </li>
                    <li>
                        <a ng-click="gotoPage('/news-cont8')" href="javascropt:;">
                            <span class="dot fl"></span>
                            "**"携手伙伴共展云途，看看这是一朵什么云？
                        </a>
                        <p class="news-latest-date">
                            2016-12-19
                        </p>
                    </li>
                    <li>
                        <a ng-click="gotoPage('/news-cont7')" href="javascropt:;">
                            <span class="dot fl"></span>
                            合众力 作云端 运千家 营未来
                        </a>
                        <p class="news-latest-date">
                            2016-12-05
                        </p>
                    </li>
                    <li>
                        <a ng-click="gotoPage('/news-cont6')" href="javascropt:;">
                            <span class="dot fl"></span>
                            【喜报】热烈祝贺****成功挂牌新三板
                        </a>
                        <p class="news-latest-date">
                            2016-11-01
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- news cont end-->
</div>
<script>
    //页面按钮点击跳转
    $('.news_page>a').click(function () {
        var _this = $(this);
        _this.css({
            border: 'none',
            color: '#333'
        }).attr('active', 'true');
        if (_this.attr('active') == 'true') {

        }
        _this.siblings('a').css('border', '1px solid #ddd').css('color', '#999').attr('active', 'false');
    });
    ;
</script>