<div id="newsbox" class="newsbox_cont">
    <div class="news-hader">
        <div class="banner-text">
            <p class="banner-title">新闻动态</p>
            <p>通过媒体报道，理解我们更多的侧面</p>
        </div>
    </div>
    <!-- news cont start-->
    <div class="news-wapcont">
        <div class="fl cont_left">
            <h2 class="cont_left-title">
                <a ng-click="gotoPage('/about/news')" href="javascript:;">
                    < 返回最近报道列表
                </a>
            </h2>
            <div class="cont_list">
                <h1>
                    让基础设施研究变得更可见—清华大学数据科学研究院大数据基础设施研究中心成立
                </h1>
            </div>
            <p class="news_cont-data">
                <span>
                    2017-08-29
                </span>
                 <span style="margin-left: 40px;">
                     作者：赵立京 51CTO
                 </span>
            </p>
            <div class="news_cont-list">
                <p style="text-align: left">
                    <img style="width: 700px" src="images/yanjiu1.jpg" alt="">
                </p>
                <p>
                    信息技术与经济社会的交汇融合引发了数据迅猛增长，数据已经成为国家基础性战略资源，
                    大数据正日益对全球生产、流通、分配、消费活动以及经济运行机制、
                    社会生活方式和国家治理能力产生重要影响。然而，相对于金融、医疗领域的火爆发展，
                    大数据基础设施的建设往往会遭到忽视。为提高社会对大数据基础设施的认知、
                    推动数据基础设施建设、促进数据开放共享，2017年8月17日，
                    在清华大学FIT楼多功能厅举办了大数据基础设施认知RONG论坛暨大数据基
                    础设施研究中心(以下简称“中心”)成立仪式。
                </p>
                <p>
                    北京龙腾佳讯科技股份公司(以下简称“龙腾佳讯”)支持清华大学大数据相关领域的教师研究及学生奖励，
                    为数据院及附属机构捐赠网络资源及服务，数据院执行副院长韩亦舜和龙腾佳讯董事长兼总经理曾光签署了
                    中心合作协议。中心主任徐葳、中心副主任赵强、UC伯克利大学教授宋晓东、中证资本市场运行统
                    计监测中心数据技术开发部总监李刚、清数大数据产业联盟秘书长王霞出席并见证了这一重要时刻。
                </p>
                <p>
                    数据院执行副院长韩亦舜在论坛致辞中表示，大数据基础设施研究中心的建设应充分发挥清华学科综合优势，
                    促进跨学科研究合作，实现“更创新”。中心将对大数据基础设施建设领域进行研究，
                    还将与数据院已有的工业大数据、经济金融数据、智慧城市大数据等研究方向的科研中心进行横向合作，
                    孵化社会化大规模数据实验室，加快社会数据融合和资源整合，实现“更合作”。
                </p>
                <p>
                    <img style="width: 700px" src="images/yanjiu2.jpg" alt="">
                </p>
                <p style="text-align: center">
                    ▲ 中心成立签约仪式
                </p>
                <p>
                    从左到右：中心主任徐葳，数据院执行副院长韩亦舜，龙腾佳讯董事长兼总经理曾光，中心副主任赵强
                </p>
                <p>
                    会后，中心主任徐葳、中心副主任赵强、龙腾佳讯董事长兼总经理曾光接受了51CTO记者的采访。
                </p>

                <p style="text-align:left">
                    <strong>
                        让任何人都看不见基础设施，同时让基础设施研究变得更可见
                    </strong>
                </p>
                <p>
                    在问到清华大数据基础设施研究中心的目标时，中心主任徐葳用一句很有深意的话来总结：
                    清华大数据基础设施研究中心的目标是：让任何人都看不见基础设施，
                    但同时让基础设施的研究变得更可见，让有志者加入进来。徐葳详细解释说，
                    用户看不见基础设施，是因为基础设施好用易用，
                    变成一种公共服务(utility)，就像自来水一样，谁也不会关注水是怎么来的，
                    后边有多么庞杂的一套系统。
                </p>
                <p >
                    另外一方面，国内对于计算机系统的研究基础比较薄弱(相比机器学习方向)，
                    愿意研究这方面的学生也相对比较少。清华希望通过这一中心，让更多人意识到这一领域中有趣的技术和科学问题，
                    以及科研和商业前景，让更多人投入到这一方向中来。这就是所谓的：希望基础设施研究变得更可见。
                </p>
                <p>
                    说到对中心的期许，徐葳表示，希望推出一系列开源开放的基础架构管理软件和方案，
                    提升业界对于基础架构的管理自动化水平。同时培养一批具有管理新型基础设施能力的系统管理人才。
                </p>

                <p style="text-align:left">
                    <strong>得到产业最真实的一线需求</strong>
                </p>
                <p>
                    中心副主任赵强在采访时表示，中心比较倾向于由产业倒逼学术研究的模型，希望得到产业里最真实的一线需求，同时也希望把所谓的最新成果真正的部署到产业当中去。在赵强看来，
                    大数据不是基础学科，而是一个偏应用的学科，只有和实际相结合才能得到真正的有用的研究。
                </p>
                <p>
                    据赵强透露，中心也在特聘专家研究员。这些特聘研究员是一线产业的专家从业人员、基础设施相关大企业的架构师或者CTO。他们把在产业里遇到的实际问题反馈到学术界，大家密切合作，推进产学融合。
                </p>

                <p style="text-align:left">
                    <strong>产学融合，互惠互利</strong>
                </p>
                <p>
                    龙腾佳讯董事长兼总经理曾光表示，龙腾佳讯是清数大数据产业联盟的成员，几年来参与了很多数据院的活动和项目。当今，在基础设施方面的很多短板和问题已经成为大数据项目和产业发展的障碍，急需解决。经过沟通，公司决定投入资源支持中心的研究。
                </p>
                <p>
                    未来中心的科研课题，龙腾佳讯能够提供广泛的产业联系和背景。同时，公司覆盖全国的运营网络、服务网络可以为中心提供很好的研发、测试环境，支持国内外分布式技术、SDN、自动运维等领域的持续创新。当然龙腾佳讯也希望近水楼台，能更快更好地把新技术应用在生产实践中，为客户产生价值。
                </p>

                <p>
                    文章转自：<a href="http://cloud.51cto.com/art/201708/549380.htm">http://cloud.51cto.com/art/201708/549380.htm</a>
                </p>

                <p style="    padding-left: 290px;font-size: 12px;text-align: left;">
                    — FIN —
                </p>
                <p style="text-align: left">
                    <img src="images/news_sj8.jpg" alt="">
                </p>
                <p style="text-align: left">
                    <img src="images/news_sj9.jpg" alt="">
                </p>
            </div>

        </div>

        <div class="fr cont_right" ng-include="'template/news_report.html'">

        </div>

        <div class="news_cont-node">
            <div ng-click="gotoPage('/news-cont26')"
                 style="margin-top: 16px;display: inline-block;margin-left: 10px;  color: #2277da;">
                上一篇报道：
                <a href="javascript:;" style="color:#333;display: inline-block;">
                    邀请函
                </a>
            </div>
            <br>
            <div ng-click="gotoPage('/news-cont28')"
                 style="margin-top: 16px;display: inline-block;margin-left: 10px;  color: #2277da;">
                下一篇报道：
                <a href="javascript:;" style="color:#333;display: inline-block;">
                    助力大数据产业腾飞推动基础设施先行
                </a>
            </div>
        </div>

    </div>
    <!-- news cont end-->
</div>