<div id="newsbox" class="newsbox_cont">
    <div class="news-hader">
        <div class="banner-text">
            <p class="banner-title">新闻动态</p>
            <p>通过媒体报道，理解我们更多的侧面</p>
        </div>
    </div>
    <!-- news cont start-->
    <div class="news-wapcont">
        <div class="fl cont_left">
            <h2 class="cont_left-title">
                <a ng-click="gotoPage('/news')" href="javascript:;">
                    < 返回最近报道列表
                </a>
            </h2>
            <div class="cont_list">
                <h1>
                    全新形象、全新改变 ——**官网全新改版上线
                </h1>
            </div>
            <p class="news_cont-data">
                <span>
                    2017-02-13
                </span>
                <!-- <span style="margin-left: 40px;">
                     来源：
                 </span>-->
            </p>
            <div class="news_cont-list">
                <p>
                    <img src="./images/tel_xinban-1.png" style="width: 640px;">
                </p>
                <p>
                    不知不觉，丙申猴年即将过去， 感谢小伙伴们这一年对**的大力支持。新年新气象，为了将更丰富的内容展现给您，
                    **官网（www.longtel.com）在农历春节前全新改版上线！
                </p>
                <p>
                    新版**官网采用了先进的设计理念和网站架构，对页面设计、模块布局进行大幅调整，
                    力求界面美观，结构合理，内容丰富，并兼顾简洁、灵活的人性化设计。话不多说，直接上图。
                </p>
                <p>
                    <img src="./images/tel_xinban-2.png" style="width: 640px;">
                </p>
                <p>
                    <img src="./images/tel_xinban-3.png" style="width: 640px;">
                </p>
                <p>
                    <img src="./images/tel_xinban-4.png" style="width: 640px;">
                </p>
                <p>
                    <img src="./images/tel_xinban-5.png" style="width: 640px;">
                </p>
                <p>
                    <img src="./images/tel_xinban-6.png" style="width: 640px;">
                </p>
                <p>
                    <img src="./images/tel_xinban-7.png" style="width: 640px;">
                </p>
                <p>
                    <img src="./images/tel_xinban-8.png" style="width: 640px;">
                </p>
                <p>
                    全新形象，全新改变，希望您能感受到我们的与众不同！
                </p>
                <p>
                    <img src="./images/tel_xinban-9.png" style="width: 640px;">
                </p>
                <p>
                    <img src="./images/tel_xinban-10.png" style="width: 640px;">
                </p>
            </div>
            <div class="news_cont-node">
               <!-- <div style="    color: #2277da;">
                    上一篇报道：
                    <a ng-click="gotoPage('/news-cont7')" href="javascript:;" style="color:#333;display: inline-block;">
                        合众力 作云端 运千家 营未来
                    </a>
                </div>-->
                <div style="      margin-top: 16px;  color: #2277da;">
                    下一篇报道：
                    <a  ng-click="gotoPage('/news-cont9')" href="javascript:;"style="color:#333;display: inline-block;">
                        龙腾佳讯成为清华大数据产业联合会理事单位
                    </a>
                </div>
            </div>

        </div>

        <div class="fr cont_right">
            <div class="right_cont">
                <h2 class="cont_rightt-title">
                    热门报道
                    <span class="line fl"></span>
                </h2>
                <ul class="cont_right-list">
                    <li>
                        <a ng-click="gotoPage('/news-cont10')" href="javascropt:;">
                            <span class="dot fl"></span>
                            全新形象、全新改变 ——**官网全新改版上线
                        </a>
                        <p class="news-latest-date">
                            2017-02-13
                        </p>
                    </li>
                    <li>
                        <a ng-click="gotoPage('/news-cont9')" href="javascropt:;">
                            <span class="dot fl"></span>
                            龙腾佳讯成为清华大数据产业联合会理事单位
                        </a>
                        <p class="news-latest-date">
                            2017-01-25
                        </p>
                    </li>
                    <li>
                        <a ng-click="gotoPage('/news-cont8')" href="javascropt:;">
                            <span class="dot fl"></span>
                            "**"携手伙伴共展云途，看看这是一朵什么云？
                        </a>
                        <p class="news-latest-date">
                            2016-12-19
                        </p>
                    </li>
                    <li>
                        <a ng-click="gotoPage('/news-cont7')" href="javascropt:;">
                            <span class="dot fl"></span>
                            合众力 作云端 运千家 营未来
                        </a>
                        <p class="news-latest-date">
                            2016-12-05
                        </p>
                    </li>
                    <li>
                        <a ng-click="gotoPage('/news-cont6')" href="javascropt:;">
                            <span class="dot fl"></span>
                            【喜报】热烈祝贺龙腾佳讯成功挂牌新三板
                        </a>
                        <p class="news-latest-date">
                            2016-11-01
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- news cont end-->
</div>