<div id="newsbox" class="newsbox_cont">
    <div class="news-hader">
        <div class="banner-text">
            <p class="banner-title">新闻动态</p>
            <p>通过媒体报道，理解我们更多的侧面</p>
        </div>
    </div>
    <!-- news cont start-->
    <div class="news-wapcont">
        <div class="fl cont_left">
            <h2 class="cont_left-title">
                <a ng-click="gotoPage('/about/news')" href="javascript:;">
                    < 返回最近报道列表
                </a>
            </h2>
            <div class="cont_list">
                <h1>
                    合众力 作云端 运千家 营未来
                    <div style="    text-align: right;font-size: 15px;margin-right: 42px;">
                        ——xxxxx云合作伙伴大会成功召开。
                    </div>
                </h1>
            </div>
            <p class="news_cont-data">
                <span>
                    2016-12-05
                </span>
                <!-- <span style="margin-left: 40px;">
                     来源：CSDN
                 </span>-->
            </p>
            <div class="news_cont-list">
                <p>
                    <img src="./images/h_news7.png" style="width: 640px;">
                </p>
                <p>
                    xxxxx云合作伙伴大会于2016年11月30日在京成功召开。本次会议围绕“xxxxx云、身边的云”，
                    主要面向北京地区的独立数据中心和网络服务合作伙伴，
                    共同探讨xxxxx云的发展历程、产品特色优势及xxxxx云全新的合作伙伴政策。
                </p>
                <p>
                    北京xxxxx科技股份公司（股票代码：839433，简称xxxxx）董事长兼总经理曾光首先分享了xxxxx在通信行业12年，
                    如何带领公司转型云计算的心路历程。“通信行业的焦虑主要来自于行业和技术的变化，
                    计算机、网络、设备和服务正逐渐全面走向虚拟化，客户的需求、支付的形式也在走向自助服务，
                    这些变化反应到商业上就是我们做生意的方式变了：销售的影响力降低了，产品成为主角，
                    传播和营销的方式也不一样了，市场的投入让位于生态圈。
                </p>
                <p>
                    <img src="./images/h_news8.png" style="width: 640px;">
                </p>
                <p>
                    作为传统的企业电信服务专家，xxxxx长期致力于推进ICT的云转型。
                    面对技术、需求的变化，xxxxx云综合运营、应用和技术三个领域的能力，
                    借助软件开源社区的资源，成功迈进中小企业不敢触碰的领域。
                    借用当前的一句广告语，“xxxxx不生产云，我们只是OpenStack的搬运工”。
                    xxxxx云面向未来的软件特色——基于OpenStack社区，整合通信基础设施，为用户提供更安全的服务。”
                </p>
                <p>
                    <img src="./images/h_news9.png" style="width: 640px;">
                </p>

                <p>
                    会上，xxxxx云产品经理温龙为大家介绍了xxxxx云的产品类型；与市场上其他云产品相比，xxxxx云产品有哪些优势。
                </p>
                <p>
                    xxxxx云做可运营的云计算产品：OpenStack+BOSS系统+服务理念=xxxxx云IaaS。
                </p>
                <p>
                    自主研发BOSS系统—运营支撑系统:
                </p>
                <p>
                    <img src="./images/h_news10.png" style="width: 640px;">
                </p>
                <p>
                    人机互补客服平台:
                </p>
                <br>
                <p>
                    通过工单系统，用户直接与xxxxx云技术人员沟通和咨询。
                </p>
                <p>
                    控制台记录用户所有操作日志和资源使用情况，方便随时查看。
                </p>
                <p>
                    7*24小时在线客服，随时随地咨询交流。
                </p>
                <br>
                <p>
                    灵活计费管理平台:
                </p>
                <br>
                <p>
                    灵活调价：一键调整计算、存储、网络等资源成本和价格。
                </p>
                <p>
                    多维度定价：基于时间、数量、范围等预定义参数进行策略定价。
                </p>
                <p>
                    多方式计价：按需扣费、活动赠送。
                </p>
                <br>
                <p>
                    xxxxx云安全服务正在成为企业xxxxx服务的主流。
                </p>
                <p>
                    xxxxx云正在与多家安全厂商合作，开展多项安全产品研发，
                    将数据中心内的应用通过云计算和SDN技术与企业客户的需求结合起来，可以提供更多诸如上网流量控制、
                    无线部署xxxxx服务、数据中心业务监控服务等安全软件的实施部署和分销。xxxxx云安全平台无可比拟的优势将使其成为企业xxxxx服务的主流。
                </p>
                <p>
                    <img src="./images/h_news11.png" style="width: 640px;">
                </p>
                <p>
                    xxxxx运营合作部总经理桂晓刚将此次大会推向了高潮，
                    他给大家带来了xxxxx云合作伙伴政策——xxxxx云，您身边的免费云。
                    xxxxx云将免费为独立数据中心合作伙伴搭建IaaS运营平台，
                    根据合作伙伴面对的细分行业用户特征提供专属售前支持，
                    与合作伙伴一起定制具有行业特色的运营方案。
                </p>
                <p>
                    <img src="./images/h_news12.png" style="width: 640px;">
                </p>
                <p>
                    xxxxx云渠道合作伙伴分为三种：创业合作伙伴，资源合作伙伴，代理合作伙伴。
                </p>
                <br>
                <p>
                    创业合作伙伴:
                </p>
                <p>
                    根据数据中心运营状况和流程自定义搭建自有云平台，由xxxxx云提供后向技术支持。
                </p>
                <p>
                    资源合作伙伴:
                </p>
                <p>
                    数据中心提供机架，xxxxx云提供服务器和云平台，双方共同开发用户需求。
                </p>
                <p>
                    代理合作伙伴:
                </p>
                <p>
                    数据中心与xxxxx云互联互通，使用xxxxx云平台提供服务。
                </p>
                <p>
                    <img src="./images/h_news13.png" style="width: 640px;">
                </p>
                <p>
                    xxxxx凭借12年通信行业的经验，为成千上万客户提供了优质的服务，
                    获得了广泛的信任。xxxxx云平台一经推出，
                    很多客户就选择了与xxxxx云合作。
                    本次会议中，贝塔斯曼、安信华科技与大家分享了基于xxxxx云OpenStack平台开发的创新技术和服务理念。
                </p>
                <p>
                    贝塔斯曼欧唯特轻云—云呼叫中心平台。
                </p>
                <p>
                    采用云技术，使得呼叫中心的运营无需采购过多的设备，在网络带宽充足的情况下，使用移动终端上网即可实现呼叫应用的模式。
                </p>
                <p>
                    <img src="./images/h_news14.png" style="width: 640px;">
                </p>
                <p>
                    安信华—xxxxx云及SDN解决方案。
                </p>
                <p>
                    基于SDN技术的xxxxx云结合安信华的安全组件及技术能力，打造软件定义云安全（SDS）。
                </p>
                <p>
                    <img src="./images/h_news15.png" style="width: 640px;">
                </p>
                <p>
                    听到如此精彩的落地方案，各位合作伙伴对于与xxxxx的合作充满信心。
                </p>
                <p>
                    让我们大家一起合众力、作云端、运千家、营未来！xxxxx云期待与合作伙伴展开更多、更深层次的合作，
                    帮助独立数据中心合作伙伴尽快实现云转型，利用创新技术在未来市场取得更大的发展。
                </p>
            </div>
            <div class="news_cont-node">
                <div style="    color: #2277da;">
                    上一篇报道：
                    <a ng-click="gotoPage('/news-cont6')" href="javascript:;" style="color:#333;display: inline-block;">
                        【喜报】热烈祝贺xxxxx成功挂牌新三板
                    </a>
                </div>
                <div style="      margin-top: 16px;  color: #2277da;">
                    下一篇报道：
                    <a ng-click="gotoPage('/news-cont8')" href="javascript:;" style="color:#333;display: inline-block;">
                        "xxxxx云"携手伙伴共展云途，看看这是一朵什么云？
                    </a>
                </div>
            </div>

        </div>

        <div class="fr cont_right" ng-include="'template/news_report.html'">

        </div>
    </div>
    <!-- news cont end-->
</div>