<div id="newsbox" class="newsbox_cont">
    <div class="news-hader">
        <div class="banner-text">
            <p class="banner-title">新闻动态</p>
            <p>通过媒体报道，理解我们更多的侧面</p>
        </div>
    </div>
    <!-- news cont start-->
    <div class="news-wapcont">
        <div class="fl cont_left">
            <h2 class="cont_left-title">
                <a ng-click="gotoPage('/about/news')" href="javascript:;">
                    < 返回最近报道列表
                </a>
            </h2>
            <div class="cont_list">
                <h1>
                    xxxxx电信云全自助服务功能赢得客户好评
                </h1>
            </div>
            <p class="news_cont-data">
                <span>
                    2017-07-03
                </span>
                <!-- <span style="margin-left: 40px;">
                     来源：
                 </span>-->
            </p>
            <div class="news_cont-list">
                <p>
                    <img style="width: 700px" src="images/dxy_fm.png" alt="">
                </p>
                <p>
                    <strong>
                        2016年6月25日，xxxxx电信云平台自助服务功能上线，这是xxxxx城域网云化的一项重要工作任务：
                        在xxxxx云平台实现传统电信业务一站式下单，实时流量监控，实时跟进业务故障处理等增值服务。
                    </strong>
                </p>
                <p>
                    此项增值服务一推出就获得了用户的认可和好评，尤其是流量实时监控功能。用户王先生是公司的网管，
                    在回访他使用情况时，他评价说：<strong>
                    “这项功能太好了，以前网络运行缓慢，我们都是电话报障，
                    xxxxx客服受理并处理，大多数情况是流量异常导致，这样一来一回影响处理进度。现在好了，流量可以实时监控查询，
                    而且在流量出现异常前就能提前预知，不用等出现异常情况再处理，领导和同事们还以为我水平提高了。”
                </strong>
                </p>
                <p>
                    事实上，自流量查询功能上线以来，我们用户报障率就降低了很多，2016年xxxxx业务增长率为64.88%，
                    而我们故障率比同期降低了24.4%，除了xxxxx定期的城域网质量优化外，
                    流量自助监控功能也是降低故障率的主要原因。从而进一步降低成本。
                    采用xxxxx云高速通道的 SDN 方式可实现灵活、快速、可靠的互联互通。
                </p>
                <p style="text-align: left;">
                    <strong>
                        xxxxx云CaaS自助监控系统
                    </strong>
                </p>
                <p  style="text-align: left;">
                    <strong>
                        ■ 一站式下单
                    </strong>
                </p>
                <p>
                    在xxxxx云平台，一站式下单创建互联网接入、语音、传输等传统电信服务，并实时了解业务进度。
                </p>
                <p>
                    <img style="width: 800px;" src="images/dxy_xd1.jpg" alt="">
                </p>
                <p>
                    <img style="width: 800px;" src="images/dxy_xd2.jpg" alt="">
                </p>
                <p>
                    <img style="width: 800px;" src="images/dxy_xd3.jpg" alt="">
                </p>

                <p  style="text-align: left;">
                    <strong>
                        ■ 实时流量监控
                    </strong>
                </p>
                <p>
                    登陆xxxxx云平台查看实时流量情况，出现流量异常能够及时发现。
                </p>
                <p>
                    <img style="width: 670px;" src="images/dxy_ll1.jpg" alt="">
                </p>
                <p>
                    <img style="width: 670px;" src="images/dxy_ll2.jpg" alt="">
                </p>
                <p>
                    <img style="width: 670px;" src="images/dxy_ll3.jpg" alt="">
                </p>
                <p>
                    <img style="width: 670px;" src="images/dxy_ll4.jpg" alt="">
                </p>
                <p>
                    <img style="width: 670px;" src="images/dxy_ll5.jpg" alt="">
                </p>
                <p  style="text-align: left;">
                    <strong>
                        ■ 实时跟进业务故障处理
                    </strong>
                </p>
                <p>
                    在xxxxx云平台可实时查看故障申告的处理情况，并可定期统计以往的故障情况和故障率，
                    为企业优化网络提供依据。
                </p>
                <p>
                    <img style="width: 670px;" src="images/dyx_gz.png" alt="">
                </p>
                <p style="text-align: left;">
                    <strong>
                        ■ 7*24小时在线客服
                    </strong>
                </p>
                <p>
                    xxxxx提供7*24小时全天候在线客服，无论是线上xxxxx云平台还是400人工电话，
                    我们的客服人员和技术人员都保持7*24小时全程在线。
                </p>

                <p>
                   <strong>
                       作为一家深耕于电信运营服务行业13年的公司，xxxxx将利用对网络、
                       通信、云计算技术以及企业服务的理解和经验，持续为用户带来卓越体验和切实的价值。
                   </strong>
                </p>
                <p style="text-align: left;">
                    <strong>
                        PS：部分客户
                    </strong>
                </p>
                <p>
                    <img src="images/dxy_kh.png" alt="">
                </p>
                <p>
                    <img src="images/sheng35.png" alt="">
                </p>
            </div>

        </div>

        <div class="fr cont_right" ng-include="'template/news_report.html'">

        </div>

        <div class="news_cont-node">
            <div ng-click="gotoPage('/news-cont21')"
                 style="margin-top: 16px;display: inline-block;margin-left: 10px;  color: #2277da;">
                上一篇报道：
                <a href="javascript:;" style="color:#333;display: inline-block;">
                    腾混合云解决方案助力企业实现高效的互联互通
                </a>
            </div>
            <div style=" margin-left: 10px;     margin-top: 16px;  color: #2277da;">
                下一篇报道：
                <a ng-click="gotoPage('/news-cont23')" href="javascript:;"
                   style="color:#333;display: inline-block;">
                    xxxxx云知云学堂 | 小白也能懂公有云、私有云和混合云
                </a>
            </div>
        </div>

    </div>
    <!-- news cont end-->
</div>