<div id="newsbox" class="newsbox_cont">
    <div class="news-hader">
        <div class="banner-text">
            <p class="banner-title">新闻动态</p>
            <p>通过媒体报道，理解我们更多的侧面</p>
        </div>
    </div>
    <!-- news cont start-->
    <div class="news-wapcont">
        <div class="fl cont_left">
            <h2 class="cont_left-title">
                <a ng-click="gotoPage('/about/news')" href="javascript:;">
                    < 返回最近报道列表
                </a>
            </h2>
            <div class="cont_list">
                <h1>
                    我们领证了—龙腾佳讯获得工信部颁发的云计算牌照
                </h1>
            </div>
            <p class="news_cont-data">
                <span>
                    2017-09-28
                </span>
                <!-- <span style="margin-left: 40px;">
                     作者：baojj  比特网
                 </span>-->
            </p>
            <div class="news_cont-list">
                <p>
                    <img style="width: 700px" src="images/lingzheng0.jpg" alt="">
                </p>

                <p>
                    <strong>
                        2017年9月19日，农历七月二十九，值此黄道吉日，龙腾佳讯获得工信部颁发的“互联网资源协作服务业务经营许可”，
                        俗称 “云计算牌照”
                    </strong>。这是继2011年龙腾佳讯获得互联网虚拟专用网业务、互联网接入业务、
                    呼叫中心业务以来的又一个重要的增值电信业务许可。目前全国仅有不到20家企业获得云计算牌照。
                </p>
                <p class="textcenter">
                    <img style="width: 200px;" src="images/lingzheng1.jpg" alt="">
                </p>
                <p class="textleft">
                    <strong>
                        何为“互联网资源协作”？
                    </strong>
                </p>
                <p>
                    工信部最新发布的2015版《电信业务分类目录》里增加了“互联网资源协作服务业务”的描述：
                    “互联网资源协作业务是指利用架设在数据中心之上的设备和资源，通过互联网或其他网络以随时获取、
                    按需使用、随时扩展、协作共享等方式，为用户提供的包括但不限于存储、互联网应用开发环境、
                    互联网应用部署和运行管理等服务。” 这一“互联网资源协作业务”就是云计算服务。
                    根据定义，互联网资源协作服务业务要取得<strong>互联网数据中心的牌照</strong>。
                </p>
                <p style="margin:20px 0;">
                    说到龙腾佳讯获得的互联网数据中心牌照，小编可是充满心酸啊。
                </p>
                <p class="textcenter">
                    <img style="width: 200px;" src="images/lingzheng2.jpg" alt="">
                </p>
               <p>
                   这么喜大普奔的事儿，应该第一时间发文啊，但是，在看到我们的牌照后，小编很惶恐啊，
                   为啥别人家在工信部通知的名单上写的是”增加互联网资源协作”，
                   而我们家得到的是“互联网数据中心”？难道我们家拿到是假牌照？
               </p>
                <p class="textcenter">
                    <img style="width: 200px;" src="images/lingzheng3.jpg" alt="">
                </p>
                <p>
                    多次跟工信部确认，反馈的信息都是：<strong>现在工信部发证通知调整了，“互联网数据中心业务”
                    就包含了“互联网资源协作”，如果不含会注明”互联网数据中心业务（不含互联网资源协作）”</strong>；
                    而原来的通知则是，有互联网资源协作业务，注明”互联网数据中心业务（含互联网资源协作）”；
                    没有互联网资源协作业务，注明“互联网数据中心业务”。
                </p>
                <p  class="textleft">
                    天啊，这是绕口令吗，晕死了~~
                </p>
                <p class="textcenter">
                    <img style="width: 200px;" src="images/lingzheng4.jpg" alt="">
                </p>
                <p>
                    尽管反复与工信部确认，可心里还是不踏实啊，这个文可不敢随便发，而且越看牌照越像假滴，肿么办呢？
                </p>
                <p class="textcenter">
                    <img style="width: 200px;" src="images/lingzheng5.jpg" alt="">
                </p>
                <p>
                    关键时刻，小编计上心头，请我们的“铁哥们”客户帮忙打电话询问工信部龙腾佳讯是否获得了云牌照，
                    得到了工信部肯定答复：<strong>龙腾佳讯既能提供互联网资源协作服务，也可以提供IDC服务</strong>。
                </p>
                <p>
                    至此，小编想起一句名言“终于等到你，还好我没放弃！”
                </p>
                <p>
                    <strong>
                        我们终于领证了！！！
                    </strong>
                </p>
                <p class="textcenter">
                    <img style="width: 200px;" src="images/lingzheng6.jpg" alt="">
                </p>
                <p>
                    顺便补充一些信息，目前，工信部要求公有云和对于为若干个特定客户单独使用而构建的私有云经营者一定要持证。如果不放心对方提供的云牌照，
                    可以拨打工信部的咨询电话010-82140090问询。
                </p>
                <p class="textcenter">
                    <img style="width: 700px;" src="images/lingzheng7.jpg" alt="">
                </p>
                <p class="pcfin">
                    — FIN —
                </p>
                <p style="text-align: left">
                    <img src="images/news_sj8.jpg" alt="">
                </p>
                <p style="text-align: left">
                    <img src="images/news_sj9.jpg" alt="">
                </p>
            </div>

        </div>

        <div class="fr cont_right" ng-include="'template/news_report.html'">

        </div>

        <div class="news_cont-node">
            <div ng-click="gotoPage('/news-cont30')"
                 style="margin-top: 16px;display: inline-block;margin-left: 10px;  color: #2277da;">
                上一篇报道：
                <a href="javascript:;" style="color:#333;display: inline-block;">
                    龙腾云抗D为宝马汽车网络安全保驾护航
                </a>
            </div>
        </div>

    </div>
    <!-- news cont end-->
</div>