<div id="newsbox" class="newsbox_cont">
    <div class="news-hader">
        <div class="banner-text">
            <p class="banner-title">新闻动态</p>
            <p>通过媒体报道，理解我们更多的侧面</p>
        </div>
    </div>
    <!-- news cont start-->
    <div class="news-wapcont">
        <div class="fl cont_left">
            <h2 class="cont_left-title">
                <a ng-click="gotoPage('/about/news')" href="javascript:;">
                    < 返回最近报道列表
                </a>
            </h2>
            <div class="cont_list">
                <h1>
                    邀请函 |大数据基础设施认知RONG论坛 暨大数据基础设施研究中心成立仪式
                </h1>
            </div>
            <p class="news_cont-data">
                <span>
                    2017-08-15
                </span>
                <!-- <span style="margin-left: 40px;">
                     来源：
                 </span>-->
            </p>
            <div class="news_cont-list">
                <p style="text-align: left">
                    <img style="width: 700px" src="images/yaoqinghan.jpg" alt="">
                </p>
                <p>
                    近日，<strong>北京龙腾佳讯科技股份公司与清华大学数据科学研究院共同签署了共建清华大学数据科学研究院“大数据基础设施研究中心”合作协议</strong>。
                    此项合作是清华大学数据科学研究院打造“问题引导”型学术研究的尝试，<strong>旨在以大数据产业分布式数据中心的优化运营为核心应用场景，为数据挖掘的科学研究与产业应用提供一系列高效率、
                    高可用和高度智能化的数据产业支撑性生产实验环境、软硬件产品、服务和运营体系</strong>。
                </p>
                <p>
                    <strong>龙腾佳讯和清华大学数据科学研究院将在大数据计算架构、云计算、软件定义网络、开放计算项目以及人工智能知识图谱等领域展开研究</strong>，为校内院系和研究机构提供大数据基础设施支撑和大数据研究能力，
                    积极开展与相关开源社区的交流与合作，并尝试引进各个方向上的产业界高端人才，实现技术整合、工程实践、标准发布、服务设计与共识推广。<strong>大数据基础设施研究中心将以推动数据基础设施建设、
                    促进数据开放共享、创新人才培养模式、孵化社会化大规模数据实验室、加快社会数据融合和资源整合为工作目标</strong>。
                </p>
                <p>
                    <span style="color:#222aaa">【时间】</span>2017年8月17日8:30-12:00
                </p>
                <p>
                    <span style="color:#222aaa">【地点】</span>清华大学校内（具体地点将在报名成功后以短信形式通知）
                </p>
                <p>
                    <span style="color:#222aaa">【报名方式】</span>点击链接 【<a href="https://app.tsingdata.com/page/event/278">https://app.tsingdata.com/page/event/278</a>】进行报名
                </p>
                <p>
                    <span style="color:#222aaa">【主办单位】</span>清华-青岛数据科学研究院、北京龙腾佳讯科技股份公司
                </p>
                <p>
                    <span style="color:#222aaa">【主持人】</span>王霞 清数大数据产业联盟秘书长
                </p>

                <p style="text-align:left">
                    <strong>
                        ■ 议定议程
                    </strong>
                </p>
                <p>
                    <img style="width: 700px" src="images/yaoqinghantime.jpg" alt="">
                </p>
                <p style="text-align:left">
                    <strong>
                        ■ 嘉宾简介
                    </strong>
                </p>



                <p style="text-align:center;margin-top:50px">
                    <img style="width: 200px" src="images/jiabin1.jpg" alt="">
                </p>
                <p style="text-align:center">
                    <strong>韩亦舜</strong>
                </p>
                <p style="text-align:center">
                    清华-青岛数据科学研究院执行副院长
                </p>
                <p>
                    1982年清华数学系应用数学专业毕业，1985年清华经管学院管理工程硕士，1986年赴美，在普渡大学学习经济并工作多年。1995年回国后投身企业经营管理事业，多年公司高级管理人员工作经历，是第一批职业经理人的代表；多年作为独立管理咨询顾问，为多家公司提供经营管理的咨询服务，涉足IT，高科技和传统等多个产业。拥有企业经营和实体产业多层次的工作经历，在企业运营管理、投融资、改制上市等方面拥有丰富的经验和资源。2014年6月起参与清华-青岛数据科学研究院建设工作。研究方向：数据共享、数据治理、数据安全、数据隐私、数据伦理。
                </p>

                <p style="text-align:center;margin-top:50px">
                    <img style="width: 200px" src="images/jiabin2.jpg" alt="">
                </p>
                <p style="text-align:center">
                    <strong>Dawn Song</strong>
                </p>
                <p style="text-align:center">
                    UC伯克利大学教授
                </p>
                <p>
                    Dawn Song宋晓东,现为美国加州大学伯克利分校（University of California at Berkeley）电子工程与计算机科学系的助理教授。之前宋晓东在美国卡内基梅隆大学（CMU）计算机系出任助理教授一职。宋晓东于1996年毕业于（大陆）清华大学并获学士学位。1999年从卡内基梅隆大学计算机系获得硕士学位。2002年从加州大学柏克莱分校（University of California at Berkeley）获得其博士学位。宋晓东教授的研究方向为网络安全，加密系统，操作系统等等。
                </p>

                <p style="text-align:center;margin-top:50px">
                    <img style="width: 200px" src="images/jiabin3.jpg" alt="">
                </p>
                <p style="text-align:center">
                    <strong>徐葳</strong>
                </p>
                <p style="text-align:center">
                    清华大学交叉信息研究院助理教授，数据科学研究院管理委员会委员，<br>教育部在线教育研究中心国际合作总监
                </p>
                <p>
                    2003年在美国宾夕法尼亚大学获得计算机科学学士学位，分别于2006年12月及2010年8月在美国加州大学伯克利分校计算机科学系获得硕士与博士学位，师从David Patterson教授和Armando Fox教授。2010年8月至2013年2月在谷歌美国总部任软件工程师。2013年2月全职加入清华大学交叉信息研究院，入选中组部第九批青年千人计划。主要研究方向包括分布式系统、云计算、系统监控与调试、大数据、数据中心网络。
                </p>

                <p style="text-align:center;margin-top:50px">
                    <img style="width: 200px" src="images/jiabin4.jpg" alt="">
                </p>
                <p style="text-align:center">
                    <strong>李刚</strong>
                </p>
                <p style="text-align:center">
                    中证资本市场运行统计监测中心数据技术开发部总监
                </p>
                <p>
                    2002年于武汉大学计算机学院获学士学位，2005年于北京大学信息技术学院获得硕士学位，2015年于中国人民银行研究生部（现清华大学五道口金融研究院）获得博士学位。现任中证资本市场运行统计监测中心数据技术开发部总监。中证资本市场运行统计监测中心是中国证监会直接管理的专业机构，其主要职责是为证券监管系统提供运行统计监测服务，包括收集、加工、整理证券期货市场信息和数据，生产证券期货统计产品；评估、检验相关政策措施及其效应,分析、评估市场运行质量和效率；监测、评估和预警资本市场运行风险、监控交易行为；建设、运行、维护中国证监会中央监管信息平台、中央监控系统。
                </p>

                <p style="text-align:center;margin-top:50px">
                    <img style="width: 200px" src="images/jiabin5.jpg" alt="">
                </p>
                <p style="text-align:center">
                    <strong>王霞</strong>
                </p>
                <p style="text-align:center">
                    清数大数据产业联盟秘书长
                </p>
                <p>
                    清华大学工学学士、硕士、中国社会科学院博士。1999年加入诺基亚研究院，负责多项诺基亚重大专项、欧盟框架计划项目、国家863计划等国际国内重大合作或科研项目，在信号处理、人机交互、移动服务、用户体验、移动计算、软硬件一体化解决方案、大数据技术等领域取得了重要的技术创新成果。负责筹建了诺基亚深圳研究院，并在短时间内打造了一支高效的产品创新团队。2012年创建北京诺亚星云科技有限责任公司，重点关注金融大数据、房地产大数据、电信大数据等领域。研究成果获多项专利，发表了数十篇论文。
                </p>

                <p style="text-align:center;margin-top:50px">
                    <img style="width: 200px" src="images/jiabin6.jpg" alt="">
                </p>
                <p style="text-align:center">
                    <strong>曾光</strong>
                </p>
                <p style="text-align:center">
                    北京龙腾佳讯科技股份公司董事长兼总经理
                </p>
                <p>
                    北京龙腾佳讯科技股份公司（股票代码839433）于2004年成立，是一家致力于云计算、信息通信和软件技术开发、推广及服务的高新技术企业。经过十余年的高速发展，龙腾佳讯凭借其深厚的电信背景，自主开发了丰富的信息服务、软硬件产品、数据中心运营和云计算平台，并与新加坡政府资讯局(GIA)、清华大学等学术机构合作，为政府和行业机构量身定制智慧城市战略、信息发展规划及大数据解决方案。龙腾佳讯公司研发的龙腾云栈产品，作为国内首家电信级SDN运营网络成功落地北京商业楼宇，标志着国内SDN技术向商业网络部署实现了重大跨越。
                </p>









                <p style="text-align:left">
                    <strong>
                        ■ RONG论坛简介
                    </strong>
                </p>
                <p>
                    RONG系列大数据论坛由清华大学数据科学研究院发起。每次针对一个领域的相关研究方向，联合清华大学相关院系和清数大数据产业联盟成员共同参与。
                </p>
                <p>
                    RONG，取其与“融”“荣”“容”之谐音，意指“融合”“包容”“繁荣”等，代表清华大学数据科学研究院成立理念，故以RONG 一言以蔽之。
                </p>
                <p>
                    往期RONG论坛通过国家有关部门的积极参与互动、清华大学数据科学研究院的积极组织，促使清华大学各院系、学校与产业界、产业界上下游、国际先进企业与国内企业进行沟通交流，并为双方在会后展开相关合作提供契机。RONG系列论坛对在不同领域的大数据应用以及新型产业生态圈的形成起到了积极的推动作用。

                </p>


                <p style="    margin:0;font-size: 12px;text-align: center;">
                    — FIN —
                </p>
                <p style="text-align: left">
                    <img src="images/news_sj8.jpg" alt="">
                </p>
                <p style="text-align: left">
                    <img src="images/news_sj9.jpg" alt="">
                </p>
            </div>

        </div>

        <div class="fr cont_right" ng-include="'template/news_report.html'">

        </div>

        <div class="news_cont-node">
            <div ng-click="gotoPage('/news-cont25')"
                 style="margin-top: 16px;display: inline-block;margin-left: 10px;  color: #2277da;">
                上一篇报道：
                <a href="javascript:;" style="color:#333;display: inline-block;">
                    招聘| We Need You
                </a>
            </div>
            <br>
            <div ng-click="gotoPage('/news-cont27')"
                 style="margin-top: 16px;display: inline-block;margin-left: 10px;  color: #2277da;">
                下一篇报道：
                <a href="javascript:;" style="color:#333;display: inline-block;">
                    清华大学数据科学研究院大数据基础设施研究中心成立
                </a>
            </div>
        </div>

    </div>
    <!-- news cont end-->
</div>