<div id="newsbox" class="newsbox_cont">
    <div class="news-hader">
        <div class="banner-text">
            <p class="banner-title">新闻动态</p>
            <p>通过媒体报道，理解我们更多的侧面</p>
        </div>
    </div>
    <!-- news cont start-->
    <div class="news-wapcont">
        <div class="fl cont_left">
            <h2 class="cont_left-title">
                <a ng-click="gotoPage('/about/news')" href="javascript:;">
                    < 返回最近报道列表
                </a>
            </h2>
            <div class="cont_list">
                <h1>
                    xxxxx云知云学堂丨网络世界的网红—SDN
                </h1>
            </div>
            <p class="news_cont-data">
                <span>
                    2017-09-11
                </span>
                <!-- <span style="margin-left: 40px;">
                     作者：baojj  比特网
                 </span>-->
            </p>
            <div class="news_cont-list">
                <p>
                    <img style="width: 700px" src="images/wanghong1.png" alt="">
                </p>

                <p>
                    新学期开始了，<strong>xxxxx云知云学堂</strong>也要开课啦~~
                </p>
                <p>
                    这节课我们来说说火到没朋友，网络世界的网红——SDN。
                </p>
                <p>
                    一项新技术之所以能红，肯定是大家对现有网络存在着诸多不满，
                    我们先通过用户和工程师的几个对话场景来看看，传统网络到底怎么了？
                </p>
                <p>
                    <img style="width: 700px" src="images/wanghong2.png" alt="">
                </p>
                <p>
                    以上场景表达了传统网络中的问题，尽管现实没有那么夸张，但是也反应了传统网络创新周期长、
                    协议复杂、运维难度和成本高以及路径规划能力弱等缺点。
                </p>
                <p>
                    正是传统网络越来越难以满足新业务的需求，越来越多的网络专家和学者开始探索新的网络发展道路，
                    2006年，斯坦福大学Nick McKeown教授为首的研究团队提出了OpenFlow的概念用于校园网络的试验创新
                    ，后续基于OpenFlow给网络带来可编程的特性，SDN的概念应运而生。
                </p>
                <p>
                    <strong>究竟什么是SDN？</strong>
                </p>
                <p>
                    <strong>(S)till  (D)on’t  k(N)ow？ </strong>
                </p>
                <p>
                    表捉急，相亲还要先看下对方的生辰八字、属相、星座呢，我们先来感性认识一下SDN。
                </p>
                <p>
                    如果把网络比喻为人体，人的身体有各种器官，每一个器官都有不同的功能，
                    人体本身就是一个复杂的分布系统，就像是通信网络。
                </p>
                <p>
                    眼、耳、鼻、手、足等这些人体器官之所以能够协调工作，互不干扰，主要归功于大脑的集中控制。
                </p>
                <p>
                    SDN就相当于网络的大脑，让各个器官之间不发生争抢资源的情况，使它们分配平衡，和谐工作。
                </p>
                <p>
                    翻书查定义：<strong>
                    SDN即软件定义网络（Software Defined Network）是Emulex网络一种新型网络创新架构，
                    是网络虚拟化的一种实现方式，其核心技术OpenFlow通过将网络设备控制面与数据面分离开来，
                    从而实现了网络流量的灵活控制，使网络作为管道变得更加智能。
                </strong>
                </p>
                <p>
                   <strong>SDN如何解决传统网络无法解决的问题呢？</strong>
                </p>
                <p>
                    由于传统的网络设备（交换机、路由器等）的固件是由设备制造商锁定和控制，
                    而SDN将网络控制与物理网络拓扑分离，从而摆脱硬件对网络架构的限制。
                    这样企业可以像升级、安装软件一样对网络架构进行修改，满足企业对整个网络架构进行调整、
                    扩容或升级。而底层的交换机、
                    路由器等硬件则无需替换，节省大量成本的同时，网络架构迭代周期将大大缩短。
                </p>
                <p class="textcenterbox">
                    <img src="images/wanghong3.png" alt="">
                </p>
                <p>
                    DN技术就相当于把每人家里路由器的管理设置系统和路由器剥离开。
                    以前我们每台路由器都有自己的管理系统，
                    而有了SDN之后，一个管理系统可用在所有品牌的路由器上。如果说网络系统是功能机，
                    系统和硬件出厂时就被捆绑在一起，那么SDN就是Android系统，
                    可以在很多智能手机上安装、升级，同时还能安装更多更强大的手机App（SDN应用层部署）。
                </p>
                <p>
                    到这里，我们已经将SDN的大致思想解释了一下，光有思想还不行，还需要有能实打实落地的手段，<strong>
                    xxxxx通过SDN技术研发出自己的运营网络—xxxxx云栈
                </strong>。
                </p>
                <p>
                    <strong>
                        【xxxxx云栈—国内首家电信SDN运营网络】
                    </strong>
                </p>
                <p>
                    <strong>
                        xxxxx云栈通过SDN技术，向用户提供灵活的互联网接入服务。实现动态调整带宽，
                        秒级变速响应、按需使用付费，更省钱、更省时、更省心！
                    </strong>
                </p>
                <p>
                    <img style="width: 700px" src="images/wanghong4.png" alt="">
                </p>
                <p>
                    <strong>
                        ■ xxxxxSDN动宽带
                    </strong>
                </p>
                <p>
                    xxxxxSDN动宽带已经成功部署在北京数百栋商业楼宇中，企业用户带宽不够用可以随时调整带宽大小，
                    实现秒级变速；同时按小时计费的付费模式，用户可自定义互联网的使用时长，轻松接入网络，节省成本。
                    此外xxxxx动宽带可自动实现链路故障倒换，
                    满足电信级99.999%的高可用性要求，保证用户的网络更稳定。
                </p>
                <p>
                    <strong>
                        ■ xxxxx云高速通道
                    </strong>
                </p>
                <p>
                    xxxxx云高速通道是一种便捷高效的网络服务解决方案，用于在不同数据中心、云、
                    以及办公网络之间实现高速、稳定、安全的私网通信，包括跨地域不同网络间内网互通、实时数据馈送、专线接入等场景，
                    有效的帮助您提高网络拓扑的灵活性和跨网络通信的质量和安全性。
                </p>
                <p>
                    <strong>
                        ■ xxxxx云点对点传输
                    </strong>
                </p>
                <p>
                    通过 Internet 传输大型数据集不仅费时而且价格高。xxxxx云点对点传输能让用户在数据中心、
                    办公室或托管环境和各种云之间直接传输业务重要数据，不仅不需要经过用户的 Internet 服务提供商，
                    还能消除网络拥堵。此外，xxxxx云点对点传输的即用即付定价方式和无需最低承诺的特点，
                    用户只需要为使用的网络端口和通过连接传输的数据支付费用，大大降低联网成本。
                </p>
                <p>
                    本次课就到这里吧，如果喜欢请“赞！赞！赞！”提出建议还有惊喜大礼包等着你~~
                </p>
                <p style="text-align: left">
                    <img style="width: 632px;" src="images/zyxt_11.jpg" alt="">
                </p>
                <p style="    padding-left: 290px;font-size: 12px;text-align: left;">
                    — FIN —
                </p>
                <p style="text-align: left">
                    <img src="images/news_sj8.jpg" alt="">
                </p>
                <p style="text-align: left">
                    <img src="images/news_sj9.jpg" alt="">
                </p>
            </div>

        </div>

        <div class="fr cont_right" ng-include="'template/news_report.html'">

        </div>

        <div class="news_cont-node">
            <div ng-click="gotoPage('/news-cont28')"
                 style="margin-top: 16px;display: inline-block;margin-left: 10px;  color: #2277da;">
                上一篇报道：
                <a href="javascript:;" style="color:#333;display: inline-block;">
                    助力大数据产业腾飞 推动基础设施先行
                </a>
            </div>
            <br>
            <div ng-click="gotoPage('/news-cont30')"
                 style="margin-top: 16px;display: inline-block;margin-left: 10px;  color: #2277da;">
                下一篇报道：
                <a href="javascript:;" style="color:#333;display: inline-block;">
                    xxxxx云抗D为宝马汽车网络安全保驾护航
                </a>
            </div>
        </div>

    </div>
    <!-- news cont end-->
</div>