
<div id="newsbox">
    <div class="news-hader">
        <div class="banner-text">
            <p class="banner-title">新闻动态</p>
            <p>通过媒体报道，理解我们更多的侧面</p>
        </div>
    </div>
    <!-- news cont start-->
    <div class="news-wapcont">
        <div class="fl cont_left">
            <h2 class="cont_left-title">
                <span class="line fl"></span>
                最近报道
            </h2>
            <ul class="cont_list">
                <li class="news-latest">
                    <a href="javascript:;" class='fl'>
                        <img src="images/lingzheng0.jpg" alt="">
                    </a>
                    <h2 class="news-latest-title">
                        <a ng-click="gotoPage('/news-cont31')" href="javascript:;">
                            我们领证了—龙腾佳讯获得工信部颁发的云计算牌照
                        </a>
                    </h2>
                    <p class="news-latest-cont">
                        2017年9月19日，龙腾佳讯获得工信部颁发的“互联网资源协作服务业务经营许可”，俗称 “云计算牌照”。
                    </p>
                    <p class="news-latest-date">
                        2017-09-28
                        <span></span>
                        龙腾云
                    </p>
                </li>
                <li class="news-latest">
                    <a href="javascript:;" class='fl'>
                        <img src="images/huhang1.jpg" alt="">
                    </a>
                    <h2 class="news-latest-title">
                        <a ng-click="gotoPage('/news-cont30')" href="javascript:;">
                            龙腾云抗D为宝马汽车网络安全保驾护航
                        </a>
                    </h2>
                    <p class="news-latest-cont">
                        近日，世界顶级汽车企业—宝马汽车与龙腾佳讯签署合作协议，在国内全面部署和使用龙腾云抗D产品。
                    </p>
                    <p class="news-latest-date">
                        2017-09-22
                        <span></span>
                        龙腾云
                    </p>
                </li>
                <li class="news-latest">
                    <a href="javascript:;" class='fl'>
                        <img src="images/wanghong1.png" alt="">
                    </a>
                    <h2 class="news-latest-title">
                        <a ng-click="gotoPage('/news-cont29')" href="javascript:;">
                            龙腾云知云学堂丨网络世界的网红—SDN
                        </a>
                    </h2>
                    <p class="news-latest-cont">
                        新学期开始了，龙腾云知云学堂也要开课啦。这节课我们来说说火到没朋友，网络世界的网红—SDN。
                    </p>
                    <p class="news-latest-date">
                        2017-09-11
                        <span></span>
                        龙腾云
                    </p>
                </li>
                <li class="news-latest">
                    <a href="javascript:;" class='fl'>
                        <img src="images/tengfei1.jpg" alt="">
                    </a>
                    <h2 class="news-latest-title">
                        <a ng-click="gotoPage('/news-cont28')" href="javascript:;">
                            助力大数据产业腾飞 推动基础设施先行
                        </a>
                    </h2>
                    <p class="news-latest-cont">
                        想要真正挖掘大数据的红利、充分利用享受大数据优势，还需要对大数据产业发展中的诸多关键技术等进行突破与创新。
                    </p>
                    <p class="news-latest-date">
                        2017-08-31
                        <span></span>
                        龙腾云
                    </p>
                </li>
                <li class="news-latest">
                    <a href="javascript:;" class='fl'>
                        <img src="images/yanjiu1.jpg" alt="">
                    </a>
                    <h2 class="news-latest-title">
                        <a ng-click="gotoPage('/news-cont27')" href="javascript:;">
                            清华大学数据科学研究院大数据基础设施研究中心成立
                        </a>
                    </h2>
                    <p class="news-latest-cont">
                        2017年8月17日， 清华大学数据科学研究院举办了大数据基础设施认知RONG论坛暨大数据基 础设施研究中心成立仪式。
                    </p>
                    <p class="news-latest-date">
                        2017-08-29
                        <span></span>
                        龙腾云
                    </p>
                </li>
                <li class="news-latest">
                    <a href="javascript:;" class='fl'>
                        <img src="images/yaoqinghan.jpg" alt="">
                    </a>
                    <h2 class="news-latest-title">
                        <a ng-click="gotoPage('/news-cont26')" href="javascript:;">
                            邀请函
                        </a>
                    </h2>
                    <p class="news-latest-cont">
                        龙腾佳讯邀请您参加“大数据基础设施认知RONG论坛暨大数据基础设施研究中心成立仪式”
                    </p>
                    <p class="news-latest-date">
                        2017-08-15
                        <span></span>
                        龙腾云
                    </p>
                </li>
                <li class="news-latest">
                    <a href="javascript:;" class='fl'>
                        <img src="images/wxwz_5.jpg" alt="">
                    </a>
                    <h2 class="news-latest-title">
                        <a ng-click="gotoPage('/news-cont25')" href="javascript:;">
                            招聘| We Need You
                        </a>
                    </h2>
                    <p class="news-latest-cont">
                        世界这么大，不用辞职，一起去看看吧！
                    </p>
                    <p class="news-latest-date">
                        2017-07-31
                        <span></span>
                        龙腾云
                    </p>
                </li>

                <li class="news-latest">
                    <a href="javascript:;" class='fl'>
                        <img src="images/news_sj1.jpg" alt="">
                    </a>
                    <h2 class="news-latest-title">
                        <a ng-click="gotoPage('/news-cont24')" href="javascript:;">
                            全国首家SDN运营网落地北京数百栋商业楼宇
                        </a>
                    </h2>
                    <p class="news-latest-cont">
                        日前，国内首家电信级的SDN运营网络——龙腾云栈，成功落地北京数百栋商业楼宇。
                        龙腾佳讯作为多年耕耘企业电信服务的运营企业，
                        在倍受瞩目的软件定义的创新产品商业化方面成功落地，
                        标志着国内SDN技术向商业网络部署实现了重大跨越。
                    </p>
                    <p class="news-latest-date">
                        2017-07-25
                        <span></span>
                        龙腾云
                    </p>
                </li>

                <li class="news-latest">
                    <a href="javascript:;" class='fl'>
                        <img src="images/zyxtfm.png" alt="">
                    </a>
                    <h2 class="news-latest-title">
                        <a ng-click="gotoPage('/news-cont23')" href="javascript:;">
                            龙腾云知云学堂 | 小白也能懂公有云、私有云和混合云
                        </a>
                    </h2>
                    <p class="news-latest-cont">
                        第一堂课我们学习了云计算的概念，云计算是一种按使用量付费的模式，
                        这种模式提供可用的、便捷的、按需的网络访问， 进入可配置的计算资源共享池
                        （资源包括网络，服务器，存储，应用软件，服务）。
                        简单概括就是云计算可以让一个使用者根据自己的需要，使用共享的资源。
                    </p>
                    <p class="news-latest-date">
                        2017-07-11
                        <span></span>
                        龙腾云
                    </p>
                </li>

                <li class="news-latest">
                    <a href="javascript:;" class='fl'>
                        <img src="images/dxy_fm.png" alt="">
                    </a>
                    <h2 class="news-latest-title">
                        <a ng-click="gotoPage('/news-cont22')" href="javascript:;">
                            龙腾电信云全自助服务功能赢得客户好评
                        </a>
                    </h2>
                    <p class="news-latest-cont">
                        相比于公有云，私有云最大优势在于法规遵从和数据保护，可靠性、安全性都在IT部门的掌控中；
                        而公有云计算资源的弹性和灵活伸缩能力又是私有云无法达成的。所以，
                        如何最大程度利用公有云和私有云的优势，龙腾混合云解决方案完美的实现公有云和私有云鱼和熊掌兼得。
                    </p>
                    <p class="news-latest-date">
                        2017-07-03
                        <span></span>
                        龙腾云
                    </p>
                </li>

                <li class="news-latest">
                    <a href="javascript:;" class='fl'>
                        <img src="images/lthhy0.png" alt="">
                    </a>
                    <h2 class="news-latest-title">
                        <a ng-click="gotoPage('/news-cont21')" href="javascript:;">
                            龙腾混合云解决方案助力企业实现高效的互联互通
                        </a>
                    </h2>
                    <p class="news-latest-cont">
                        相比于公有云，私有云最大优势在于法规遵从和数据保护，可靠性、安全性都在IT部门的掌控中；
                        而公有云计算资源的弹性和灵活伸缩能力又是私有云无法达成的。所以，
                        如何最大程度利用公有云和私有云的优势，龙腾混合云解决方案完美的实现公有云和私有云鱼和熊掌兼得。
                    </p>
                    <p class="news-latest-date">
                        2017-06-26
                        <span></span>
                        龙腾云
                    </p>
                </li>

                <li class="news-latest">
                    <a href="javascript:;" class='fl'>
                        <img src="images/gstdxw0.png" alt="">
                    </a>
                    <h2 class="news-latest-title">
                        <a ng-click="gotoPage('/news-cont20')" href="javascript:;">
                            龙腾云高速通道服务助您轻松实现云网互通
                        </a>
                    </h2>
                    <p class="news-latest-cont">
                        高速通道作为龙腾云DCI产品，是一种便捷高效的网络服务解决方案，用于在不同数据中心、云、
                        以及办公网络之间实现高速、稳定、安全的私网通信，包括跨地域不同网络间内网互通、
                        点对点数据传输、专线接入等场景，有效的帮助您提高网络拓扑的灵活性和跨网络通信的质量和安全性。
                    </p>
                    <p class="news-latest-date">
                        2017-06-23
                        <span></span>
                        龙腾云
                    </p>
                </li>

                <li class="news-latest">
                    <a href="javascript:;" class='fl'>
                        <img src="images/dwj_1.png" alt="">
                    </a>
                    <h2 class="news-latest-title">
                        <a ng-click="gotoPage('/news-cont19')" href="javascript:;">
                            浓情端午，龙腾云粽情有礼
                        </a>
                    </h2>
                    <p class="news-latest-cont">
                        乘龙腾云舟，
                        过浓情端午！
                        龙腾云祝您，
                        端午节快乐！
                    </p>
                    <p class="news-latest-date">
                        2017-05-27
                        <span></span>
                        龙腾云
                    </p>
                </li>

                <li class="news-latest">
                    <a href="javascript:;" class='fl'>
                        <img src="images/bjhh_9.png" alt="">
                    </a>
                    <h2 class="news-latest-title">
                        <a ng-click="gotoPage('/news-cont18')" href="javascript:;">
                            龙腾云为您的数据安全保驾护航
                        </a>
                    </h2>
                    <p class="news-latest-cont">
                        最近，勒索软件成为了全民热议话题，全球共有150多个国家遭到病毒“永恒之蓝”的攻击，
                        校园网、公安网、医疗网等专线专网成为被攻击的主要对象，此次勒索病毒迅速感染全球
                        大量主机的原因是利用了“永恒之蓝”的漏洞MS17-010，
                        可远程控制未修复漏洞机器，受感染机器资料将被加密，基本无法恢复。
                    </p>
                    <p class="news-latest-date">
                        2017-05-22
                        <span></span>
                        龙腾云
                    </p>
                </li>

                <li class="news-latest">
                    <a href="javascript:;" class='fl'>
                        <img src="images/zhiyun1.png" alt="">
                    </a>
                    <h2 class="news-latest-title">
                        <a ng-click="gotoPage('/news-cont17')" href="javascript:;">
                            龙腾云知云学堂第二弹
                        </a>
                    </h2>
                    <p class="news-latest-cont">
                        计算是一种按使用量付费的模式，这种模式提供可用的、便捷的、按需的网络访问，
                        进入可配置的计算资源共享池（资源包括网络，服务器，存储，应用软件，服务）。
                        简单概括就是云计算可以让一个使用者根据自己的需要，使用共享的资源。
                    </p>
                    <p class="news-latest-date">
                        2017-05-12
                        <span></span>
                        龙腾云
                    </p>
                </li>

                <li class="news-latest">
                    <a href="javascript:;" class='fl'>
                        <img src="./images/kfr_1.png" alt="">
                    </a>
                    <h2 class="news-latest-title">
                        <a ng-click="gotoPage('/news-cont16')" href="javascript:;">
                            遇见大数据、遇见龙腾云 —龙腾佳讯参加清华大学大数据开放日活动
                        </a>
                    </h2>
                    <p class="news-latest-cont">
                        2017年4月28日龙腾佳讯参加清华大学第三届大数据开放日（Big Data Day）活动，
                        本次活动由清华大学大数据科学研究院举办，旨在让校内外师生更加了解大数据，领略大数据的魅力，
                        同时为企业打造在清华大学展示技术实力的舞台，以及企业与师生的互动交流平台。
                    </p>
                    <p class="news-latest-date">
                        2017-05-08
                        <span></span>
                        龙腾云
                    </p>
                </li>

                <li class="news-latest">
                    <a href="javascript:;" class='fl'>
                        <img src="./images/sheng31.png" alt="">
                    </a>
                    <h2 class="news-latest-title">
                        <a ng-click="gotoPage('/news-cont15')" href="javascript:;">
                            龙腾私有云助您省心、省时、省钱又省力
                        </a>
                    </h2>
                    <p class="news-latest-cont">
                        龙腾私有云（Ostack）采用开放的OpenStack框架，融合计算虚拟化、存储虚拟化、
                        网络虚拟化等技术，并结合龙腾佳讯多年数据中心、服务器与网络产品以及运维和服务经验打造的企业私有云平台；
                        龙腾私有云实现基础架构资源的按需供应、高度弹性和灵活扩展，
                        帮助企业减少自主采购、上架的过程， 加快业务上线的进程，并有效降低企业IT运维成本。
                    </p>
                    <p class="news-latest-date">
                        2017-04-25
                        <span></span>
                        龙腾云
                    </p>
                </li>
                <li class="news-latest">
                    <a href="javascript:;" class='fl'>
                        <img src="./images/ios1.png" alt="">
                    </a>
                    <h2 class="news-latest-title">
                        <a ng-click="gotoPage('/news-cont14')" href="javascript:;">
                            龙腾佳讯顺利通过ISO27001、ISO20000和ISO14001国际认证
                        </a>
                    </h2>
                    <p class="news-latest-cont">
                        龙腾佳讯顺利通过ISO27001、ISO20000和ISO14001国际认证
                        2017年4月10日，龙腾佳讯顺利通过ISO27001、ISO20000、
                        ISO14001体系审核，获得这三项国际管理体系认证证书。
                    </p>
                    <p class="news-latest-date">
                        2017-04-18
                        <span></span>
                        龙腾云
                    </p>
                </li>
                <li class="news-latest">
                    <a href="javascript:;" class='fl'>
                        <img src="./images/zhiyun1.png" alt="">
                    </a>
                    <h2 class="news-latest-title">
                        <a ng-click="gotoPage('/news-cont13')" href="javascript:;">
                            龙腾云知云学堂开课了—知云学堂 学云致用
                        </a>
                    </h2>
                    <p class="news-latest-cont">
                        在这春暖花开的日子里，龙腾云知云学堂开课喽！
                        不管你是小白还是菜鸟，龙腾云知云学堂都会让你在云计算这个领域变大神。
                        千里之行，始于云端，先让我们从基础的ABC开始吧：到底啥是云计算？
                    </p>
                    <p class="news-latest-date">
                        2017-04-05
                        <span></span>
                        龙腾云
                    </p>
                </li>
                <li class="news-latest">
                    <a href="javascript:;" class='fl'>
                        <img src="./images/cfsl_1.png" alt="">
                    </a>
                    <h2 class="news-latest-title">
                        <a ng-click="gotoPage('/news-cont12')" href="javascript:;">
                            春风十里，不如有你—龙腾免费云渠道伙伴政策解析
                        </a>
                    </h2>
                    <p class="news-latest-cont">
                        龙腾云将免费为独立数据中心合作伙伴搭建可运营的IaaS平台，
                        根据合作伙伴面对的细分行业用户特征提供专属售前支持，
                        与合作伙伴一起定制具有行业特色的运营方案。
                    </p>
                    <p class="news-latest-date">
                        2017-03-21
                        <span></span>
                        龙腾云
                    </p>
                </li>
                <li class="news-latest">
                    <a href="javascript:;" class='fl'>
                        <img src="./images/vpcjgt.png" alt="">
                    </a>
                    <h2 class="news-latest-title">
                        <a ng-click="gotoPage('/news-cont11')" href="javascript:;">
                            龙腾云简单1键， 2分钟助您轻松实现VPC
                        </a>
                    </h2>
                    <p class="news-latest-cont">
                        近期，关于经典网络（基础网络）和私有网络（VPC）的讨论引起了圈内外的广泛关注与讨论。
                        云计算，作为依赖互联网获取的公共资源，安全的重要性不言而喻。
                        然而，大部分用户不了解经典网络和VPC的区别，
                        借此机会，为大家介绍一下VPC的重要性及龙腾云VPC的特点优势。
                    </p>
                    <p class="news-latest-date">
                        2017-03-13
                        <span></span>
                        龙腾云
                    </p>
                </li>
                <li class="news-latest">
                    <a href="javascript:;" class='fl'>
                        <img src="images/tel_xinban-1.png" alt="">
                    </a>
                    <h2 class="news-latest-title">
                        <a ng-click="gotoPage('/news-cont10')" href="javascript:;">
                            全新形象、全新改变 ——龙腾云官网全新改版上线
                        </a>
                    </h2>
                    <p class="news-latest-cont">
                        不知不觉，丙申猴年即将过去， 感谢小伙伴们这一年对龙腾云的大力支持。新年新气象，
                        为了将更丰富的内容展现给您，龙腾云官网（www.longtel.com）在农历春节前全新改版上线！
                    </p>
                    <p class="news-latest-date">
                        2017-02-13
                        <span></span>
                        龙腾云
                    </p>
                </li>
                <li class="news-latest">
                    <a href="javascript:;" class='fl'>
                        <img src="./images/lianhehui111.jpg" alt="">
                    </a>
                    <h2 class="news-latest-title">
                        <a ng-click="gotoPage('/news-cont9')" href="javascript:;">
                            龙腾佳讯成为清华大数据产业联合会理事单位
                        </a>
                    </h2>
                    <p class="news-latest-cont">
                        经清华大数据产业联合会审核，北京龙腾佳讯科技股份公司（以下简称“龙腾佳讯”）
                        正式加入清华大数据产业联合会，并成为清华大数据产业联合会理事单位。
                    </p>
                    <p class="news-latest-date">
                        2017-01-25
                        <span></span>
                        龙腾云
                    </p>
                </li>
                <li class="news-latest">
                    <a href="javascript:;" class='fl'>
                        <img src="./images/shenmeyun111.jpg" alt="">
                    </a>
                    <h2 class="news-latest-title">
                        <a ng-click="gotoPage('/news-cont8')" href="javascript:;">
                            "龙腾云"携手伙伴共展云途，看看这是一朵什么云？
                        </a>
                    </h2>
                    <p class="news-latest-cont">
                        近日，随着龙腾佳讯公司首次合作伙伴大会的举行，让“龙腾云”这个新的公有云品牌得以在业界“曝光”。
                    </p>
                    <p class="news-latest-date">
                        2016-12-19
                        <span></span>
                        龙腾云
                    </p>
                </li>
                <li class="news-latest">
                    <a href="javascript:;" class='fl'>
                        <img src="./images/weilai111.jpg" alt="">
                    </a>
                    <h2 class="news-latest-title">
                        <a ng-click="gotoPage('/news-cont7')" href="javascript:;">
                            合众力 作云端 运千家 营未来
                        </a>
                    </h2>
                    <p class="news-latest-cont">
                        龙腾云合作伙伴大会于2016年11月30日在京成功召开。本次会议围绕“龙腾云、身边的云”，
                        主要面向北京地区的独立数据中心和网络服务合作伙伴，共同探讨龙腾云的发展历程、产品特色优势及龙腾云全新的合作伙伴政策。
                    </p>
                    <p class="news-latest-date">
                        2016-12-05
                        <span></span>
                        龙腾云
                    </p>
                </li>
                <li class="news-latest">
                    <a href="javascript:;" class='fl'>
                        <img src="./images/sanban111.png" alt="">
                    </a>
                    <h2 class="news-latest-title">
                        <a ng-click="gotoPage('/news-cont6')" href="javascript:;">
                            【喜报】热烈祝贺龙腾佳讯成功挂牌新三板
                        </a>
                    </h2>
                    <p class="news-latest-cont">
                        2016年10月28日，北京龙腾佳讯科技股份公司，简称“龙腾佳讯”，
                        在“新三板”即全国中小企业股份转让系统正式挂牌上市,股票代码839433
                    </p>
                    <p class="news-latest-date">
                        2016-11-01
                        <span></span>
                        龙腾云
                    </p>
                </li>
                <li class="news-latest">
                    <a href="javascript:;" class='fl'>
                        <img src="./images/zhuliu111.jpg" alt="">
                    </a>
                    <h2 class="news-latest-title">
                        <a ng-click="gotoPage('/news-cont5')" href="javascript:;">
                            龙腾云安全服务正在成为企业云服务的主流
                        </a>
                    </h2>
                    <p class="news-latest-cont">
                        安全产品作为软件服务产品中最为复杂的产品，近些年经历了高速发展的阶段，新的产品形式层出不穷，
                        随着市场需求的变化，各安全厂商逐渐认识到单靠单一厂商的设备无法满足市场需求和抵御变化多样的网络风险。
                    </p>
                    <p class="news-latest-date">
                        2016-09-27
                        <span></span>
                        龙腾云
                    </p>
                </li>
                <li class="news-latest">
                    <a href="javascript:;" class='fl'>
                        <img src="./images/wanghutong111.jpg" alt="">
                    </a>
                    <h2 class="news-latest-title">
                        <a ng-click="gotoPage('/news-cont4')" href="javascript:;">
                            龙腾云让您时时刻刻云网互通
                        </a>
                    </h2>
                    <p class="news-latest-cont">
                        9月7日电信主干网络故障导致龙腾云、AWS、金山云及UCLOUD等云服务提供商在北京的服务器电信线路均出现访问故障，
                        此次故障持续近4小时才得以解决。
                    </p>
                    <p class="news-latest-date">
                        2016-09-19
                        <span></span>
                        龙腾云
                    </p>
                </li>
                <li class="news-latest">
                    <a href="javascript:;" class='fl'>
                        <img src="./images/yuanmeng111.jpg" alt="">
                    </a>
                    <h2 class="news-latest-title">
                        <a ng-click="gotoPage('/news-cont3')" href="javascript:;">
                            龙腾云携手中网，和你一起圆梦
                        </a>
                    </h2>
                    <p class="news-latest-cont">
                        中网青少年巡回赛由北京中国网球公开赛体育推广有限公司主办、北京市体育局青少处支持、考奇网球承办。
                        2016赛季，中网青少年巡回赛将陆续在北京、上海、深圳、昆明、包头、贵阳、郑州、西安、泉州、柳州10大赛区展开，
                        直至9月中网前夕正式收官，总决赛将在中网赛期举行。龙腾云秉承追求卓越、健康拼搏的网球精神，全程支持中网青
                    </p>
                    <p class="news-latest-date">
                        2016-06-21
                        <span></span>
                        龙腾云
                    </p>
                </li>
                <li class="news-latest">
                    <a href="javascript:;" class='fl'>
                        <img src="./images/huodong1111.jpg" alt="">
                    </a>
                    <h2 class="news-latest-title">
                        <a ng-click="gotoPage('/news-cont2')" href="javascript:;">
                            龙腾云优惠政策及活动规则
                        </a>
                    </h2>
                    <p class="news-latest-cont">
                        一、 注册领红包
                        <br>
                        注册即送100元平台红包，在线试用云主机 。 活动规则:
                        <br>
                        1. 适用人群：活动期间新注册用户； 2. 活动时间：2016年6月1日-2016年12月31日；
                    </p>
                    <p class="news-latest-date">
                        2016-06-07
                        <span></span>
                        龙腾云
                    </p>
                </li>
                <li class="news-latest">
                    <a href="javascript:;" class='fl'>
                        <img src="./images/gaoxiao111.jpg" alt="">
                    </a>
                    <h2 class="news-latest-title">
                        <a ng-click="gotoPage('/news-cont1')" href="javascript:;">
                            高校移动创新大赛，龙腾云助你飞翔
                        </a>
                    </h2>
                    <p class="news-latest-cont">
                        中国高校计算机大赛 是面向全国高校各专业在校学生的科技类竞赛活动， 旨在促进高校计算机课程教学内容和教学方法改革，激发学生创新意识，
                        提升学生计算机问题求解水平，特别是计算机程序设计、大数据处理和移动应用的设计与开发能力，提高全国高校计算机应用水平。
                    </p>
                    <p class="news-latest-date">
                        2016-05-18
                        <span></span>
                        龙腾云
                    </p>
                </li>
            </ul>
            <!-- <div class="news_page">
                 <a onclick="up()" href="javascript:;" style="width: auto;padding: 0 8px;">
                     <&nbsp上一页
                 </a>
                 <a href="javascript:;">
                     1
                 </a>
                 <a href="javascript:;">
                     2
                 </a>
                 <a href="javascript:;">
                     3
                 </a>
                 <a href="javascript:;">
                     4
                 </a>
                 <a onclick="down()" href="javascript:;" style="width: auto;padding: 0 8px;">
                     下一页&nbsp>
                 </a>
             </div>-->

        </div>

        <div class="fr cont_right" ng-include="'template/news_report.html'">

        </div>
    </div>
    <!-- news cont end-->
</div>
<script>





    //页面按钮点击跳转
   /* $('.news_page>a').click(function () {
        var _this = $(this);
        _this.css({
            border: 'none',
            color: '#333'
        }).attr('active', 'true');
        if (_this.attr('active') == 'true') {

        }
        _this.siblings('a').css('border', '1px solid #ddd').css('color', '#999').attr('active', 'false');
    });
    ;
    //上一页
    function up(){
        //首先 你页面上要有一个标志  标志当前是第几页
        //然后在这里减去1 再放进链接里
        var pageno=1-1;
        if(pageno==0){
            alert("当前已经是第一页!");
            return false;
        }
        /!*这里在将当前页数赋值到页面做显示标志*!/
        window.location.href="news.htm?b=123&b=qwe&c="+pageno;
    }
    //下一页
    function down(){
        //首先 你页面上要有一个标志  标志当前是第几页
        //然后在这里加上1 再放进链接里
        var pageno=1+1;
        if(pageno==1){
            alert("当前已经是最后一页!");
            return false;
        }
        /!*这里在将当前页数赋值到页面做显示标志*!/

        window.location.href="/cloud_index/template/news"+pageno+".html";
    }*/
</script>