<div id="newsbox" class="newsbox_cont">
    <div class="news-hader">
        <div class="banner-text">
            <p class="banner-title">新闻动态</p>
            <p>通过媒体报道，理解我们更多的侧面</p>
        </div>
    </div>
    <!-- news cont start-->
    <div class="news-wapcont">
        <div class="fl cont_left">
            <h2 class="cont_left-title">
                <a ng-click="gotoPage('/about/news')" href="javascript:;">
                    < 返回最近报道列表
                </a>
            </h2>
            <div class="cont_list">
                <h1>
                    全国首家SDN运营网落地北京数百栋商业楼宇
                </h1>
            </div>
            <p class="news_cont-data">
                <span>
                    2017-07-25
                </span>
                <!-- <span style="margin-left: 40px;">
                     来源：
                 </span>-->
            </p>
            <div class="news_cont-list">
                <p style="text-align: left">
                    <img style="width: 700px" src="images/news_sj1.jpg" alt="">
                </p>
                <p>
                    <strong>
                        日前，国内首家电信级的SDN运营网络——xxxxx云栈，成功落地北京数百栋商业楼宇。
                        xxxxx作为多年耕耘企业电信服务的运营企业，
                        在倍受瞩目的软件定义的创新产品商业化方面成功落地，
                        标志着国内SDN技术向商业网络部署实现了重大跨越。
                    </strong>
                </p>
                <p>
                    2009年斯坦福大学博士生Martin Casado领导的项目组定义了Openflow协议，
                    崭新的模式和视角使得全球掀起了探索SDN技术发展的滔天巨浪。
                    2012年谷歌宣布其主干B4网络已经使用了SDN技术，通过广域网络联接分布在全球各地的12个数据中心。
                    但是由于传统运营商的流量成分复杂、网络规模庞大，国内仅有较少的SDN增值应用，
                    并没有SDN广域网领域大规模商业化的案例。业界普遍认为SDN技术商业化角度至少有以下难点。
                </p>
                <p style="text-align:left">
                    <strong>
                        ■ 业务部署难度大
                    </strong>
                </p>
                <p>
                    <img style="width: 700px" src="images/news_sj2.jpg" alt="">
                </p>
                <p  style="text-align: left;">
                    运营商骨干网规模大、设备类型和数量多，对SDN支持水平不一致。
                    许多新型协议栈如Openflow、OVSDB、Netconf等，需要对现行网络设备进行硬件更新、
                    软件升级后才能支持。而且SDN技术发展较快，在控制模型、应用模型等方面不断创新，
                    适配不同设备的难度不断提升。因此，全网实施SDN技术难度较高，
                    缺乏成熟经验，无形中增加了电信运营商设备部署和维护过程的不确定性。
                </p>
                <p style="text-align:left">
                    <strong>
                        ■ 网络可靠性和扩展性要求高
                    </strong>
                </p>
                <p style="text-align: left">
                    <img style="    width: 740px;" src="images/news_sj3.jpg" alt="">
                </p>
                <p>
                    运营商骨干网不仅设备数量多，而且涉及的厂商也非常多，任何一条实际运营的用户线路都涉及到一连
                    串的设备及技术。以互联网为例，城域运营网络会有大量的网间互联，导致BGP peer数量逐年增加，
                    同时BGP全球路由表早已突破65万条，对运营商设备性能和扩展升级的复杂性提出严峻的考验。
                    采用SDN技术必须要从容面对如此大规模路由条目和设备数量，实现网络功能和性能的可靠、平稳地操控。
                </p>
                <p style="text-align:left">
                    <strong>
                        ■ 面对全新运维知识体系
                    </strong>
                </p>
                <p style="text-align: left">
                    <img src="images/news_sj4.jpg" alt="">
                </p>
                <p>
                    由人员、工具、流程三个主要元素组成的网络运维体系，是保证运营商提供服务的关键。
                    由于SDN引入了可编程、API、DevOps等创新要素，传统运维人员的知识体系更新是巨大的挑战。
                    新技术引入还对现有OSS体系形成较大冲击，运营商需要引入新的工具、流程，以及积累新的运维经验，
                    甚至引入人工智能来实现更高程度的自动化，才能有效地摊销成本、提高效率、优化服务。
                    这些创新知识无疑会对传统的运维体系产生颠覆性地影响。
                </p>
                <p style="margin-top: 24px;">
                    <strong>
                        xxxxx拥有13年通信运营经验，始终致力于利用新的技术让网络更智能。
                    </strong>
                </p>
                <p style="text-align: left;color:#2380b2;font-weight: bold;    margin-top: 24px;">
                    部署和业务定位高度聚焦
                </p>
                <p style="text-align: left">
                    <img style="    width: 740px;" src="images/news_sj5.jpg" alt="">
                </p>
                <p>
                    作为区域运营商，<strong>xxxxx的一个业务重点是商业地产ISP服务，聚焦高端和高质的网络服务。</strong>
                    自公司成立之初，就立足于为企业用户提供包括互联网在内的ICT相关服务，相对于业内其他同行，
                    网络规模和部署形式更加聚焦。在从传统网络过渡到SDN网络的过程中，xxxxx按照计划首先从核
                    心交换网络开始进行改造，完成核心网络关键节点SDN化后，为全网SDN化打下基础和积累经验。
                    在整个改造过程中，<strong>xxxxx聚焦用户需求，盯准商业楼宇ICT服务市场，提出了xxxxx“云栈”概念，
                    第一个提出了商业楼宇网络SDN智能化的运营目标。</strong>
                </p>
                <p style="text-align: left;color:#2380b2;font-weight: bold;margin-top: 30px;">
                    高可靠的SDN网络架构
                </p>
                <p style="text-align: left;">
                    <img src="images/news_sj6.png" style="width: 740px;" alt="">
                </p>
                <p>
                    <strong>通过SDN技术，xxxxx采用高可靠的SDN网络控制器，进行双机/多节点部署，
                        满足电信级99.999%的高可用性要求。集中控制的控制器可以实现网络设备的自动发现、
                        网络拓扑的自动发现，添加网络设备仅需5条指令，轻松实现网络部署。</strong>
                    通过控制器的PCE引擎（Path Computing Engin）自动实现链路故障倒换，
                    不仅避免了网络环路，省去了负载的人工配置，更可以让网络收敛时间从十几秒缩短到几百毫秒。
                    控制器的API抽象了网络服务，上层应用只需关注业务形式和网络需求，提供了极其灵活的网络创新能力。
                    <strong>SDN技术不仅关联了上层应用和网络服务能力，还解耦了应用和网络转发设备，使xxxxx的大规模城域运营网络，
                        通过采用先进的OCP“白盒”交换机和国际领先的顶级开源技术，既降低了网络建设成本，又提高了网络扩展能力。</strong>
                    </strong>
                </p>
                <p style="text-align: left;color:#2380b2;font-weight: bold;margin-top: 30px;">
                    融合文化打造融合新网络
                </p>
                <p style="text-align: left">
                    <img style="width: 740px;" src="images/news_sj7.jpg" alt="">
                </p>
                <p>
                    <strong>xxxxx的部门融合、文化融合的开放工作氛围也是本次xxxxx云栈能够成功部署的关键。</strong>
                    事实上，早在2015年成立软件开发团队时，xxxxx就将“融合”作为体系建设的一项重要工作。
                    软件的智慧是人的智慧，是融合了开发人员的软件技术和传统网络技术人员的运营经验与知识，
                    多层次创新和碰撞而产生的智慧。运营团队和运维人员对用户问题的反馈能有效地完善软件产品，
                    但前提是软件知识体系在团队中充分地分享和传播。采用 <strong>定期培训、会议、敏捷项目管理工具，
                    潜移默化地增进团队的效率、提升部门间理解、加快任务处理的速度，</strong>也许这真的像武侠小说中说的“功夫在秘籍之外”。
                </p>
                <p style="margin: 24px 0;">
                    <strong>xxxxx云栈通过SDN技术，向用户提供灵活的互联网接入服务。实现动态调整带宽，
                        秒级变速响应、按需使用付费，更省钱、更省时、更省心！截止到7月1日，
                        在xxxxxSDN城域网落地的商业楼宇中已有35.8%的企业使用了xxxxx云栈产品。
                        企业用户可以真实地感受到由软件定义网络技术“业务随需而变”带来的便利和好处。</strong>
                </p>
                <p>
                    2017年，SDN发展进入了崭新的阶段，用思科CEO查克·罗宾斯的话，
                    “新网络将重新定义未来网络30年”。新网络依靠的是SDN实现的智能网，
                    新网络带来的是SDN支持的新运营，而 <strong>xxxxx作为领先的电信新运营模式的倡导者，
                    城域网率先实现自动化、智能化，未来必将加快网络SDN技术改造更新换代的步伐，
                    助力企业数字化、云化的快速转型，成就敏捷、高效、智能的企业之梦。</strong>
                </p>
                <p style="    margin:0;font-size: 12px;text-align: center;">
                    — FIN —
                </p>
                <p style="text-align: left">
                    <img src="images/news_sj8.jpg" alt="">
                </p>
                <p style="text-align: left">
                    <img src="images/news_sj9.jpg" alt="">
                </p>
            </div>

        </div>

        <div class="fr cont_right" ng-include="'template/news_report.html'">

        </div>

        <div class="news_cont-node">
            <div ng-click="gotoPage('/news-cont23')"
                 style="margin-top: 16px;display: inline-block;margin-left: 10px;  color: #2277da;">
                上一篇报道：
                <a href="javascript:;" style="color:#333;display: inline-block;">
                    xxxxx云知云学堂 | 小白也能懂xxxxxx、xxxxxx和混合云
                </a>
            </div>
            <br>
            <div ng-click="gotoPage('/news-cont25')"
                 style="margin-top: 16px;display: inline-block;margin-left: 10px;  color: #2277da;">
                下一篇报道：
                <a href="javascript:;" style="color:#333;display: inline-block;">
                    招聘| We Need You
                </a>
            </div>
        </div>

    </div>
    <!-- news cont end-->
</div>