<div id="newsbox" class="newsbox_cont">
    <div class="news-hader">
        <div class="banner-text">
            <p class="banner-title">新闻动态</p>
            <p>通过媒体报道，理解我们更多的侧面</p>
        </div>
    </div>
    <!-- news cont start-->
    <div class="news-wapcont">
        <div class="fl cont_left">
            <h2 class="cont_left-title">
                <a ng-click="gotoPage('/about/news')" href="javascript:;">
                    < 返回最近报道列表
                </a>
            </h2>
            <div class="cont_list">
                <h1>
                    龙腾云高速通道服务助您轻松实现云网互通
                </h1>
            </div>
            <p class="news_cont-data">
                <span>
                    2016-06-23
                </span>
                <!-- <span style="margin-left: 40px;">
                     来源：
                 </span>-->
            </p>
            <div class="news_cont-list">
                <p style="text-align: left">
                    <img src="images/gstdxw0.png" alt="" style="width:80%;">
                </p>
                <p>
                    高速通道作为龙腾云DCI产品，是一种便捷高效的网络服务解决方案，
                    用于在不同数据中心、云、以及办公网络之间实现高速、稳定、安全的私网通信，
                    包括跨地域不同网络间内网互通、点对点数据传输、专线接入等场景，
                    有效的帮助您提高网络拓扑的灵活性和跨网络通信的质量和安全性。
                </p>
                <p style="color: cornflowerblue;">
                    龙腾云高速通道优势
                </p>
                <ul class="list-ul">
                    <li style="width: 20%;background: #eee;color: #000;    line-height: 40px">优势点</li>
                    <li style="width: 40%;color: cornflowerblue;    line-height: 40px;background: #eee;color: cornflowerblue;border-left: 1px solid #fff;border-right: 1px solid #fff;">
                        龙腾云高速通道
                    </li>
                    <li style="width: 40%; background: #eee;    line-height: 40px">专线</li>

                    <li style="width: 20%;    line-height: 40px;">通信质量</li>
                    <li style="width: 40%;font-size: 13px; text-align: left">全网络双线热备份，单条故障不影响专线正常运行。</li>
                    <li style="width: 40%;font-size: 13px; text-align: left">单线无法多链路备份。</li>
                    <li style="width: 20%;    line-height: 40px;background: #eee;">安全性</li>
                    <li style="width: 40%;font-size: 13px; border-left: 1px solid #fff;border-right: 1px solid #fff;    background: #eee;text-align: left">基于SDN网络技术实现，不同通信链路相互隔离，安全性高。</li>
                    <li style="width: 40%;font-size: 13px;  background: #eee;text-align: left">很难提供冗余。</li>
                    <li style="width: 20%;    line-height: 40px;">灵活性</li>
                    <li style="width: 40%;font-size: 13px; text-align: left">轻松调整连接，随时增加/减少带宽，秒级提速变更。</li>
                    <li style="width: 40%;font-size: 13px;text-align: left">增加/减少带宽最短流程15个工作日可完成。</li>
                    <li style="width: 20%;background: #eee;">操作</li>
                    <li style="width: 40%;font-size: 13px; border-left: 1px solid #fff;border-right: 1px solid #fff;    background: #eee;text-align: left">龙腾云平台统一管理，操作简便，视图可见。</li>
                    <li style="width: 40%;font-size: 13px;  background: #eee;text-align: left">线路使用情况无法可视化。</li>
                    <li style="width: 20%;    line-height: 40px;">成本</li>
                    <li style="width: 40%;font-size: 13px;text-align: left">按需计费节省资金。</li>
                    <li style="width: 40%;font-size: 13px;text-align: left;">费用高。</li>
                </ul>
                <p style="color: cornflowerblue;">
                    龙腾云高速通道特点
                </p>
                <p style="color: #666;font-size: 15px;    padding-left: 18px;">
                    <span style="width: 10px;display: inline-block;height: 10px;background:cornflowerblue;"></span>
                    使用高速通道实现两侧私网通信
                </p>
                <p style="color: #666;font-size: 15px; padding-left: 32px;  text-align: left;">
                    避免绕行公网带来网络质量不稳定问题，也可免去数据在传输过程中被窃取风险
                </p>
                <p>
                    <img style="      width: 85%;margin: 0 auto;" src="images/gstdddd1.png" alt="">
                </p>
                <p style="color: #666;font-size: 15px;    padding-left: 18px;">
                    <span style="width: 10px;display: inline-block;height: 10px;background:cornflowerblue;"></span>
                    基于SDN技术使得功能更加丰富灵活
                </p>
                <p style="color: #666;font-size: 15px; padding-left: 224px;  text-align: left;">
                    业务可视化，一键升速，灵活计费
                </p>
                <p>
                    <img style="margin: 0 auto;      width: 85%;" src="images/gstdddd2.png" alt="">
                </p>
                <p style="color: cornflowerblue;">
                    龙腾云高速通道互联方式
                </p>
                <p style="color: #666;font-size: 15px;    padding-left: 18px;">
                    <span style="width: 10px;display: inline-block;height: 10px;background:cornflowerblue;"></span>
                    数据中心与公有云
                </p>
                <p style="color: #666;font-size: 15px;    padding-left: 32px;">
                    用户数据中心与公有云的高速通道，满足用户自建或托管数据中心与阿里云、AWS、青云、龙腾云等互联。
                </p>
                <p>
                    <img style="margin: 0 auto;        width: 85%;" src="images/gstdddd3.png" alt="">
                </p>
                <p style="color: #666;font-size: 15px;    padding-left: 18px;">
                    <span style="width: 10px;display: inline-block;height: 10px;background:cornflowerblue;"></span>
                    数据中心与私有云
                </p>
                <p style="color: #666;font-size: 15px;    padding-left: 32px;">
                    用用户数据中心与私有云的高速通道，满足用户自建或托管数据中心与自建私有云或托管云互联。
                </p>
                <p>
                    <img style="margin: 0 auto;        width: 85%;" src="images/gstdddd4.png" alt="">
                </p>
                <p style="color: #666;font-size: 15px;    padding-left: 18px;">
                    <span style="width: 10px;display: inline-block;height: 10px;background:cornflowerblue;"></span>
                    办公网与公有云
                </p>
                <p style="color: #666;font-size: 15px;    padding-left: 32px;">
                    办公网与公有云的高速通道，满足用户办公网与阿里云、AWS、青云、龙腾云等互联。
                </p>
                <p>
                    <img style="margin: 0 auto;       width: 85%;" src="images/gstdddd5.png" alt="">
                </p>
                <p style="color: #666;font-size: 15px;    padding-left: 18px;">
                    <span style="width: 10px;display: inline-block;height: 10px;background:cornflowerblue;"></span>
                    多云互联
                </p>
                <p style="color: #666;font-size: 15px;    padding-left: 32px;">
                    多个公有云或私有云之间的专网互联，为客户组建多云混合提供网络支持。
                </p>
                <p>
                    <img style="margin: 0 auto;        width: 85%;" src="images/gstdddd6.png" alt="">
                </p>
                <p style="color: #666;font-size: 15px;    padding-left: 18px;">
                    <span style="width: 10px;display: inline-block;height: 10px;background:cornflowerblue;"></span>
                    多数据中心互联
                </p>
                <p style="color: #666;font-size: 15px;    padding-left: 32px;">
                    两个或多个数据中心之间的互联与数据传输，满足用户多点组网需求。
                </p>
                <p>
                    <img style="margin: 0 auto;    width: 85%;" src="images/gstdddd7.png" alt="">
                </p>
                <p style="color: #666;font-size: 15px;    padding-left: 18px;">
                    <span style="width: 10px;display: inline-block;height: 10px;background:cornflowerblue;"></span>
                    处理大型数据集
                </p>
                <p style="color: #666;font-size: 15px;    padding-left: 32px;">
                    通过 Internet 传输大型数据集不仅费时且价格高。龙腾云高速通道业务能让您在数据中心、
                    办公室或托管环境和各种云之间直接传输业务重要数据，不仅不需要经过您的 Internet 服务提供商，
                    还能消除网络拥堵。此外，龙腾云的高速通道简便的即用即付定价方式和无需最低承诺的特点，
                    意味着您只需要为使用的网络端口和通过连接传输的数据支付费用，大大降低您的联网成本。
                </p>
                <p style="color: #666;font-size: 15px;    padding-left: 18px;">
                    <span style="width: 10px;display: inline-block;height: 10px;background:cornflowerblue;"></span>
                    实时数据馈送
                </p>
                <p style="color: #666;font-size: 15px;    padding-left: 32px;">
                    使用实时数据馈送的应用程序可从龙腾云高速通道中获益。例如，在网络传输时间始终保持一致时，
                    语音和视频等应用程序的性能最佳。由于当数据 A 点传输到 B 点时 Internet 是持续变化的，
                    Internet 上的传输等待时间也会随之发生变化。使用龙腾云高速通道，
                    您可以控制数据的路径方式，从而获得比 Internet 型连接更加一致的网络体验。
                </p>
                <p style="color: #666;font-size: 15px;    padding-left: 18px;">
                    <span style="width: 10px;display: inline-block;height: 10px;background:cornflowerblue;"></span>
                    混合型计算机运行环境
                </p>
                <p style="color: #666;font-size: 15px;    padding-left: 32px;">
                    龙腾云高速通道帮您构建混合型计算机的运行环境，可满足需要使用专用联接的管理要求。
                    混合型环境能让您将龙腾云的灵活性和经济效益结合，与现有其他基础设施的利用相融合。
                </p>
                <p>
                    <img src="images/sheng35.png" alt="">
                </p>
            </div>

        </div>

        <div class="fr cont_right" ng-include="'template/news_report.html'">

        </div>

        <div class="news_cont-node">
            <div ng-click="gotoPage('/news-cont19')"
                 style="margin-top: 16px;display: inline-block;margin-left: 10px;  color: #2277da;">
                上一篇报道：
                <a href="javascript:;" style="color:#333;display: inline-block;">
                    龙浓情端午，龙腾云粽情有礼
                </a>
            </div>
            <div style=" margin-left: 10px;     margin-top: 16px;  color: #2277da;">
                下一篇报道：
                <a ng-click="gotoPage('/news-cont21')" href="javascript:;"
                   style="color:#333;display: inline-block;">
                    龙腾混合云解决方案助力企业实现高效的互联互通
                </a>
            </div>
        </div>

    </div>
    <!-- news cont end-->
</div>