<div id="newsbox" class="newsbox_cont">
    <div class="news-hader">
        <div class="banner-text">
            <p class="banner-title">新闻动态</p>
            <p>通过媒体报道，理解我们更多的侧面</p>
        </div>
    </div>
    <!-- news cont start-->
    <div class="news-wapcont">
        <div class="fl cont_left">
            <h2 class="cont_left-title">
                <a ng-click="gotoPage('/about/news')" href="javascript:;">
                    < 返回最近报道列表
                </a>
            </h2>
            <div class="cont_list">
                <h1>
                    春风十里，不如有你—xxxxx免费云渠道伙伴政策解析
                </h1>
            </div>
            <p class="news_cont-data">
                <span>
                    2017-03-21
                </span>
                <!-- <span style="margin-left: 40px;">
                     来源：
                 </span>-->
            </p>
            <div class="news_cont-list">
                <p style="    padding: 30px 0;text-align: center;">
                    <img src="./images/cfsl_1.png">
                </p>
                <p style="    padding: 30px 0;text-align: center;">
                    <img src="./images/cfsl_2.png">
                </p>
                <p style="    padding: 30px 0;text-align: center;">
                    <img src="./images/cfsl_3.png">
                </p>
                <p style="    padding: 10px 0;text-align: left;">
                    <img src="./images/cfsl_4.png">
                </p>
                <p>
                    xxxxx云将免费为独立数据中心合作伙伴搭建可运营的IaaS平台，根据合作伙伴面对的细分行业用户特征提供专属售前支持，
                    与合作伙伴一起定制具有行业特色的运营方案。
                </p>
                <p style="    padding: 10px 0;text-align: center;">
                    <img src="./images/cfsl_5.png">
                </p>
                <p style="    padding: 10px 0;text-align: left;">
                    <img src="./images/cfsl_6.png">
                </p>
                <p>
                    经营独立数据中心业务的企业。
                </p>
                <p style="    padding: 10px 0;text-align: left;">
                    <img src="./images/cfsl_7.png">
                </p>
                <p>
                    腾云渠道合作伙伴分为三种：创业合作伙伴，资源合作伙伴，代理合作伙伴。
                </p>
                <p style="    padding: 10px 0;text-align: center;">
                    <img src="./images/cfsl_8.png">
                </p>
                <p style="    padding: 10px 0;text-align: center;">
                    <img src="./images/cfsl_9.png">
                </p>
                <p style="    padding: 10px 0;text-align: center;">
                    <img src="./images/cfsl_10.png">
                </p>
                <p style="    padding: 10px 0;text-align: left;">
                    <img src="./images/cfsl_11-10.png">
                </p>
                <p style="    padding: 10px 0;text-align: center;">
                    <img src="./images/cfsl_11.png">
                </p>
                <p style="    padding: 10px 0;text-align: center;">
                    <img src="./images/cfsl_12.png">
                </p>
                <p style="    padding: 10px 0;text-align: left;">
                    <img src="./images/cfsl_13.png">
                </p>
                <p style="    padding: 10px 0;text-align: center;">
                    <img src="./images/cfsl_14.png">
                </p>
                <p style="    padding: 10px 0;text-align: center;">
                    <img src="./images/cfsl_15.png">
                </p>
                <p style="    padding: 10px 0;text-align: center;">
                    <img src="./images/cfsl_16.png">
                </p>
                <p style="    padding: 10px 0;text-align: center;">
                    <img src="./images/cfsl_17.png">
                </p>
                <p style="    padding: 10px 0;text-align: left;">
                    <img src="./images/cfsl_18.png">
                </p>
                <p style="    padding: 10px 0;text-align: center;">
                    <img src="./images/cfsl_19.png">
                </p>
                <p style="    padding: 10px 0;text-align: center;">
                    <img src="./images/cfsl_20.png">
                </p>
                <p style="    padding: 10px 0;text-align: center;">
                    <img src="./images/cfsl_21.png">
                </p>
                <p style="    padding: 10px 0;text-align: center;">
                    <img src="./images/cfsl_22.png">
                </p>
                <p style="    padding: 10px 0;text-align: center;">
                    <img src="./images/cfsl_23.png">
                </p>
                <p style="    padding: 10px 0;text-align: center;">
                    <img src="./images/cfsl_24.png">
                </p>
                <p style="    padding: 10px 0;text-align: center;">
                    <img src="./images/cfsl_25.png">
                </p>
                <p style="    padding: 10px 0;text-align: center;">
                    <img src="./images/cfsl_26.png">
                </p>
                <p style="    padding: 10px 0;text-align: center;">
                    <img src="./images/cfsl_27.png">
                </p>

            </div>
            <div class="news_cont-node">
                <div style="    color: #2277da;">
                    上一篇报道：
                    <a ng-click="gotoPage('/news-cont11')" href="javascript:;" style="color:#333;display: inline-block;">
                        xxxxx云简单1键， 2分钟助您轻松实现VPC
                    </a>
                </div>
                 <div style="      margin-top: 16px;  color: #2277da;">
                     下一篇报道：
                     <a  ng-click="gotoPage('/news-cont13')" href="javascript:;"style="color:#333;display: inline-block;">
                         xxxxx云知云学堂开课了—知云学堂 学云致用
                     </a>
                 </div>
            </div>

        </div>

        <div class="fr cont_right" ng-include="'template/news_report.html'">

        </div>
    </div>
    <!-- news cont end-->
</div>