<div id="newsbox" class="newsbox_cont">
    <div class="news-hader">
        <div class="banner-text">
            <p class="banner-title">新闻动态</p>
            <p>通过媒体报道，理解我们更多的侧面</p>
        </div>
    </div>
    <!-- news cont start-->
    <div class="news-wapcont">
        <div class="fl cont_left">
            <h2 class="cont_left-title">
                <a ng-click="gotoPage('/about/news')" href="javascript:;">
                    < 返回最近报道列表
                </a>
            </h2>
            <div class="cont_list">
                <h1>
                    xxxxx云抗D为宝马汽车网络安全保驾护航
                </h1>
            </div>
            <p class="news_cont-data">
                <span>
                    2017-09-22
                </span>
                <!-- <span style="margin-left: 40px;">
                     作者：baojj  比特网
                 </span>-->
            </p>
            <div class="news_cont-list">
                <p>
                    <img style="width: 700px" src="images/huhang1.jpg" alt="">
                </p>

                <p>
                    随着互联网和云计算的快速发展，电子商务、网络游戏、网银支付等在线业务高速增长。
                    然而，以 DDoS(分布式拒绝服务)为代表的网络攻击， 直接危及 ISP 链路和在线业务，
                    且攻击规模呈逐年增加态势。德勤的年度报告：2017年DDoS攻击在规模和数量上都将有大幅提升，
                    预计未来12个月将有约1000万次攻击。平均攻击规模预计将介于1.25-1.5Gb/s，
                    每月至少有一次超过1Tb/s的攻击。为此，抗D已经成为网络安全领域的一致目标。
                </p>
                <p>
                    <strong>
                        xxxxx自2017年1月推出xxxxx云抗D产品后，得到了众多企业用户的好评。近日，
                        世界顶级汽车企业—宝马汽车与xxxxx签署合作协议，在国内全面部署和使用xxxxx云抗D产品。
                        这也是继xxxxx为宝马汽车提供通信解决方案产品以来的再次合作。
                    </strong>
                </p>
                <p>
                    <strong>
                        xxxxx云抗D采用分布式防御节点，总储备防御带宽2.6T，单集群1.4T，单次最高防御量高达1T超大规模流量攻击。
                        按需扩容，无黑洞
                    </strong>。平台可全自助购买多种套餐服务，防御即开即用；
                    7×24小时优质服务支持，为用户的重要资源提供性能监控告警服务，保障业务系统稳定续航。
                </p>
                <p class="textleft">
                    <strong>
                        ■ xxxxx云抗D产品优势
                    </strong>
                </p>
                <p class="textcenter">
                    <img style="width: 700px" src="images/huhang2.jpg" alt="">
                </p>
                <p class="textleft">
                    <strong>
                        ■ xxxxx云抗D产品特点
                    </strong>
                </p>
                <p>
                    xxxxx云抗D采用DNS解析的方式，使用户请求先经过xxxxx云的防御节点，防御节点对于请求进行识别和过滤，
                    正常访问流量牵引至源站服务器，恶意请求则清洗掉，从而实现DDoS防御。
                </p>
                <p class="textcenter">
                    <img style="width: 700px" src="images/huhang3.jpg" alt="">
                </p>
                <p class="textleft">
                    <strong>■ xxxxx云抗D图示</strong>
                </p>
                <p class="textcenter">
                    <img src="images/huhang4.jpg" alt="">
                </p>
                <p class="textleft">
                    <strong>
                        ■ xxxxx云抗D技术支持
                    </strong>
                </p>
                <p class="textcenter">
                    <img src="images/huhang5.jpg" alt="">
                </p>
                <p class="pcfin">
                    — FIN —
                </p>
                <p style="text-align: left">
                    <img src="images/news_sj8.jpg" alt="">
                </p>
                <p style="text-align: left">
                    <img src="images/news_sj9.jpg" alt="">
                </p>
            </div>

        </div>

        <div class="fr cont_right" ng-include="'template/news_report.html'">

        </div>

        <div class="news_cont-node">
            <div ng-click="gotoPage('/news-cont29')"
                 style="margin-top: 16px;display: inline-block;margin-left: 10px;  color: #2277da;">
                上一篇报道：
                <a href="javascript:;" style="color:#333;display: inline-block;">
                    xxxxx云知云学堂丨网络世界的网红—SDN
                </a>
            </div>
            <br>
            <div ng-click="gotoPage('/news-cont31')"
                 style="margin-top: 16px;display: inline-block;margin-left: 10px;  color: #2277da;">
                下一篇报道：
                <a href="javascript:;" style="color:#333;display: inline-block;">
                    我们领证了—xxxxx获得工信部颁发的云计算牌照
                </a>
            </div>
        </div>

    </div>
    <!-- news cont end-->
</div>