<div id="helpdocum">
    <!-- 搜索块header-start-->
    <div class="h_elp_wrap fl">
        <div class="h_elp_had fl">
            <div class="h_elp_had-inner">
                <h2 class="title fl" style="margin-left: 514px;">
                    <a href="javascript:;">帮助与文档</a>
                </h2>
            </div>
        </div>
    </div>
    <!-- 搜索块header-end-->
    <!-- 内容header-start-->
    <div class="maincont fl">
        <div class="warp">
            <div class="grids-table">
                <div class="grids-nav" ng-include="'helpLeft.html'"></div>
                <div class="grids-details">
                    <div class="grids-height">
                        <p class="grids-crumbs">
                            <a href="javascript:;" ng-click="gotoPage('/documents/userguide')">帮助与文档</a>
                            <i class="r_png"></i>
                            <a href="javascript:;"> 快速入门CaaS服务</a>
                            <i class="r_png"></i>
                            <span> 步骤二：新建工单</span>
                        </p>
                        <h1 class="grids-height-title">
                            步骤二：新建工单
                        </h1>
                        <div class="iaas_line">
                            <p>
                                点击“工单”按钮新建该条服务的工单，
                                按照您的服务需求进行工单填写，比如变更、续约以及关闭，
                                请把您的需求在描述中表达，
                                然后点击“提交”按钮进行提交。
                            </p>
                            <p style="margin-top: 20px;">
                                <img src="./images/h_submit2.png" alt="" style="width:727px;">
                            </p>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- 内容header-send-->
</div>