<div id="syy" class="clear">
    <input class="leftLight" type="hidden" value="0" name="syyclass">

    <div class="show">
        <div class="clear">
            <div ng-include="'left.html'"></div>

            <div class="show-word fl">
                <div class="show-word-top">
                    <h2><span>xxxxxx</span></h2>
                    <p>TelCloudxxxxxx（OpenStack
                        Cloud）基于成熟的Openstack系统上进行二次开发，结合xxxxx多年的数据中心、服务器与网络产品、以及运维和服务经验打造企业xxxxxx平台。它构建在专属的独立IDC资源或企业的数据中心内，为企业提供专属的可扩展的云平台。TelCloudxxxxxx是高度弹性和可扩展的IT基础架构平台，
                        帮助企业减少自主采购、上架的过程， 加快业务上线的进程，并可有效降低IT运维成本。 </p>
                </div>
                <div class="show-word-down">
                    <a href="/horizon/auth/login/" target="_self"><button>立即使用</button></a>
                    <!--<button ng-click="gotoPage('/price')">价格计算</button>-->
                </div>
            </div>
            <div class="show-img fr">
                <img src="images/siyouyun.png" alt="">
            </div>
        </div>
    </div>
    <div class="main-content">
        <div class="clear stitle">
            <ul class="">
                <li><a href="" class="md" name="#anli">产品对比</a></li>
                <li><a href="" class="md" name="#gaishu">产品优势</a></li>
                <li><a href="" class="md" name="#anli3">产品功能</a></li>
                <li><a href="" class="md" name="#a4">行业应用</a></li>
            </ul>
            <div class="clear ">
                <a href="/horizon/auth/login/" target="_self"><button>立即使用</button></a>
                <!--<button ng-click="gotoPage('/price')">价格计算</button>-->
            </div>
        </div>
        <script>
            smallt.stitleH = $(".stitle").offset().top;//页面加载就取下固定值
            smallt.left = parseInt($(".stitle").css("left"));
        </script>
        <div>

            <div class="contents container-fluid  ct3">
                <a id="anli"></a>
                <h3>产品对比<span class="fr"></span></h3>
                <div>
                    <div class="row">
                        <table class="col-md-12">
                            <tbody>
                            <tr>
                                <td class="col-md-2"><h4>优势点</h4></td>
                                <td class="col-md-6" style="position: relative">
                                    <div class="tablediv1"></div>
                                    <h4 style="color:#116ddd">xxxxxxxxxxx</h4>
                                </td>
                                <td class="col-md-4">
                                    <h4>传统方式构建云平台</h4>

                                </td>
                            </tr>
                            <tr>
                                <td class=" ">
                                    <p>管理工具</p>
                                </td>
                                <td>
                                    <p>云平台自带SDN和NFV功能
                                        不需要其他管理工具。 </p>
                                </td>
                                <td class="">
                                    <p>网络虚拟化工具
                                        存储虚拟化工具。 </p>
                                </td>
                            </tr>
                            <tr>
                                <td class="">
                                    <p>存储</p>
                                </td>
                                <td>
                                    <p>根据需求选择外部存储设备
                                        自带分布式存储系统和高性能网络RAID组件。 </p>
                                </td>
                                <td class="">
                                    <p>大型存储设备
                                        分布式存储软件。</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="">
                                    <p>虚拟化</p>
                                </td>
                                <td>
                                    <p>服务器虚拟化技术可实现99.98%的虚拟化效率。</p>
                                </td>
                                <td class="">
                                    <p>服务器虚拟化及管理工具。</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="">
                                    <p>计费</p>
                                </td>
                                <td>
                                    <p>自带完善的计量、计费、监控云平台管理。</p>
                                </td>
                                <td class="">
                                    <p>集成计量、计费、监控工具。 </p>
                                </td>
                            </tr>
                            <tr>
                                <td class="">
                                    <p>运营系统</p>
                                </td>
                                <td>
                                    <p>可选TelCloud Boss系统。</p>
                                </td>
                                <td class="">
                                    <p>无业务运营支撑平台。 </p>
                                </td>
                            </tr>
                            <tr>
                                <td class="">
                                    <p>成本</p>
                                </td>
                                <td style="position: relative;">
                                    <p>通过软件自动部署实现90%以上的系统自动维护
                                        节省70%以上成本，包括硬件、软件以及维护成本。</p>
                                    <div class="tablediv2"></div>
                                </td>
                                <td class="">
                                    <p>7*24小时的超高人为维护成本
                                        硬件、软件投入高。</p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="contents container-fluid  ct7">
                <div class="row">
                    <a id="gaishu"></a>
                    <h3>产品优势<span class="fr"></span></h3>
                    <ul class="clear">
                        <li>
                            <img src="images/syy_1.png" alt="">
                            <h4>部署敏捷</h4>
                            <p>加速业务交付，满足不断变化的创新业务需求。</p>
                        </li>
                        <li>
                            <img src="images/syy_2.png" alt="">
                            <h4>接入灵活</h4>
                            <p>支持多种终端接入，有网络的地方就可有工作。</p>
                        </li>
                        <li>
                            <img src="images/syy_3.png" alt="">
                            <h4>支持多桌面</h4>
                            <p>单个浏览器访问多个桌面，适合呼叫中心和客服岗位办公场景。</p>
                        </li>
                    </ul>
                    <ul class="clear">
                        <li>
                            <img src="images/syy_4.png" alt="">
                            <h4>易用</h4>
                            <p>可视化资源交付与管理，降低运维难度。</p>
                        </li>
                        <li>
                            <img src="images/syy_5.png" alt="">
                            <h4>数据安全</h4>
                            <p>桌面云数据集中存储在数据中心，不易复制和流出。</p>
                        </li>
                        <li>
                            <img src="images/syy_6.png" alt="">
                            <h4>灾难恢复</h4>
                            <p>集中部署的数据可以实施整体灾备，保护能力强，可短时间恢复业务。</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="contents container-fluid  ct6">

                <div class="row">
                    <a id="anli3"></a>
                    <h3>产品功能<span class="fr"></span></h3>
                    <h4><b>简洁清晰的服务管理控制台</b></h4>
                    <div>
                        <img src="images/syygongneng1.png" alt="">
                    </div>
                    <h4><b>提供安全、可靠、秒级创建的云主机 </b></h4>
                    <p>基于一个镜像，可以创建任意数量的主机。在创建主机时， 选择CPU 和内存的配置。TelCoudxxxxxx允许您任意指定 CPU、内存的数量， 也允许您在主机创建之后随时再行调整。 </p>
                    <div>
                        <img src="images/syygongneng2.png" alt="">
                    </div>
                    <h4><b>丰富灵活自定义的操作系统镜像 </b></h4>
                    <p>多种操作系统: 提供最新、最常用、最稳定的镜像，也可上传自定义镜像以便系统使用。</p>
                    <p>自带存储空间: Linux 自带 20G 高性能硬盘；Windows 自带 50G 高性能硬盘。</p>
                    <div>
                        <img src="images/syygongneng3.png" alt="">
                    </div>
                    <h4><b>存储管理服务为云主机提供持久化的云硬盘</b></h4>
                    <p>多副本分布式存储：云硬盘使用多重副本、实时复制的技术以保证您的数据安全、可靠。</p>
                    <p> 秒级备份、恢复： 秒级实时创建云存储快照，备份云硬盘当前全部数据。</p>
                    <p> 实时弹性扩容： 挂载到云主机上的硬盘可随时在线秒级扩容，无需人工进行物理硬盘扩容。</p>
                    <div>
                        <img src="images/syygongneng4.png" alt="">
                    </div>
                    <h4><b>最大程度保障您的数据安全</b></h4>
                    <p>私有网络提供100%二层隔离。</p>
                    <p>多重实时副本和备份保障即使在物理硬件彻底损坏时，数据也不会丢失，并可迅速恢复业务。</p>
                    <p>安全组策略可全面对云主机进出流量进行安全防护。 </p>
                    <div>
                        <img src="images/syygongneng5.png" alt="">
                    </div>
                    <h4><b>IaaS增值服务</b></h4>
                    <h4><b>轻点鼠标、负载均衡</b></h4>
                    <p>简单操作，完成一个负载均衡器的创建，将业务负载平均分配到多个云主机中，大幅度提高业务的服务能力和可用性。</p>
                    <div>
                        <img src="images/syygongneng6.png" alt="">
                    </div>
                    <h4><b>私有网络防火墙</b></h4>
                    <p>针对私有网络策略防护，对整个私有网络下的云主机出入流量进行端口限制。</p>
                    <div>
                        <img src="images/syygongneng7.png" alt="">
                    </div>
                    <h4><b>云编排开发者功能： </b></h4>
                    <p>专门为企业客户开发人员准备的操作接口，通过云编排一键对业务进行快速部署，轻松完成业务上线。 </p>
                    <div>
                        <img src="images/syygongneng8.png" alt="">
                    </div>
                    <h4><b>应用中心： </b></h4>
                    <p>通过应用中心预制软件、中间接、数据库等可快速实现软件部署，也可通过OpenStack标准接口实现第三方软件对接，达到功能灵活扩展。 </p>
                    <div>
                        <img src="images/syygongneng9.png" alt="">
                    </div>
                    <h4><b>后台管理 </b></h4>
                    <h4><b>系统管理功能，资源使用尽收眼底 </b></h4>
                    <p>清晰查看各项云主机资源使用，实时掌握实体服务器资源占用。 </p>
                    <div>
                        <img src="images/syygongneng10.png" alt="">
                    </div>
                    <h4><b>灵活多级身份管理功能，满足分组管理 </b></h4>
                    <p>账号管理：轻松一键创建用户账号，设置账号级别和资源配额。</p>
                    <p>权限分组：按项目、用户组、角色分类满足不同程度的权限划分。 </p>
                    <div>
                        <img src="images/syygongneng11.png" alt="">
                    </div>
                    <h4><b>精准计费策略功能，方便内部成本分摊 </b></h4>
                    <p>成本分析：对云资源自定义设定价格，根据部门使用量的不同，快速统计各部门资源分摊使用情况。</p>
                    <p>消费记录：使用部门也可在本部门账号下查看自己的消费记录情况。</p>
                    <div>
                        <img src="images/syygongneng12.png" alt="">
                    </div>
                    <h4><b>独立的统一运维管理平台，运维从此简单 </b></h4>
                    <p>监控：针对服务器硬件资源进行监控，针对云主机业务系统监控。</p>
                    <p>告警：多种告警规则，邮件告警。 </p>
                    <div>
                        <img src="images/syygongneng13.png" alt="">
                    </div>
                </div>
            </div>
            <div class="contents container-fluid ct1">
                <div class="row">
                    <a id="a4"></a>
                    <h3>行业应用<span class="fr"></span></h3>
                    <div class="img-center clear" title="行业应用">
                        <div>
                            <img src="images/sydw.png" alt="">
                            <p>企事业单位</p>
                        </div>
                        <div>
                            <img src="images/game.png" alt="">
                            <p>游戏</p>
                        </div>
                        <div>
                            <img src="images/jinrong.png" alt="">
                            <p>金融</p>
                        </div>
                        <div>
                            <img src="images/syhz.png" alt="">
                            <p>商业企业</p>
                        </div>
                        <div>
                            <img src="images/lingshou.png" alt="">
                            <p>零售</p>
                        </div>
                        <div>
                            <p style="text-align:center;line-height:70px;font-size: 34px;">...</p>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
