<div id="qudaohz">
    <div class="qudaohz-img">
        <h1>渠道合作伙伴</h1>
        <p>xxxxx云将免费为渠道合作伙伴搭建IaaSxxxxxx，根据合作伙伴面对的行业用户提供专属售前支持，<br>与合作伙伴一起定制具有行业特色的运营方案。</p>
    </div>
    <div class="colorlan">
        <div class="qudaohz1200">
            <h2>推广即获20%现金奖励</h2>
            <p>免费注册成为推广者</p>
            <p>推荐成功获订单金额20%现金返佣。</p>
        </div>
    </div>

    <div>
        <div class="qudaohz1200">
            <h2>渠道伙伴分类和政策</h2>
            <p><strong>创业合作伙伴</strong></p>
            <p>根据数据中心运营状况和流程自定义搭建自有云平台，由xxx提供后向技术支持。xxxxx云和合作伙伴按比例分成。</p>
            <p><strong>资源合作伙伴</strong></p>
            <p>数据中心提供机架，xxx提供服务器和云平台，双方共同开发用户需求。xxxxx云和合作伙伴按比例分成。</p>
            <p><strong>代理合作伙伴</strong></p>
            <p>数据中心与xxx互联互通，使用xxxxx云平台提供服务。xxxxx云和合作伙伴按比例分成。</p>
        </div>
    </div>
    <div class="colorlan">
        <div class="qudaohz1200">
            <h2>合作共赢</h2>
            <p>我们为签约合作伙伴提供包括但不限于如下所列的全方位支持：</p>
            <p><strong>合作伙伴账号</strong></p>
            <p>为合作伙伴提供功能强大的产品管理后台、业务管理后台，具有独立价格体系的渠道权益。</p>
            <p><strong>API接口开放</strong></p>
            <p>为合作伙伴提供功能强大、全面的API接口助力合作伙伴打造专属云平台，全面的资源支撑。</p>
            <p><strong>培训支持</strong></p>
            <p>定期组织方案及技术交流活动，针对行业实际情况给予支持，确保合作伙伴掌握xxxxx云解决方案的售前和售后技能。</p>
            <p><strong>专属人员支持</strong></p>
            <p>根据合作伙伴的技术情况，配备专属技术和交付支持，帮助合作伙伴搭建专属云平台;<br>
                根据合作伙伴面对的行业用户配备专属售前支持，与合作伙伴一起订制具有行业特色的能力与方案。</p>
            <p><strong>利益保障</strong></p>
            <p>对于签约合作伙伴，xxxxx云将通过客户渠道折扣、返点等形式提供利润保障。</p>
            <p><strong>权威保障</strong></p>
            <p style="margin-bottom:40px;">十年以上运营商经验，三年以上云计算技术沉淀，平台设计目标为广泛业务承载，让您放心托付。</p>
            <div class="lanfangkuan clear" style="position: relative;">
                <div>
                    <p>登录（注册）</p>
                </div>
                <div>
                    <p>提交合作伙伴申请</p>
                </div>
                <div>
                    <p>合作洽谈</p>
                </div>
                <div>
                    <p>签订合作协议</p>
                </div>
                <span class="qudao-top-span" style="left:-12px">01</span>
                <span class="qudao-top-span" style="left:273px">02</span>
                <span class="qudao-top-span" style="left:558px">03</span>
                <span class="qudao-top-span" style="left:844px">04</span>
            </div>
            <a  href="/horizon/auth/login/" target="_self" class="btn-an"
               style="margin-left:500px; margin-top:30px;text-align: center;display: inline-block;">申请加入</a>
        </div>
    </div>
</div>