<div id="helpdocum">
    <!-- 搜索块header-start-->
    <div class="h_elp_wrap fl">
        <div class="h_elp_had fl">
            <div class="h_elp_had-inner">
                <h2 class="title fl" style="margin-left: 514px;">
                    <a href="javascript:;">帮助与文档</a>
                </h2>
            </div>
        </div>
    </div>
    <!-- 搜索块header-end-->
    <!-- 内容header-start-->
    <div class="maincont fl">
        <div class="warp">
            <div class="grids-table">
                <div class="grids-nav" ng-include="'helpLeft.html'"></div>
                <div class="grids-details">
                    <div class="grids-height">
                        <p class="grids-crumbs">
                            <a href="javascript:;" ng-click="gotoPage('/documents/userguide')">帮助与文档</a>
                            <i class="r_png"></i>
                            <a href="javascript:;"> 快速入门云栈服务</a>
                            <i class="r_png"></i>
                            <span> 步骤二：支付云栈开通费用</span>
                        </p>
                        <h1 class="grids-height-title">
                            步骤二：支付云栈开通费用
                        </h1>
                        <div class="iaas_line">
                            <p>
                                在您提交申请审核通过后，xxxxx云的工作人员将会跟您联系确认相关信息，并且为您建立云栈开通的支付订单，您点击右侧按钮进行支付。
                            </p>

                            <p style="margin-top: 20px;">
                                <img src="./images/an-yz2.png" alt="" style="width: 780px;">
                            </p>
                            <p>
                                当您支付完毕后，xxxxx云的工作人员会为您进行相关的云栈开通的工作。开通完毕后您的云栈回变为实心圆点。至此，云栈的开通工作已经结束了，您的个人云栈已经可以建立云桥了。
                            </p>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- 内容header-send-->
</div>