<div id="swxwgl" class="clear">
    <input class="leftLight" type="hidden" value="0" name="swxwglclass">

    <div class="show" style="position: relative;">
        <div class="clear">
            <div ng-include src="'left.html'"></div>
            <div class="show-word fl">
                <div class="show-word-top">
                    <h2><span>上网行为管理</span></h2>
                    <p>
                        **上网行为管理系统，是北京龙腾佳讯科技股份公司自主研发的业界领先的上网行为管理产品，能够以路由、透明或混合模式部署在网络的关键节点上，对数据进行2-7层的全面检查和分析。系统能够深度识别、管控和审计近千种软件：IM聊天软件、P2P下载软件、炒股软件、网络游戏应用、流媒体在线视频应用等常见应用,**上网行为管理产品提供不同档次的多款型号，适用于数据中心、大型网络边界、中小型企业等应用场景。</p>
                </div>
                <div class="show-word-down">
                    <button ng-click="gotoPage('/denglu')">立即使用</button>
                </div>
            </div>
            <div class="show-img fr">
                <img src="images/shangwangxingwei.png" alt="">
            </div>
        </div>

    </div>
    <div style="position: relative;">
        <div class="main-content">
            <div class="clear stitle">
                <ul class="">
                    <li><a href="" class="md" name="#a1s">产品特点</a></li>
                    <li><a href="" class="md" name="#a4">行业应用</a></li>
                </ul>
                <div class="clear ">
                    <button ng-click="gotoPage('/denglu')">立即使用</button>
                </div>
            </div>
            <script>
                smallt.stitleH = $(".stitle").offset().top;//页面加载就取下固定值
                smallt.left = parseInt($(".stitle").css("left"));
            </script>
            <div>

                <div class="contents container-fluid  ct3">
                    <a id="a1s"></a>
                    <h3>产品特点<span class="fr"></span></h3>
                    <div>
                        <div class="row">
                            <table class="col-md-12">
                                <tbody>
                                <tr>
                                    <td class="col-md-2"><h4>特点</h4></td>
                                    <td class="col-md-6" style="position: relative">
                                        <h4>上网行为管理与审计系统</h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td class=" ">
                                        <p>多业务高性能</p>
                                    </td>
                                    <td>
                                        <p>
                                            **上网行为管理系统产品采用先进的多核架构，结合**自主知识产权的安全操作系统，采用协议特征库树形存储、流扫描处理、并行DPI/DFI等技术，整个解析过程一次完成，能够在开启多项行为管理功能后，依然保证高速低时延的处理。
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="">
                                        <p>精细的带宽管理</p>
                                    </td>
                                    <td>
                                        <p>
                                            **上网行为管理系统产品采用智能流控、智能阻断、智能路由等技术，将网络出口带宽划分为逻辑通道，并支持在通道中再划分子通道，根据用户场景对带宽合理保障或限制。
                                            同时支持将类型复杂的网络流量分布到不同的网络出口转发，是企业提升带宽利用率、保护带宽投资的最佳利器。</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="">
                                        <p>基于用户的行为轨迹跟踪分析</p>
                                    </td>
                                    <td>
                                        <p>
                                            通过对用户网络账号、行为动作、应用流量比例及关键时间点等多维度的用户信息进行关联数据分析，**上网行为管理真正实现了基于用户的上网行为管理与审计的可视化，将用户的上网行为轨迹清晰直观的加以呈现，
                                            有助于网络管理人员制定更有针对性的网络管理策略，保障网络资源的合理利用和工作效率提升。
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="">
                                        <p>清晰的事后审计</p>
                                    </td>
                                    <td>
                                        <p>
                                            **上网行为管理系统产品支持详细、清晰、易用的日志审计特性，可以全面记录审计用户上网行为、使用流量、访问网站、所用终端系统及设备类型平台等信息，支持定制化过滤器，可根据IP地址、认证用户、访问应用、访问URL、内容等要素进行搜索，让审计省时省力。**上网行为管理产品还提供丰富美观的报表，
                                            以柱状图、饼状图、百分比等形式最直观地体现网络运行状况，让网络管理规划有据可循、有的放矢。
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="">
                                        <p>细致的网络应用管理</p>
                                    </td>
                                    <td>
                                        <p>
                                            **上网行为管理产品控制层面不再局限对网络应用的阻断，更能深入识别应用的内置动作。例如对于微博的控制力度不仅仅是登录动作，更可对注销、发表、评论、转发等多种行为动作进行细粒度控制，对微信也可识别控制多达12种行为动作，
                                            通过对应用的更精细化管理让网络更有序。
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="">
                                        <p>一体化策略管理</p>
                                    </td>
                                    <td>
                                        <p>
                                            **上网行为管理产品的策略配置集成应用控制、行为审计、身份认证、安全防护等多个维度于一体，一条审计策略即可完成多个功能模块配置，
                                            可以根据不同的管控需求，为不同的用户定制不同的管理策略，灵活方便，维护简单。
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="">
                                        <p>快速部署</p>
                                    </td>
                                    <td>
                                        <p>
                                            当存在多个分支网络需要互联，如何实现业务的快速部署和统一管理，一直是网络运维最头疼问题。配合**上网行为管理的集中管理平台，可实现业务的快速部署，分支机构的上网行为管理设备只需要接上网线，
                                            确保外网联通便可自动从集中管理平台下载配置，加载流程约1分钟完成，无需专业人员到场，大幅节约总分型网络部署成本。</p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="contents container-fluid ct1">
                    <div class="row">
                        <a id="a4"></a>
                        <h3>行业应用<span class="fr"></span></h3>
                        <div class="img-center clear" title="行业应用">
                            <div>
                                <img src="images/sydw.png" alt="">
                                <p>企事业单位</p>
                            </div>
                            <div>
                                <img src="images/game.png" alt="">
                                <p>游戏</p>
                            </div>
                            <div>
                                <img src="images/jinrong.png" alt="">
                                <p>金融</p>
                            </div>
                            <div>
                                <img src="images/syhz.png" alt="">
                                <p>商业企业</p>
                            </div>
                            <div>
                                <img src="images/lingshou.png" alt="">
                                <p>零售</p>
                            </div>
                            <div>
                                <p style="text-align:center;line-height:70px;font-size: 34px;">...</p>
                            </div>

                        </div>
                    </div>

                </div>

            </div>


        </div>

    </div>
</div>

</div>
