<div id="yjr" class="clear">
    <input class="leftLight" type="hidden" value="0" name="yjrclass">

    <div class="show" style="position: relative;">
        <div class="clear">
            <div ng-include src="'left.html'"></div>
            <div class="show-word fl">
                <div class="show-word-top">
                    <h2><span>云接入</span></h2>
                    <p>xxxxx为企业提供低成本、灵活安全可靠、专注业务创新、可扩展的云接入（Cloud Direct Connect ™）服务。
                        针对企业的业务特点和实际需求提供多种云接入方式（FTTB+LAN、FTTH、Frame Relay、SDH），
                        帮助企业联接私有数据中心与xxxxxx，实现混合云架构，最大程度地将企业IT基础设施整合成统一的资源池，提高企业运营效率，降低运营成本。</p>
                </div>
                <div class="show-word-down">
                    <a href="/horizon/auth/login/" target="_self"><button>立即使用</button></a>
                    <!--<button ng-click="gotoPage('/price')">价格计算</button>-->
                </div>
            </div>
            <div class="show-img fr">
                <img src="images/yunjieru.png" alt="">
            </div>
        </div>

    </div>
    <div style="position: relative;">
        <div class="main-content">
            <div class="clear stitle">
                <ul class="">
                    <li><a href="" class="md" name="#a1s">产品优势</a></li>
                    <li><a href="" class="md" name="#a3">产品架构</a></li>
                    <li><a href="" class="md" name="#a4">行业应用</a></li>
                </ul>
                <div class="clear ">
                    <a href="/horizon/auth/login/" target="_self"><button>立即使用</button></a>
                    <!--<button ng-click="gotoPage('/price')">价格计算</button>-->
                </div>
            </div>
            <script>
                smallt.stitleH = $(".stitle").offset().top;//页面加载就取下固定值
                smallt.left = parseInt($(".stitle").css("left"));
            </script>
            <div>

                <div class="contents container-fluid  ct3">
                    <a id="a1s"></a>
                    <h3>产品优势<span class="fr"></span></h3>
                    <div>
                        <div class="row">
                            <table class="col-md-12">
                                <tbody>
                                <tr>
                                    <td class="col-md-2"><h4>优势点</h4></td>
                                    <td class="col-md-6" style="position: relative">
                                        <h4>云接入</h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td class=" ">
                                        <p>易用</p>
                                    </td>
                                    <td>
                                        <p>xxxxx作为诸多xxxxxx、IDC的战略合作伙伴和云POP点，Cloud Direct Connect支持亚马逊AWS，
                                            xxxxx云、xxxxxx、IBM云、微软azure云等知名xxxxxx平台和世纪互联、
                                            光环新网等所有大型IDC数据中心机房以及企业自有自建数据中心与企业办公地点IT基础设施之间的互联互通。 </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="">
                                        <p>可靠</p>
                                    </td>
                                    <td>
                                        <p>
                                            通过Cloud Direct Connect服务，企业可以在本地设施和一个或多个私有数据中心、IDC以及xxxxxx之间直接建立起专线网络。
                                            使用业内标准的802.1q VLAN标准，Cloud Direct
                                            Connect提供10Mb/s、100Mb/s最大1Gb/s乃至10Gb/s的数据传输，全面满足企业实际业务的需求。
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="">
                                        <p>安全</p>
                                    </td>
                                    <td>
                                        <p>
                                            TelCloud ™统一混合云管理及DevOps协作平台致力于解决企业跨平台云管理问题，为云基础设施和应用提供配置监控自动化和管理一体化服务，
                                            涵盖混合云管理(xxxxxx、xxxxxx、虚拟化环境及物理机)、自动化运维、监控告警、自服务IT和持续交付。
                                            让企业能够轻松部署和管理跨云的企业应用，帮助企业更好地使用云科技来加速业务的经营与发展。
                                        </p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="contents container-fluid  ct6">

                    <div class="row">
                        <a id="a3"></a>
                        <h3>产品架构<span class="fr"></span></h3>
                        <p>
                            与Cloud Direct Connect相对应的，传统的公网或在传统的公网上使用VPN都无法完全保证带宽、延迟和时效性与经济性，
                            而Cloud Direct Connect可以帮助实现降低带宽的成本，更稳定的网络性能，更可靠的网络效果。 xxxxxCloud Direct
                            Connect致力于成为联接xxxxxx和xxxxxx、数据中心与私有数据中心、
                            企业本地基础设施之间高速公路网络，从而为企业实现宽带混合云™的ICT架构。
                        </p>
                        <div>
                            <img src="images/yunjieru.jpg" alt="">
                        </div>

                    </div>
                </div>
                <div class="contents container-fluid ct1">
                    <div class="row">
                        <a id="a4"></a>
                        <h3>行业应用<span class="fr"></span></h3>
                        <div class="img-center clear" title="行业应用">
                            <div>
                                <img src="images/sydw.png" alt="">
                                <p>企事业单位</p>
                            </div>
                            <div>
                                <img src="images/game.png" alt="">
                                <p>游戏</p>
                            </div>
                            <div>
                                <img src="images/jinrong.png" alt="">
                                <p>金融</p>
                            </div>
                            <div>
                                <img src="images/syhz.png" alt="">
                                <p>商业企业</p>
                            </div>
                            <div>
                                <img src="images/lingshou.png" alt="">
                                <p>零售</p>
                            </div>
                            <div>
                                <p style="text-align:center;line-height:70px;font-size: 34px;">...</p>
                            </div>

                        </div>
                    </div>

                </div>


            </div>

        </div>
    </div>

</div>

