<div id="yjkproduct" class="clear">
    <input class="leftLight" type="hidden" value="0" name="yjkproductclass">

    <div class="show">
        <div class="clear">
            <div ng-include="'left.html'"></div>

            <div class="show-word fl">
                <div class="show-word-top">
                    <h2><span>云监控</span></h2>
                    <p>TelCloud云监控是xxxxx2016年推出的全新品牌。
                        TelCloud云监控利用业界先进的云技术、大数据技术以及移动互联彻底重构了运维体系，提供高效、安全、易用的一站式IT海量敏捷运维管理平台。
                        云监控产品包括BSM（业务服务管理）、NCCM（网络配置和变更管理）、NTM（网络拓扑管理）、IM（基础设施监控），全面提升运维效率、提高运维质量、降低运维成本。</p>
                </div>
                <div class="show-word-down">
                    <a href="/horizon/auth/login/" target="_self"><button>立即使用</button></a>
                    <!--<button ng-click="gotoPage('/price')">价格计算</button>-->

                </div>
            </div>
            <div class="show-img fr">
                <img src="images/yunjiankong.png" alt="">
            </div>
        </div>
    </div>
    <div class="main-content">
        <div class="clear stitle">
            <ul class="">
                <li><a href="" class="md" name="#anli">产品对比</a></li>
                <li><a href="" class="md" name="#gaishu">产品优势</a></li>
                <li><a href="" class="md" name="#anli3">产品特点</a></li>
                <li><a href="" class="md" name="#anli2442">部署方式</a></li>
                <li><a href="" class="md" name="#a4">行业应用</a></li>
            </ul>
            <div class="clear ">
                <a href="/horizon/auth/login/" target="_self"><button>立即使用</button></a>
                <!--<button ng-click="gotoPage('/price')">价格计算</button>-->

            </div>
        </div>
        <script>
            smallt.stitleH = $(".stitle").offset().top;//页面加载就取下固定值
            smallt.left = parseInt($(".stitle").css("left"));
        </script>
        <div>

            <div class="contents container-fluid  ct3">
                <div class="row">
                    <a id="anli"></a>
                    <h3>产品对比<span class="fr"></span></h3>
                    <table class="col-md-12">
                        <tbody>
                        <tr>
                            <td class="col-md-2"><h4>优势点</h4></td>
                            <td class="col-md-6" style="position: relative">
                                <div class="tablediv1"></div>
                                <h4 style="color:#116ddd">xxxxx云云监控</h4>
                            </td>
                            <td class="col-md-4">
                                <h4>传统运维</h4>

                            </td>
                        </tr>
                        <tr>
                            <td class=" ">
                                <p>运维管理</p>
                            </td>
                            <td>
                                <p>云架构，支持分布式，全运维管理。</p>
                            </td>
                            <td class="">
                                <p>无法管理跨地域、跨网络的业务。</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="">
                                <p>监控</p>
                            </td>
                            <td>
                                <p>实时动态关联，监控全部IT资源。</p>
                            </td>
                            <td class="">
                                <p>非即时关联，监控资源少。 </p>
                            </td>
                        </tr>
                        <tr>
                            <td class="">
                                <p>故障定位</p>
                            </td>
                            <td>
                                <p>自动告警溯源，自动定位故障点。</p>
                            </td>
                            <td class="">
                                <p>需要人员操作，工作难度大。 </p>
                            </td>
                        </tr>
                        <tr>
                            <td class="">
                                <p>统计分析</p>
                            </td>
                            <td style="position: relative;">
                                <p>丰富指标、报表，帮助IT规划。 </p>
                                <div class="tablediv2"></div>
                            </td>
                            <td class="">
                                <p>指标少，缺少IT资源统计分析。</p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--<div class="contents container-fluid ct4">-->

            <!--<div class="row">-->
            <!--<a id="gsaishu"></a>-->
            <!--<h3>产品优势</h3>-->
            <!--<h4><b>领先的服务器和业务监控平台</b></h4>-->
            <!--<p style="margin:5px 0 10px 0 ">支持分布式部署，海量监控，全功能开放接口</p>-->
            <!--<div class="neirong clear">-->
            <!--<ul class="clear neirong-title">-->
            <!--<li style="background:#fff" class="col-md-2"><a style="color:#2277e6;" href="javascript:;">功能全面</a></li>-->
            <!--<li class="col-md-2"><a href="javascript:;">安全可靠</a></li>-->
            <!--<li class="col-md-2"><a href="javascript:;">简洁易用</a></li>-->
            <!--<li class="col-md-2"><a href="javascript:;">分布式架构</a></li>-->
            <!--<li class="col-md-2"><a href="javascript:;">海量监控</a></li>-->
            <!--<li class="col-md-2"><a href="javascript:;">7×24运维</a></li>-->
            <!--</ul>-->
            <!--<div class="neirong-content nr4 col-md-12" style="display: none;">-->


            <!--</div>-->
            <!--<div class="neirong-content nr5 col-md-12" style="display: none;">-->
            <!--<p>支持手机APP，即使外出、下班时也可随时了解设备运行状态</p>-->
            <!--<ul>-->
            <!--<li>-->
            <!--<b>-跨平台实时监测</b>-->
            <!--</li>-->
            <!--<li>-->
            <!--<b>-支持APP、微信告警</b>-->
            <!--</li>-->
            <!--<li>-->
            <!--<b>-自动化运维策略管理</b>-->
            <!--</li>-->
            <!--</ul>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->

            <!--</div>-->
            <div class="contents container-fluid  ct7">
                <div class="row">
                    <a id="gaishu"></a>
                    <h3>产品优势<span class="fr"></span></h3>
                    <h4><b>领先的服务器和业务监控平台</b></h4>
                    <p>支持分布式部署，海量监控，全功能开放接口</p>
                    <ul class="clear">
                        <li>
                            <img src="images/zhy004.png" alt="">
                            <h4>功能全面</h4>
                            <p>监控全部IT设施，服务器、应用、网络、存储、虚拟化、日志等。</p>
                            <ul>
                                <li>
                                    <b>监控模块全、指标深入。</b>
                                </li>
                                <li>
                                    <b>大屏展示和性能评估报表。</b>
                                </li>
                                <li>
                                    <b>智能化故障告警管理。</b>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <img src="images/yjk002.png" alt="">
                            <h4>安全可靠</h4>
                            <p>倒连式设计，数据加密传输，原有安全策略无需任何修改。</p>
                            <ul>
                                <li>
                                    <b>全部自主技术。</b>
                                </li>
                                <li>
                                    <b>一体化程序设计。</b>
                                </li>
                                <li>
                                    <b>不保存敏感信息。</b>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <img src="images/yjk003.png" alt="">
                            <h4>简洁易用</h4>
                            <p>极速安装部署，即可拥有您的专属监控系统，无需准备复杂环境。</p>
                            <ul>
                                <li>
                                    <b>SaaS版5分钟即可使用。</b>
                                </li>
                                <li>
                                    <b>本地版一个安装包解决问题。</b>
                                </li>
                                <li>
                                    <b>易用业务逻辑化界面。</b>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="clear">
                        <li>
                            <img src="images/zhy00411.png" alt="">
                            <h4>分布式架构</h4>
                            <p>基于云技术架构设计，可以分布式部署、集中统一管理。</p>
                            <ul>
                                <li>
                                    <b>支持各种类型数据中心。</b>
                                </li>
                                <li>
                                    <b>支持多地、异地部署。</b>
                                </li>
                                <li>
                                    <b>一个平台集中管理。</b>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <img src="images/yjk005.png" alt="">
                            <h4>海量监控</h4>
                            <p>独特的MegaSpeed海量秒级监测，把故障响应级别提升到秒级。</p>
                            <ul>
                                <li>
                                    <b>一台服务器可监测1000台设备。</b>
                                </li>
                                <li>
                                    <b>高性能数据库BigRiverDB。</b>
                                </li>
                                <li>
                                    <b>独一无二的数据分析双引擎。</b>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <img src="images/yjk006.png" alt="">
                            <h4>7×24运维</h4>
                            <p>支持手机APP，即使外出、下班时也可随时了解设备运行状态。</p>
                            <ul>
                                <li>
                                    <b>跨平台实时监测。</b>
                                </li>
                                <li>
                                    <b>支持APP、微信告警。</b>
                                </li>
                                <li>
                                    <b>自动化运维策略管理。</b>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="contents container-fluid  ct6">

                <div class="row">
                    <a id="anli3"></a>
                    <h3>产品特点<span class="fr"></span></h3>
                    <h4><b>易用、高效、性能强劲的监控管理平台 </b></h4>
                    <p>既提供云端监控，也可以本地监控，满足您的个性化需求 </p>
                    <div>
                        <img src="images/yjkprojucttedian.png" alt="">
                    </div>
                </div>
            </div>
            <div class="contents container-fluid  ct6">

                <div class="row">
                    <a id="anli2442"></a>
                    <h3>部署方式<span class="fr"></span></h3>
                    <div class="clear bushu">
                        <div class="fl">
                            <img src="images/yjkbushu1.png" alt="">
                            <h5><b>SaaS版</b></h5>
                            <p>易用、安全的云监控，5分钟即享有高品质IT监控服务。</p>
                        </div>
                        <div class="fr">
                            <img src="images/yjkbushu2.png" alt="">
                            <h5><b>xxxxxx版</b></h5>
                            <p>全球首款“云网管”软件，分布式架构，性能超强，支持四级架构。</p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="contents container-fluid ct1">
                <div class="row">
                    <a id="a4"></a>
                    <h3>行业应用<span class="fr"></span></h3>
                    <div class="img-center clear" title="行业应用">
                        <div>
                            <img src="images/sydw.png" alt="">
                            <p>企事业单位</p>
                        </div>
                        <div>
                            <img src="images/game.png" alt="">
                            <p>游戏</p>
                        </div>
                        <div>
                            <img src="images/jinrong.png" alt="">
                            <p>金融</p>
                        </div>
                        <div>
                            <img src="images/syhz.png" alt="">
                            <p>商业企业</p>
                        </div>
                        <div>
                            <img src="images/lingshou.png" alt="">
                            <p>零售</p>
                        </div>
                        <div>
                            <p style="text-align:center;line-height:70px;font-size: 34px;">...</p>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
