<div id="yjkproduct" class="clear">
    <input class="leftLight" type="hidden" value="0" name="qqjscpclass">

    <div class="show">
        <div class="clear">
            <div ng-include="'left.html'"></div>

            <div class="show-word fl">
                <div class="show-word-top">
                    <h2><span>xxxxx国际加速</span></h2>
                    <p>xxxxx国际带宽加速产品拥有丰富和高质量的国际带宽出口资源，采用环型网络结构，并对全球重点城市网络质量实时监测，
                        确定最优路径，实现智能加速，有效解决国际访问速度慢、网络不稳定、接入不便捷等问题。</p>
                    <p>
                        平均升速64%,延迟减少50%，丢包降低78%。为您提供更高效的国际互联网访问体验。欢迎致电我司，申请免费试用机会。
                    </p>
                </div>
                <div class="show-word-down">
                    <a href="/horizon/auth/login/" target="_self"><button>立即使用</button></a>
                    <a href="/horizon/auth/login/" target="_self" ><button style="background: green;">申请试用</button></a>
                    <!--<button ng-click="gotoPage('/price')">价格计算</button>-->

                </div>
            </div>
            <div class="show-img fr">
                <img src="images/qqjscp_r.png" alt="">
            </div>
        </div>
    </div>
    <div class="main-content">
        <div class="clear stitle">
            <ul class="">
                <li><a href="" class="md" name="#gaishu">产品优势</a></li>
                <li><a href="" class="md" name="#anli">产品对比</a></li>
                <li><a href="" class="md" name="#anli3">加速效果</a></li>
                <li><a href="" class="md" name="#anli4">应用环境</a></li>
                <li><a href="" class="md" name="#anli2442">产品原理</a></li>
                <li><a href="" class="md" name="#a4">应用案例</a></li>
            </ul>
            <div class="clear ">
                <a href="/horizon/auth/login/" target="_self"><button>立即使用</button></a>
                <!--<button ng-click="gotoPage('/price')">价格计算</button>-->

            </div>
        </div>
        <script>
            smallt.stitleH = $(".stitle").offset().top;//页面加载就取下固定值
            smallt.left = parseInt($(".stitle").css("left"));
        </script>
        <div>
            <div class="contents container-fluid  ct3">
                <a id="gaishu"></a>
                <h3>产品优势<span class="fr"></span></h3>
                <div>
                    <div class="row">
                        <table class="col-md-12">
                            <tbody>
                            <tr>
                                <td class="col-md-2"><h4>优势点</h4></td>
                                <td class="col-md-6" style="position: relative">
                                    <h4>xxxxx国际加速产品</h4>
                                </td>
                            </tr>
                            <tr>
                                <td class=" ">
                                    <p>合法合规</p>
                                </td>
                                <td>
                                    <p>
                                        经国家工信部备案，并获得工信部颁发的互联网虚拟专用网业务经营许可。</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="">
                                    <p>即时使用</p>
                                </td>
                                <td>
                                    <p>
                                        即时申请，即可开通；多种接入方式，支持有线、Wlan、3G和4G网络，一键连接。</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="">
                                    <p>安全可靠</p>
                                </td>
                                <td>
                                    <p>传输路径采用专业的隧道加密技术，保证数据传输安全。</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="">
                                    <p>资源丰富</p>
                                </td>
                                <td>
                                    <p>
                                        丰富的高质量国际带宽出口资源，科技网、教育网、联通、电信、移动等运营商资源。</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="">
                                    <p>智能加速</p>
                                </td>
                                <td>
                                    <p>
                                        全球重点城市网络质量实时监测，确定最优路径，智能加速。</p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="contents container-fluid  ct3">
                <div class="row">
                    <a id="anli"></a>
                    <h3 style="margin: 15px 0 70px 0;">传统互联网面临的问题<span class="fr"></span></h3>
                    <ul class="ul_tab">
                        <li class="text-center ul_tabcor">企业互联网</li>
                        <li class="text-center ul_tabcor">家庭互联网</li>
                        <li><strong>带宽质量差 ：</strong>网速慢、延迟高、丢包多。 </li>
                        <li><strong>带宽质量差 ：</strong>价格低廉，质量不能保证 。</li>
                        <li class="ul_tabcor"><strong>技术门槛高 ：</strong>翻墙代理困难，有违规风险。</li>
                        <li class="ul_tabcor"><strong>协议不稳定 ：</strong>网络抖动，卡顿断线 。</li>
                        <li><strong>运营商垄断 ：</strong>楼内垄断，接入理想运营商困难。</li>
                        <li><strong>网络不安全 ：</strong>出口变动，个人信息泄露 。</li>
                        <li class="ul_tabcor"><strong>带宽成本高 ：</strong>高昂的带宽费用。</li>
                        <li class="ul_tabcor"><strong style="padding-right: 4px;">上网行为受限 ：</strong>行为受限，应用受限。</li>
                    </ul>
                </div>
            </div>

            <div class="contents container-fluid">

                <div class="row" id="bluekuai">
                    <a id="anli3"></a>
                    <h3>加速效果<span class="fr"></span></h3>
                    <div>
                        <img src="images/qqjscpfa.png" alt="">
                    </div>
                </div>
            </div>
            <div class="contents container-fluid">

                <div class="row">
                    <a id="anli4"></a>
                    <h3>应用环境<span class="fr"></span></h3>
                    <div>
                        <h4 style="padding-bottom: 40px;"><b>
                            任何支持PPTP、L2TP等多种VPN拨号连接的终端设备，都可以快速、便捷的连接到xxxxx国际加速平台。
                        </b></h4>
                        <img src="images/qqjscphj1.png" alt="">
                        <h4 style="padding-bottom: 40px;"><b>
                            在任何有互联网的地点，都可以快速、便捷的连接到xxxxx国际加速平台。
                        </b></h4>
                        <img src="images/qqjscphj2.png" alt="">
                    </div>
                </div>
            </div>

            <div class="contents container-fluid">

                <div class="row">
                    <a id="anli2442"></a>
                    <h3>产品原理<span class="fr"></span></h3>
                    <div>
                        <img src="images/qqjscpyl.png" alt="">
                    </div>

                </div>
            </div>



            <div class="contents ct4">
                <div class="container-fluid">
                    <div class="row">
                        <a id="a4"></a>
                        <h3>应用案例</h3>
                        <div class="neirong clear">
                            <ul class="clear neirong-title">
                                <li style="background: rgb(235, 236, 237);" class="col-md-3"><a style="color: rgb(51, 51, 51);" href="javascript:;">移动上网</a></li>
                                <li class="col-md-3" style="background: rgb(255, 255, 255);"><a href="javascript:;" style="color: rgb(34, 119, 230);">外企办公</a></li>
                                <li class="col-md-3" style="background: rgb(235, 236, 237);"><a href="javascript:;" style="color: rgb(51, 51, 51);">企业加速平台</a></li>
                                <li class="col-md-3" style="background: rgb(235, 236, 237);"><a href="javascript:;" style="color: rgb(51, 51, 51);">家庭办公</a></li>
                            </ul>
                            <div class="neirong-content nr0 col-md-12" style="display: none;">

                                <p> 刘先生为一名外企的销售人员，因工作性质原因经常外出谈客户，上网环境复杂，
                                    最让他头疼的就是登陆远在美国总部的邮件和CRM系统。 xxxxx国际加速产品助他解决这些难题。</p>
                            </div>
                            <div class="neirong-content nr1 col-md-12" style="display: block;">
                                <p>某日本独资汽车咨询公司是一家专业从事出版发行中国及世界汽车产业调研报告的调研公司，
                                    目前使用“xxxxx国际加速产品”实现公司员工与总部信息交换。</p>
                            </div>
                            <div class="neirong-content nr2 col-md-12" style="display: none;">
                                <p>某科技公司在北京拥有多家写字楼、公寓及酒店“网络中心”的经营权，网络覆盖了数千家公司客户，
                                    目前与xxxxx代理合作，全面部署xxxxx国际加速产品。</p>
                            </div>
                            <div class="neirong-content nr3 col-md-12" style="display: none;">
                                <p>Jason是一位典型的家庭办公人员，在北京定居的他常常因为网络原因不能及时与总部进行信息交换，
                                    我们为他推荐的“xxxxx国际加速产品”只需一个账号，彻底解决国际网络互通慢的问题。</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

</div>
