<div id="helpdocum">
    <!-- 搜索块header-start-->
    <div class="h_elp_wrap fl">
        <div class="h_elp_had fl">
            <div class="h_elp_had-inner">
                <h2 class="title fl" style="margin-left: 514px;">
                    <a href="javascript:;">帮助与文档</a>
                </h2>
            </div>
        </div>
    </div>
    <!-- 搜索块header-end-->
    <!-- 内容header-start-->
    <div class="maincont fl">
        <div class="warp">
            <div class="grids-table">
                <div class="grids-nav" ng-include="'helpLeft.html'"></div>
                <div class="grids-details">
                    <div class="grids-height">
                        <p class="grids-crumbs">
                            <a href="javascript:;" ng-click="gotoPage('/documents/userguide')">帮助与文档</a>
                            <i class="r_png"></i>
                            <a href="javascript:;"> 快速入门云监控服务</a>
                            <i class="r_png"></i>
                            <span> 怎样添加一个Windows服务器</span>
                        </p>
                        <h1 class="grids-height-title">
                            怎样添加一个Windows服务器
                        </h1>
                        <div class="iaas_line">
                            <p>
                                Windows服务器的监控方式有三种，分别为Agent监测方式、SNMP监测方式和WMI监测方式，
                                三种方式中，推荐SNMP监测和Agent监测两种方式。
                            </p>
                            <p>
                                下面分别对每一种监测方式进行介绍：
                            </p>
                            <p>
                                Agent监测方式<br />
                                使用Agent方式来采集数据，首先需要在被监测服务器上安装Windows Agent代理程序
                            </p>
                            <p>
                                1、进入龙腾云云监控平台，在【分组管理】中点击【添加设备】
                            </p>
                            <p>
                                <img src="./images/tjwfwq0.png" alt="">
                            </p>
                            <p>
                                2、选择【添加设备】，弹出【添加设备】对话框，在【添加设备】下看到“AgentWindows”，如下图所示。
                            </p>
                            <p>
                                <img style="width: 780px;" src="./images/tjwfwq1.png" alt="">
                            </p>
                            <p>
                                选中上图中的【AgentWindows】，点击，弹出【AgentWindows】对话框，如下图所示。
                            </p>
                            <p>
                                <img style="width: 780px;" src="./images/tjwfwq2.png" alt="">
                            </p>
                            <p>
                                3、在“基本设置”栏下进行设置：
                            </p>
                            <p>
                                Windows服务器地址：输入被监测的服务器的IP地址<br />
                                Agent端口号：Agent端口，默认为2198 <br />
                                标题：填写显示的标题，可以自己定义
                            </p>
                            <p>
                                SNMP监测方式
                            </p>
                            <p>
                                注意：如果采用SNMP方式监控，请检查远程机器的SNMP协议是否打开 。
                            </p>
                            <p>
                                1、选择【添加设备】，弹出【添加设备】对话框，
                                在【全部设备】下选择设备类型为“SNMP Windows”，如下图所示：
                            </p>
                            <p>
                                <img style="width: 780px;" src="./images/tjwfwq3.png" alt="">
                            </p>
                            <p>
                                3、选择“SNMP Windows”，单击后，弹出如下图所示对话框：
                            </p>
                            <p>
                                <img style="width: 780px;" src="./images/tjwfwq4.png" alt="">
                            </p>
                            <p>
                                “基本设置”选项卡：
                            </p>
                            <p>
                                Windows服务器IP：填写被监测服务器的IP地址 <br>
                                SNMP端口号：填写SNMP的端口号 <br>
                                可读共同体名称：填写SNMP的可读共同体名称 <br>
                                标题：填写显示的标题
                            </p>
                            <p>
                                WMI监测方式
                            </p>
                            <p>
                                注意：如果用WMI方式，需要安装WMI和服务
                            </p>
                            <p>
                                1、用WMI方式监测，需要将云监控容器TS的 Task Server 服务改为用管理员用户启动。
                            </p>
                            <p>
                                <img style="width: 780px;" src="./images/tjwfwq5.png" alt="">
                            </p>
                            <p>
                                在Task Server 服务右键“属性”，选择“登录”选项卡
                            </p>
                            <p>
                                <img style="width: 480px;" src="./images/tjwfwq6.png" alt="">
                            </p>
                            <p>
                                登录帐户选择“此帐户”，点击“浏览”按钮，弹出“选择用户”窗口
                            </p>
                            <p>
                                <img style="width: 780px;" src="./images/tjwfwq7.png" alt="">
                            </p>
                            <p>
                                点击“高级”按钮后，点击“一般性查询”右侧的“立即查找”按钮，在下方查询结果中选择“Administartor”用户后确定
                            </p>
                            <p>
                                <img style="width: 780px;" src="./images/tjwfwq8.png" alt="">
                            </p>
                            <p>
                                返回到属性窗口，点击确认,并重启Task Server服务
                            </p>
                            <p>
                                <img style="width: 780px;" src="./images/tjwfwq9.png" alt="">
                            </p>
                            <p>
                                2、登录龙腾云云监控平台后，在【分组管理】中点击【添加设备】
                            </p>
                            <p>
                                3、右键点击【添加设备】，弹出菜单，如下图所示：
                            </p>
                            <p>
                                <img style="width: 780px;" src="./images/tjwfwq10.png" alt="">
                            </p>
                            <p>
                                4、在【添加设备】下选择设备类型为“WMI Windows”，单击，如下图
                            </p>
                            <p>
                                <img style="width: 780px;" src="./images/tjwfwq11.png" alt="">
                            </p>
                            <p>
                                “基本设置”选项卡
                            </p>
                            <p>
                                Windows服务器IP：填写被监测的服务器的IP地址 <br>
                                登录名：填写被监测的服务器的系统管理员名称 <br>
                                登陆密码：填写被监测服务器的系统管理员密码 <br>
                                标题：填写显示的标题
                            </p>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- 内容header-send-->
</div>