<div id="helpdocum">
    <!-- 搜索块header-start-->
    <div class="h_elp_wrap fl">
        <div class="h_elp_had fl">
            <div class="h_elp_had-inner">
                <h2 class="title fl" style="margin-left: 514px;">
                    <a href="javascript:;">帮助与文档</a>
                </h2>
            </div>
        </div>
    </div>
    <!-- 搜索块header-end-->
    <!-- 内容header-start-->
    <div class="maincont fl">
        <div class="warp">
            <div class="grids-table">
                <div class="grids-nav" ng-include="'helpLeft.html'"></div>
                <div class="grids-details">
                    <div class="grids-height">
                        <p class="grids-crumbs">
                            <a href="javascript:;" ng-click="gotoPage('/documents/userguide')">帮助与文档</a>
                            <i class="r_png"></i>
                            <a href="javascript:;"> 快速入门云监控服务</a>
                            <i class="r_png"></i>
                            <span> 怎样添加一个网络设备</span>
                        </p>
                        <h1 class="grids-height-title">
                            怎样添加一个网络设备
                        </h1>
                        <div class="iaas_line">
                            <p>
                                点击“添加设备”
                            </p>
                            <p>
                                <img src="./images/tjwlsb0.png" alt="">
                            </p>
                            <p>
                                弹出窗口，选择“网络设备”
                            </p>
                            <p>
                                <img style="width: 780px;" src="./images/tjwlsb1.png" alt="">
                            </p>
                            <p>
                                如上图，可以根据实际情况，选择添加所需的网络设备，以“思科”设备为例，选择“思科”，
                                弹出窗口，如下图所示，填写设备地址和可读共同体名称
                                （在所监控的对象中开启snmp协议，设置共同体名称，这里与监控对象设置的共同体名称一致）
                            </p>
                            <p>
                                <img style="width: 780px;" src="./images/tjwlsb2.png" alt="">
                            </p>
                            <p>
                                点击下一步，如下图，选择需要监控的指标后，添加即可完成对设备的监控。
                            </p>
                            <p>
                                <img style="width: 780px;" src="./images/tjwlsb3.png" alt="">
                            </p>
                            <p>
                                以下是添加完成后的示意图
                            </p>
                            <p>
                                <img style="width: 780px;" src="./images/tjwlsb4.png" alt="">
                            </p>


                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- 内容header-send-->
</div>