<div id="csdl" class="clear">
    <input class="leftLight" type="hidden" value="0" name="csdlclass">

    <div class="show" style="position: relative;">
        <div class="clear">
            <div ng-include src="'left.html'"></div>
            <div class="show-word fl">
                <div class="show-word-top">
                    <h2><span>传输电路</span></h2>
                    <p>本地数据传输电路主要为客户在同一城市内不同地点间提供高效的信息传送通路。客户可根据实际需求确定带宽，xxxxx可向客户提供组网咨询及组网方案，并代为向运营商申请线路，
                        由电信运营商按照客户的要求，为客户建立所需带宽的电路连接。可为大中型企业用户提供 2Mb/s～2.5Gb/s各种传输速率的全透明电路。</p>
                </div>
                <div class="show-word-down">
                    <a href="/horizon/auth/login/" target="_self"><button>立即使用</button></a>
                    <!--<button ng-click="gotoPage('/price')">价格计算</button>-->

                </div>
            </div>
            <div class="show-img fr">
                <img src="images/chuanshudianlu.png" alt="">
            </div>
        </div>

    </div>
    <div style="position: relative;">
        <div class="main-content">
            <div class="clear stitle">
                <ul class="">
                    <li><a href="" class="md" name="#a1s">产品优势</a></li>
                    <li><a href="" class="md" name="#a2">产品功能</a></li>
                    <li><a href="" class="md" name="#a4">行业应用</a></li>
                </ul>
                <div class="clear ">
                    <a href="/horizon/auth/login/" target="_self"><button>立即使用</button></a>
                    <!--<button ng-click="gotoPage('/price')">价格计算</button>-->

                </div>
            </div>
            <script>
                smallt.stitleH = $(".stitle").offset().top;//页面加载就取下固定值
                smallt.left = parseInt($(".stitle").css("left"));
            </script>
            <div>
                <div class="contents container-fluid  ct3">
                    <a id="a1s"></a>
                    <h3>产品优势<span class="fr"></span></h3>
                    <div>
                        <div class="row">
                            <table class="col-md-12">
                                <tbody>
                                <tr>
                                    <td class="col-md-2"><h4>优势点</h4></td>
                                    <td class="col-md-6" style="position: relative">
                                        <h4>传输电路</h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td class=" ">
                                        <p>易用</p>
                                    </td>
                                    <td>
                                        <p>基于物理层的全透明传输，支持数据、语音、图像等多种业务，对客户通信协议没有任何要求，客户可自由选择各种网络设备及协议。 </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="">
                                        <p>可靠</p>
                                    </td>
                                    <td>
                                        <p>
                                            传输效率高，抗干扰能力强，质量好，网络时延小。
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="">
                                        <p>灵活</p>
                                    </td>
                                    <td>
                                        <p>
                                            骨干传输网络具有电路交叉连接功能，可进行灵活的电路调配。
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="">
                                        <p>安全</p>
                                    </td>
                                    <td>
                                        <p>
                                            拥有完善网络管理监控性能和各种网络保护机制，具有很高的安全可靠性。
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="">
                                        <p>传输</p>
                                    </td>
                                    <td>
                                        <p>
                                            带宽独享，传输效率高，抗干扰能力强，保密性能好。
                                        </p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="contents ct4">
                    <div class="container-fluid">
                        <div class="row">
                            <a id="a2"></a>
                            <h3>产品功能</h3>
                            <div class="neirong clear">
                                <ul class="clear neirong-title">
                                    <li style="background: rgb(255, 255, 255);" class="col-md-3"><a
                                            style="color: rgb(34, 119, 230);" href="javascript:;">信号传送</a></li>
                                    <li class="col-md-3" style="background: rgb(235, 236, 237);"><a href="javascript:;"
                                                                                                    style="color: rgb(51, 51, 51);">标准接口 </a>
                                    </li>
                                    <li class="col-md-3" style="background: rgb(235, 236, 237);"><a href="javascript:;"
                                                                                                    style="color: rgb(51, 51, 51);">通信速率</a>
                                    </li>
                                    <li class="col-md-3" style="background: rgb(235, 236, 237);"><a href="javascript:;"
                                                                                                    style="color: rgb(51, 51, 51);">业务传送</a>
                                    </li>

                                </ul>
                                <div class="neirong-content nr0 col-md-12" style="display: block;">
                                    <p>
                                        为用户提供端到端的全透明高速数字信号传送服务
                                    </p>
                                </div>
                                <div class="neirong-content nr1 col-md-12" style="display: none;">
                                    <p>使用国际通用的G.703、STM-1等标准接口</p>
                                </div>
                                <div class="neirong-content nr2 col-md-12" style="display: none;">
                                    <p>通信速率可根据需要在 2Mb/s、8Mb/s、34Mb/s、45Mb/s、100Mb/s、155Mb/s、622Mb/s、2.5Gb/s等之间进行选择 </p>
                                </div>
                                <div class="neirong-content nr3 col-md-12" style="display: none;">
                                    <p>适用于速率高、信息量大、实时性强的业务传送</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="contents container-fluid ct1">
                    <div class="row">
                        <a id="a4"></a>
                        <h3>行业应用<span class="fr"></span></h3>
                        <div class="img-center clear" title="行业应用">
                            <div>
                                <img src="images/sydw.png" alt="">
                                <p>企事业单位</p>
                            </div>
                            <div>
                                <img src="images/game.png" alt="">
                                <p>游戏</p>
                            </div>
                            <div>
                                <img src="images/jinrong.png" alt="">
                                <p>金融</p>
                            </div>
                            <div>
                                <img src="images/syhz.png" alt="">
                                <p>商业企业</p>
                            </div>
                            <div>
                                <img src="images/lingshou.png" alt="">
                                <p>零售</p>
                            </div>
                            <div>
                                <p style="text-align:center;line-height:70px;font-size: 34px;">...</p>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

