<div id="helpdocum" class="help_introduce">
    <!-- 搜索块header-start-->
    <div class="h_elp_wrap fl">
        <div class="h_elp_had fl">
            <div class="h_elp_had-inner">
                <h2 class="title fl" style="margin-left: 514px;">
                    <a href="javascript:;">帮助与文档</a>
                </h2>
            </div>
        </div>
    </div>
    <!-- 搜索块header-end-->
    <!-- 内容header-start-->
    <div class="maincont fl">
        <div class="warp">
            <div class="grids-table">
                <div class="grids-nav" ng-include="'helpLeft.html'"></div>
                <div class="grids-details">
                    <div class="grids-height">
                        <p class="grids-crumbs">
                            <a href="javascript:;" ng-click="gotoPage('/documents/userguide')">帮助与文档</a>
                            <i class="r_png"></i>
                            <span> 账号安全指南</span>
                        </p>
                        <div class="iaas_line">
                            <h1>账号安全指南</h1>
                            <p>
                                注册xxxxx云新用户时，系统要求使用强度更高的密码，以降低密码被破解的风险。注册完成后，可以通过邮箱和密码登录控制台。我们建议用户根据自己的安全需求和使用习惯，在安全中心配置安全策略，强化账号的安全性。目前支持的账号安全属性包括：</p>
                            <p>关闭浏览器的会话保持，临时登录系统后退出浏览器，不记录登录状态。</p>
                            <p>修改登录密码;</p>
                            <p>忘记登录密码，可以通过手机短信找回。</p>
                            <div>
                                <h2>登录密码</h2>
                                <p>系统对用户账号密码加密保存，同时全站使用 HTTPS
                                    协议提供服务，因此系统保存以及网络中传输的密码有足够的安全性。然而密码本身具有一定的风险性，例如在不安全的计算机登录过系统、误点击进入钓鱼网站，或使用与其他平台相同的账号密码，因该平台被攻击导致明文密码泄露等。</p>
                                <div>
                                    <p>建议使用混合大、小写字母、符号及数字的高强度密码，尽量不要使用与其他平台相同的密码，并定期修改密码，以保护账号安全。</p>
                                </div>

                                <h2>登录历史</h2>
                                <p>用户的登录日志里记录了该账号最近 20次的登录历史，包括登录时间、登录 IP。通过历史记录，您可以查询到该账号的登录情况。</p>
                                <a><img alt="" class="screenshot align-center" src="./images/Login_history1.png"/></a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- 内容header-send-->
</div>