<div id="helpdocum" class="help_introduce">
    <!-- 搜索块header-start-->
    <div class="h_elp_wrap fl">
        <div class="h_elp_had fl">
            <div class="h_elp_had-inner">
                <h2 class="title fl" style="margin-left: 514px;">
                    <a href="javascript:;">帮助与文档</a>
                </h2>
                <!-- <div class="search_box fl">
                     <div class="search_bar">
                         <input type="text" placeholder="请输入你想了解的关键词" id="searchInput">
                         <a href="javascript:;" class="search_btn"><span>搜索</span></a>
                     </div>
                     <a href="javascript:;" class="link" target="_blank">xxxxx服务器</a>
                     <a href="javascript:;" class="link" target="_blank">微信小程序</a>
                     <a href="javascript:;" class="link" target="_blank">云数据库</a>
                     <a href="javascript:;" class="link" target="_blank">域名备案</a>
                     <a href="javascript:;" class="link" target="_blank">SSL证书</a>
                     <a href="javascript:;" class="link" target="_blank">直播</a>
                     <a href="javascript:;" class="link" target="_blank">计费</a>
                 </div>-->
            </div>
        </div>
    </div>
    <!-- 搜索块header-end-->
    <!-- 内容header-start-->
    <div class="maincont fl">
        <div class="warp">
            <div class="grids-table">
                <div class="grids-nav" ng-include="'helpLeft.html'"></div>
                <div class="grids-details">
                    <div class="grids-height">
                        <p class="grids-crumbs">
                            <a href="javascript:;" ng-click="gotoPage('/documents/userguide')">帮助与文档</a>
                            <i class="r_png"></i>
                            <span> 用户指南</span>
                        </p>
                        <div class="iaas_line">
                            <h1 style="margin:14px 0; ;">用户指南</h1>
                            <ul class="guidetab">
                                <li>
                                    <span></span>
                                    <a href="">IaaS服务</a>
                                    <ul>
                                        <li  ng-click="gotoPage('/documents/iaas/introduction')">
                                            <span></span>
                                            <a href="">IaaS服务简介</a>
                                        </li>
                                        <li>
                                            <span></span>
                                            <a href="">快速入门IaaS指南</a>
                                            <ul>
                                                <li ng-click="gotoPage('/documents/iaas/createservice')">
                                                    <span></span>
                                                    <a href="">创建服务</a>
                                                </li>
                                                <li ng-click="gotoPage('/documents/iaas/deploy')">
                                                    <span></span>
                                                    <a href="">资源配置</a>
                                                </li>
                                                <li ng-click="gotoPage('/documents/iaas/password')">
                                                    <span></span>
                                                    <a href="">密码设置</a>
                                                </li>
                                                <li ng-click="gotoPage('/documents/iaas/createdisk')">
                                                    <span></span>
                                                    <a href="">创建硬盘</a>
                                                </li>
                                                <li ng-click="gotoPage('/documents/iaas/connecthost')">
                                                    <span></span>
                                                    <a href="">连接主机</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li ng-click="gotoPage('/documents/iaas/network')">
                                            <span></span>
                                            <a href="">IaaS网络介绍</a>
                                        </li>
                                        <li>
                                            <span></span>
                                            <a href="">IaaS备份与恢复指南</a>
                                            <ul>
                                                <li ng-click="gotoPage('/documents/iaas/snapshots')">
                                                    <span></span>
                                                    <a href="">总览</a>
                                                </li>
                                                <li ng-click="gotoPage('/documents/iaas/createsnapshots')">
                                                    <span></span>
                                                    <a href="">创建备份</a>
                                                </li>
                                                <li ng-click="gotoPage('/documents/iaas/deletesnapshots')">
                                                    <span></span>
                                                    <a href="">删除备份</a>
                                                </li>
                                                <li ng-click="gotoPage('/documents/iaas/restoresnapshots')">
                                                    <span></span>
                                                    <a href="">备份还原</a>
                                                </li>
                                                <li ng-click="gotoPage('/documents/iaas/snapshots-billing')">
                                                    <span></span>
                                                    <a href="">计费模式</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <span></span>
                                    <a href="">CaaS服务</a>
                                    <ul>
                                        <li>
                                            <span></span>
                                            <a href="">快速入门CaaS服务</a>
                                            <ul>
                                                <li ng-click="gotoPage('/documents/caas/createservice')">
                                                    <span></span>
                                                    <a href="">新建服务</a>
                                                </li>
                                                <li ng-click="gotoPage('/documents/caas/fillingin')">
                                                    <span></span>
                                                    <a href="">创建服务</a>
                                                </li>
                                                <li ng-click="gotoPage('/documents/caas/application')">
                                                    <span></span>
                                                    <a href="">提交申请</a>
                                                </li>
                                                <li ng-click="gotoPage('/documents/caas/progress')">
                                                    <span></span>
                                                    <a href="">查看进度</a>
                                                </li>
                                                <li ng-click="gotoPage('/documents/caas/consult')">
                                                    <span></span>
                                                    <a href="">咨询和洽谈</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <span></span>
                                            <a href="">CaaS服务续约变更关闭</a>
                                            <ul>
                                                <li ng-click="gotoPage('/documents/caas/function')">
                                                    <span></span>
                                                    <a href="">功能区域</a>
                                                </li>
                                                <li ng-click="gotoPage('/documents/caas/newticket')">
                                                    <span></span>
                                                    <a href="">新建工单</a>
                                                </li>
                                                <li ng-click="gotoPage('/documents/caas/checkticket')">
                                                    <span></span>
                                                    <a href="">查看工单进度</a>
                                                </li>
                                                <li ng-click="gotoPage('documents/caas/checkbusiness')">
                                                    <span></span>
                                                    <a href="">查看业务进度</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <span></span>
                                    <a href="">云栈服务</a>
                                    <ul>
                                        <li ng-click="gotoPage('/documents/cloudstack/introduction')">
                                            <span></span>
                                            <a href="">云栈服务简介</a>
                                        </li>
                                        <li>
                                            <span></span>
                                            <a href="">快速入门云栈服务</a>
                                            <ul>
                                                <li ng-click="gotoPage('/documents/cloudstack/login')">
                                                    <span></span>
                                                    <a href="">进入云栈</a>
                                                </li>
                                                <li ng-click="gotoPage('/documents/cloudstack/application')">
                                                    <span></span>
                                                    <a href="">创建云栈</a>
                                                </li>
                                                <li ng-click="gotoPage('/documents/cloudstack/payment')">
                                                    <span></span>
                                                    <a href="">支付费用</a>
                                                </li>
                                                <li ng-click="gotoPage('/documents/cloudstack/newstackbridge')">
                                                    <span></span>
                                                    <a href="">新增云桥</a>
                                                </li>
                                                <li ng-click="gotoPage('/documents/cloudstack/operation')">
                                                    <span></span>
                                                    <a href="">云栈操作</a>
                                                </li>
                                                <li ng-click="gotoPage('/documents/cloudstack/stackbridgeoperation')">
                                                    <span></span>
                                                    <a href="">云桥操作</a>
                                                </li>
                                                <li ng-click="gotoPage('/documents/cloudstack/scheduler')">
                                                    <span></span>
                                                    <a href="">定时器设置</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <span></span>
                                    <a href="">云监控服务</a>
                                    <ul>
                                        <li ng-click="gotoPage('/documents/telcloudmoniter/concept')">
                                            <span></span>
                                            <a href="">云监控名词</a>
                                        </li>
                                        <li>
                                            <span></span>
                                            <a href="">快速入门云监控服务</a>
                                            <ul>
                                                <li ng-click="gotoPage('/documents/telcloudmoniter/login')">
                                                    <span></span>
                                                    <a href="">进入云监控</a>
                                                </li>
                                                <li ng-click="gotoPage('/documents/telcloudmoniter/devices')">
                                                    <span></span>
                                                    <a href="">添加网络设备</a>
                                                </li>
                                                <li ng-click="gotoPage('/documents/telcloudmoniter/windowserver')">
                                                    <span></span>
                                                    <a href="">添加Windows服务器</a>
                                                </li>
                                                <li ng-click="gotoPage('/documents/telcloudmoniter/Iinuxserver')">
                                                    <span></span>
                                                    <a href="">添加Linux服务器</a>
                                                </li>
                                                <li ng-click="gotoPage('/documents/telcloudmoniter/oracle')">
                                                    <span></span>
                                                    <a href="">添加Oracle</a>
                                                </li>
                                                <li ng-click="gotoPage('/documents/telcloudmoniter/ping')">
                                                    <span></span>
                                                    <a href="">添加Ping监测点</a>
                                                </li>
                                                <li ng-click="gotoPage('/documents/telcloudmoniter/url')">
                                                    <span></span>
                                                    <a href="">添加URL监测点</a>
                                                </li>
                                                <li ng-click="gotoPage('/documents/telcloudmoniter/points')">
                                                    <span></span>
                                                    <a href="">频率、监测点阀值设置</a>
                                                </li>
                                                <li ng-click="gotoPage('/documents/telcloudmoniter/alerts')">
                                                    <span></span>
                                                    <a href="">告警配置</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <span></span>
                                    <a href="">xxxxx国际加速服务</a>
                                    <ul>
                                        <li ng-click="gotoPage('/cloudbroadband/apply')">
                                            <span></span>
                                            <a href="">国际加速账号申请</a>
                                        </li>
                                        <li ng-click="gotoPage('/cloudbroadband/register')">
                                            <span></span>
                                            <a href="">国际加速账号使用</a>
                                        </li>
                                    </ul>
                                </li>
                                <li ng-click="gotoPage('/documents/user_sercurity')">
                                    <span></span>
                                    <a href="">账号安全指南</a>
                                </li>
                                <li ng-click="gotoPage('/documents/faq')">
                                    <span></span>
                                    <a href="">常见问题FAQ</a>
                                </li>
                                <li>
                                    <span></span>
                                    <a href="">认证信息</a>
                                    <ul>
                                        <li ng-click="gotoPage('/documents/iso27001')">
                                            <span></span>
                                            <a href="">ISO27001认证</a>
                                        </li>
                                        <li ng-click="gotoPage('/documents/iso20000')">
                                            <span></span>
                                            <a href="">ISO20000认证</a>
                                        </li>
                                        <li ng-click="gotoPage('/documents/iso9001')">
                                            <span></span>
                                            <a href="">ISO9001认证</a>
                                        </li>
                                        <li ng-click="gotoPage('/documents/iso14001')">
                                            <span></span>
                                            <a href="">ISO14001认证</a>
                                        </li>
                                    </ul>
                                </li>
                                <li ng-click="gotoPage('/documents/tos')">
                                    <span></span>
                                    <a href="">服务条款</a>
                                </li>







                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- 内容header-send-->
</div>
</div>
</div>