<div id="yjkSaas" class="clear">
    <input class="leftLight" type="hidden" value="0" name="yjkSaasclass">

    <div class="show">
        <div class="clear">
            <div ng-include="'left.html'"></div>

            <div class="show-word fl">
                <div class="show-word-top">
                    <h2><span>云监控（SaaS版）</span></h2>
                    <p>
                        TelCloud监控易（SaaS版）是一种弹性可扩展的高性能云监控服务，不仅具备传统监控软件的全部功能，而且计费、资源使用遵循云服务标准设计，方便灵活。通过使用TelCloud监控易，您将不再需要维护、扩展复杂的专用监控系统。</p>
                </div>
                <div class="show-word-down">
                    <button ng-click="gotoPage('/denglu')">立即使用</button>
                </div>
            </div>
            <div class="show-img fr">
                <img src="images/cloud.png" alt="">
            </div>
        </div>
    </div>
    <div class="main-content">
        <div class="clear stitle">
            <ul class="">
                <li><a href="" class="md" name="#anli">产品优势</a></li>
                <li><a href="" class="md" name="#gaishu">产品功能</a></li>
                <li><a href="" class="md" name="#anli26">技术支持</a></li>
                <li><a href="" class="md" name="#yycj">应用场景</a></li>
                <li><a href="" class="md" name="#a4">行业应用</a></li>
            </ul>
            <div class="clear ">
                <button ng-click="gotoPage('/denglu')">立即使用</button>
            </div>
        </div>
        <script>
            smallt.stitleH = $(".stitle").offset().top;//页面加载就取下固定值
            smallt.left = parseInt($(".stitle").css("left"));
        </script>
        <div>

            <div class="contents container-fluid  ct3">
                <a id="a1s"></a>
                <h3>产品优势<span class="fr"></span></h3>
                <div>
                    <div class="row">
                        <table class="col-md-12">
                            <tbody>
                            <tr>
                                <td class="col-md-2"><h4>优势</h4></td>
                                <td class="col-md-6" style="position: relative">
                                    <h4>云监控（SaaS版）</h4>
                                </td>
                            </tr>
                            <tr>
                                <td class=" ">
                                    <p>即时交付</p>
                                </td>
                                <td>
                                    <p>5分钟完成部署，即买即用</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="">
                                    <p>安全可靠</p>
                                </td>
                                <td>
                                    <p>数据加密传输，不改变安全策略 </p>
                                </td>
                            </tr>
                            <tr>
                                <td class="">
                                    <p>弹性扩展</p>
                                </td>
                                <td>
                                    <p>随需自由扩展，无缝接入</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="">
                                    <p>部署灵活</p>
                                </td>
                                <td>
                                    <p>支持多数据中心云架构部署</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="">
                                    <p>移动运维</p>
                                </td>
                                <td>
                                    <p>支持手机APP，随时随地运维署</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="">
                                    <p>节省成本</p>
                                </td>
                                <td>
                                    <p>无升级等额外附加隐性费用 </p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="contents container-fluid  ct7">
                <div class="row">
                    <a id="gaishu"></a>
                    <h3>产品功能<span class="fr"></span></h3>
                    <h4><b>在**轻松管控您的TelCloud智慧云网关
                        云平台便捷查看设备状态，内网状态，配置调整，设备更新</b></h4>
                    <ul class="clear">
                        <li>
                            <img src="images/zhy001.png" alt="">
                            <h4>设备和内网状态</h4>
                            <p>快捷查看所有设备状态；一眼知晓内网状态，系统资源，实时流量，应用排名，流量排名，内网问题准确定</p>
                        </li>
                        <li>
                            <img src="images/zhy002.png" alt="">
                            <h4>配置调整</h4>
                            <p>方便快捷直接修改配置策略，实时调整实时生效。设备配置实时掌握</p></li>
                        <li>
                            <img src="images/zhy003.png" alt="">
                            <h4>五大功能一体化融合</h4>
                            <p>一键升级设备应用特征识别库，实时升级软件版本，设备软件焕然一新</p>
                        </li>
                    </ul>
                    <ul class="clear">
                        <li>
                            <img src="images/zhy004.png" alt="">
                            <h4>安全</h4>
                            <p>基于SDN网络技术实现，不同通信链接路相互隔离，安全性高。</p>
                        </li>
                        <li>
                            <img src="images/zhy005.png" alt="">
                            <h4>强大识别引擎</h4>
                            <p>应用特征识别与分析，多种分类审计实现内网精细化管控</p>
                        </li>
                        <li>
                            <img src="images/zhy006.png" alt="">
                            <h4>QOS带宽管理</h4>
                            <p>细致贴心的流量管控，有效提升带宽利用率、保护带宽资源</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="contents container-fluid  ct6">

                <div class="row">
                    <a id="anli26"></a>
                    <h3>技术支持<span class="fr"></span></h3>
                    <div>
                        <img src="images/zhyjszc2.png" alt="">
                    </div>
                </div>
            </div>
            <div class="contents container-fluid  ct5">
                <a id="yycj"></a>
                <h3>TelCloud云监控（SaaS）应用场景<span class="fr"></span></h3>
                <p>适合各种类型的数据中心和网络，云监控的分布式云架构都游刃有余。</p>
                <div>
                    <div class="row">
                        <img style="margin: 20px 0 0 100px; width:80%;" src="images/yjkSaas0001.png" alt="">
                    </div>
                </div>
            </div>
            <div class="contents container-fluid ct1">
                <div class="row">
                    <a id="a4"></a>
                    <h3>行业应用<span class="fr"></span></h3>
                    <div class="img-center clear" title="行业应用">
                        <div>
                            <img src="images/sydw.png" alt="">
                            <p>企事业单位</p>
                        </div>
                        <div>
                            <img src="images/game.png" alt="">
                            <p>游戏</p>
                        </div>
                        <div>
                            <img src="images/jinrong.png" alt="">
                            <p>金融</p>
                        </div>
                        <div>
                            <img src="images/syhz.png" alt="">
                            <p>商业企业</p>
                        </div>
                        <div>
                            <img src="images/lingshou.png" alt="">
                            <p>零售</p>
                        </div>
                        <div>
                            <p style="text-align:center;line-height:70px;font-size: 34px;">...</p>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
