<div id="helpdocum">
    <!-- 搜索块header-start-->
    <div class="h_elp_wrap fl">
        <div class="h_elp_had fl">
            <div class="h_elp_had-inner">
                <h2 class="title fl" style="margin-left: 514px;">
                    <a href="javascript:;">帮助与文档</a>
                </h2>
            </div>
        </div>
    </div>
    <!-- 搜索块header-end-->
    <!-- 内容header-start-->
    <div class="maincont fl">
        <div class="warp">
            <div class="grids-table">
                <div class="grids-nav" ng-include="'helpLeft.html'"></div>
                <div class="grids-details">
                    <div class="grids-height">
                        <p class="grids-crumbs">
                            <a href="javascript:;" ng-click="gotoPage('/documents/userguide')">帮助与文档</a>
                            <i class="r_png"></i>
                            <a href="javascript:;"> 快速入门云栈服务</a>
                            <i class="r_png"></i>
                            <span> 三、云栈的建立与状态</span>
                        </p>
                        <h1 class="grids-height-title">
                            三、云栈的建立与状态
                        </h1>
                        <div class="iaas_line">
                            <p>
                                1- 云栈对应物理世界网络设备的接口，因此云栈服务的建立需要服务流程和实施时间。
                            </p>
                            <p>
                                2- 对应着建立服务实施过程的进展，云栈的图标有实心和空心两种状态。刚开始申请云栈时，图标是空心的，服务完成后变为实心。
                            </p>
                            <ul class="an-licircle">
                                <li>
                                    可用状态，表现为云栈的图标是实心的。可用云栈，用户可以用鼠标拖拽的方式，从云栈发起云桥到目的栈，从而发出服务请求，建立服务通道。
                                </li>
                                <li>
                                    待用云栈是客户发起建立云栈，实施进行中、流程尚未完成时的状态，图标是空心的。待用云栈无法发起云桥，需要等云栈的状态变为可用、即实心图标状态时才能建立服务
                                </li>
                            </ul>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- 内容header-send-->
</div>