<div id="helpdocum">
    <!-- 搜索块header-start-->
    <div class="h_elp_wrap fl">
        <div class="h_elp_had fl">
            <div class="h_elp_had-inner">
                <h2 class="title fl" style="margin-left: 514px;">
                    <a href="javascript:;">帮助与文档</a>
                </h2>
            </div>
        </div>
    </div>
    <!-- 搜索块header-end-->
    <!-- 内容header-start-->
    <div class="maincont fl">
        <div class="warp">
            <div class="grids-table">
                <div class="grids-nav" ng-include="'helpLeft.html'"></div>
                <div class="grids-details">
                    <div class="grids-height">
                        <p class="grids-crumbs">
                            <a href="javascript:;" ng-click="gotoPage('/documents/userguide')">帮助与文档</a>
                            <i class="r_png"></i>
                            <a href="javascript:;"> 快速入门云栈服务</a>
                            <i class="r_png"></i>
                            <span> 一、概述</span>
                        </p>
                        <h1 class="grids-height-title">
                            一、概述
                        </h1>
                        <div class="iaas_line">
                            <p>
                                在龙腾云网站单一用户页面中（如图所示），通过可视化图标组成的环形区域展现出多种服务项目状态的整体信息。                          </p>
                            <p>
                                通过云栈服务，客户可以主动地建立或终止任何一项预设的电信服务。账户自动对客户的多种服务进行统一管理和计费。
                            </p>
                            <p>
                                总体来说，云栈服务是采用可视化自助通断开关，用同一用户账号对多种电信服务进行统一即时控制和计费的服务组合。                            </p>
                            <p style="margin-top: 20px;">
                                <img src="./images/an-yzstep1.png" alt="" style="width: 927px;">
                            </p>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- 内容header-send-->
</div>