<div id="zhmm" onload="$('#userEmail').focus().select();">


    <form id="user_reset" action="retrieveretrieve" method="post">

        <section id="div_email" class="page" style="min-height: 560px; ">
            <div id="home" class="home">
                <section>
                    <div style="width: auto; height: 350px;">
                        <div style="padding: 50px; background: #fff;border:1px solid #ddd; ">
                            <div>
                                <div style="font-size:16px;color:#353946;display: none">
                                    <div style="float:right;padding:10px;">
                                        <input type="radio" name="radio_mode" id="radio_mode_1" value="mobile">
                                        <label for="radio_mode_1">手机</label><!-- 手机 -->
                                    </div>
                                    <div style="float:right;padding:10px;">
                                        <input type="radio" name="radio_mode" id="radio_mode_2" value="email"
                                               checked="checked">
                                        <label for="radio_mode_2">邮箱</label><!-- 邮箱 -->
                                    </div>
                                </div>
                                <legend>邮箱找回密码</legend><!-- 邮箱 -->
                            </div>
                            <div>
                                <div class="zh">
                                    <span class="required">*</span>
                                    邮箱：
                                </div>
                                <div>
                                    <input ng-click="getuserEmail()" type="text" name="userEmail" ng-model="userEmail"
                                           id="userEmail" size="20" class="input"
                                           maxlength="50" placeholder="注册的邮件地址"><!-- "注册的邮件地址" -->
                                    <span id="hint_email"
                                          style="color: #b94a48; background: #f2dede; display: inline-block; padding: 0 10px; line-height: 32px;"></span>
                                </div>
                                <br>
                                <div class="zh">
                                    <span class="required">*</span><!-- 验证码： -->
                                    图形验证码：
                                </div>
                                <div style="position:relative;">
                                    <input type="text" name="securityCode_Email" id="securityCode_Email" size="20"
                                           class="input" maxlength="4"
                                           onkeyup="javascript:checkSecurityCode(this.value,'email', event);"
                                           placeholder="输入右测验证码"><!-- "输入右测验证码" -->
                                    <img id="img_securityCode_email" src="image?postfix=email"
                                         onclick="this.src='image?postfix=email&amp;'+ Math.random()"
                                         title="点击图片刷新图形验证码">
                                    <span id="span_securityCode_email" class="correct" style="display:none;"></span>
                                </div>
                            </div>
                            <div style="margin-top: 10px; text-align: center; width: 100%; margin-bottom: 10px;">
                                <input ng-click="getuserEmail()" type="button" id="btnSendEMail" value="发送邮件"
                                       style="    margin-left: 35px;"
                                       class="denglu">
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>

        <section id="div_mobile" class="page" style="min-height: 560px; display: none">
            <div class="home">
                <section>
                    <div style="width: auto; height: 350px;">
                        <div style="padding: 50px; background: #eee; margin: 130px 170px 130px 170px; height: 280px;">
                            <div>
                                <div style="font-size:16px;color:#353946; ">
                                    <div style="float:right;padding:10px;">
                                        <input type="radio" name="radio_mode" id="radio_mode_3" value="mobile">
                                        <label for="radio_mode_3">手机</label><!-- 手机 -->
                                    </div>
                                    <div style="float:right;padding:10px;">
                                        <input type="radio" name="radio_mode" id="radio_mode_4" value="email">
                                        <label for="radio_mode_4">邮箱</label><!-- 邮箱 -->
                                    </div>
                                </div>
                                <legend>手机找回密码</legend><!-- 手机 -->
                            </div>
                            <div>
                                <div class="zh">
                                    <span class="required">*</span><!-- 手机 -->
                                    手机：
                                </div>
                                <div>
                                    <input type="text" name="userMobile" id="userMobile" size="20" class="input"
                                           maxlength="20" placeholder="注册的手机号码"><!-- "注册的手机号码"-->
                                    <span id="hint_mobile"
                                          style="color: #b94a48; background: #f2dede; display: none; padding: 0 10px; line-height: 32px; ">请输入有效的手机号和正确的图形验证码</span>
                                    <span id="hint_mobile_send_success"
                                          style="color: #b94a48; background: #f2dede; display: none; padding: 0 10px; line-height: 32px; ">发送成功，请在两分钟之内完成登录，否则失效。</span>
                                    <span id="hint_mobile_send_error"
                                          style="color: #b94a48; background: #f2dede; display: none; padding: 0 10px; line-height: 32px;">发送失败</span>
                                </div>
                                <br>
                                <div class="zh"><!-- 验证码： -->
                                    <span class="required">*</span>
                                    图形验证码：
                                </div>
                                <div>
                                    <input type="text" name="securityCode_Mobile" id="securityCode_Mobile" size="20"
                                           class="input" maxlength="4"
                                           onkeyup="javascript:checkSecurityCode(this.value, 'mobile', event);"
                                           placeholder="输入右测验证码"><!-- "输入右测验证码" -->
                                    <img id="img_securityCode_mobile" src="image?postfix=mobile"
                                         onclick="this.src='image?postfix=mobile&amp;'+ Math.random()"
                                         title="点击图片刷新图形验证码">
                                    <span id="span_securityCode_mobile" class="correct" style="display:none;"></span>
                                </div>
                            </div>
                            <div style="margin-top: 10px; text-align: right; float: left; width: 130px; margin-bottom: 10px;">
                                <input type="button" id="btnSendSMS" value="发送短信" class="denglu"><!-- "发送短信" -->
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>

    </form>


    <script type="text/javascript" src="js/page/reset_pwd.js" charset="utf-8"></script>


    <script type="text/javascript" src="js/header.js" charset="utf-8"></script>

    <script type="text/javascript" src="js/reconnecting-websocket.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="js/hint.websocket.js" charset="utf-8"></script>
    <script src="js/h_abtnhover.js"></script>
    <script src="js/reg.js"></script>

</div>