<div class="grids-nav-inner">
    <div class="grids-nav-list">
        <a href="javascript:;" class='grids-nav-title'>
            帮助与文档
        </a>
        <div class="grids-nav-innerbox">

            <div class="grids-nav-inner-list">
                <a href="javascript:;" class="grids-side-navLayer">
                    IaaS服务简介
                    <i class="nav-drop-down-icon"></i>
                </a>
                <ul class="nav-inner-list-2">
                    <li>
                        <a ng-click="gotoPage('/helpiaas-backups-introduce')" class="side-nav-title-2"
                           data-href="#/helpiaas-backups-introduce">IaaS服务简介</a>
                    </li>
                </ul>
            </div>
            <div class="grids-nav-inner-list">
                <a href="javascript:;" class="grids-side-navLayer">
                    快速入门Iaas服务
                    <i class="nav-drop-down-icon"></i>
                </a>
                <ul class="nav-inner-list-2">
                    <li>
                        <a ng-click="gotoPage('/helpiaas-serve')" class="side-nav-title-2" data-href="#/helpiaas-serve">第一步：创建服务</a>
                    </li>
                    <li>
                        <a ng-click="gotoPage('/helpiaas-deploy')" class="side-nav-title-2"
                           data-href="#/helpiaas-deploy">第二步：资源配置</a>
                    </li>
                    <li>
                        <a ng-click="gotoPage('/helpiaas-pswrd')" class="side-nav-title-2" data-href="#/helpiaas-pswrd">第三步：密码设置</a>
                    </li>
                    <li>
                        <a ng-click="gotoPage('/helpiaas-disk')" class="side-nav-title-2" data-href="#/helpiaas-disk">第四步：创建硬盘</a>
                    </li>
                    <li>
                        <a ng-click="gotoPage('/helpiaas-main')" class="side-nav-title-2" data-href="#/helpiaas-main">第五步：连接主机</a>
                    </li>
                </ul>
            </div>
            <div class="grids-nav-inner-list">
                <a href="javascript:;" class="grids-side-navLayer">
                    网络介绍指南
                    <i class="nav-drop-down-icon"></i>
                </a>
                <ul class="nav-inner-list-2">
                    <li>
                        <a ng-click="gotoPage('/helpcaas-network')" class="side-nav-title-2" href="javascript:;"
                           data-href="#/helpcaas-network">IaaS网络介绍</a>
                    </li>
                </ul>
            </div>
            <div class="grids-nav-inner-list">
                <a href="javascript:;" class="grids-side-navLayer">
                    IaaS备份与恢复指南
                    <i class="nav-drop-down-icon"></i>
                </a>
                <ul class="nav-inner-list-2">
                    <li>
                        <a ng-click="gotoPage('/helpiaas-backups')" class="side-nav-title-2" href="javascript:;"
                           data-href="#/helpiaas-backups">总览</a>
                    </li>
                    <li>
                        <a ng-click="gotoPage('/helpiaas-backups-cereate')" class="side-nav-title-2" href="javascript:;"
                           data-href="#/helpiaas-backups-cereate">第一步：创建备份</a>
                    </li>
                    <li>
                        <a ng-click="gotoPage('/helpiaas-backups-delete')" class="side-nav-title-2" href="javascript:;"
                           data-href="#/helpiaas-backups-delete">第二步：删除备份</a>
                    </li>
                    <li>
                        <a ng-click="gotoPage('/helpiaas-backups-restore')" class="side-nav-title-2" href="javascript:;"
                           data-href="#/helpiaas-backups-restore">第三步：备份还原</a>
                    </li>
                    <li>
                        <a ng-click="gotoPage('/helpiaas-backups-billing')" class="side-nav-title-2" href="javascript:;"
                           data-href="#/helpiaas-backups-billing">第四步：计费模式</a>
                    </li>
                </ul>
            </div>
            <div class="grids-nav-inner-list">
                <a href="javascript:;" class="grids-side-navLayer">
                    快速入门Caas服务
                    <i class="nav-drop-down-icon"></i>
                </a>
                <ul class="nav-inner-list-2">
                    <li>
                        <a ng-click="gotoPage('/helpcaas-serve')" class="side-nav-title-2" href="javascript:;"
                           data-href="#/helpcaas-serve">第一步：新建服务</a>
                    </li>
                    <li>
                        <a ng-click="gotoPage('/helpcaas-particulars')" class="side-nav-title-2" href="javascript:;"
                           data-href="#/helpcaas-particulars">第二步：填写服务详情</a>
                    </li>
                    <li>
                        <a ng-click="gotoPage('/helpcaas-apply')" class="side-nav-title-2" href="javascript:;"
                           data-href="#/helpcaas-apply">第三步：提交申请</a>
                    </li>
                    <li>
                        <a ng-click="gotoPage('/helpcaas-look')" class="side-nav-title-2" href="javascript:;"
                           data-href="#/helpcaas-look">第四步：查看进度</a>
                    </li>
                    <li>
                        <a ng-click="gotoPage('/helpcaas-consult')" class="side-nav-title-2" href="javascript:;"
                           data-href="#/helpcaas-consult">第五步：咨询和洽谈</a>
                    </li>
                </ul>
            </div>
            <div class="grids-nav-inner-list">
                <a href="javascript:;" class="grids-side-navLayer">
                    CaaS服务续约变更关闭
                    <i class="nav-drop-down-icon"></i>
                </a>
                <ul class="nav-inner-list-2">
                    <li>
                        <a ng-click="gotoPage('/helpcaas-seek')" class="side-nav-title-2" href="javascript:;"
                           data-href="#/helpcaas-seek">第一步：找到功能区域</a>
                    </li>
                    <li>
                        <a ng-click="gotoPage('/helpcaas-work')" class="side-nav-title-2" href="javascript:;"
                           data-href="#/helpcaas-work">第二步：新建工单</a>
                    </li>
                    <li>
                        <a ng-click="gotoPage('/helpcaas-workplan')" class="side-nav-title-2" href="javascript:;"
                           data-href="#/helpcaas-workplan">第三步：查看工单进度</a>
                    </li>
                    <li>
                        <a ng-click="gotoPage('/helpcaas-workpross')" class="side-nav-title-2" href="javascript:;"
                           data-href="#/helpcaas-workpross">第四步：查看业务进度</a>
                    </li>
                </ul>
            </div>
            <div class="grids-nav-inner-list">
                <a href="javascript:;" class="grids-side-navLayer">
                    账号安全指南
                    <i class="nav-drop-down-icon"></i>
                </a>
                <ul class="nav-inner-list-2">
                    <li>
                        <a ng-click="gotoPage('/helpiaas-backups-security')" class="side-nav-title-2"
                           href="javascript:;" data-href="#/helpiaas-backups-security">账号安全指南</a>
                    </li>
                </ul>
            </div>

            <div class="grids-nav-inner-list">
                <a href="javascript:;" class="grids-side-navLayer">
                    常见问题FAQ
                    <i class="nav-drop-down-icon"></i>
                </a>
                <ul class="nav-inner-list-2">
                    <li>
                        <a ng-click="gotoPage('/helpissue')" data-href="#/helpissue" class="side-nav-title-2"
                           href="javascript:;">常见问题</a>
                    </li>
                </ul>
            </div>
            <!--<div class="grids-nav-inner-list">-->
            <!--<a ng-click="gotoPage('/helpiaas-backups-fwtk')"  href="javascript:;" class="grids-side-navLayer grids-side-navLayer_dan">-->
            <!--服务条款-->
            <!--</a>-->
            <!--</div>-->
            <!--<div class="grids-nav-inner-list">-->
            <!--<a ng-click="gotoPage('/helpiaas-backups-lxwm')"  href="javascript:;" class="grids-side-navLayer grids-side-navLayer_dan">-->
            <!--联系我们-->
            <!--</a>-->
            <!--</div>-->
            <!--<div class="grids-nav-inner-list">-->
            <!--<a ng-click="gotoPage('/helpiaas-backups-gywm')"  href="javascript:;" class="grids-side-navLayer grids-side-navLayer_dan">-->
            <!--关于我们-->
            <!--</a>-->
            <!--</div>-->
        </div>
        <!--<div class="grids-h_elplist">
            <ul class="grids-h_elplist-menu">
                <li class="menu-title">
                    <i class="cputepng"></i>
                    计算
                </li>
                <li>
                    <a ng-click="gotoPage('/helpover')" href="javascript:;">云主机</a>
                </li>
                <li>
                    <a href="javascript:;">专用宿主机</a>
                </li>
                <li>
                    <a href="javascript:;">云硬盘</a>
                </li>
                <li>
                    <a href="javascript:;">黑石物理服务器</a>
                </li>
            </ul>
        </div>-->
    </div>
</div>
<script>
    var $list = $('.grids-nav-list');
    var linjieTop = $list.offset().top;
</script>
<script src="longtelwebjs/help_doc.js"></script>