<div class="left-big" style="">
    <!--<div class="ulFixed">-->
    <ul class=" ">
        <li>
            <a href="">
                <img src="images/3.png" alt="">
                IaaSxxxxxx
                <i class="icon icon-u iconfont ">&#xe6a6;</i>
                <i class="icon icon-d iconfont ">&#xe6a5;</i> </a>
            <ul>
                <li ng-click="gotoPage('/iaas/telcloudhost')"><a class="jsyclass" href="">云主机</a></li>
                <li ng-click="gotoPage('/iaas/image')"><a class="imageclass" href="">镜像</a></li>
                <li ng-click="gotoPage('/iaas/vpc')"><a class="sywlclass" href="">私有网络</a></li>
                <li ng-click="gotoPage('/iaas/telcloudstorage')"><a class="yypclass" href="">云硬盘</a></li>
                <li ng-click="gotoPage('/iaas/snapshot')"><a class="beifenclass" href="">备份</a></li>
                <li ng-click="gotoPage('/iaas/monitormanagement')"><a class="jkglclass" href="">监控与管理</a></li>
            </ul>
        </li>

        <li>
            <a href="">
                <img src="images/4.png" alt="">
                CaaS电信云
                <i class="icon icon-u iconfont ">&#xe6a6;</i>
                <i class="icon icon-d iconfont ">&#xe6a5;</i>
            </a>
            <ul>
                <li ng-click="gotoPage('/caas/internetaccess')"><a class="hlwjrclass" href="">互联网接入</a></li>
                <li ng-click="gotoPage('/caas/transmissioncircuit')"><a class="csdlclass" href="">传输电路</a></li>
                <li ng-click="gotoPage('/caas/expressconnect')"><a class="gstdclass" href="">高速通道</a></li>
                <li ng-click="gotoPage('/caas/30b&d')"><a class="yyzjclass" href="">语音中继</a></li>
            </ul>
        </li>
        <li>
            <a href="">
                <img src="images/1.png" alt="">
                SECaaS安全云
                <i class="icon icon-u iconfont ">&#xe6a6;</i>
                <i class="icon icon-d iconfont ">&#xe6a5;</i> </a>
            <ul>
                <li ng-click="gotoPage('/secaas/networksystemsmanagement')"><a class="swxwglclass" href="">上网行为管理</a></li>
                <li ng-click="gotoPage('/secaas/gateway')"><a class="zhyclass" href="">智慧云网关</a></li>
                <li ng-click="gotoPage('/secaas/anti-ddos')"><a class="kangDclass" href="">抗D产品</a></li>
            </ul>
        </li>
        <li>
            <a href="">
                <img src="images/4.png" alt="">
                SaaS软件云
                <i class="icon icon-u iconfont ">&#xe6a6;</i>
                <i class="icon icon-d iconfont ">&#xe6a5;</i> </a>
            <ul>
                <li ng-click="gotoPage('/saas/telcloudmonitor')"><a class="yjkproductclass" href="">云监控</a></li>
                <li ng-click="gotoPage('/saas/telcloudaccelerate')"><a class="qqjscpclass" href="">xxxxx国际加速产品</a></li>
            </ul>
        </li>

        <li>
            <a href="">
                <img src="images/2.png" alt="">
                IaaSxxxxxx
                <i class="icon icon-u iconfont ">&#xe6a6;</i>
                <i class="icon icon-d iconfont ">&#xe6a5;</i> </a>
            <ul>
                <li ng-click="gotoPage('/directconnect')" class="fhq "><a class="yjrclass" href="">云接入</a></li>
                <li ng-click="gotoPage('/managedprivatecloud')" class="fhq "><a class="tgyclass" href="">托管云</a></li>
                <li ng-click="gotoPage('/openstackcloud')" class="fhq "><a class="syyclass" href="">xxxxxx</a></li>
            </ul>
        </li>

        <!--<li>-->
        <!--<a href="">-->
        <!--<img src="https://mccdn.qcloud.com/static/img/58703136f940c3a9219c466561c61024/image.png?1464336480122" alt="">-->
        <!--监控与管理-->
        <!--<i class="icon icon-u iconfont ">&#xe6a6;</i>-->
        <!--<i class="icon icon-d iconfont ">&#xe6a5;</i>                </a>-->
        <!--<ul>-->
        <!--<li ng-click="gotoPage('/secaas/anti-ddos')" class="test11 "><a class="kangDclass" href="">抗D产品</a></li>-->
        <!--<li ng-click="gotoPage('/saas/telcloudmonitor')" class="test11 "><a class="yjkproductclass" href="">云监控产品</a></li>-->
        <!--<li ng-click="gotoPage('/caas/expressconnect')" class="test11 "><a class="gstdclass" href="">高速通道</a></li>-->
        <!--<li ng-click="gotoPage('/secaas/gateway')" class="fhq "><a class="zhyclass" href="">智慧云网关</a></li>-->

        <!--</ul>-->
        <!--</li>-->

        <!--</li>-->
    </ul>
    <!--</div>-->
</div>
<script>
    var divH = parseInt(window.getComputedStyle($("div.left-big>ul")[0]).height);
</script>
<script src="js/left.js"></script>