<div class="J-mainContent" id="mbzywd">
    <div class="qc-wrapper doc-box">
        <div class="qc-grids table-box" style="top: 49px;;">
            <div class="qc-unit-19-24 main-content doc-main-details J-mainDetail no-pad-top" style="    padding: 0 !important;padding-top: 0 !important;">
                <div class="J-innerMain m-height">
                    <div class="markdown-text-box" style="    overflow: initial;">
                        <div class="box-title">
                            <div class="grids-height">
                                <div class="iaas_line">
                                    <div id="newsbox" class="newsbox_cont ng-scope">
                                        <div class="news-hader">
                                            <div class="banner-text" style="    height: 158px;">
                                                <p class="banner-title mnewsbanner-title">新闻动态</p>
                                                <p style="    text-align: center;color: #fff;">通过媒体报道，理解我们更多的侧面</p>
                                            </div>
                                        </div>
                                        <!-- news cont start-->
                                        <div class="qc-wrapper qc-grids with-slot">
                                            <div class="qc-unit-17-24  qc-unit-md-24-24">
                                                <div class="news-crumb">
                                                    <a href="" ng-click="gotoPage('/about/news')">&lt; 返回最近报道列表</a>
                                                </div>
                                                <!-- 新闻详细 start -->
                                                <div class="news-details">
                                                    <h1 class="news-details-heading">xxxxx云知云学堂开课了—知云学堂 学云致用</h1>
                                                    <div class="news-details-meta">
                                                        <span class="time">2017-02-13</span>
                                                    </div>
                                                    <div class="news-detials-text">
                                                        <p style="    padding: 30px 0;text-align: center;">
                                                            <img style="width: 83%;" src="./images/zhiyun1.png">
                                                        </p>
                                                        <p>
                                                            在这春暖花开的日子里，xxxxx云知云学堂开课喽！
                                                        </p>
                                                        <p>
                                                            不管你是小白还是菜鸟，xxxxx云知云学堂都会让你在云计算这个领域变大神。
                                                        </p>
                                                        <p>
                                                            千里之行，始于云端，先让我们从基础的ABC开始吧：到底啥是云计算？
                                                        </p>
                                                        <p>
                                                            “云计算”这个概念，相信很多童鞋都听过，然而对于云计算是啥，可能是一脸懵逼。
                                                        </p>
                                                        <p style="margin-top:20px;">
                                                            小A：云鸡蒜……
                                                        </p>
                                                        <p>小B：一种信息化技术</p>
                                                        <p>小C：看不见摸不着</p>
                                                        <p>
                                                            <img style="    width: 25%;margin: 0 auto !important;" src="./images/zhiyun2.png">
                                                        </p>
                                                        <p style="margin-top:20px;">
                                                            对云计算的定义有多种说法。对于到底什么是云计算，至少可以找到100种解释。现阶段广为接受的是美国国家标准与技术研究院（NIST）定义：云计算是一种按使用量付费的模式，这种模式提供可用的、便捷的、按需的网络访问， 进入可配置的计算资源共享池（资源包括网络，服务器，存储，应用软件，服务），
                                                            这些资源能够被快速提供，只需投入很少的管理工作，或与服务供应商进行很少的交互。
                                                        </p>
                                                        <p style="margin-top:20px;">
                                                            喂，说好的科普呢，你粘过来一堆鸟语，是干啥呢你？
                                                        </p>
                                                        <p>
                                                            <img style="    width: 25%;margin: 0 auto !important;" src="./images/zhiyun3.png">
                                                        </p>
                                                        <p style="margin-top:20px;">
                                                            嗯，翻译成人话，就是：云计算可以让一个使用者根据自己的需要，使用共享的资源。
                                                        </p>
                                                        <p style="margin-top:20px;">
                                                            云计算是IT资源的互联化，业界将云计算分为三种服务模式：基础设施即服务（IaaS），平台即服务（PaaS），
                                                            软件即服务（SaaS）。最终的落脚点都是S-Service，所以云计算的本质是服务。
                                                        </p>
                                                        <p style="    padding: 10px 0;text-align: center;">
                                                            <img src="./images/zhiyun4.png">
                                                        </p>
                                                        <p>
                                                            感觉又开始说鸟语了，举个栗子吧：
                                                        </p>
                                                        <p>
                                                            IT宅男想谈个恋爱，谈恋爱总要去看个电影，逛个街，吃个饭，唱个KTV什么的吧。
                                                            既然如此，就得想想约到哪里比较好呢，某达广场什么的不错，要啥有啥。这里，
                                                            这个有着一亿小目标的广场就是IaaS，给了你楼层，店面等等基础设施。
                                                            （IaaS：如果自己做了一个APP或者网络游戏，想要上线，还要搞服务器什么的，
                                                            成本太高了，IaaS就是可以租给你cpu，
                                                            储存空间，网络，除了自己软件代码的问题，其他问题都是IaaS服务商提供）。
                                                        </p>
                                                        <p style="    padding: 10px 0;text-align: center;">
                                                            <img src="./images/zhiyun5.png">
                                                        </p>
                                                        <p>
                                                            广场里有很多店，这个店是卖衣服的，这个店是火锅店，辣个店是影城。。。
                                                            这些店铺就是PaaS了，这些店铺给了你衣服，食物和一堆影片，这就叫平台（PaaS）。
                                                        </p>
                                                        <p style="    padding: 10px 0;text-align: center;">
                                                            <img src="./images/zhiyun6.png">
                                                        </p>
                                                        <p>
                                                            最后SaaS就是你选择了的衣服，你吃了的食物，和你看了后吐槽的影片。
                                                            实际上SaaS有啥应用呢，我们想象一个妹子，早上起床，这个妹子要看一眼邮箱，
                                                            有木有要处理的待办事项，洗漱完毕出门，开个地图导航，去上班，到了公司，
                                                            打开xxxxx云Telsoud云存储，继续编辑昨天的工作，工作累了，打开个某宝，淘淘东西，买买买，终于下班了，
                                                            回家开个视频，看个剧，这些服务应用都是因为利用了SaaS变得更加可用，易用甚至更好用。
                                                        </p>
                                                        <p style="    padding: 10px 0;text-align: center;">
                                                            <img src="./images/zhiyun7.png">
                                                        </p>
                                                        <p>
                                                            有没有突然发现云计算很厉害啊，它已经融入了我们生活的方方面面，
                                                            要相信，技术的发展能给我们带来更加便利的未来。
                                                        </p>
                                                        <p>
                                                            同学们，xxxxx云知云学堂的第一节课就讲到这里，有木有很浅显易懂呢，
                                                            如果您有关于知云学堂的建议和想了解的云计算相关知识都可以在微信中给我们留言，
                                                            采用后还有惊喜等着你哟！
                                                        </p>
                                                        <p style="    padding: 10px 0;text-align: center;">
                                                            <img src="./images/zhiyun8.png">
                                                        </p>
                                                        <p style="    padding: 10px 0;text-align: center;">
                                                            <img src="./images/zhiyun9.png">
                                                        </p>
                                                        <p style="    padding: 10px 0;text-align: center;">
                                                            <img src="./images/zhiyun10.png">
                                                        </p>

                                                        <div class="news_cont-node">
                                                             <div style="    color: #2277da;">
                                                                 上一篇报道：
                                                                <a ng-click="gotoPage('/mnews_cont12')" href="javascript:;" style="color:#333;display: inline-block;">
                                                                    春风十里，不如有你—xxxxx免费云渠道伙伴政策解析
                                                                </a>
                                                             </div>
                                                            <div style="      margin-top: 16px;  color: #2277da;">
                                                                下一篇报道：
                                                                <a ng-click="gotoPage('/mnews_cont14')" href="javascript:;" style="color:#333;display: inline-block;">
                                                                    xxxxx顺利通过ISO27001、ISO20000和ISO14001国际认证
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class=""></div>
                                                <!-- 新闻详细 end -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- news cont end-->
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div id="mwd_tanchuceng"></div>