<div class="J-mainContent" id="mbzywd">
    <div class="qc-wrapper doc-box">
        <div class="qc-grids table-box" style="top: 49px;;">
            <div class="qc-unit-19-24 main-content doc-main-details J-mainDetail no-pad-top" style="    padding: 0 !important;">
                <div class="J-innerMain m-height">
                    <div class="markdown-text-box" style="    overflow: initial;">
                        <div class="box-title">
                            <div class="grids-height">
                                <div class="iaas_line">
                                    <div id="newsbox" class="newsbox_cont ng-scope">
                                        <div class="news-hader">
                                            <div class="banner-text" style="    height: 158px;">
                                                <p class="banner-title mnewsbanner-title">新闻动态</p>
                                                <p style="    text-align: center;color: #fff;">通过媒体报道，理解我们更多的侧面</p>
                                            </div>
                                        </div>
                                        <!-- news cont start-->
                                        <div class="qc-wrapper qc-grids with-slot">
                                            <div class="qc-unit-17-24  qc-unit-md-24-24">
                                                <div class="news-crumb">
                                                    <a href="" ng-click="gotoPage('/about/news')">&lt; 返回最近报道列表</a>
                                                </div>
                                                <!-- 新闻详细 start -->
                                                <div class="news-details">
                                                    <h1 class="news-details-heading">xxxxx云让您时时刻刻云网互通</h1>
                                                    <div class="news-details-meta news-details-metacss-left" style="margin-bottom: 15px !important;">
                                                        <span class="time">2016-09-19</span>
                                                    </div>
                                                    <div class="news-detials-text">
                                                            <p>
                                                                9月7日电信主干网络故障导致xxxxx云、AWS、金山云及UCLOUD等xxxxx服务提供商在北京的服务器电信线路均出现访问故障，此次故障持续近4小时才得以解决。
                                                            </p>
                                                            <p>
                                                                <strong>
                                                                    以下为xxxxx云公告：华北2地域网络异常通告
                                                                </strong>
                                                            </p>
                                                            <p>
                                                                2016年9月8日 00:55更新：
                                                            </p>
                                                            <p>
                                                                监控发现2016年9月7日 23:08左右，国内部分区域访问华北2地域网络出现异常，经分析异常为电信运营商网络异常导致。
                                                            </p>
                                                            <p>
                                                                我方经紧急容灾切换，网络目前有所好转。目前我方已向运营商报障，有任何进展会随时更新本公告，谢谢。
                                                            </p>
                                                            <p>
                                                                2016年9月8日 01:30更新：
                                                            </p>
                                                            <p>
                                                                经确认，电信运营商割接导致骨干网丢包,影响到部分区域到xxxxx云华北2地域的网络质量，目前运营商仍在处理中。
                                                            </p>
                                                            <p>
                                                                我方紧急容灾切换后，从监控观察，南方区域的访问已经趋于正常，北方部分区域通过电信访问仍会出现不稳定。
                                                            </p>
                                                            <p>
                                                                2016年9月8日 02:45更新：
                                                            </p>
                                                            <p>
                                                                运营商反馈，问题已经于02:00处理完毕；经观察目前网络已经恢复到正常水平。
                                                            </p>
                                                            <p>
                                                                若仍有问题您可随时通过工单和我们反馈，我们会立即为您继续核实，谢谢！
                                                            </p>
                                                            <p>
                                                                2016年9月8日 04:00更新：
                                                            </p>
                                                            <p>
                                                                3:00左右，部分区域通过电信运营商网络访问华北2地域再次出现异常，我方网工已经于3:10分进行了紧急容灾切换；
                                                            </p>
                                                            <p>
                                                                目前已向运营商再次报障，有进一步进展，会更新本公告，谢谢。
                                                            </p>
                                                            <p>
                                                                我方会持续关注和督促运营商处理，有进展会随时更新本公告，谢谢。
                                                            </p>
                                                            <p>
                                                                <strong>
                                                                    以下为金山云短信通知公告：
                                                                </strong>
                                                            </p>
                                                            <p>
                                                                亲爱的金山云用户：您好！我司监控显示电信骨干网故障已恢复正常，
                                                                但是目前还未得到运营商确认恢复答复。 由此给您带来的不便我们深表歉意，感谢您的理解与支持！
                                                            </p>
                                                            <p>
                                                                亲爱的金山云用户：您好！目前监控到北京至南方电信线路丢包，
                                                                骨干网反馈传输第二京汉广割接导致部分链路流量拥塞， 正在紧急处理，
                                                                我司会持续关注，有最新进展随时通报，由此给您带来的不便我们深表歉意，感谢您的理解与支持！
                                                            </p>
                                                            <p>
                                                                亲爱的金山云用户：您好！我司监控显示电信骨干网再次出现丢包情况，
                                                                骨干网反馈正在紧急处理，我司会持续关注， 有最新进展随时通报。由此给您带来的不便我们深表歉意，感谢您的理解与支持！
                                                            </p>
                                                            <p>
                                                                亲爱的金山云用户：您好！目前监控到北京至南方电信线路丢包，
                                                                骨干网反馈传输第二京汉广割接导致部分链路流量拥塞， 正在紧急处理，我司会持续关注，
                                                                有最新进展随时通报，由此给您带来的不便我们深表歉意，感谢您的理解与支持！
                                                            </p>
                                                            <p>
                                                                亲爱的金山云用户：您好！我司接到运营商反馈凌晨电信割接造成的骨干网拥塞已恢复正常。由此给您带来的不便我们深表歉意，感谢您的理解与支持！
                                                            </p>
                                                            <p>
                                                                尽管此次电信主干网影响了很多的云用户，但是对xxxxx云的客户没有产生任何的影响。
                                                            </p>
                                                            <p>
                                                                xxxxx云每个区的出口均采用与电信，联通，移动，教育网多线接入的方式，同时采用SDN技术，
                                                                当有链路出现拥堵，断网等故障后，会自动选择其他链路，保证网络的畅通。
                                                            </p>
                                                            <p>
                                                                xxxxx云让您时时刻刻云网互通，还在等什么，赶紧加入xxxxx云吧！现在加入xxxxx云还有优惠大礼包！
                                                            </p>
                                                            <p>
                                                                <img src="./images/h_news3.png">
                                                            </p>
                                                        

                                                        <div class="news_cont-node">
                                                            <div style="    color: #2277da;">
                                                                上一篇报道：
                                                                <a ng-click="gotoPage('/mnews_cont3')" href="javascript:;" style="color:#333;display: inline-block;">
                                                                    xxxxx云携手中网，和你一起圆梦
                                                                </a>
                                                            </div>
                                                            <div style="      margin-top: 16px;  color: #2277da;">
                                                                下一篇报道：
                                                                <a ng-click="gotoPage('/mnews_cont5')" href="javascript:;" style="color:#333;display: inline-block;">
                                                                    xxxxx云安全服务正在成为企业xxxxx服务的主流
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class=""></div>
                                                <!-- 新闻详细 end -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- news cont end-->
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div id="mwd_tanchuceng"></div>