<div class="J-mainContent" id="mbzywd">
    <div class="qc-wrapper doc-box">
        <div class="qc-grids table-box" style="top: 49px;;">
            <div class="qc-unit-19-24 main-content doc-main-details J-mainDetail no-pad-top" style="    padding: 0 !important;">
                <div class="J-innerMain m-height">
                    <div class="markdown-text-box" style="    overflow: initial;">
                        <div class="box-title">
                            <div class="grids-height">
                                <div class="iaas_line">
                                    <div id="newsbox" class="newsbox_cont ng-scope">
                                        <div class="news-hader">
                                            <div class="banner-text" style="    height: 158px;">
                                                <p class="banner-title mnewsbanner-title">新闻动态</p>
                                                <p style="    text-align: center;color: #fff;">通过媒体报道，理解我们更多的侧面</p>
                                            </div>
                                        </div>
                                        <!-- news cont start-->
                                        <div class="qc-wrapper qc-grids with-slot">
                                            <div class="qc-unit-17-24  qc-unit-md-24-24">
                                                <div class="news-crumb">
                                                    <a href="" ng-click="gotoPage('/about/news')">&lt; 返回最近报道列表</a>
                                                </div>
                                                <!-- 新闻详细 start -->
                                                <div class="news-details">
                                                    <h1 class="news-details-heading">招聘| We Need You</h1>
                                                    <div class="news-details-meta news-details-metacss-left" style="margin-bottom: 15px !important;">
                                                        <span class="time">2016-07-31</span>
                                                    </div>
                                                    <div class="news-detials-text">
                                                        <p style="text-align: center">
                                                            <img src="images/wxwz_1.png" alt="">
                                                        </p>
                                                        <p style="text-align: center">
                                                            <img src="images/wxwz_2.png" alt="">
                                                        </p>
                                                        <p style="text-align: center">
                                                            <img src="images/wxwz_3.png" alt="">
                                                        </p>
                                                        <p style="text-align: center">
                                                            <img src="images/wxwz_4.png" alt="">
                                                        </p>
                                                        <p style="text-align: center">
                                                            <img src="images/wxwz_5.png" alt="">
                                                        </p>

                                                        <p style="text-align: center">
                                                            <img style="width: 124px;margin: 0 auto !important;" src="images/wxwz_6.png" alt="">
                                                        </p>
                                                        <p style="text-align: center;color: #000;">
                                                            ▲
                                                        </p>
                                                        <p style="text-align: center">
                                                            <strong> 识别上方“二维码”查看职位信息</strong>
                                                            <br>
                                                            <span style="margin-top: 10px;display: block;color: #28C;">
                                                                        简历投递地址
                                                                    <br>
                                                                    zhangj@longtel.com
                                                                    </span>
                                                        </p>
                                                        <p style="text-align: center; font-size:13px;">
                                                            — FIN —
                                                            <br>
                                                        </p>
                                                        <p style="text-align: center">
                                                            <img src="images/wxwz_7.jpg" alt="">
                                                        </p>

                                                        <p style="text-align: center">
                                                            <img src="images/wxwz_8.jpg" alt="">
                                                        </p>
                                                        <div class="news_cont-node">
                                                            <div style="      margin-top: 16px;  color: #2277da;">
                                                                上一篇报道：
                                                                <a ng-click="gotoPage('/mnews_cont24')" href="javascript:;" style="color:#333;display: inline-block;">
                                                                    全国首家SDN运营网落地北京数百栋商业楼宇
                                                                </a>
                                                            </div>
                                                           <div style="    color: #2277da;">
                                                                下一篇报道：
                                                                <a ng-click="gotoPage('/mnews_cont26')" href="javascript:;" style="color:#333;display: inline-block;">
                                                                    邀请函
                                                                </a>
                                                            </div>

                                                        </div>
                                                    </div>

                                                </div>
                                                <div class=""></div>
                                                <!-- 新闻详细 end -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- news cont end-->
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div id="mwd_tanchuceng"></div>