<div class="J-mainContent" id="mbzywd">
    <div class="qc-wrapper doc-box">
        <div class="qc-grids table-box" style="top: 49px;;">
            <div class="qc-unit-19-24 main-content doc-main-details J-mainDetail no-pad-top" style="    padding: 0 !important;">
                <div class="J-innerMain m-height">
                    <div class="markdown-text-box" style="    overflow: initial;">
                        <div class="box-title">
                            <div class="grids-height">
                                <div class="iaas_line">
                                    <div id="newsbox" class="newsbox_cont ng-scope">
                                        <div class="news-hader">
                                            <div class="banner-text" style="    height: 158px;">
                                                <p class="banner-title mnewsbanner-title">新闻动态</p>
                                                <p style="    text-align: center;color: #fff;">通过媒体报道，理解我们更多的侧面</p>
                                            </div>
                                        </div>
                                        <!-- news cont start-->
                                        <div class="qc-wrapper qc-grids with-slot">
                                            <div class="qc-unit-17-24  qc-unit-md-24-24">
                                                <div class="news-crumb">
                                                    <a href="" ng-click="gotoPage('/about/news')">&lt; 返回最近报道列表</a>
                                                </div>
                                                <!-- 新闻详细 start -->
                                                <div class="news-details">
                                                    <h1 class="news-details-heading">遇见大数据、遇见xxxxx云 —xxxxx参加清华大学大数据开放日活动</h1>
                                                    <div class="news-details-meta">
                                                        <span class="time">2017-05-08</span>
                                                    </div>
                                                    <div class="news-detials-text">
                                                        <p>
                                                            <img src="./images/kfr_1.png" style="width: 640px;">
                                                        </p>
                                                        <p>
                                                            2017年4月28日xxxxx参加清华大学第三届大数据开放日（Big Data Day）活动，
                                                            本次活动由清华大学大数据科学研究院举办，旨在让校内外师生更加了解大数据，领略大数据的魅力，
                                                            同时为企业打造在清华大学展示技术实力的舞台，以及企业与师生的互动交流平台。
                                                        </p>
                                                        <p>
                                                            xxxxx在本次活动中获得师生的一致认可和好评，最终获得“最具潜力奖”。
                                                        </p>
                                                        <p>
                                                            <img src="./images/kfr_2.png" style="width: 640px;">
                                                        </p>
                                                        <p>
                                                            <img src="./images/kfr_3.png" style="width: 640px;">
                                                        </p>
                                                        <p>
                                                            xxxxx云计算—xxxxx云为大数据提供基础设施服务，包括计算、存储和网络。
                                                            借助xxxxx云，企业不需要投入大量的资金和时间来搭建和维护大数据基础设施。
                                                            同时，xxxxx云的弹性扩展可帮助企业迅速按需调整资源使用，并按需支付费用，节省成本。
                                                        </p>
                                                        <p>
                                                            <img src="./images/kfr_4.png" style="width: 640px;">
                                                        </p>
                                                        <p>
                                                            <img src="./images/kfr_5.png" style="width: 640px;">
                                                        </p>
                                                        <p>
                                                            <img src="./images/kfr_6.png" style="width: 640px;">
                                                        </p>
                                                        <p>
                                                            <img src="./images/kfr_7.png" style="width: 640px;">
                                                        </p>
                                                        <div class="news_cont-node">
                                                             <div style="    color: #2277da;">
                                                                 上一篇报道：
                                                                 <a ng-click="gotoPage('/mnews_cont15')" href="javascript:;" style="color:#333;display: inline-block;">
                                                                     xxxxxxxxxxx助您省心、省时、省钱又省力
                                                                 </a>
                                                             </div>
                                                            <div style="      margin-top: 16px;  color: #2277da;">
                                                                下一篇报道：
                                                                <a ng-click="gotoPage('/mnews_cont17')" href="javascript:;" style="color:#333;display: inline-block;">
                                                                    xxxxx云知云学堂第二弹
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class=""></div>
                                                <!-- 新闻详细 end -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- news cont end-->
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div id="mwd_tanchuceng"></div>