<div class="J-mainContent" id="mbzywd">
    <div class="qc-wrapper doc-box">
        <div class="qc-grids table-box" style="top: 49px;;">
            <div class="qc-unit-19-24 main-content doc-main-details J-mainDetail no-pad-top" style="    padding: 0 !important;">
                <div class="J-innerMain m-height">
                    <div class="markdown-text-box" style="    overflow: initial;">
                        <div class="box-title">
                            <div class="grids-height">
                                <div class="iaas_line">
                                    <div id="newsbox" class="newsbox_cont ng-scope">
                                        <div class="news-hader">
                                            <div class="banner-text" style="    height: 158px;">
                                                <p class="banner-title mnewsbanner-title">新闻动态</p>
                                                <p style="    text-align: center;color: #fff;">通过媒体报道，理解我们更多的侧面</p>
                                            </div>
                                        </div>
                                        <!-- news cont start-->
                                        <div class="qc-wrapper qc-grids with-slot">
                                            <div class="qc-unit-17-24  qc-unit-md-24-24">
                                                <div class="news-crumb">
                                                    <a href="" ng-click="gotoPage('/about/news')">&lt; 返回最近报道列表</a>
                                                </div>
                                                <!-- 新闻详细 start -->
                                                <div class="news-details">
                                                    <h1 class="news-details-heading">浓情端午，xxxxx云粽情有礼</h1>
                                                    <div class="news-details-meta news-details-metacss-left" style="margin-bottom: 15px !important;">
                                                        <span class="time">2016-05-27</span>
                                                    </div>
                                                    <div class="news-detials-text">
                                                        <p style="text-align: center">
                                                            <img src="images/dwj_1.png" alt="" style="width: 80%;">
                                                        </p>
                                                        <p style="text-align: center">
                                                            <img src="images/dwj_2.png" alt="" style="width: 80%;">
                                                        </p>
                                                        <div class="news_cont-node">
                                                            <div style="    color: #2277da;">
                                                                上一篇报道：
                                                                <a ng-click="gotoPage('/mnews_cont18')" href="javascript:;" style="color:#333;display: inline-block;">
                                                                    xxxxx云为您的数据安全保驾护航
                                                                </a>
                                                            </div>
                                                            <div style="      margin-top: 16px;  color: #2277da;">
                                                                下一篇报道：
                                                                <a ng-click="gotoPage('/mnews_cont20')" href="javascript:;" style="color:#333;display: inline-block;">
                                                                    xxxxx云高速通道服务助您轻松实现云网互通
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class=""></div>
                                                <!-- 新闻详细 end -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- news cont end-->
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div id="mwd_tanchuceng"></div>