<div class="J-mainContent" id="mbzywd">
    <div class="qc-wrapper doc-box">
        <div class="qc-grids table-box" style="top: 49px;;">
            <div class="qc-unit-19-24 main-content doc-main-details J-mainDetail no-pad-top" style="    padding: 0 !important;">
                <div class="J-innerMain m-height">
                    <div class="markdown-text-box" style="    overflow: initial;">
                        <div class="box-title">
                            <div class="grids-height">
                                <div class="iaas_line">
                                    <div id="newsbox" class="newsbox_cont ng-scope">
                                        <div class="news-hader">
                                            <div class="banner-text" style="    height: 158px;">
                                                <p class="banner-title mnewsbanner-title">新闻动态</p>
                                                <p style="    text-align: center;color: #fff;">通过媒体报道，理解我们更多的侧面</p>
                                            </div>
                                        </div>
                                        <!-- news cont start-->
                                        <div class="qc-wrapper qc-grids with-slot">
                                            <div class="qc-unit-17-24  qc-unit-md-24-24">
                                                <div class="news-crumb">
                                                    <a href="" ng-click="gotoPage('/about/news')">&lt; 返回最近报道列表</a>
                                                </div>
                                                <!-- 新闻详细 start -->
                                                <div class="news-details">
                                                    <h1 class="news-details-heading">xxxxx云知云学堂第二弹</h1>
                                                    <div class="news-details-meta news-details-metacss-left" style="margin-bottom: 15px !important;">
                                                        <span class="time">2016-05-12</span>
                                                    </div>
                                                    <div class="news-detials-text">
                                                        <p style="text-align: center">
                                                            <img src="images/zy2_1.png" alt="">
                                                        </p>
                                                        <p style="font-weight: 500;">
                                                            小伙伴们，xxxxx云知云学堂第二弹即将开始。
                                                        </p>
                                                        <p>
                                                            开始之前，我们先来复习一下上节课的内容：什么是云计算？云计算分为哪几种服务模式？
                                                        </p>
                                                        <p style="text-align: center">
                                                            <img style="width: 30%;display: inline-block;" src="images/zy2_2.png" alt="">
                                                        </p>
                                                        <p>
                                                            云计算是一种按使用量付费的模式，这种模式提供可用的、便捷的、按需的网络访问，
                                                            进入可配置的计算资源共享池（资源包括网络，服务器，存储，应用软件，服务）。
                                                            简单概括就是云计算可以让一个使用者根据自己的需要，使用共享的资源。
                                                        </p>
                                                        <p>
                                                            云计算分为三种服务模式：基础设施即服务（IaaS：有着一个亿小目标的某达广场），
                                                            平台即服务（PaaS：服装店、火锅店、影城），
                                                            软件即服务（SaaS：买了的衣服；吃了的美食；看了的电影）。
                                                        </p>
                                                        <p>
                                                            那么我们经常听到的云主机又是什么？
                                                        </p>
                                                        <p>
                                                            技术大神儿会这样回答：云主机是整合了计算、存储与网络资源的IT基础设施能力租用（IaaS）服务，
                                                            能提供基于云计算模式的按需使用和按需付费能力的服务器租用服务。
                                                            客户可以通过web界面的自助服务平台，部署所需的服务器环境。
                                                        </p>
                                                        <p>
                                                            简单点说：云平台是由许多台主机组成的高性能虚拟平台，可以不断网的无限弹性扩展。
                                                            云主机是云平台划分出来的主机，拥有服务器的所有功能。
                                                        </p>
                                                        <p style="text-align: center">
                                                            <img style="width: 30%;display: inline-block;" src="images/zy2_3.png" alt="">
                                                        </p>
                                                        <p>
                                                            听不懂的不用着急，别忘了我们还有个栗子：
                                                        </p>
                                                        <p style="text-align: center">
                                                            <img style="width: 30%;display: inline-block;" src="images/zy2_4.png" alt="">
                                                        </p>
                                                        <p>
                                                            云主机是不再搞N室N厅的房子来给大家独立租用或者合租，而是像酒店一样设置不同的标准间，
                                                            每个房子所有设施都是独立的，有不同规模的房型供大家选择，关键的是价格非常便宜，
                                                            甚至可以用租床位的钱租到一间设施独立的标间，隔离效果非常好，无论你怎么折腾都不会影响到隔壁老王。
                                                            最最神奇的是云平台的故障自动迁移，让你的房间里任何基础设施出现问题瞬间自动更换新的设施，
                                                            如，你正在酒店的床上造作啊，动作太大床负荷不了即将崩塌时，
                                                            马上新的床就会出现，丝毫不会影响你们的动作体验。
                                                        </p>
                                                        <p>有木有像看科幻大片的赶脚呢？</p>
                                                        <p style="text-align: center">
                                                            <img src="images/zy2_5.png" alt="">
                                                        </p>
                                                        <p>用这么通俗易懂、简单明了的翻译，是不是觉得自己离技术大神儿又近了一步？</p>
                                                        <p>
                                                            说到这，有的同学又要继续提出问题了，云主机与传统主机相比有什么优势呢？且听小编分六点为大家说明。
                                                        </p>
                                                        <p>
                                                            ① 敏捷性：xxxxx云3步，最多2分钟即可部署一台云主机；使用传统主机呢，采购、
                                                            放到机房，安装等等环节，最快也要半天的时间，要知道时间才是最大的成本。
                                                        </p>
                                                        <p style="text-align: center">
                                                            <img src="images/zy2_6.png" alt="">
                                                        </p>
                                                        <p>
                                                            ② 灵活性：大家肯定都知道，估算使用量是一件非常不靠谱的事，如果用传统主机，
                                                            用量估算多了，这是白花钱；估算少了，不够用，网站慢，被领导骂死...但是云主机的话，
                                                            可以轻松的进行扩展，想用多少用多少，完全不用前期估算用量，尤其是xxxxx云主机支
                                                            持随时调整主机规格和带宽，高效匹配业务要求；支持“xxxxx服务器+物理机”的混合组网模式，
                                                            提供卓越计算性能+灵活组网方式。 有木有很爽啊？
                                                        </p>
                                                        <p style="text-align: center">
                                                            <img src="images/zy2_7.png" alt="">
                                                        </p>
                                                        <p>
                                                            ③ 稳定性：传统服务器宕机了，就虾米了，服务器上所有的服务都不能使用了。
                                                            但是xxxxx服务器可以故障自动迁移，如果一台xxxxx服务器出现故障，其上面的应用就
                                                            自动迁移到其他xxxxx服务器上了。xxxxx云故障自动迁移，服务可用性达99.95%，
                                                            保障业务连续，支持数据多副本，数据持久性达99.99995%，
                                                            保障数据不丢失。可自行脑补刚才咱们举的栗子。
                                                        </p>
                                                        <p style="text-align: center">
                                                            <img src="images/zy2_8.png" alt="">
                                                        </p>
                                                        <p>
                                                            ④ 安全性：xxxxx云采用VPC专属私有网络，100%网络隔离，规则保护，
                                                            远离病毒攻击和木马威胁。 传统服务器需要花大价钱购买安全防护服务。
                                                        </p>
                                                        <p style="text-align: center">
                                                            <img src="images/zy2_9.png" alt="">
                                                        </p>
                                                        <p>
                                                            ⑤ 省运维：当前最贵的资源是什么？是人才，人力成本对每家企业来说都是不可忽视的一笔支出，
                                                            维护服务器需要有一个或很多个厉害的IT技术人员（根据服务器规模不同，IT技术人员配备不同），
                                                            而使用云主机可以大大的减少运维的人力成本。xxxxx云拥有一支牛X的IT达人运维团队，
                                                            提供7*24小时服务，随时解决您的IT难题，欢迎骚扰！
                                                        </p>
                                                        <p style="text-align: center">
                                                            <img src="images/zy2_10.png" alt="">
                                                        </p>
                                                        <p>
                                                            ⑥ 少费用：毋庸置疑肯定是云主机省钱啊！xxxxx云按需付费，使用多少付多少，
                                                            同时定时器和自动伸缩功能，可以根据业务情况自动调整规模，真正实现按需使用呢，
                                                            这还不包括上面几条说的购买基础设施
                                                            （主机、网络、安全防护设施、机房、电力等等）及IT技术人员的成本呢？
                                                        </p>
                                                        <p style="text-align: center">
                                                            <img src="images/zy2_11.png" alt="">
                                                        </p>
                                                        <p>
                                                            比较传统服务器，云主机优势是不是非常明显呢，希望对大家有帮助哟？如果您期待下一次的课程，
                                                            请!赞！我！给xxxxx云知云学堂提出意见或者建议的话，还有惊喜大礼包等着你呦~
                                                        </p>
                                                        <p style="text-align: center">
                                                            <img src="images/zy2_12.png" alt="">
                                                        </p>
                                                        <p style="text-align: center">
                                                            <img src="images/sheng35.png" alt="">
                                                        </p>
                                                        <div class="news_cont-node">
                                                            <div style="margin-top: 16px;display: inline-block;margin-left: 10px;  color: #2277da;">
                                                                上一篇报道：
                                                                <a ng-click="gotoPage('/mnews_cont16')" href="javascript:;" style="color:#333;display: inline-block;">
                                                                    遇见大数据、遇见xxxxx云 —xxxxx参加清华大学大数据开放日活动
                                                                </a>
                                                            </div>
                                                            <div style=" margin-left: 10px;     margin-top: 16px;  color: #2277da;">
                                                                下一篇报道：
                                                                <a ng-click="gotoPage('/mnews_cont18')" href="javascript:;"
                                                                   style="color:#333;display: inline-block;">
                                                                    xxxxx云为您的数据安全保驾护航
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class=""></div>
                                                <!-- 新闻详细 end -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- news cont end-->
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div id="mwd_tanchuceng"></div>