<div class="J-mainContent" id="mbzywd">
    <div class="qc-wrapper doc-box">
        <div class="qc-grids table-box" style="top: 49px;;">
            <div class="qc-unit-19-24 main-content doc-main-details J-mainDetail no-pad-top" style="    padding: 0 !important;padding-top: 0 !important;">
                <div class="J-innerMain m-height">
                    <div class="markdown-text-box" style="    overflow: initial;">
                        <div class="box-title">
                            <div class="grids-height">
                                <div class="iaas_line">
                                    <div id="newsbox" class="newsbox_cont ng-scope">
                                        <div class="news-hader">
                                            <div class="banner-text" style="    height: 158px;">
                                                <p class="banner-title mnewsbanner-title">新闻动态</p>
                                                <p style="    text-align: center;color: #fff;">通过媒体报道，理解我们更多的侧面</p>
                                            </div>
                                        </div>
                                        <!-- news cont start-->
                                        <div class="qc-wrapper qc-grids with-slot">
                                            <div class="qc-unit-17-24  qc-unit-md-24-24">
                                                <div class="news-crumb">
                                                    <a href="" ng-click="gotoPage('/about/news')">&lt; 返回最近报道列表</a>
                                                </div>
                                                <!-- 新闻详细 start -->
                                                <div class="news-details">
                                                    <h1 class="news-details-heading">xxxxx云简单1键， 2分钟助您轻松实现VPC</h1>
                                                    <div class="news-details-meta">
                                                        <span class="time">2017-03-21</span>
                                                    </div>
                                                    <div class="news-detials-text">
                                                        <p>
                                                            近期，关于经典网络（基础网络）和私有网络（VPC）的讨论引起了圈内外的广泛关注与讨论。
                                                            云计算，作为依赖互联网获取的公共资源，安全的重要性不言而喻。
                                                            然而，大部分用户不了解经典网络和VPC的区别，借此机会，
                                                            为大家介绍一下VPC的重要性及xxxxx云VPC的特点优势。
                                                        </p>
                                                        <p class="vpc_style">
                                                            <img src="images/xzpvc.png">
                                                        </p>
                                                        <p>
                                                            目前，市场上的xxxxxx平台提供两种网络接入方式，一种是所谓的经典网络（即基础网络），
                                                            另一种是私有网络（即VPC， Virtual Private Cloud）。
                                                        </p>
                                                        <p>
                                                            经典网络（基础网络）是指xxxxxx上所有用户共享公共网络资源池，用户之间未做逻辑隔离。
                                                            用户的内网IP由系统统一分配，相同的内网IP无法分配给不同用户。
                                                        </p>
                                                        <p>
                                                            VPC (Virtual Private Cloud)是xxxxxx上自定义的逻辑隔离网络空间，
                                                            目的是让用户可以在云平台上构建出一个隔离的、自己能够管理配置和策略的虚拟网络环境，
                                                            从而进一步提升用户在云平台上的资源安全性。用户可以在VPC环境中管理自己的子网结构，
                                                            IP地址范围和分配方式，网络的路由策略等。
                                                            由于用户可以掌控并隔离VPC中的资源，因此对用户而言这就像是一个自己私有的云计算环境。
                                                        </p>
                                                        <p>
                                                            经典网络和VPC的架构对比图：
                                                        </p>
                                                        <p>
                                                            <img src="images/vpcjgt.png" style="width: 640px;">
                                                        </p>
                                                        <p>
                                                            对比可以看到，VPC优势明显，通过VPC，用户可以自由定义网段划分、IP地址和路由策略；安全方面，
                                                            VPC可提供网络ACL及安全组的访问控制，VPC灵活性和安全性更高。
                                                        </p>
                                                        <p  class="vpc_style">
                                                            <img src="images/zypvc.png">
                                                        </p>
                                                        <p style="    padding: 10px 0;text-align: center;">
                                                            xxxxx云只有VPC
                                                        </p>
                                                        <p style="    padding: 10px 0;text-align: center;">
                                                            xxxxx云只有VPC
                                                        </p>
                                                        <p style="    padding: 10px 0;text-align: center;">
                                                            xxxxx云只有VPC
                                                        </p>
                                                        <p>
                                                            在xxxxxx环境下，物理网络是共享的。如果不能做到租户隔离，则用户的信息就会被其他用户嗅探到，
                                                            无法保证业务和数据安全。xxxxx云在设计云平台初期，就把租户隔离作为云网络设计的第一原则。
                                                            为此，区别于市场上的xxxxxx平台，xxxxxxxxxxx只提供一种网络接入方式—VPC：
                                                        </p>
                                                        <p  class="vpc_style">
                                                            <img src="images/jhsbpvc.png">
                                                        </p>
                                                        <p>
                                                            通过xxxxx云控制台或API自定义网段划分、创建子网、配置路由表和网关等， 以软件定义网络，节省设备及运维成本。
                                                        </p>
                                                        <p  class="vpc_style">
                                                            <img src="images/qqbspvc.png">
                                                        </p>
                                                        <p>
                                                            通过xxxxx云私有网络的对等连接服务，您可以在一分钟内互联海内外多地云资源，轻松实现全球同步和两地三中心容灾部署。
                                                            通过跨账号对等连接，您还可与xxxxx云上的其他合作伙伴实现数据互通，快速构建开放式云端生态。
                                                        </p>
                                                        <p  class="vpc_style">
                                                            <img src="images/wsjpvc.png">
                                                        </p>
                                                        <p>
                                                            xxxxx云内外网隔离，通过网络ACL和安全组分别从子网和主机维度筛选流量，
                                                            可精确到端口和协议维度，全方位满足您网络安全需求。
                                                        </p>
                                                        <p  class="vpc_style">
                                                            <img src="images/qsbspvc.png">
                                                        </p>
                                                        <p>
                                                            稳定可靠的专线连接xxxxx云私有网络至您的数据中心，您可根据业务量弹性扩展应用程序的xxxxx服务器等资源，
                                                            既降低了企业IT运维成本，又不用担心企业核心数据的扩散，轻松构建混合云。
                                                        </p>

                                                        <p  class="vpc_style">
                                                            <img src="images/zdbspvc.png">
                                                        </p>
                                                        <p>
                                                            由于VPC比较复杂，对于普通用户来说，需要专业的技术人员，而且配置步骤也比较繁杂：
                                                            创建私有网络、路由，防火墙，还要把这些资源融到一起，然后再分配IP，
                                                            \部署安全策略（每个服务器一组安全策略，配置的服务器越多安全策略就越多），以及其他安全组件设置等步骤，至少半个小时以上才能完成，
                                                            这也是为什么普通用户会选择基础网络，而这无异于用户的服务器在互联网上进行裸奔。
                                                        </p>
                                                        <p>
                                                            VPC固然重要，简单易用才是王道。xxxxx云自动部署VPC最便捷，一键搞定，一分多钟自动实现VPC创建并与主机路由互联，
                                                            帮助用户节省时间，即使不是专业的技术人员也可轻松完成操作。
                                                        </p>
                                                        <p  class="vpc_style">
                                                            <img src="./images/xjfwpvc.png" alt="">
                                                        </p>
                                                        <p>
                                                            <img src="./images/xjfwpvc_cont.png" alt="" style="width: 640px;">
                                                        </p>
                                                        <p  class="vpc_style">
                                                            <img src="./images/xhzjpvc.png" alt="">
                                                        </p>
                                                        <p>
                                                            <img src="./images/xhzjpvc_cont.png" alt="" style="width: 640px;">
                                                        </p>
                                                        <p  class="vpc_style">
                                                            <img src="./images/szmmpvc.png" alt="">
                                                        </p>
                                                        <p>
                                                            <img src="./images/szmmpvc_cont.png" alt="" style="width: 640px;">
                                                        </p>
                                                        <p>
                                                            点击创建后，xxxxx云会自动帮您构建私有网络和连接路由器，连接公网IP和带宽，
                                                            更新路由并设置防火墙规则，这一切都不需要您手动去操作，都是自动完成的。
                                                        </p>
                                                        <p><img src="./images/cjfwpvc1.png" alt=""></p>
                                                        <p><img src="./images/cjfwpvc2.png" alt=""></p>
                                                        <p><img src="./images/cjfwpvc3.png" alt=""></p>
                                                        <p><img src="./images/cjfwpvc4.png" alt=""></p>
                                                        <p><img src="./images/cjfwpvc5.png" alt=""></p>
                                                        <p>
                                                            感受xxxxx云的简单易用，高效可靠，一键创建主机，轻松自动生成私有网络！此外，xxxxx云7*24小时在线服务，
                                                            如有问题随时沟通解决，保障您在xxxxx云上的数据和资源固若金汤！
                                                        </p>
                                                        <p>
                                                            <img src="./images/xxxpvc.png" alt="" style="width: 640px;">
                                                        </p>
                                                        <p>
                                                            <img src="./images/xxx_fpvc.png" alt="" style="width: 640px;">
                                                        </p>
                                                        <div class="news_cont-node">
                                                             <div style="    color: #2277da;">
                                                                 上一篇报道：
                                                                <a ng-click="gotoPage('/mnews_cont10')" href="javascript:;" style="color:#333;display: inline-block;">
                                                                    全新形象、全新改变 ——xxxxx云官网全新改版上线
                                                                </a>
                                                             </div>
                                                            <div style="      margin-top: 16px;  color: #2277da;">
                                                                下一篇报道：
                                                                <a ng-click="gotoPage('/mnews_cont12')" href="javascript:;" style="color:#333;display: inline-block;">
                                                                    春风十里，不如有你—xxxxx免费云渠道伙伴政策解析
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class=""></div>
                                                <!-- 新闻详细 end -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- news cont end-->
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div id="mwd_tanchuceng"></div>