<div class="J-mainContent" id="mbzywd">
    <div class="qc-wrapper doc-box">
        <div class="qc-grids table-box" style="top: 49px;;">
            <div class="qc-unit-19-24 main-content doc-main-details J-mainDetail no-pad-top" style="    padding: 0 !important;">
                <div class="J-innerMain m-height">
                    <div class="markdown-text-box" style="    overflow: initial;">
                        <div class="box-title">
                            <div class="grids-height">
                                <div class="iaas_line">
                                    <div id="newsbox" class="newsbox_cont ng-scope">
                                        <div class="news-hader">
                                            <div class="banner-text" style="    height: 158px;">
                                                <p class="banner-title mnewsbanner-title">新闻动态</p>
                                                <p style="    text-align: center;color: #fff;">通过媒体报道，理解我们更多的侧面</p>
                                            </div>
                                        </div>
                                        <!-- news cont start-->
                                        <div class="qc-wrapper qc-grids with-slot">
                                            <div class="qc-unit-17-24  qc-unit-md-24-24">
                                                <div class="news-crumb">
                                                    <a href="" ng-click="gotoPage('/about/news')">&lt; 返回最近报道列表</a>
                                                </div>
                                                <!-- 新闻详细 start -->
                                                <div class="news-details">
                                                    <h1 class="news-details-heading">xxxxx云优惠政策及活动规则</h1>
                                                    <div class="news-details-meta news-details-metacss-left" style="margin-bottom: 15px !important;">
                                                        <span class="time">2016-06-07</span>
                                                    </div>
                                                    <div class="news-detials-text">
                                                            <p>
                                                                <strong>
                                                                    一、 注册领红包
                                                                </strong>
                                                            </p>
                                                            <p>
                                                                注册即送100元平台红包，在线试用云主机 。
                                                            </p>
                                                            <p>
                                                                活动规则:
                                                            </p>
                                                            <p>
                                                                1. 适用人群：活动期间新注册用户；
                                                            </p>
                                                            <p>
                                                                2. 活动时间：2016年6月1日-2016年12月31日；
                                                            </p>
                                                            <p>
                                                                3. 参与方式：新注册用户可立即领取100元红包；
                                                            </p>
                                                            <p>
                                                                4. 红包适用范围：适用于云主机业务，使用后不予退还；
                                                            </p>
                                                            <p>
                                                                5. 参与限制：每个新用户限参与1次（PC端和手机端共1次），不支持退款；
                                                            </p>
                                                            <p>
                                                                <strong>
                                                                    二、 多充多送
                                                                </strong>
                                                            </p>
                                                            <p>
                                                                充值立享充值金额10%平台红包。
                                                            </p>
                                                            <p>
                                                                活动规则:
                                                            </p>
                                                            <p>
                                                                1. 适用人群：活动期间一次性充值1000元及以上用户；
                                                            </p>
                                                            <p>
                                                                2. 活动时间：2016年6月1日-2016年12月31日；
                                                            </p>
                                                            <p>
                                                                3. 红包适用范围：仅限云主机业务使用，使用后不予退还；
                                                            </p>
                                                            <p>
                                                                4. 优惠限制：赠送10%充值金额红包仅限于下次充值金额大于等于本次充值金额时使用，如有退款，赠送金额全部收回。
                                                            </p>
                                                            <p>
                                                                <strong>
                                                                    三、 零网费
                                                                </strong>
                                                            </p>
                                                            <p>
                                                                使用xxxxx云IAAS北京一区创建云主机，零网费。
                                                            </p>
                                                            <p>
                                                                活动规则:
                                                            </p>
                                                            <p>
                                                                1. 适用人群：活动期间云主机业务用户；
                                                            </p>
                                                            <p>
                                                                2. 活动时间：2016年6月1日-2016年12月31日；
                                                            </p>
                                                            <p>
                                                                3. 参与限制：仅限北京一区1M带宽；
                                                            </p>
                                                            <p>
                                                                <strong>
                                                                    四、 带宽增速百分百
                                                                </strong>
                                                            </p>
                                                            <p>
                                                                购买xxxxx云IAAS服务，已购CaaS带宽免费提速100%！
                                                            </p>
                                                            <p>
                                                                活动规则:
                                                            </p>
                                                            <p>
                                                                1. 适用人群：活动期间CaaS用户购买IaaS服务；
                                                            </p>
                                                            <p>
                                                                2. 活动时间：2016年6月1日-2016年12月31日；
                                                            </p>
                                                            <p>
                                                                3. 参与限制： 仅限带宽20M及以下，购买IaaS服务开票金额达到现有CaaS合同额50%及以上可参与。
                                                            </p>
                                                        <div class="news_cont-node">
                                                            <div style="    color: #2277da;">
                                                                上一篇报道：
                                                                <a ng-click="gotoPage('/mnews_cont1')" href="javascript:;" style="color:#333;display: inline-block;">
                                                                    高校移动创新大赛，xxxxx云助你飞翔
                                                                </a>
                                                            </div>
                                                            <div style="      margin-top: 16px;  color: #2277da;">
                                                                下一篇报道：
                                                                <a ng-click="gotoPage('/mnews_cont3')" href="javascript:;" style="color:#333;display: inline-block;">
                                                                    xxxxx云携手中网，和你一起圆梦
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class=""></div>
                                                <!-- 新闻详细 end -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- news cont end-->
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div id="mwd_tanchuceng"></div>