<div class="J-mainContent" id="mbzywd">
    <div class="qc-wrapper doc-box">
        <div class="qc-grids table-box" style="top: 49px;;">
            <div class="qc-unit-19-24 main-content doc-main-details J-mainDetail no-pad-top" style="    padding: 0 !important;">
                <div class="J-innerMain m-height">
                    <div class="markdown-text-box" style="    overflow: initial;">
                        <div class="box-title">
                            <div class="grids-height">
                                <div class="iaas_line">
                                    <div id="newsbox" class="newsbox_cont ng-scope">
                                        <div class="news-hader">
                                            <div class="banner-text" style="    height: 158px;">
                                                <p class="banner-title mnewsbanner-title">新闻动态</p>
                                                <p style="    text-align: center;color: #fff;">通过媒体报道，理解我们更多的侧面</p>
                                            </div>
                                        </div>
                                        <!-- news cont start-->
                                        <div class="qc-wrapper qc-grids with-slot">
                                            <div class="qc-unit-17-24  qc-unit-md-24-24">
                                                <div class="news-crumb">
                                                    <a href="" ng-click="gotoPage('/about/news')">&lt; 返回最近报道列表</a>
                                                </div>
                                                <!-- 新闻详细 start -->
                                                <div class="news-details">
                                                    <h1 class="news-details-heading">xxxxx成为清华大数据产业联合会理事单位</h1>
                                                    <div class="news-details-meta">
                                                        <span class="time">2017-01-25</span>
                                                    </div>
                                                    <div class="news-detials-text">
                                                        <p><img src="./images/qinghua111.png" alt=""></p>
                                                        <p>
                                                            经清华大数据产业联合会审核，北京xxxxx科技股份公司（以下简称“xxxxx”）正式加入清华大数据产业联合会，
                                                            并成为清华大数据产业联合会理事单位。
                                                        </p>
                                                        <p><img src="./images/pinshu111.png" alt=""></p>
                                                        <p>
                                                            清华大数据产业联合会是在清华大学数据科学研究院发起指导下，依托于清华大学独特的师资和生源优势、
                                                            清华大学多个院系和学科在大数据相关领域多年的积累与探索，联合大数据产业链中的优秀龙头企业与创新企业共同成立。
                                                            联合会旨在提供大数据产业链的思维碰撞与资源对接平台，促进产、学、研良性互动，
                                                            以产业需求带动复合型大数据人才的培养，推动大数据生态系统中的各合作共赢。
                                                        </p>
                                                        <p>
                                                            此次xxxxx公司携手清华大数据产业联合会，成为联合会理事单位，表明联合会对xxxxx的认可和对xxxxx未来发展的信心。
                                                            通过与清华大数据产业联合会的深入合作， xxxxx将会不遗余力的致力于大数据方向的探索，为大数据方向的学生提供更多的实习和就业机会。
                                                        </p>
                                                        <p>
                                                            未来，xxxxx云还将在大数据领域开发更多应用和产品，解决众多行业出现的需求和痛点，
                                                            助力企业传统行业的全面升级。“动一下鼠标就可以秒级操作PB级别的数据”确实让人兴奋不已呢！
                                                        </p>
                                                        <p>
                                                            PS：xxxxx云产品概览
                                                        </p>
                                                        <p><img src="./images/chanpingailan111.png" alt=""></p>
                                                        <div class="news_cont-node">
                                                             <div style="    color: #2277da;">
                                                                 上一篇报道：
                                                                 <a ng-click="gotoPage('/mnews_cont8')" href="javascript:;" style="color:#333;display: inline-block;">
                                                                     "xxxxx云"携手伙伴共展云途，看看这是一朵什么云？
                                                                 </a>
                                                             </div>
                                                            <div style="      margin-top: 16px;  color: #2277da;">
                                                                下一篇报道：
                                                                <a ng-click="gotoPage('/mnews_cont10')" href="javascript:;" style="color:#333;display: inline-block;">
                                                                    全新形象、全新改变 ——xxxxx云官网全新改版上线
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class=""></div>
                                                <!-- 新闻详细 end -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- news cont end-->
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div id="mwd_tanchuceng"></div>