<div class="J-mainContent" id="mbzywd">
    <div class="qc-wrapper doc-box">
        <div class="qc-grids table-box" style="top: 49px;;">
            <div class="qc-unit-19-24 main-content doc-main-details J-mainDetail no-pad-top" style="    padding: 0 !important;">
                <div class="J-innerMain m-height">
                    <div class="markdown-text-box" style="    overflow: initial;">
                        <div class="box-title">
                            <div class="grids-height">
                                <div class="iaas_line">
                                    <div id="newsbox" class="newsbox_cont ng-scope">
                                        <div class="news-hader">
                                            <div class="banner-text" style="    height: 158px;">
                                                <p class="banner-title mnewsbanner-title">新闻动态</p>
                                                <p style="    text-align: center;color: #fff;">通过媒体报道，理解我们更多的侧面</p>
                                            </div>
                                        </div>
                                        <!-- news cont start-->
                                        <div class="qc-wrapper qc-grids with-slot">
                                            <div class="qc-unit-17-24  qc-unit-md-24-24">
                                                <div class="news-crumb">
                                                    <a href="" ng-click="gotoPage('/mnews')">&lt; 返回最近报道列表</a>
                                                </div>
                                                <!-- 新闻详细 start -->
                                                <div class="news-details">
                                                    <h1 class="news-details-heading">xxxxx云为您的数据安全保驾护航</h1>
                                                    <div class="news-details-meta news-details-metacss-left" style="margin-bottom: 15px !important;">
                                                        <span class="time">2016-05-22</span>
                                                    </div>
                                                    <div class="news-detials-text">
                                                        <p>
                                                            最近，勒索软件成为了全民热议话题，全球共有150多个国家遭到病毒“永恒之蓝”的攻击，
                                                            校园网、公安网、医疗网等专线专网成为被攻击的主要对象，此次勒索病毒迅速感染全球大量主机的原因是利用了“永恒
                                                            之蓝”的漏洞MS17-010，可远程控制未修复漏洞机器，受感染机器资料将被加密，基本无法恢复。
                                                        </p>
                                                        <p style="text-align: center">
                                                            <img src="images/bjhh_1.png" alt="">
                                                        </p>
                                                        <p style="text-align: center">▲ 电脑被勒索后显示界面</p>
                                                        <p>
                                                            对于安全圈里的人来说，勒索病毒已经算是一个老生常谈问题。10年前引发
                                                            大面积机器瘫痪的蠕虫病毒尼姆达、熊猫烧香还主要影响PC端，而在企业业务互联网化，联网设备IOT化的今天，
                                                            WannaCry勒索病毒这样的病毒很可能会常态化，影响也会越来越重大。
                                                        </p>
                                                        <p>
                                                            在本次勒索病毒爆发中，xxxxx云没有一例用户中招。
                                                            xxxxx云一直把数据安全作为云平台设计的基本原则，所有功能实现都基于这个原则设计：
                                                        </p>
                                                        <p>
                                                            <img src="images/bjhh_2.png" alt="">
                                                        </p>
                                                        <p>
                                                            <img src="images/bjhh_3.png" alt="">
                                                        </p>
                                                        <p>
                                                            <img src="images/bjhh_4.png" alt="">
                                                        </p>
                                                        <p>
                                                            此外，自去年9月xxxxx就与业界领先安全厂商合作，推出安全云产品。xxxxx云产品全面采用API对接技术，
                                                            部署非常快捷，可以在短时间内完成在xxxxx云SECaaS下的部署。
                                                        </p>
                                                        <p style="text-align: center">
                                                            <img src="images/bjhh_5.png" alt="">
                                                        </p>
                                                        <p>
                                                            <img src="images/bjhh_4-1.png" alt="">
                                                        </p>
                                                        <p style="text-align: center">
                                                            <img src="images/bjhh_6.png" alt="">
                                                        </p>
                                                        <p style="text-align: center">
                                                            <img src="images/bjhh_7.png" alt="">
                                                        </p>
                                                        <p>
                                                            <img src="images/bjhh_7-1.png" alt="">
                                                        </p>
                                                        <p style="text-align: center">
                                                            <img src="images/bjhh_8.png" alt="">
                                                        </p>
                                                        <p style="text-align: center">
                                                            <img src="images/bjhh_9.png" alt="">
                                                        </p>
                                                        <p>
                                                            <img src="images/bjhh_9-1.png" alt="">
                                                        </p>
                                                        <p style="text-align: center">
                                                            <img src="images/bjhh_10.png" alt="">
                                                        </p>
                                                        <p style="text-align: center">
                                                            <img src="images/bjhh_11.png" alt="">
                                                        </p>
                                                        <p>
                                                            在勒索软件不断“变异”的趋势下，类似攻击行为会不断的渗透，
                                                            xxxxx云将会不遗余力的致力于云安全产品研发，为我们用户的数据安全保驾护航。
                                                        </p>
                                                        <p style="text-align: center">
                                                            <img src="images/sheng35.png" alt="">
                                                        </p>
                                                        <div class="news_cont-node">
                                                            <div style="    color: #2277da;">
                                                                上一篇报道：
                                                                <a ng-click="gotoPage('/mnews_cont17')" href="javascript:;" style="color:#333;display: inline-block;">
                                                                    xxxxx云知云学堂第二弹
                                                                </a>
                                                            </div>
                                                            <div class="news_cont-node">
                                                                <div ng-click="gotoPage('/mnews_cont19')"
                                                                     style="margin-top: 16px;display: inline-block;margin-left: 10px;  color: #2277da;">
                                                                    下一篇报道：
                                                                    <a href="javascript:;" style="color:#333;display: inline-block;">
                                                                        浓情端午，xxxxx云粽情有礼
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class=""></div>
                                                <!-- 新闻详细 end -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- news cont end-->
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div id="mwd_tanchuceng"></div>