<div class="mwendangbox" id="mwendangbox" style="top:0; left: 0;">
    <h3>
        <div>
            <span class="fl"></span>
        </div>
        帮助与文档
    </h3>



    <ul class="mwendang_left">

        <li class="nopadding">
            <div>laaS服务</div>
        </li>
        <li>
            <a href="javascript:;" ng-click="gotoPage('/documents/iaas/introduction')" data-href="/mob_index/documents/iaas/introduction">
                laaS服务简介
            </a>
        </li>
        <li>
            <a href="javascript:;">快速入门laaS指南</a>
            <ul>
                <li>
                    <a href="javascript:;" ng-click="gotoPage('/documents/iaas/createservice')" data-href="/mob_index/documents/iaas/createservice">
                        创建服务
                    </a>
                </li>
                <li>
                    <a href="javascript:;" ng-click="gotoPage('/documents/iaas/deploy')" data-href="/mob_index/documents/iaas/deploy">
                        资源配置
                    </a>
                </li>
                <li>
                    <a href="javascript:;"  ng-click="gotoPage('/documents/iaas/password')" data-href="/mob_index/documents/iaas/password">
                        密码设置
                    </a>
                </li>
                <li>
                    <a href="javascript:;" ng-click="gotoPage('/documents/iaas/createdisk')" data-href="/mob_index/documents/iaas/createdisk">
                        创建硬盘
                    </a>
                </li>
                <li>
                    <a href="javascript:;" ng-click="gotoPage('/documents/iaas/connecthost')" data-href="/mob_index/documents/iaas/connecthost">
                        连接主机
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:;" ng-click="gotoPage('/documents/iaas/network')" data-href="/mob_index/documents/iaas/network">
                laaS网络介绍
            </a>
        </li>
        <li>
            <a href="javascript:;">laaS备份与恢复指南</a>
            <ul>
                <li>
                    <a href="javascript:;" ng-click="gotoPage('/documents/iaas/snapshots')" data-href="/mob_index/documents/iaas/snapshots">
                        总览
                    </a>
                </li>
                <li>
                    <a href="javascript:;" ng-click="gotoPage('/documents/iaas/createsnapshots')" data-href="/mob_index/documents/iaas/createsnapshots">
                        创建备份
                    </a>
                </li>
                <li>
                    <a href="javascript:;"  ng-click="gotoPage('/documents/iaas/deletesnapshots')" data-href="/mob_index/documents/iaas/deletesnapshots">
                        删除备份
                    </a>
                </li>
                <li>
                    <a href="javascript:;" ng-click="gotoPage('/documents/iaas/restoresnapshots')" data-href="/mob_index/documents/iaas/restoresnapshots">
                        备份还原
                    </a>
                </li>
                <li>
                    <a href="javascript:;" ng-click="gotoPage('/documents/iaas/snapshots-billing')" data-href="/mob_index/documents/iaas/mob_index/snapshots-billing">
                        计费模式
                    </a>
                </li>
            </ul>
        </li>
        <li class="nopadding">
            <div>CaaS服务</div>
        </li>
        <li>
            <a href="javascript:;">快速入门CaaS服务</a>
            <ul>
                <li>
                    <a href="javascript:;" ng-click="gotoPage('/documents/caas/createservice')" data-href="/mob_index/documents/caas/createservice">
                        创建服务
                    </a>
                </li>
                <li>
                    <a href="javascript:;" ng-click="gotoPage('/documents/caas/fillingin')" data-href="/mob_index/documents/caas/fillingin">
                        填写服务详情
                    </a>
                </li>
                <li>
                    <a href="javascript:;" ng-click="gotoPage('/documents/caas/application')" data-href="/mob_index/documents/caas/application">
                        提交申请
                    </a>
                </li>
                <li>
                    <a href="javascript:;" ng-click="gotoPage('/documents/caas/progress')" data-href="/mob_index/documents/caas/progress">
                        查看进度和咨询
                    </a>
                </li>
                <li>
                    <a href="javascript:;" ng-click="gotoPage('/documents/caas/consult')" data-href="/mob_index/documents/caas/consult">
                        咨询与洽谈
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:;">CaaS服务变更续约关闭</a>
            <ul>
                <li>
                    <a href="javascript:;" ng-click="gotoPage('/documents/caas/function')" data-href="/mob_index/documents/caas/function">
                        功能区域
                    </a>
                </li>
                <li>
                    <a href="javascript:;" ng-click="gotoPage('/documents/caas/newticket')" data-href="/mob_index/documents/caas/newticket">
                        新建工单
                    </a>
                </li>
                <li>
                    <a href="javascript:;" ng-click="gotoPage('/documents/caas/checkticket')" data-href="/mob_index/documents/caas/checkticket">
                        查看工单进度
                    </a>
                </li>
                <li>
                    <a href="javascript:;" ng-click="gotoPage('/documents/caas/checkbusiness')" data-href="/mob_index/documents/caas/checkbusiness">
                        查看业务进度
                    </a>
                </li>
            </ul>
        </li>
        <li class="nopadding">
            <div>云栈服务</div>
        </li>
        <li>
            <a ng-click="gotoPage('/documents/cloudstack/introduction')" class=""
               data-href="/mob_index/documents/cloudstack/introduction">云栈服务简介</a>
            <!--<ul>
                <li>

                </li>
                <li>
                <a ng-click="gotoPage('/myzsteptwo')" class=""
                data-href="/mob_index/myzsteptwo">二、云栈服务的组成</a>
                </li>
                <li>
                <a ng-click="gotoPage('/myzstepthree')" class=""
                data-href="/mob_index/myzstepthree">三、云栈的建立与状态</a>
                </li>
                <li>
                <a ng-click="gotoPage('/myzstepfour')" class=""
                data-href="/mob_index/myzstepfour">四、云桥的建立、终止与状态</a>
                </li>
                <li>
                <a ng-click="gotoPage('/minterservice')" class=""
                data-href="/mob_index/minterservice">Internet服务栈介绍</a>
                </li>
            </ul>-->
        </li>

        <li>
            <a href="javascript:;" class="">
                快速入门云栈服务

            </a>
            <ul class="nav-inner-list-2">
                <li>
                    <a ng-click="gotoPage('/documents/cloudstack/login')" class=""
                       data-href="/mob_index/documents/cloudstack/login">进入云栈</a>
                </li>
                <li>
                    <a ng-click="gotoPage('/documents/cloudstack/application')" class=""
                       data-href="/mob_index/documents/cloudstack/application">创建云栈</a>
                </li>
                <li>
                    <a ng-click="gotoPage('/documents/cloudstack/payment')" class=""
                       data-href="/mob_index/documents/cloudstack/payment">支付费用</a>
                </li>
                <li>
                    <a ng-click="gotoPage('/documents/cloudstack/newstackbridge')" class=""
                       data-href="/mob_index/documents/cloudstack/newstackbridge">新增云桥</a>
                </li>
                <li>
                    <a ng-click="gotoPage('/documents/cloudstack/operation')" class=""
                       data-href="/mob_index/documents/cloudstack/operation">云栈操作</a>
                </li>
                <li>
                    <a ng-click="gotoPage('/documents/cloudstack/stackbridgeoperation')" class=""
                       data-href="/mob_index/documents/cloudstack/stackbridgeoperation">云桥操作</a>
                </li>
                <li>
                    <a ng-click="gotoPage('/documents/cloudstack/scheduler')" class=""
                       data-href="/mob_index/documents/cloudstack/scheduler">定时器设置</a>
                </li>
            </ul>
        </li>
        <li class="nopadding">
            <div>云监控服务</div>
        </li>
        <li>
            <a href="javascript:;" ng-click="gotoPage('documents/telcloudmoniter/concept')" data-href="/mob_index/documents/telcloudmoniter/concept">
                云监控名词
            </a>
        </li>
        <li>
            <a href="javascript:;">快速入门云监控服务</a>
            <ul>
                <li>
                    <a href="javascript:;" ng-click="gotoPage('documents/telcloudmoniter/login')" data-href="/mob_index/documents/telcloudmoniter/login">
                        进入云监控
                    </a>
                </li>
                <li>
                    <a href="javascript:;" ng-click="gotoPage('documents/telcloudmoniter/devices')" data-href="/mob_index/documents/telcloudmoniter/devices">
                        添加网络设备
                    </a>
                </li>
                <li>
                    <a href="javascript:;" ng-click="gotoPage('documents/telcloudmoniter/windowserver')" data-href="/mob_index/documents/telcloudmoniter/windowserver">
                        添加Windows服务器
                    </a>
                </li>
                <li>
                    <a href="javascript:;" ng-click="gotoPage('documents/telcloudmoniter/Iinuxserver')" data-href="/mob_index/documents/telcloudmoniter/Iinuxserver">
                        添加Linux服务器
                    </a>
                </li>
                <li>
                    <a href="javascript:;" ng-click="gotoPage('documents/telcloudmoniter/oracle')" data-href="/mob_index/documents/telcloudmoniter/oracle">
                        添加Oracle
                    </a>
                </li>
                <li>
                    <a href="javascript:;" ng-click="gotoPage('documents/telcloudmoniter/ping')" data-href="/mob_index/documents/telcloudmoniter/ping">
                        添加Ping监测点
                    </a>
                </li>
                <li>
                    <a href="javascript:;" ng-click="gotoPage('documents/telcloudmoniter/url')" data-href="/mob_index/documents/telcloudmoniter/url">
                        添加URL监测点
                    </a>
                </li>
                <li>
                    <a href="javascript:;" ng-click="gotoPage('documents/telcloudmoniter/points')" data-href="/mob_index/documents/telcloudmoniter/points">
                        频率、监测点阀值设置
                    </a>
                </li>
                <li>
                    <a href="javascript:;" ng-click="gotoPage('documents/telcloudmoniter/alerts')" data-href="/mob_index/documents/telcloudmoniter/alerts">
                        告警配置
                    </a>
                </li>
            </ul>
        </li>
        <li class="nopadding">
            <div>龙腾国际加速服务</div>
        </li>
        <li>
            <a href="javascript:;" ng-click="gotoPage('/cloudbroadband/apply')" data-href="/mob_index/cloudbroadband/apply">
                国际加速账号申请
            </a>
        </li>
        <li>
            <a href="javascript:;" ng-click="gotoPage('/cloudbroadband/register')" data-href="/mob_index/cloudbroadband/register">
                国际加速账号使用
            </a>
        </li>


        <li class="nopadding">
            <a href="javascript:;" ng-click="gotoPage('/documents/user_sercurity')" data-href="/mob_index/documents/user_sercurity">
                账号安全指南
            </a>
        </li>

        <li class="nopadding">
            <a href="javascript:;" ng-click="gotoPage('/documents/faq')" data-href="/mob_index/documents/faq">
                常见问题FAQ
            </a>

        </li>
        <li class="nopadding">
            <div>认证信息</div>
        </li>
        <li>
            <a ng-click="gotoPage('/documents/iso27001')" data-href="/mob_index/documents/iso27001">ISO27001认证</a>
        </li>
        <li>
            <a ng-click="gotoPage('/documents/iso20000')" data-href="/mob_index/documents/iso20000">ISO20000认证</a>
        </li>
        <li>
            <a ng-click="gotoPage('/documents/iso9001')" data-href="/mob_index/documents/iso9001">ISO9001认证</a>
        </li>
        <li>
            <a ng-click="gotoPage('/documents/iso14001')" data-href="/mob_index/documents/iso14001">ISO14001认证</a>
        </li>

        <li class="nopadding">
            <a ng-click="gotoPage('/documents/tos')" data-href="/mob_index/documents/tos">服务条款</a>
        </li>

    </ul>
    <div class="h_pos-fiexd"></div>
</div>

<script>

    $().ready(function(){
        var aWendBtn=$('.mwendang_left>li>a');
        aWendBtn.click(function(){
            var _this=$(this);
            _this.toggleClass('mwendang_bcor');
            _this.parent('li').find('ul').toggleClass('mwendangshow').css('background','#F5F5F5');
            if(location.pathname == _this.attr('data-href'))
            {
                _this.css('background','#EBEBEB')
            }
        });

        aWendBtn.each(function(){
            if(location.pathname == $(this).attr('data-href'))
            {
                $(this).css('background','#EBEBEB')
            }
        });


        $(document).scroll(function () {
            if($(window).scrollTop() >= 50)
            {
                $('#mwendangbox').css({
                    position: 'fixed',
                    top:'0'
                });
                $('.mwendangbox>h3>div').click(function(){
                    $('.mwendangbox').css({
                        position:'fixed',
                        top:'0'
                    });
                })
            }
            else{
                $('#mwendangbox').css({
                    position: 'absolute',
                    top:'50px'
                });
                $('#mbzywd>.qc-wrapper .J-mainDetail').css('padding-top','79px');
                $('#mbzywd>.qc-wrapper .no-pad-top').css('padding-top','0');
                $('.mwendangbox>h3>div').click(function(){
                    $('.mwendangbox').css({
                        position:'fixed',
                        top:'50px'
                    });
                })
            }
        });

        $('.mwendangbox>h3>div').click(function(){
            $('.h_pos-fiexd').toggleClass('show1');
            $('.mwendangbox').css({
                position:'fixed',
                top:'50px'
            });
            $('#mbzywd>.qc-wrapper .J-mainDetail').css('padding-top','79px');
            $('#mbzywd>.qc-wrapper .no-pad-top').css('padding-top','0');
            $('#mwd_tanchuceng').toggleClass('show1');
            $('.mwendang_left').toggleClass('show1');
            $(this).toggleClass('mwend_colr');
        });
        $('.mwendang_left>li>ul>li>a').click(function(){
            /*$('.mwendang_left').removeClass('show1');
            $('#mwd_tanchuceng').removeClass('show1');
            $('.mwendangbox>h3>div').removeClass('mwend_colr');*/
            $(this).css('background','#EBEBEB').parent('li').siblings('li').find('a').css('background','none');
            $(window).scrollTop(0);
            $(this).parent('li').parent('ul').parent('li').siblings('li').find('ul').find('li').find('a').css('background','none');
        });

        $('.mwendang_left>li>ul>li>a').each(function(){
            if(location.pathname == $(this).attr('data-href'))
            {
                $(this).css('background','#EBEBEB').parent('li').parent('ul').siblings('a').addClass('mwendang_bcor');
                $(this).parent('li').addClass('mwendang_bcor');
                $(this).parent('li').parent('ul').addClass('mwendangshow');
                $(this).parent('li').parent('ul').parent('li').removeClass('mwendang_bcor');
            }
        });

        $('#mwd_tanchuceng').click(function(){
            $(this).removeClass('show1');
            $('.h_pos-fiexd').removeClass('show1');
            $('.mwendang_left').removeClass('show1');
            $('.mwendangbox>h3>div').removeClass('mwend_colr');
        });
        $('.h_pos-fiexd').click(function(){
            $(this).removeClass('show1');
            $('#mwd_tanchuceng').removeClass('show1');
            $('.mwendang_left').removeClass('show1');
            $('.mwendangbox>h3>div').removeClass('mwend_colr');
        });
    });
</script>