<div class="J-mainContent" id="mbzywd">
    <div class="qc-wrapper doc-box">
        <div class="qc-grids table-box" style="top: 49px;;">
            <div class="qc-unit-19-24 main-content doc-main-details J-mainDetail no-pad-top" style="    padding: 0 !important;">
                <div class="J-innerMain m-height">
                    <div class="markdown-text-box" style="    overflow: initial;">
                        <div class="box-title">
                            <div class="grids-height">
                                <div class="iaas_line">
                                    <div id="newsbox" class="newsbox_cont ng-scope">
                                        <div class="news-hader">
                                            <div class="banner-text" style="    height: 158px;">
                                                <p class="banner-title mnewsbanner-title">新闻动态</p>
                                                <p style="    text-align: center;color: #fff;">通过媒体报道，理解我们更多的侧面</p>
                                            </div>
                                        </div>
                                        <!-- news cont start-->
                                        <div class="news-latest mnews-latest" style="    padding: 38px 20px 0 20px;">
                                            <div class="news-latest-title">最近报道</div>
                                            <ul class="news-latest-list">
                                                <li class="news-latest-list-item">
                                                    <a href="" class="news-latest-figure" ng-click="gotoPage('/mnews_cont31')">
                                                        <img style="width: 700px;" src="./images/lingzheng0.jpg" alt="">
                                                    </a>
                                                    <a href="" class="news-latest-heading" ng-click="gotoPage('/mnews_cont31')">我们领证了—xxxxx获得工信部颁发的云计算牌照</a>
                                                    <p class="news-latest-desc">
                                                        2017年9月19日，xxxxx获得工信部颁发的“互联网资源协作服务业务经营许可”，俗称 “云计算牌照”。
                                                    </p>
                                                    <div class="news-latest-meta">
                                                        <span class="time">2017-09-28</span>
                                                        <span class="source">xxxxx云</span>
                                                    </div>
                                                </li>
                                                <li class="news-latest-list-item">
                                                    <a href="" class="news-latest-figure" ng-click="gotoPage('/mnews_cont30')">
                                                        <img style="width: 700px;" src="./images/huhang1.jpg" alt="">
                                                    </a>
                                                    <a href="" class="news-latest-heading" ng-click="gotoPage('/mnews_cont30')">xxxxx云抗D为宝马汽车网络安全保驾护航</a>
                                                    <p class="news-latest-desc">
                                                        近日，世界顶级汽车企业—宝马汽车与xxxxx签署合作协议，在国内全面部署和使用xxxxx云抗D产品。
                                                    </p>
                                                    <div class="news-latest-meta">
                                                        <span class="time">2017-09-22</span>
                                                        <span class="source">xxxxx云</span>
                                                    </div>
                                                </li>
                                                <li class="news-latest-list-item">
                                                    <a href="" class="news-latest-figure" ng-click="gotoPage('/mnews_cont29')">
                                                        <img style="width: 700px;" src="./images/wanghong1.png" alt="">
                                                    </a>
                                                    <a href="" class="news-latest-heading" ng-click="gotoPage('/mnews_cont29')">xxxxx云知云学堂丨网络世界的网红—SDN</a>
                                                    <p class="news-latest-desc">
                                                        新学期开始了，xxxxx云知云学堂也要开课啦。这节课我们来说说火到没朋友，网络世界的网红—SDN。
                                                    </p>
                                                    <div class="news-latest-meta">
                                                        <span class="time">2017-09-11</span>
                                                        <span class="source">xxxxx云</span>
                                                    </div>
                                                </li>
                                                <li class="news-latest-list-item">
                                                    <a href="" class="news-latest-figure" ng-click="gotoPage('/mnews_cont28')">
                                                        <img style="width: 700px;" src="./images/tengfei1.jpg" alt="">
                                                    </a>
                                                    <a href="" class="news-latest-heading" ng-click="gotoPage('/mnews_cont28')">助力大数据产业腾飞 推动基础设施先行</a>
                                                    <p class="news-latest-desc">
                                                        想要真正挖掘大数据的红利、充分利用享受大数据优势，还需要对大数据产业发展中的诸多关键技术等进行突破与创新。
                                                    </p>
                                                    <div class="news-latest-meta">
                                                        <span class="time">2017-08-31</span>
                                                        <span class="source">xxxxx云</span>
                                                    </div>
                                                </li>
                                                <li class="news-latest-list-item">
                                                    <a href="" class="news-latest-figure" ng-click="gotoPage('/mnews_cont27')">
                                                        <img style="width: 700px;" src="./images/yanjiu1.jpg" alt="">
                                                    </a>
                                                    <a href="" class="news-latest-heading" ng-click="gotoPage('/mnews_cont27')">清华大学数据科学研究院大数据基础设施研究中心成立</a>
                                                    <p class="news-latest-desc">
                                                        2017年8月17日， 清华大学数据科学研究院举办了大数据基础设施认知RONG论坛暨大数据基 础设施研究中心成立仪式。
                                                    </p>
                                                    <div class="news-latest-meta">
                                                        <span class="time">2017-08-29</span>
                                                        <span class="source">xxxxx云</span>
                                                    </div>
                                                </li>
                                                <li class="news-latest-list-item">
                                                    <a href="" class="news-latest-figure" ng-click="gotoPage('/mnews_cont26')">
                                                        <img style="width: 700px;" src="./images/yaoqinghan.jpg" alt="">
                                                    </a>
                                                    <a href="" class="news-latest-heading" ng-click="gotoPage('/mnews_cont25')">邀请函</a>
                                                    <p class="news-latest-desc">
                                                        xxxxx邀请您参加“大数据基础设施认知RONG论坛暨大数据基础设施研究中心成立仪式”
                                                    </p>
                                                    <div class="news-latest-meta">
                                                        <span class="time">2017-08-15</span>
                                                        <span class="source">xxxxx云</span>
                                                    </div>
                                                </li>
                                                <li class="news-latest-list-item">
                                                    <a href="" class="news-latest-figure" ng-click="gotoPage('/mnews_cont25')">
                                                        <img style="width: 700px;" src="./images/wxwz_5.jpg" alt="">
                                                    </a>
                                                    <a href="" class="news-latest-heading" ng-click="gotoPage('/mnews_cont25')">招聘| We Need You</a>
                                                    <p class="news-latest-desc">
                                                        世界这么大，不用辞职，一起去看看吧！
                                                    </p>
                                                    <div class="news-latest-meta">
                                                        <span class="time">2017-07-31</span>
                                                        <span class="source">xxxxx云</span>
                                                    </div>
                                                </li>
                                                <li class="news-latest-list-item">
                                                    <a href="" class="news-latest-figure" ng-click="gotoPage('/mnews_cont24')">
                                                        <img style="width: 700px;" src="./images/news_sj1.jpg" alt="">
                                                    </a>
                                                    <a href="" class="news-latest-heading" ng-click="gotoPage('/mnews_cont24')">全国首家SDN运营网落地北京数百栋商业楼宇</a>
                                                    <p class="news-latest-desc">
                                                        日前，国内首家电信级的SDN运营网络——xxxxx云栈，成功落地北京数百栋商业楼宇。
                                                        xxxxx作为多年耕耘企业电信服务的运营企业，在倍受瞩目的软件定义的创新产品商业化方面成功落地，
                                                        标志着国内SDN技术向商业网络部署实现了重大跨越。
                                                    </p>
                                                    <div class="news-latest-meta">
                                                        <span class="time">2017-07-25</span>
                                                        <span class="source">xxxxx云</span>
                                                    </div>
                                                </li>
                                                <li class="news-latest-list-item">
                                                    <a href="" class="news-latest-figure" ng-click="gotoPage('/mnews_cont23')">
                                                        <img style="width: 700px;" src="./images/zyxtfm.png" alt="">
                                                    </a>
                                                    <a href="" class="news-latest-heading" ng-click="gotoPage('/mnews_cont23')">xxxxx云知云学堂 | 小白也能懂公有云、私有云和混合云</a>
                                                    <p class="news-latest-desc">
                                                        第一堂课我们学习了云计算的概念，云计算是一种按使用量付费的模式，这种模式提供可用的、
                                                        便捷的、按需的网络访问， 进入可配置的计算资源共享池（资源包括网络，服务器，存储，应用软件，服务）。
                                                        简单概括就是云计算可以让一个使用者根据自己的需要，使用共享的资源。
                                                    </p>
                                                    <div class="news-latest-meta">
                                                        <span class="time">2017-07-11</span>
                                                        <span class="source">xxxxx云</span>
                                                    </div>
                                                </li>
                                                <li class="news-latest-list-item">
                                                    <a href="" class="news-latest-figure" ng-click="gotoPage('/mnews_cont22')">
                                                        <img style="width: 700px;" src="./images/dxy_fm.png" alt="">
                                                    </a>
                                                    <a href="" class="news-latest-heading" ng-click="gotoPage('/mnews_cont22')">xxxxx电信云全自助服务功能赢得客户好评</a>
                                                    <p class="news-latest-desc">
                                                        2016年6月25日，xxxxx电信云平台自助服务功能上线，这是xxxxx城域网云化的一项重要工作任务：
                                                        在xxxxx云平台实现传统电信业务一站式下单，实时流量监控，实时跟进业务故障处理等增值服务
                                                    </p>
                                                    <div class="news-latest-meta">
                                                        <span class="time">2017-07-03</span>
                                                        <span class="source">xxxxx云</span>
                                                    </div>
                                                </li>

                                                <li class="news-latest-list-item">
                                                    <a href="" class="news-latest-figure" ng-click="gotoPage('/mnews_cont21')">
                                                        <img style="width: 700px;" src="./images/lthhy0.png" alt="">
                                                    </a>
                                                    <a href="" class="news-latest-heading" ng-click="gotoPage('/mnews_cont21')">xxxxx混合云解决方案助力企业实现高效的互联互通</a>
                                                    <p class="news-latest-desc">
                                                        相比于公有云，私有云最大优势在于法规遵从和数据保护，可靠性、安全性都在IT部门的掌控中；
                                                        而公有云计算资源的弹性和灵活伸缩能力又是私有云无法达成的。所以，
                                                        如何最大程度利用公有云和私有云的优势，xxxxx混合云解决方案完美的实现公有云和私有云鱼和熊掌兼得。
                                                    </p>
                                                    <div class="news-latest-meta">
                                                        <span class="time">2017-06-26</span>
                                                        <span class="source">xxxxx云</span>
                                                    </div>
                                                </li>

                                                <li class="news-latest-list-item">
                                                    <a href="" class="news-latest-figure" ng-click="gotoPage('/mnews_cont20')">
                                                        <img src="./images/gstdxw0.png" alt="">
                                                    </a>
                                                    <a href="" class="news-latest-heading" ng-click="gotoPage('/mnews_cont20')">xxxxx云高速通道服务助您轻松实现云网互通</a>
                                                    <p class="news-latest-desc">
                                                        高速通道作为xxxxx云DCI产品，是一种便捷高效的网络服务解决方案，
                                                        用于在不同数据中心、云、以及办公网络之间实现高速、稳定、安全的私网通信，
                                                        包括跨地域不同网络间内网互通、点对点数据传输、专线接入等场景，
                                                        有效的帮助您提高网络拓扑的灵活性和跨网络通信的质量和安全性。
                                                    </p>
                                                    <div class="news-latest-meta">
                                                        <span class="time">2017-06-23</span>
                                                        <span class="source">xxxxx云</span>
                                                    </div>
                                                </li>

                                                <li class="news-latest-list-item">
                                                    <a href="" class="news-latest-figure" ng-click="gotoPage('/mnews_cont19')">
                                                        <img src="./images/dwj_1.png" alt="">
                                                    </a>
                                                    <a href="" class="news-latest-heading" ng-click="gotoPage('/mnews_cont19')">浓情端午，xxxxx云粽情有礼</a>
                                                    <p class="news-latest-desc">
                                                        乘xxxxx云舟，
                                                        过浓情端午！
                                                        xxxxx云祝您，
                                                        端午节快乐！
                                                    </p>
                                                    <div class="news-latest-meta">
                                                        <span class="time">2017-05-27</span>
                                                        <span class="source">xxxxx云</span>
                                                    </div>
                                                </li>

                                                <li class="news-latest-list-item">
                                                    <a href="" class="news-latest-figure" ng-click="gotoPage('/mnews_cont18')">
                                                        <img src="./images/bjhh_9.png" alt="">
                                                    </a>
                                                    <a href="" class="news-latest-heading" ng-click="gotoPage('/mnews_cont18')">xxxxx云为您的数据安全保驾护航</a>
                                                    <p class="news-latest-desc">
                                                        最近，勒索软件成为了全民热议话题，全球共有150多个国家遭到病毒“永恒之蓝”的攻击，
                                                        校园网、公安网、医疗网等专线专网成为被攻击的主要对象，此次勒索病毒迅速感染全球
                                                        大量主机的原因是利用了“永恒之蓝”的漏洞MS17-010，
                                                        可远程控制未修复漏洞机器，受感染机器资料将被加密，基本无法恢复。
                                                    </p>
                                                    <div class="news-latest-meta">
                                                        <span class="time">2017-05-22</span>
                                                        <span class="source">xxxxx云</span>
                                                    </div>
                                                </li>

                                                <li class="news-latest-list-item">
                                                    <a href="" class="news-latest-figure" ng-click="gotoPage('/mnews_cont17')">
                                                        <img src="./images/zhiyun1.png" alt="">
                                                    </a>
                                                    <a href="" class="news-latest-heading" ng-click="gotoPage('/mnews_cont17')">xxxxx云知云学堂第二弹</a>
                                                    <p class="news-latest-desc">
                                                        计算是一种按使用量付费的模式，这种模式提供可用的、便捷的、按需的网络访问，
                                                        进入可配置的计算资源共享池（资源包括网络，服务器，存储，应用软件，服务）。
                                                        简单概括就是云计算可以让一个使用者根据自己的需要，使用共享的资源。
                                                    </p>
                                                    <div class="news-latest-meta">
                                                        <span class="time">2017-05-12</span>
                                                        <span class="source">xxxxx云</span>
                                                    </div>
                                                </li>

                                                <li class="news-latest-list-item">
                                                    <a href="" class="news-latest-figure" ng-click="gotoPage('/mnews_cont16')">
                                                        <img src="./images/kfr_1.png" alt="">
                                                    </a>
                                                    <a href="" class="news-latest-heading" ng-click="gotoPage('/mnews_cont16')">遇见大数据、遇见xxxxx云 —xxxxx参加清华大学大数据开放日活动</a>
                                                    <p class="news-latest-desc">
                                                        2017年4月28日xxxxx参加清华大学第三届大数据开放日（Big Data Day）活动，
                                                        本次活动由清华大学大数据科学研究院举办，旨在让校内外师生更加了解大数据，领略大数据的魅力，
                                                        同时为企业打造在清华大学展示技术实力的舞台，以及企业与师生的互动交流平台。
                                                    </p>
                                                    <div class="news-latest-meta">
                                                        <span class="time">2017-05-08</span>
                                                        <span class="source">xxxxx云</span>
                                                    </div>
                                                </li>

                                                <li class="news-latest-list-item">
                                                    <a href="" class="news-latest-figure" ng-click="gotoPage('/mnews_cont15')">
                                                        <img src="./images/sheng31.png" alt="">
                                                    </a>
                                                    <a href="" class="news-latest-heading" ng-click="gotoPage('/mnews_cont15')">xxxxx私有云助您省心、省时、省钱又省力</a>
                                                    <p class="news-latest-desc">
                                                        xxxxx私有云（Ostack）采用开放的OpenStack框架，融合计算虚拟化、存储虚拟化、
                                                        网络虚拟化等技术，并结合xxxxx多年数据中心、服务器与网络产品以及运维和服务经验打造的企业私有云平台；
                                                        xxxxx私有云实现基础架构资源的按需供应、高度弹性和灵活扩展，
                                                        帮助企业减少自主采购、上架的过程， 加快业务上线的进程，并有效降低企业IT运维成本。
                                                    </p>
                                                    <div class="news-latest-meta">
                                                        <span class="time">2017-04-25</span>
                                                        <span class="source">xxxxx云</span>
                                                    </div>
                                                </li>

                                                <li class="news-latest-list-item">
                                                    <a href="" class="news-latest-figure" ng-click="gotoPage('/mnews_cont14')">
                                                        <img src="./images/ios0.png" alt="">
                                                    </a>
                                                    <a href="" class="news-latest-heading" ng-click="gotoPage('/mnews_cont14')">xxxxx顺利通过ISO27001、ISO20000和ISO14001国际认证</a>
                                                    <p class="news-latest-desc">
                                                        xxxxx顺利通过ISO27001、ISO20000和ISO14001国际认证
                                                        2017年4月10日，xxxxx顺利通过ISO27001、ISO20000、ISO14001体系审核，获得这三项国际管理体系认证证书。
                                                    </p>
                                                    <div class="news-latest-meta">
                                                        <span class="time">2017-04-18</span>
                                                        <span class="source">xxxxx云</span>
                                                    </div>
                                                </li>

                                                <li class="news-latest-list-item">
                                                    <a href="" class="news-latest-figure" ng-click="gotoPage('/mnews_cont13')">
                                                        <img src="./images/zhiyun1.png" alt="">
                                                    </a>
                                                    <a href="" class="news-latest-heading" ng-click="gotoPage('/mnews_cont13')">xxxxx云知云学堂开课了—知云学堂 学云致用</a>
                                                    <p class="news-latest-desc">在这春暖花开的日子里，xxxxx云知云学堂开课喽！ 不管你是小白还是菜鸟，xxxxx云知云学堂都会让你在云计算这个领域变大神。 千里之行，始于云端，先让我们从基</p>
                                                    <div class="news-latest-meta">
                                                        <span class="time">2017-04-05</span>
                                                        <span class="source">xxxxx云</span>
                                                    </div>
                                                </li>

                                                <li class="news-latest-list-item">
                                                    <a href="" class="news-latest-figure" ng-click="gotoPage('/mnews_cont12')">
                                                        <img src="./images/cfsl_1.png" alt="">
                                                    </a>
                                                    <a href="" class="news-latest-heading" ng-click="gotoPage('/mnews_cont12')">春风十里，不如有你—xxxxx免费云渠道伙伴政策解析</a>
                                                    <p class="news-latest-desc">xxxxx云将免费为独立数据中心合作伙伴搭建可运营的IaaS平台， 根据合作伙伴面对的细分行业用户特征提供专属售前支持， 与合作伙伴一起定制具有行业特色的运营</p>
                                                    <div class="news-latest-meta">
                                                        <span class="time">2017-03-21</span>
                                                        <span class="source">xxxxx云</span>
                                                    </div>
                                                </li>

                                                <li class="news-latest-list-item">
                                                    <a href="" class="news-latest-figure" ng-click="gotoPage('/mnews_cont11')">
                                                        <img src="./images/vpcjgt.png" alt="">
                                                    </a>
                                                    <a href="" class="news-latest-heading" ng-click="gotoPage('/mnews_cont11')">xxxxx云简单1键， 2分钟助您轻松实现VPC</a>
                                                    <p class="news-latest-desc">近期，关于经典网络（基础网络）和私有网络（VPC）的讨论引起了圈内外的广泛关注与讨论。 云计算，作为依赖互联网获取的公共资源，安全的重要性不言而喻。 </p>
                                                    <div class="news-latest-meta">
                                                        <span class="time">2017-03-13</span>
                                                        <span class="source">xxxxx云</span>
                                                    </div>
                                                </li>

                                                <li class="news-latest-list-item">
                                                    <a href="" class="news-latest-figure" ng-click="gotoPage('/mnews_cont10')">
                                                        <img src="./images/tel_xinban-1.png" alt="">
                                                    </a>
                                                    <a href="" class="news-latest-heading" ng-click="gotoPage('/mnews_cont10')">全新形象、全新改变 ——xxxxx云官网全新改版上线</a>
                                                    <p class="news-latest-desc">不知不觉，丙申猴年即将过去， 感谢小伙伴们这一年对xxxxx云的大力支持。新年新气象， 为了将更丰富的内容展现给您，xxxxx云官网（www.xxx.com）在农历春</p>
                                                    <div class="news-latest-meta">
                                                        <span class="time">2017-02-13</span>
                                                        <span class="source">xxxxx云</span>
                                                    </div>
                                                </li>

                                                <li class="news-latest-list-item">
                                                    <a href="" class="news-latest-figure" ng-click="gotoPage('/mnews_cont9')">
                                                        <img src="./images/lianhehui111.jpg" alt="">
                                                    </a>
                                                    <a href="" class="news-latest-heading" ng-click="gotoPage('/mnews_cont9')">xxxxx成为清华大数据产业联合会理事单位</a>
                                                    <p class="news-latest-desc">经清华大数据产业联合会审核，北京xxxxx科技股份公司（以下简称“xxxxx”） 正式加入清华大数据产业联合会，并成为清华大数据产业联合会理事单位。</p>
                                                    <div class="news-latest-meta">
                                                        <span class="time">2017-01-25</span>
                                                        <span class="source">xxxxx云</span>
                                                    </div>
                                                </li>

                                                <li class="news-latest-list-item">
                                                    <a href="" class="news-latest-figure" ng-click="gotoPage('/mnews_cont8')">
                                                        <img src="./images/shenmeyun111.jpg" alt="">
                                                    </a>
                                                    <a href="" class="news-latest-heading"  ng-click="gotoPage('/mnews_cont8')">"xxxxx云"携手伙伴共展云途，看看这是一朵什么云？</a>
                                                    <p class="news-latest-desc">近日，随着xxxxx公司首次合作伙伴大会的举行，让“xxxxx云”这个新的公有云品牌得以在业界“曝光”。</p>
                                                    <div class="news-latest-meta">
                                                        <span class="time">2016-12-19</span>
                                                        <span class="source">xxxxx云</span>
                                                    </div>
                                                </li>

                                                <li class="news-latest-list-item">
                                                    <a href="" class="news-latest-figure" ng-click="gotoPage('/mnews_cont7')">
                                                        <img src="./images/weilai111.jpg" alt="">
                                                    </a>
                                                    <a href="" class="news-latest-heading"  ng-click="gotoPage('/mnews_cont7')">合众力 作云端 运千家 营未来</a>
                                                    <p class="news-latest-desc">xxxxx云合作伙伴大会于2016年11月30日在京成功召开。本次会议围绕“xxxxx云、身边的云”，
                                                        主要面向北京地区的独立数据中心和网络服务合作伙伴，共同探讨xxxxx</p>
                                                    <div class="news-latest-meta">
                                                        <span class="time">2016-12-05</span>
                                                        <span class="source">xxxxx云</span>
                                                    </div>
                                                </li>

                                                <li class="news-latest-list-item">
                                                    <a href="" class="news-latest-figure"  ng-click="gotoPage('/mnews_cont6')">
                                                        <img src="./images/sanban111.png" alt="">
                                                    </a>
                                                    <a href="" class="news-latest-heading"  ng-click="gotoPage('/mnews_cont6')">【喜报】热烈祝贺xxxxx成功挂牌新三板</a>
                                                    <p class="news-latest-desc">2016年10月28日，北京xxxxx科技股份公司，简称“xxxxx”， 在“新三板”即全国中小企业股份转让系统正式挂牌上市,股票代码839433</p>
                                                    <div class="news-latest-meta">
                                                        <span class="time">2016-11-01</span>
                                                        <span class="source">xxxxx云</span>
                                                    </div>
                                                </li>

                                                <li class="news-latest-list-item">
                                                    <a href="" class="news-latest-figure"  ng-click="gotoPage('/mnews_cont5')">
                                                        <img src="./images/zhuliu111.jpg" alt="">
                                                    </a>
                                                    <a href="" class="news-latest-heading" ng-click="gotoPage('/mnews_cont5')">xxxxx云安全服务正在成为企业xxxxx服务的主流</a>
                                                    <p class="news-latest-desc">安全产品作为软件服务产品中最为复杂的产品，近些年经历了高速发展的阶段，新的产品形式层出不穷，
                                                        随着市场需求的变化，各安全厂商逐渐认识到单靠单一厂商的设备无法满足市场需求和抵御变化多样的网络风险。</p>
                                                    <div class="news-latest-meta">
                                                        <span class="time">2016-09-27</span>
                                                        <span class="source">xxxxx云</span>
                                                    </div>
                                                </li>

                                                <li class="news-latest-list-item">
                                                    <a href="" class="news-latest-figure"  ng-click="gotoPage('/mnews_cont4')">
                                                        <img src="./images/wanghutong111.jpg" alt="">
                                                    </a>
                                                    <a href="" class="news-latest-heading" ng-click="gotoPage('/mnews_cont4')">xxxxx云让您时时刻刻云网互通</a>
                                                    <p class="news-latest-desc">9月7日电信主干网络故障导致xxxxx云、AWS、金山云及UCLOUD等xxxxx服务提供商在北京的服务器电信线路均出现访问故障， 此次故障持续近4小时才得以解决。</p>
                                                    <div class="news-latest-meta">
                                                        <span class="time">2016-09-19</span>
                                                        <span class="source">xxxxx云</span>
                                                    </div>
                                                </li>

                                                <li class="news-latest-list-item">
                                                    <a href="" class="news-latest-figure" ng-click="gotoPage('/mnews_cont3')">
                                                        <img src="./images/yuanmeng111.jpg" alt="">
                                                    </a>
                                                    <a href="" class="news-latest-heading"  ng-click="gotoPage('/mnews_cont3')">xxxxx云携手中网，和你一起圆梦</a>
                                                    <p class="news-latest-desc">中网青少年巡回赛由北京中国网球公开赛体育推广有限公司主办、北京市体育局青少处支持、考奇网球承办。 2016赛季，中网青少年巡回赛将陆续在北京、上海、</p>
                                                    <div class="news-latest-meta">
                                                        <span class="time">2016-06-21</span>
                                                        <span class="source">xxxxx云</span>
                                                    </div>
                                                </li>

                                                <li class="news-latest-list-item">
                                                    <a href="" class="news-latest-figure" ng-click="gotoPage('/mnews_cont2')">
                                                        <img src="./images/huodong1111.jpg" alt="">
                                                    </a>
                                                    <a href="" class="news-latest-heading" ng-click="gotoPage('/mnews_cont2')">xxxxx云优惠政策及活动规则</a>
                                                    <p class="news-latest-desc">
                                                        一、 注册领红包<br>
                                                        注册即送100元平台红包，在线试用云主机 。 活动规则:
                                                    </p>
                                                    <div class="news-latest-meta">
                                                        <span class="time">2016-06-07</span>
                                                        <span class="source">xxxxx云</span>
                                                    </div>
                                                </li>

                                                <li class="news-latest-list-item">
                                                    <a href="" class="news-latest-figure" ng-click="gotoPage('/mnews_cont1')">
                                                        <img src="./images/gaoxiao111.jpg" alt="">
                                                    </a>
                                                    <a href="" class="news-latest-heading" ng-click="gotoPage('/mnews_cont1')">高校移动创新大赛，xxxxx云助你飞翔</a>
                                                    <p class="news-latest-desc">
                                                        中国高校计算机大赛 是面向全国高校各专业在校学生的科技类竞赛活动，
                                                        旨在促进高校计算机课程教学内容和教学方法改革，
                                                        激发学生创新意识， 提升学生计算机问
                                                    </p>
                                                    <div class="news-latest-meta">
                                                        <span class="time">2016-05-18</span>
                                                        <span class="source">xxxxx云</span>
                                                    </div>
                                                </li>
                                            </ul>
                                           <!-- <div class="tc-paging">
                                                <a href="/about/news/2" class="tc-pre-page" hotrep="about.news.pager.prev">&lt; 上一页</a>
                                                <a href="/about/news/1" class="item" hotrep="about.news.pager.1">1</a>
                                                <a href="/about/news/2" class="item" hotrep="about.news.pager.2">2</a>
                                                <a href="javascript:;" class="current">3</a>
                                                <a href="/about/news/4" class="item" hotrep="about.news.pager.4">4</a>
                                                <a href="/about/news/5" class="item" hotrep="about.news.pager.5">5</a>
                                                <a href="/about/news/6" class="item" hotrep="about.news.pager.6">6</a>
                                                <a href="/about/news/7" class="item" hotrep="about.news.pager.7">7</a>
                                                <a href="/about/news/8" class="item" hotrep="about.news.pager.8">8</a>
                                                <span class="dot">...</span>
                                                <a href="/about/news/12" class="item" hotrep="about.news.pager.12">12</a>
                                                <a href="/about/news/4" class="tc-next-page" hotrep="about.news.pager.next">下一页 &gt;</a>
                                            </div>-->
                                        </div>
                                        <!-- news cont end-->
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="mwd_tanchuceng"></div>