<div class="body" id="mjsy" >
    <div class="mod-hero J-mod-hero">


        <div class="mod-inner">
            <!--云主机-->
            <div class="banner-ct">
                <h2 itemprop="name" class="title"><span class="title-cn">语音中继(30B+D)</span></h2>
                <div itemprop="description" class="head-content">
                    <p>30B＋D业务是为营销中心、客服中心、集团办公等应用而提供的经济型集成规模线路（通常与呼叫中心系统结合使用），又称ISDN-PRI（ISDN Primary Rate
                        Interface，基群速率接入ISDN），有30个B通路和1个D通路，每个B通路和D通路均为64Kb/s，共1.920Kb/s。每一个PRI接口可以独立成为一个PRA用户群，也可以多个PRA
                        接口组成一个用户群。30B＋D业务用于需要传输大量数据的应用，是提供数字交换机、LAN、主计算机和其他设备到网络的连接的经济选择。</p>
                </div>
                <div class="head-operation">
                    <div class="op-line">
                         <a href="javascript:;" class="tc-btn tc-btn-3"  ng-click="gotoPage('/warning')">立即使用</a>
                    </div>
                </div>
            </div>
            <div class="pt-icon">
                <picture>
                    <source type="image/svg+xml"
                            srcset="images/yyzj-right.png">
                    <img src="images/yyzj-right.png"></picture>
            </div>
            <div class="m-pt-icon"><img class="m-icon" src="images/yyzj-right-shu.png"></div>
        </div>
    </div>

    <div class="mod-inner">
        <!--产品优势-->
        <div class="main-content slide-cvm">


            <!--产品功能-->
            <div class="tab-content J-defined-content" mod="userDefined16" data-responsive="show" title="业务概况">
                <a class="anchor" id="userDefined16" style="top: -59px;">&nbsp;</a>
                <div class="mod-framework">

                    <h3 class="tab-content-title">业务概况</h3>

                    <div class="tab-content-detail">
                        <p class="an-img-top-p">
                            30B＋D以ISDN为基础，ISDN即综合业务数字网（Integrated Services Digital
                            Network），能够提供端到端的数字连接，用来支持包括话音和非话音在内的多种业务，是在现有电话网上开放的一种集语音、数据和图像通信为一体的综合业务。用户可根据业务的需要选择基本速率（3B＋D）和基群速率（30B＋D）业务。

                        </p>
                        <ul class="an-img-top-p">
                            <li>
                                <h4 class="an-img-top-h4">30BD主要应用于：</h4>
                                <p>数字程控交换（30个64Kb/s的B信道接入）。</p>
                                <p>商业机构总部与各分支机构之间的信息接入直通道。</p>
                                <p></p>
                            </li>
                            <li>
                                <h4 class="an-img-top-h4">30B＋D的功能</h4>
                                <p>一条30B＋D，实现30路语音同时呼入呼出。</p>
                                <p>用户可通过总机＋分机方式进行呼叫。</p>
                                <p>给分机分配8位真实号码，外线用户可直接以8位号码拨叫分机，也可以拨打总机再转接分机。</p>
                            </li>
                        </ul>
                        <div class="framework-img">
                        </div>
                    </div>
                </div>
            </div>


            <!--产品功能-->
            <div class="tab-content J-defined-content" mod="userDefined16" data-responsive="show" title="互联方式">
                <a class="anchor" id="userDefined16" style="top: -59px;">&nbsp;</a>
                <div class="mod-framework">

                    <h3 class="tab-content-title">设备与组网方案</h3>

                    <div class="tab-content-detail">
                        <h4 class="an-img-top-h4">光纤＋光端机接入方式</h4>
                        <p class="an-img-top-p">目前，30B＋D有两种实现方式，一种是光缆＋光端机接入方式，另一种是模拟线＋HDSL设备接入方式</p>
                        <div class="framework-img">
                            <img src="images/yyzj1.jpg" alt="">
                        </div>
                    </div>
                    <div class="tab-content-detail">
                        <h4 class="an-img-top-h4">模拟线＋HDSL设备接入方式 </h4>
                        <p class="an-img-top-p">用户数据中心与xxxxxx的高速通道，满足用户自建或托管数据中心与自建xxxxxx或托管云互联。</p>
                        <div class="framework-img">
                            <img src="images/yyzj2.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
</div>