<div class="body" id="mjsy">
    <div class="mod-hero J-mod-hero">


        <div class="mod-inner">
            <!--云主机-->
            <div class="banner-ct">
                <h2 itemprop="name" class="title"><span class="title-cn">云抗D</span></h2>
                <div itemprop="description" class="head-content">
                    <p>
                        TelCloudxxxxx云抗D—单个节点防御量高达1T,按需扩容，无黑洞。全自助SECaaS购买多种套餐服务，防御即开即用；关心每一个接入用户，为您重要资源提供性能监控告警服务；7×24优质服务支持，服务器全程监控，保障业务系统稳定续航。</p>
                </div>
                <div class="head-operation">
                    <div class="op-line">
                         <a href="javascript:;" class="tc-btn tc-btn-3"  ng-click="gotoPage('/warning')">立即使用</a>
                    </div>
                </div>
            </div>
            <div class="pt-icon">
                <picture>
                    <source type="image/svg+xml"
                            srcset="images/kd-right.png">
                    <img src="images/kd-right.png"></picture>
            </div>
            <div class="m-pt-icon"><img class="m-icon" src="images/kd-right-shu.png"></div>
        </div>
    </div>

    <div class="mod-inner">
        <!--产品优势-->
        <div class="main-content slide-cvm">
            <div class="tab-content J-defined-content" mod="userDefined9" data-responsive="show" title="产品优势">
                <a class="anchor" id="userDefined9" style="top: -59px;">&nbsp;</a>

                <h3 class="tab-content-title">
                    产品优势
                </h3>
                <!--总列数3 start-->
                <div class="tab-content-detail">
                    <div class="summary-content">
                        <table class="comparison-table">
                            <colgroup>
                                <col class="col1" style="width: 15%">
                                <col class="col2">
                                <col class="col3">
                            </colgroup>
                            <thead>
                            <!--第一行标题 start-->
                            <tr>
                                <th class="tb-title">优势点</th>
                                <th class="tb-title cp-block border-l-r">xxxxx云抗D</th>
                                <th class="tb-title tb-title-old">传统抗DDoS</th>
                            </tr>
                            <!--第一行标题 end-->
                            </thead>
                            <tbody>
                            <!--每个tr标签内为一行-->
                            <!--第一行 start-->
                            <!--无论多少行，无论最后一行是否需要灰色背景，一定要保证使用下面的代码作为第一行的代码-->
                            <tr>
                                <td>
                                    <div class="info tb-sub-title">成本</div>
                                </td>
                                <td class="border-l-r">
                                    <div class="info">
                                        <ul class="text-list">
                                            <li>无硬件、资源投入、按需付费。</li>
                                        </ul>
                                    </div>
                                </td>
                                <td>
                                    <div class="info">
                                        <p>前期大量投入购买软件、硬件资源。</p>

                                    </div>
                                </td>
                            </tr>

                            <tr class="bg-color">
                                <td>
                                    <div class="info tb-sub-title">人力</div>
                                </td>
                                <td class="border-l-r">
                                    <div class="info">
                                        <ul class="text-list">
                                            <li>
                                                无需投入专门人员维护管理;
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                                <td>
                                    <div class="info">
                                        <p>需要专门人员维护管理。</p>
                                    </div>
                                </td>
                            </tr>


                            <tr>
                                <td>
                                    <div class="info tb-sub-title">灵活性</div>
                                </td>
                                <td class="border-l-r">
                                    <div class="info">
                                        <ul class="text-list">
                                            <li>高性能配置，资源充足，扩展灵活、网络冗余稳定、性价比高;</li>
                                        </ul>
                                    </div>
                                </td>
                                <td>
                                    <div class="info">
                                        <p>资源固定、无拓展性、不具备大规模突发攻击处理能力、性价比低。</p>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div class="info tb-sub-title">统计分析</div>
                                </td>
                                <td class="border-l-r">
                                    <div class="info">
                                        <ul class="text-list">
                                            <li>专业分析、详细报表、可视化数据;</li>
                                        </ul>
                                    </div>
                                </td>
                                <td>
                                    <div class="info">
                                        <p>分析不足、报表简单、可视化有限。</p>
                                    </div>
                                </td>
                            </tr>




                            <!-- 隔行背景为灰色，需要灰色背景添加bg-color-->
                            <!--最后一行 start-->
                            <!--无论多少行，无论最后一行是否需要灰色背景，一定要保证使用下面的代码作为最后一行的代码-->
                            <tr>
                                <td>
                                    <div class="info tb-sub-title">技术支持</div>
                                </td>
                                <td class="cp-block-ft border-l-r">
                                    <div class="info">
                                        <ul class="text-list">
                                            <li>专责DDoS防御服务团队关注、注重用户需求和反馈 ;</li>
                                        </ul>
                                    </div>

                                </td>
                                <td>
                                    <div class="info">
                                        <p>服务团队服务资源缺乏、不注重用户反馈和客户沟通。</p>
                                    </div>
                                </td>
                            </tr>
                            <!--最后一行 end-->
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--总列数3 end-->
            </div>


            <!--产品功能-->
            <div class="tab-content J-defined-content" mod="userDefined16" data-responsive="show" title="产品特点">
                <a class="anchor" id="userDefined16" style="top: -59px;">&nbsp;</a>
                <div class="mod-framework">

                    <h3 class="tab-content-title">产品特点</h3>

                    <div class="tab-content-detail">
                        <p class="an-img-top-p">xxxxx云抗D采用DNS解析的方式，使用户请求先经过xxxxx云的防御节点，防御节点对于请求进行识别和过滤，正常访问流量牵引至源站服务器，恶意请求则清洗掉，从而实现DDoS防御。</p>
                        <div class="framework-img">
                            <img src="images/kangDtedian1.png" title="产品特点" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <!--产品功能-->
            <div class="tab-content J-defined-content" mod="userDefined16" data-responsive="show" title="xxxxx云抗D图示">
                <a class="anchor" id="userDefined16" style="top: -59px;">&nbsp;</a>
                <div class="mod-framework">

                    <h3 class="tab-content-title">xxxxx云抗D图示</h3>

                    <div class="tab-content-detail">
                        <div class="framework-img">
                            <img src="images/kangDtushi1.png" title="抗D图示" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <!--产品功能-->
            <div class="tab-content J-defined-content" mod="userDefined16" data-responsive="show" title="防御资源">
                <a class="anchor" id="userDefined16" style="top: -59px;">&nbsp;</a>
                <div class="mod-framework">

                    <h3 class="tab-content-title">防御资源</h3>

                    <div class="tab-content-detail">
                        <div class="framework-img">
                            <img  title="防御资源" src="images/kangDziyuan1.png" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <!--产品功能-->
            <div class="tab-content J-defined-content" mod="userDefined16" data-responsive="show" title="技术支持">
                <a class="anchor" id="userDefined16" style="top: -59px;">&nbsp;</a>
                <div class="mod-framework">

                    <h3 class="tab-content-title">技术支持</h3>

                    <div class="tab-content-detail">
                        <div class="framework-img">
                            <img title="技术支持"  src="images/kangDjszc.png" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <!--产品功能-->
            <div class="tab-content J-defined-content" mod="userDefined16" data-responsive="show" title="应用背景">
                <a class="anchor" id="userDefined16" style="top: -59px;">&nbsp;</a>
                <div class="mod-framework">

                    <h3 class="tab-content-title">应用背景</h3>

                    <div class="tab-content-detail">
                        <p class="an-img-top-p">
                            随着电子商务、在线游戏、网银支付系统、社交网站等需要数据中心支撑的高利润在线业务的高速增长，以恶意竞争为目的的DDoS攻击与日俱增，而持续时间也是越来越长。根据安全事件调查显示，行业间的恶意竞争、巨额金钱讹索，多出现在购物季和各节日期间，如黑色星期五、圣诞节、新年等节日购物时间，PSN、Xbox
                            Live和EA连续多年在圣诞节及大型游戏发布前夕遭受DDoS攻击。
                            在DDoS攻击目标行业中，最严重的为电子商务、金融网贷、在线游戏及政府机构。所以这些行业的企业和机构是最需要使用xxxxx云抗D产品的。</p>

                        <div class="framework-img">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>