<div class="body" id="mjsy">
    <div class="mod-hero J-mod-hero">


        <div class="mod-inner">
            <!--云主机-->
            <div class="banner-ct">
                <h2 itemprop="name" class="title"><span class="title-cn">智慧云网关</span></h2>
                <div itemprop="description" class="head-content">
                    <p>
                        TelCloud智慧云网关——一体化融合网络接入、管控、优化、审计、运营等功能的高性能综合应用云网关。面向政府、金融、教育、企业等多行业客户不同网络规模业务场景，通过云平台管理的模式，简化网络管理，节约客户成本，提升业务效率和价值。</p>
                </div>
                <div class="head-operation">
                    <div class="op-line">
                         <a href="javascript:;" class="tc-btn tc-btn-3"  ng-click="gotoPage('/warning')">立即使用</a>
                    </div>
                </div>
            </div>
            <div class="pt-icon">
                <picture>
                    <source type="image/svg+xml"
                            srcset="images/ywg-right.png">
                    <img src="images/ywg-right.png"></picture>
            </div>
            <div class="m-pt-icon"><img class="m-icon" src="images/ywg-right-shu.png"></div>
        </div>
    </div>

    <div class="mod-inner">
        <!--产品优势-->
        <div class="main-content slide-cvm">
            <div class="tab-content J-defined-content" mod="userDefined9" data-responsive="show" title="产品优势">
                <a class="anchor" id="userDefined9" style="top: -59px;">&nbsp;</a>

                <h3 class="tab-content-title">
                    产品优势
                </h3>
                <!--总列数3 start-->
                <div class="tab-content-detail">
                    <div class="summary-content">
                        <table class="comparison-table">
                            <colgroup>
                                <col class="col1" style="width: 15%">
                                <col class="col2">
                                <col class="col3">
                            </colgroup>
                            <thead>
                            <!--第一行标题 start-->
                            <tr>
                                <th class="tb-title">优势点</th>
                                <th class="tb-title cp-block border-l-r">xxxxx云智慧云网关</th>
                                <th class="tb-title tb-title-old">传统网管设备</th>
                            </tr>
                            <!--第一行标题 end-->
                            </thead>
                            <tbody>
                            <!--每个tr标签内为一行-->
                            <!--第一行 start-->
                            <!--无论多少行，无论最后一行是否需要灰色背景，一定要保证使用下面的代码作为第一行的代码-->
                            <tr>
                                <td>
                                    <div class="info tb-sub-title">灵活性</div>
                                </td>
                                <td class="border-l-r">
                                    <div class="info">
                                        <ul class="text-list">
                                            <li>三步申请，即插即用，部署快捷;</li>
                                        </ul>
                                    </div>
                                </td>
                                <td>
                                    <div class="info">
                                        <p>设备采购、设备安装、策略部署繁琐</p>

                                    </div>
                                </td>
                            </tr>

                            <tr class="bg-color">
                                <td>
                                    <div class="info tb-sub-title">后台管理</div>
                                </td>
                                <td class="border-l-r">
                                    <div class="info">
                                        <ul class="text-list">
                                            <li>
                                                xxxxx云平台统一管理，视图可见;
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                                <td>
                                    <div class="info">
                                        <p>无云平台管控，多台设备配置繁琐</p>
                                    </div>
                                </td>
                            </tr>


                            <tr>
                                <td>
                                    <div class="info tb-sub-title">技术支持</div>
                                </td>
                                <td class="border-l-r">
                                    <div class="info">
                                        <ul class="text-list">
                                            <li>设备问题在线技术支持，高效解决;</li>
                                        </ul>
                                    </div>
                                </td>
                                <td>
                                    <div class="info">
                                        <p>问题解决时间长，技术支持响应慢</p>
                                    </div>
                                </td>
                            </tr>




                            <!-- 隔行背景为灰色，需要灰色背景添加bg-color-->
                            <!--最后一行 start-->
                            <!--无论多少行，无论最后一行是否需要灰色背景，一定要保证使用下面的代码作为最后一行的代码-->
                            <tr>
                                <td>
                                    <div class="info tb-sub-title">成本</div>
                                </td>
                                <td class="cp-block-ft border-l-r">
                                    <div class="info">
                                        <ul class="text-list">
                                            <li>一次性投入小，按使用时长计费;</li>
                                        </ul>
                                    </div>

                                </td>
                                <td>
                                    <div class="info">
                                        <p>一次性投入成本大，年升级费用高</p>
                                    </div>
                                </td>
                            </tr>
                            <!--最后一行 end-->
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--总列数3 end-->
            </div>

            <div class="tab-content mod-function" mod="features" title="产品功能">
                <a class="anchor" id="features" style="top: -59px;">&nbsp;</a>
                <h3 class="tab-content-title">产品功能</h3>
                <div class="tab-content-detail column-4">
                    <h4 class="an-img-top-h4"><b>在xxxxx云轻松管控您的TelCloud智慧云网关
                        云平台便捷查看设备状态，内网状态，配置调整，设备更新</b></h4>
                    <div class="vertical-size">
                        <span class="item-icon">
                            <img src="images/zhy001.png" alt="">
                        </span>
                        <h4>设备和内网状态</h4>
                        <p class="text">快捷查看所有设备状态；一眼知晓内网状态，系统资源，实时流量，应用排名，流量排名，内网问题准确性。</p>
                    </div>
                    <div class="vertical-size">
                        <span class="item-icon">
                            <img src="images/zhy002.png" alt="">
                        </span>
                        <h4 style="margin: 26px 0 8px;">配置调整</h4>
                        <p class="text">
                            方便快捷直接修改配置策略，实时调整实时生效。设备配置实时掌握。
                        </p>
                    </div>
                    <div class="vertical-size">
                        <span class="item-icon">
                            <img src="images/zhy003.png" alt="">
                        </span>
                        <h4>五大功能一体化融合</h4>
                        <p class="text">
                            一键升级设备应用特征识别库，实时升级软件版本，设备软件焕然一新。
                        </p>
                    </div>
                    <div class="vertical-size">
                        <span class="item-icon">
                            <img src="images/zhy004.png" alt="">
                        </span>
                        <h4>安全</h4>
                        <p class="text">
                            基于SDN网络技术实现，不同通信链路相互隔离，安全性高。
                        </p>
                    </div>
                    <div class="vertical-size">
                        <span class="item-icon">
                            <img src="images/zhy005.png" alt="">
                        </span>
                        <h4 style="margin: 27px 0 8px;">强大识别引擎</h4>
                        <p class="text">
                            应用特征识别与分析，多种分类审计实现内网精细化管控。
                        </p>
                    </div>
                    <div class="vertical-size">
                        <span class="item-icon">
                            <img src="images/zhy006.png" alt="">
                        </span>
                        <h4>QOS带宽管理</h4>
                        <p class="text">
                            细致贴心的流量管控，有效提升带宽利用率、保护带宽资源。
                        </p>
                    </div>
                </div>

            </div>

            <!--产品功能-->
            <div class="tab-content J-defined-content" mod="userDefined16" data-responsive="show" title="技术支持">
                <a class="anchor" id="userDefined16" style="top: -59px;">&nbsp;</a>
                <div class="mod-framework">

                    <h3 class="tab-content-title">技术支持</h3>

                    <div class="tab-content-detail">
                        <div class="framework-img">
                            <img src="images/zhyjszc2.png" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <!--产品功能-->
            <div class="tab-content J-defined-content" mod="userDefined16" data-responsive="show" title="应用场景">
                <a class="anchor" id="userDefined17" style="top: -59px;">&nbsp;</a>
                <div class="mod-framework">

                    <h3 class="tab-content-title">应用场景</h3>

                    <div class="tab-content-detail">
                        <p class="an-img-top-p">
                            公司总部与分支机构均使用TelCloud智慧云网关。<br>
                            一台智慧云网关设备，兼顾互联网接入以及安全防护、上网管理、行为审计、VPN接入等功能。<br>
                            多台智慧云网关设备xxxxx云平台统一管理，运维管理十分便捷，运行状态统一查看，分支机构网络概览一眼知晓。
                        </p>
                        <div class="framework-img">
                            <img  src="images/zhywgyycj.png" alt="">
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>