<div class="solution solution-e-commerce">
    <!--banner start-->
    <div class="section section-banner" style="background: #515dff">
        <div class="section-inner">
            <div class="section-content">
                <div class="banner">
                    <img class="banner-img" src="./images/hunheyun11111.jpg">
                    <div class="banner-ct banner-ct-top" style="color:#333;top: -18px;">
                        <h2 class="title">混合云解决方案</h2>
                        <div class="des-text">
                            <p>安全省心 全面护航</p>
                        </div>
                        <div class="op">
                            <a style="width: auto;    background: #116ddd; display: inline-block;"   ng-click="gotoPage('/warning')" href="javascript:;"class="tc-15-btn btn-2">立即咨询</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--banner end-->
    <div class="section section-scene bg-color-1" data-mod="business" data-role="module">
        <a class="anchor" id="business">&nbsp;</a>
        <div class="section-inner">
            <div class="section-title">
                <h3 style="line-height: 22px;
    margin-bottom: 22px;
    margin-left: 13px;
    border-left: 2px solid blue;
    font-size: 22px;
    padding-left: 12px;">方案特点</h3>
                <div class="section-content" style="padding-bottom: 0;margin:0;border-bottom:none;">
                    <ul class="vertical-list column-2 vertical-list_padd">
                        <li class="vertical-item">
                            <div class="vertical-item-body vertical-item-body_font" style="padding:5% 5% 0% 5%;">
                                <h5 style="     margin: 7px 0 0;padding-bottom: 10px;"><strong>秒级调度</strong></h5>
                                <p class="text">弹性 Web 规模级计算，
                                    秒级部署 快速响应，
                                    多重实时副本 保证安全。</p>
                            </div>
                        </li>
                        <li class="vertical-item">
                            <div class="vertical-item-body vertical-item-body_font" style="padding:5% 5% 0% 5%;">
                                <h5 style="     margin: 7px 0 0;padding-bottom: 10px;"><strong>灵活可靠</strong></h5>
                                <p class="text">迅速实现交付，满足不断变化的创新业务需求。
                                    提供系统高可用，消除单点硬件损坏风险，确保数据与应用安全。</p>
                            </div>
                        </li>
                        <li class="vertical-item">
                            <div class="vertical-item-body vertical-item-body_font" style="padding:5% 5% 0% 5%;">
                                <h5 style="     margin: 7px 0 0;padding-bottom: 10px;"><strong>节省投资</strong></h5>
                                <p class="text">按需付费、弹性使用、节省成本。</p>
                            </div>
                        </li>
                        <li class="vertical-item">
                            <div class="vertical-item-body vertical-item-body_font" style="padding:5% 5%;">
                                <h5 style="     margin: 7px 0 0;padding-bottom: 10px;"><strong>专业运维支持</strong></h5>
                                <p class="text">7x24小时的专属架构师服务 ，提供快速排障、技术指导、架构建议等全栈式服务，提高运维效率，降低运维成本。</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

    <div class="section section-framework" data-mod="section-framework" data-role="module">
        <a class="anchor" id="section-framework">&nbsp;</a>
        <div class="section-inner">
            <div class="left-side">
                <div class="section-title">
                    <h3 style="   line-height: 22px;
    margin-bottom: 22px;
    margin-left: 13px;
    border-left: 2px solid blue;
    font-size: 22px;
    padding-left: 12px;">方案架构</h3>
                    <h3 style="font-size: 14px;    line-height: 26px;;">方案说明：</h3>
                    <img src="./images/hunheyun1111.png" alt="" style="width:100%;    padding: 0 22px;">
                    <!-- <h3 class="aaaa1">
                         <ul>
                             <p>由传统客户DC向云的转化</p>
                             <li>初始化建立云平台或申请云主机</li>
                             <li>建立高速通道、专线开通</li>
                             <li>应用及网络架构分析</li>
                             <li>应用及主机逐步向云端迁移</li>
                             <li>混合云架构搭建</li>
                             <li>现有系统与云平台并行调测</li>
                             <li>搭建整体运维管理平台</li>
                         </ul>
                     </h3>-->
                </div>
            </div>
        </div>
    </div>







</div>
