<div class="body" id="mjsy">
    <div class="mod-hero J-mod-hero">


        <div class="mod-inner">
            <!--云主机-->
            <div class="banner-ct">
                <h2 itemprop="name" class="title"><span class="title-cn">互联网接入</span></h2>
                <div itemprop="description" class="head-content">
                    <p>xxxxx为企业用户提供DDN专线上网/数字电路/SDH光纤、ADSL、ISDN、Frame Relay等快速且稳定的互联网接入（Internet
                        Access）服务方案，企业用户仅需支付使用月租，即可根据自身需求选择最合适的网络带宽，除了可拥有专线的安全性外，更可享有专属的带宽保证及带宽扩充性等优点。</p>
                </div>
                <div class="head-operation">
                    <div class="op-line">
                         <a href="javascript:;" class="tc-btn tc-btn-3"  ng-click="gotoPage('/warning')">立即使用</a>
                    </div>
                </div>
            </div>
            <div class="pt-icon">
                <picture>
                    <source type="image/svg+xml"
                            srcset="images/yjr-right.png">
                    <img src="images/yjr-right.png"></picture>
            </div>
            <div class="m-pt-icon"><img class="m-icon" src="images/yjr-right-shu.png"></div>
        </div>
    </div>

    <div class="mod-inner">
        <!--产品优势-->
        <div class="main-content slide-cvm">
            <div class="tab-content J-defined-content" mod="userDefined9" data-responsive="show" title="产品优势"><a
                    class="anchor" id="userDefined9" style="top: -59px;">&nbsp;</a>
                <h3 class="tab-content-title">
                    产品优势
                </h3>

                <!--总列数2 start-->
                <div class="tab-content-detail">
                    <div class="summary-content">
                        <table class="comparison-table">
                            <colgroup>
                                <col class="col1" style="width: 21%">
                                <col class="col2">
                            </colgroup>
                            <thead>
                            <!--第一行标题 start-->
                            <tr>
                                <th class="tb-title">优势点</th>
                                <th class="tb-title tb-title-old">互联网</th>
                            </tr>
                            <!--第一行标题 end-->
                            </thead>
                            <tbody>
                            <!--每个tr标签内为一行-->
                            <!--第一行 start-->
                            <!--无论多少行，无论最后一行是否需要灰色背景，一定要保证使用下面的代码作为第一行的代码-->
                            <tr>
                                <td>
                                    <div class="info tb-sub-title"><p>易用</p></div>
                                </td>
                                <td>
                                    <div class="info">
                                        <p>品质保证。 网络核心为世界一流的网络设备供货商Cisco所提供的设备及技术支持，确保了网络的高效及稳定性。 </p>

                                    </div>
                                </td>
                            </tr>


                            <tr class="bg-color">
                                <td>
                                    <div class="info tb-sub-title"><p>安全</p></div>
                                </td>
                                <td>
                                    <div class="info">
                                        <p>
                                            国际级支持服务。提供每天24小时、每周7天、全年365天的系统监控及全面的技术支持。 </p>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div class="info tb-sub-title">可靠</div>
                                </td>
                                <td>
                                    <div class="info">
                                        <p>值得信赖的专业经验。我们的客户包括政府机构、世界500强企业、上市企业、跨国企业以及各类中小型企业等。</p>
                                    </div>
                                </td>
                            </tr>

                            <!--最后一行 end-->
                            </tbody>
                        </table>
                    </div>
                </div>
0

            </div>


            <!--产品功能-->
            <div class="tab-content mod-scenario J-tabBoxWrapper" mod="featuresV2" title="产品功能" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                <a class="anchor" id="featuresV2" style="top: -59px;">&nbsp;</a>
                <h3 class="tab-content-title">产品功能</h3>
                <div class="mod-features">
                    <div class="tab-content-detail">
                        <div class="tab J-tabTitleArea">
                            <ul class="tab-list">
                                <li class="tab-item J-tabTitleItem current"><a href="javascript:;">DDN专线/数字电路</a></li>
                                <li class="tab-item J-tabTitleItem"><a href="javascript:;">ADSL</a></li>
                                <li class="tab-item J-tabTitleItem"><a href="javascript:;">ISDN</a></li>
                                <li class="tab-item J-tabTitleItem"><a href="javascript:;">Frame Relay（帧中继）</a></li>
                            </ul>
                        </div>
                        <div class="J-tabContentArea">
                            <div class="list-content-v2">
                                <a href="javascript:;" class="list-content-head J-tabContentHead arr-up">
                                    DDN专线/数字电路<span class="icon"></span>
                                </a>
                                <div class="list-content-body markdown-text-box J-tabContentBody">
                                 <p>DDN专线/数字电路。利用点对点的连接方式提供固定专属带宽，用户可完全控制使用方式。因为是专属带宽，不需与他人分享，
                                     因此速度非常快，品质得以保障且安全性极高。理论上讲，企业用户的任何两个点间都可以利用这个方式取得连接。
                                     xxxxx提供64Kb/s～2Mb/s多种带宽选择的DDN专线，以及2Mb/s或以上的数字电路。</p>
                                </div>
                            </div>
                            <div class="list-content-v2">
                                <a href="javascript:;" class="list-content-head J-tabContentHead arr-down">
                                    ADSL<span class="icon"></span>
                                </a>
                                <div class="list-content-body markdown-text-box J-tabContentBody" style="display:none;">
                                    <p>
                                        ADSL是指利用普通电话线，以ADSL技术方式实现超高速上网等功能的一种电信新业务。
                                        ADSL（Asymmetric Digital Subscriber Line，非对称数字用户线路）是一种新兴的高速通信技术。
                                    </p>
                                </div>
                            </div>
                            <div class="list-content-v2">
                                <a href="javascript:;" class="list-content-head J-tabContentHead arr-down">
                                    ISDN<span class="icon"></span>
                                </a>
                                <div class="list-content-body markdown-text-box J-tabContentBody" style="display:none;">
                                    <p>
                                        ISDN是以综合数字网为基础发展起来的通信网，它只需利用一条普通的电话线，
                                        便可实现打电话及拨号上网，能够将传真、资料、图像等多种业务在同一个网络中传送和处理。由于它是交换电路，
                                        因此可以自由地选择互联的对端，比较灵活、方便。它是按实际的连接时间来收费的，
                                        因此比较经济，尤其适合不需要长时间在线的客户。许多客户用它来做后备线路，以达到多重连接的品质保障。
                                    </p>
                                </div>
                            </div>
                            <div class="list-content-v2">
                                <a href="javascript:;" class="list-content-head J-tabContentHead arr-down">
                                    Frame Relay（帧中继）<span class="icon"></span>
                                </a>
                                <div class="list-content-body markdown-text-box J-tabContentBody" style="display:none;">
                                    <p>
                                        Frame Relay是从分组交换技术发展而来的，它采用虚电路技术，并对分组交换技术进行了简化。
                                        它是在一条物理线路上建立多条虚电路（PVC），因此吞吐量大，而且大大节省了用户的设备投资和电路租用成本。
                                        它采用动态分配带宽的方法，满足用户在网络有空余带宽时处理突发资料的需求，因此它的实际通信速率可以高于用户购买的基本速率。
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!--产品功能-->

        </div>

    </div>
</div>