<div class="J-mainContent" id="mbzywd">
    <div class="mwdyzcbox" ng-include="'view2/mwd_left.html'"></div>
    <div class="qc-wrapper doc-box">
        <div class="qc-grids table-box">
            <div class="qc-unit-19-24 main-content doc-main-details J-mainDetail">
                <div class="J-innerMain m-height">
                    <div class="markdown-text-box" style="    overflow: initial;">
                        <div class="crumbs">
                            <a href="javascript:;" ng-click="gotoPage('/documents/userguide')">帮助与文档</a>
                            <i class="right-arrow-icon"></i>
                             <a href="javascript:;">认证信息</a>
                            <i class="right-arrow-icon"></i>
                            <span class="text">ISO14001认证</span>
                        </div>
                        <div class="box-title">
                            <div class="grids-height">
                                <div class="iaas_line">
                                    <h1 style="margin: 14px 0;">ISO14001认证</h1>
                                    <p>
                                        ISO14001认证全称是ISO14001环境管理体系认证，是指依据ISO14001标准由第三方认证机构实施的合格评定活动。
                                        为使用者（企业、事业、政府）提供了综合管理包括质量管理等体系兼容并蓄的环境管理的依据，
                                        规定了环境管理的共同语言和准则的要求。通过认证后可证明该组织在环境管理方面达到了国际水平。
                                        <br><br>
                                    </p>
                                    <p>
                                        龙腾佳讯自2004年成立以来，一直致力于环保事业建设，所倡导的环保、节能、
                                        降低成本的理念始终贯穿于产品研发、设计、运营的每个环节之中，志在使服务资源的交付更加简单、
                                        高效、可靠、环保。获得ISO14001体系的认证，表明了龙腾佳讯为用户提供的云计算服务，
                                        计算机应用软件开发及信息系统集成服务在资源使用率、集约化、绿色节能、成本控制方面的有效性得到验证，
                                        同时达到国际水准。未来，龙腾佳讯还将继续努力，为用户提供更多，更可靠、更环保的服务交付。
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="mwd_tanchuceng"></div>