<div class="J-mainContent" id="mbzywd">
    <div class="mwdyzcbox" ng-include="'view2/mwd_left.html'"></div>
    <div class="qc-wrapper doc-box">
        <div class="qc-grids table-box">
            <div class="qc-unit-19-24 main-content doc-main-details J-mainDetail">
                <div class="J-innerMain m-height">
                    <div class="markdown-text-box" style="    overflow: initial;">
                        <div class="crumbs">
                            <a href="javascript:;" ng-click="gotoPage('/documents/userguide')">帮助与文档</a>
                            <i class="right-arrow-icon"></i>
                             <a href="javascript:;">认证信息</a>
                            <i class="right-arrow-icon"></i>
                            <span class="text">ISO27001认证</span>
                        </div>
                        <div class="box-title">
                            <div class="grids-height">
                                <div class="iaas_line">
                                    <h1 style="margin: 14px 0;">ISO27001认证</h1>
                                    <p>
                                        SO27001是全球普遍认可、最权威的信息安全管理标准，采用以风险管理为核心的方法来管理公司和客户信息，
                                        并通过定期评估风险和控制措施的有效性来保证体系的持续运行。ISO27001为一个系统的、
                                        整体规划的信息安全管理体系，其从预防控制的角度出发，保障组织的信息系统与业务之安全与正常运作。
                                        ISO27001信息安全管理体系的目标为通过整体规划的信息安全解决方案，
                                        来确保企业信息系统和业务的安全，并保持持续正常运作。
                                    </p>
                                    <br><br>
                                    <p>
                                        xxxxx取得ISO27001信息安全管理体系认证，不仅证实了xxxxx在云计算、计算机软件开发、
                                        系统集成服务方面的安全管理程序符合国际公认标准；而且证实了xxxxx在云计算技术框架、
                                        内部管理同国际信息安全最佳实践的一致性；同时肯定了xxxxx云计算产品从设计到交付的透明度、
                                        云计算平台的关键核心安全技术及安全态势感知预警技术、云安全服务自动化的运营模式；
                                        证明了xxxxx对于用户所作出的服务承诺将保证每个级别的信息安全。
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="mwd_tanchuceng"></div>