<div class="J-mainContent" id="mbzywd">
    <div class="mwdyzcbox" ng-include="'view2/mwd_left.html'"></div>
    <div class="qc-wrapper doc-box">
        <div class="qc-grids table-box">
            <div class="qc-unit-19-24 main-content doc-main-details J-mainDetail">
                <div class="J-innerMain m-height">
                    <div class="markdown-text-box" style="    overflow: initial;">
                        <div class="crumbs">
                            <a href="javascript:;" ng-click="gotoPage('/documents/userguide')">帮助与文档</a>
                            <i class="right-arrow-icon"></i>
                             <a href="javascript:;">认证信息</a>
                            <i class="right-arrow-icon"></i>
                            <span class="text">ISO9001认证</span>
                        </div>
                        <div class="box-title">
                            <div class="grids-height">
                                <div class="iaas_line">
                                    <h1 style="margin: 14px 0;">ISO9001认证</h1>
                                    <p>
                                        ISO 9001是由全球第一个质量管理体系标准 BS 5750（BSI撰写）转化而来的，
                                        ISO 9001是迄今为止世界上最成熟的质量框架。它是一个系统性的保证公司产品
                                        质量及运作的指导性纲领和规范架构，围绕企业提供的产品或服务展开的，
                                        策划和实施及改进产品或服务实现的全过程，确保满足客户及相关法律法规要求。
                                    </p>
                                    <br><br>
                                    <p>
                                        获得ISO9001认证，标志xxxxx已在管理、实际工作、产品、市场、售后服
                                        务等所有方面建立起一套完善的质量管理体系，运用质量管理系统，有效和高效地实现了预期的质量目标。
                                        同时证实了xxxxx有能力为用户提供稳定的、满足用户需求的优质的产品和服务。
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="mwd_tanchuceng"></div>