<div class="body" id="mjsy">
    <div class="mod-hero J-mod-hero">


        <div class="mod-inner">
            <!--云主机-->
            <div class="banner-ct">
                <h2 itemprop="name" class="title"><span class="title-cn">监控与管理</span></h2>
                <div itemprop="description" class="head-content">
                    <p>xxxxx云为您提供免费的云监控以及易用的云计算资源管理，为您呈现出立体化云产品数据监控，自动化资源部署及运维，实时化故障告警。让您简单方便的实现对资源的部署、管理与监控。</p>
                </div>
                <div class="head-operation">
                    <div class="op-line">
                         <a href="javascript:;" class="tc-btn tc-btn-3"  ng-click="gotoPage('/warning')">立即使用</a>
                    </div>
                </div>
            </div>
            <div class="pt-icon">
                <picture>
                    <source type="image/svg+xml"
                            srcset="images/yjk-right.png">
                    <img src="images/yjk-right.png"></picture>
            </div>
            <div class="m-pt-icon"><img class="m-icon" src="images/yjk-right-shu.png"></div>
        </div>
    </div>

    <div class="mod-inner">
        <!--产品优势-->
        <div class="main-content slide-cvm">
            <div class="tab-content J-defined-content" mod="userDefined9" data-responsive="show" title="产品优势"><a
                    class="anchor" id="userDefined9" style="top: -59px;">&nbsp;</a>
                <h3 class="tab-content-title">
                    产品优势
                </h3>


                <!--总列数2 start-->
                <div class="tab-content-detail">
                    <div class="summary-content">
                        <table class="comparison-table">
                            <colgroup>
                                <col class="col1" style="width: 21%">
                                <col class="col2">
                            </colgroup>
                            <thead>
                            <!--第一行标题 start-->
                            <tr>
                                <th class="tb-title">优势点</th>
                                <th class="tb-title tb-title-old">监控与管理</th>
                            </tr>
                            <!--第一行标题 end-->
                            </thead>
                            <tbody>
                            <!--每个tr标签内为一行-->
                            <!--第一行 start-->
                            <!--无论多少行，无论最后一行是否需要灰色背景，一定要保证使用下面的代码作为第一行的代码-->
                            <tr>
                                <td>
                                    <div class="info tb-sub-title"><p>免费开通</p></div>
                                </td>
                                <td>
                                    <div class="info">
                                        <p>云监控无需购买和开通，拥有xxxxx云便自动开通了管理与云监控服务，
                                            方便您在购买和使用xxxxx云产品后直接查看云监控，设置定时器细化管理。</p>
                                    </div>
                                </td>
                            </tr>


                            <tr class="bg-color">
                                <td>
                                    <div class="info tb-sub-title"><p>多指标监控</p></div>
                                </td>
                                <td>
                                    <div class="info">
                                        <p>云监控为您提供了xxxxx服务器CPU利用率、内存利用率、磁盘利用率以及网络带宽使用率等各项xxxxx服务负载和性能指标，通过直观图表展示出来。</p>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div class="info tb-sub-title">自动化管理</div>
                                </td>
                                <td>
                                    <div class="info">
                                        <p>您可以利用xxxxx云提供的定时器，轻松管理xxxxx服务器的开关机、分时段自动调整带宽大小，定时自动备份，轻松便捷的实现自动化运维。</p>
                                    </div>
                                </td>
                            </tr>

                            <tr class="bg-color">
                                <td>
                                    <div class="info tb-sub-title">全时服务</div>
                                </td>
                                <td>
                                    <div class="info">
                                        <p>提供7*24小时的实时监控服务，为您的系统保驾护航。1V1在线工单系统、最快速度的解决您的疑惑。</p>

                                    </div>
                                </td>
                            </tr>

                            <!--最后一行 end-->
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>

            <!--产品功能-->
            <div class="tab-content J-defined-content" mod="userDefined16" data-responsive="show" title="功能描述">
                <a class="anchor" id="userDefined16" style="top: -59px;">&nbsp;</a>
                <div class="mod-framework">

                    <h3 class="tab-content-title">功能描述</h3>

                    <div class="tab-content-detail">

                        <ul class="an-img-top-p">
                            <li>
                                <h4 class="an-img-top-h4">全面监控</h4>
                                <p>主机、路由器、硬盘、公网IP、负载均衡器都具备完整全面的历史监控和实时监控信息。</p>
                            </li>
                            <li>
                                <h4 class="an-img-top-h4">图形化界面</h4>
                                <p>直观展示主机及其相关资源，并可以直接操作图形，所有改动自动更新。</p>
                            </li>
                            <li>
                                <h4 class="an-img-top-h4">操作日志</h4>
                                <p>记录下用户所有重要操作历史，方便定位和查找。</p>
                            </li>
                            <li>
                                <h4 class="an-img-top-h4">备份链可视化</h4>
                                <p>记对于备份各节点一目了然，同时可直接操作新建备份及回滚到之前的状态。</p>
                            </li>
                            <li>
                                <h4 class="an-img-top-h4">灵活的定时器</h4>
                                <p>可定义周期性任务自动执行资源操作，如开/关主机、创建备份和调节带宽等。</p>
                            </li>
                            <li>
                                <h4 class="an-img-top-h4">通知告警</h4>
                                <p>用于接收监控告警通知、定时器任务执行结果。</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <!--产品功能-->
            <div class="tab-content mod-scenario J-tabBoxWrapper" mod="featuresV2" title="产品功能" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                <a class="anchor" id="featuresV2" style="top: -59px;">&nbsp;</a>
                <h3 class="tab-content-title">产品功能</h3>
                <div class="mod-features">
                    <div class="tab-content-detail">
                        <div class="tab J-tabTitleArea">
                            <ul class="tab-list">
                                <li class="tab-item J-tabTitleItem current"><a href="javascript:;">日常巡检</a></li>
                                <li class="tab-item J-tabTitleItem"><a href="javascript:;">分时段带宽调整</a></li>
                            </ul>
                        </div>
                        <div class="J-tabContentArea">
                            <div class="list-content-v2">
                                <a href="javascript:;" class="list-content-head J-tabContentHead arr-up">
                                    日常巡检<span class="icon"></span>
                                </a>
                                <div class="list-content-body markdown-text-box J-tabContentBody">
                                    <p>若您在日常巡检操作中，想全面掌控各个云产品的整体状况：
                                        浏览云监控控制台，xxxxx服务器产品监控视图，如果CPU使用率为业务关键指标，则选择该列点击排序。此排序是最近5分钟内的实时监控数据，能看出在最近5分钟内，哪台xxxxx服务器CPU使用率最高、哪台xxxxx服务器CPU使用率最低、相差多少，对比查看下，即可发现异常。若想查看历史某天异常xxxxx服务器，则选择时间，以关键指标排序找出异常xxxxx服务器。一天的指标数据取当天所有监控周期的最大值。</p>
                                </div>
                            </div>
                            <div class="list-content-v2">
                                <a href="javascript:;" class="list-content-head J-tabContentHead arr-down">
                                    分时段带宽调整<span class="icon"></span>
                                </a>
                                <div class="list-content-body markdown-text-box J-tabContentBody" style="display:none;">
                                    <p>
                                        很多游戏公司的带宽需求会在不同时间段有着较大差距。根据对自己公司业务的具体分析，利用xxxxx云提供的定时器，在不同时间段设置不同的带宽大小。这样，不仅可以大大降低公司的运营成本，还能帮助公司打造一个自动化运维的范本。</p>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!--产品功能-->

        </div>

    </div>
</div>