<div class="body" id="mjsy">
    <div class="mod-hero J-mod-hero">


        <div class="mod-inner">
            <!--云主机-->
            <div class="banner-ct">
                <h2 itemprop="name" class="title"><span class="title-cn">私有云</span></h2>
                <div itemprop="description" class="head-content">
                    <p>TelCloud私有云（OpenStack
                        Cloud）基于成熟的Openstack系统上进行二次开发，结合龙腾佳讯多年的数据中心、服务器与网络产品、以及运维和服务经验打造企业私有云平台。它构建在专属的独立IDC资源或企业的数据中心内，为企业提供专属的可扩展的云平台。TelCloud私有云是高度弹性和可扩展的IT基础架构平台，
                        帮助企业减少自主采购、上架的过程， 加快业务上线的进程，并可有效降低IT运维成本。 </p>
                </div>
                <div class="head-operation">
                    <div class="op-line">
                        <a href="javascript:;" class="tc-btn tc-btn-3" ng-click="gotoPage('/warning')">立即使用</a>
                    </div>
                </div>
            </div>
            <div class="pt-icon">
                <picture>
                    <source type="image/svg+xml"
                            srcset="images/syy-right.png">
                    <img src="images/syy-right.png"></picture>
            </div>
            <div class="m-pt-icon"><img class="m-icon" src="images/syy-right-shu.png"></div>
        </div>
    </div>

    <div class="mod-inner">
        <!--产品优势-->
        <div class="main-content slide-cvm">
            <div class="tab-content J-defined-content" mod="userDefined9" data-responsive="show" title="产品优势">
                <a class="anchor" id="userDefined9" style="top: -59px;">&nbsp;</a>

                <h3 class="tab-content-title">
                    产品优势
                </h3>
                <!--总列数3 start-->
                <div class="tab-content-detail">
                    <div class="summary-content">
                        <table class="comparison-table">
                            <colgroup>
                                <col class="col1" style="width: 15%">
                                <col class="col2">
                                <col class="col3">
                            </colgroup>
                            <thead>
                            <!--第一行标题 start-->
                            <tr>
                                <th class="tb-title">优势点</th>
                                <th class="tb-title cp-block border-l-r">龙腾私有云</th>
                                <th class="tb-title tb-title-old">传统方式构建云平台</th>
                            </tr>
                            <!--第一行标题 end-->
                            </thead>
                            <tbody>
                            <!--每个tr标签内为一行-->
                            <!--第一行 start-->
                            <!--无论多少行，无论最后一行是否需要灰色背景，一定要保证使用下面的代码作为第一行的代码-->
                            <tr>
                                <td>
                                    <div class="info tb-sub-title">管理工具</div>
                                </td>
                                <td class="border-l-r">
                                    <div class="info">
                                        <ul class="text-list">
                                            <li>云平台自带SDN和NFV功能,不需要其他管理工具;</li>
                                        </ul>
                                    </div>
                                </td>
                                <td>
                                    <div class="info">
                                        <p>网络虚拟化工具
                                            存储虚拟化工具</p>

                                    </div>
                                </td>
                            </tr>

                            <tr class="bg-color">
                                <td>
                                    <div class="info tb-sub-title">存储</div>
                                </td>
                                <td class="border-l-r">
                                    <div class="info">
                                        <ul class="text-list">
                                            <li>
                                                根据需求选择外部存储设备
                                                自带分布式存储系统和高性能网络RAID组件                                             </li>
                                        </ul>
                                    </div>
                                </td>
                                <td>
                                    <div class="info">
                                        <p>大型存储设备
                                            分布式存储软件</p>
                                    </div>
                                </td>
                            </tr>


                            <tr>
                                <td>
                                    <div class="info tb-sub-title">虚拟化</div>
                                </td>
                                <td class="border-l-r">
                                    <div class="info">
                                        <ul class="text-list">
                                            <li>服务器虚拟化技术可实现99.98%的虚拟化效率;</li>
                                        </ul>
                                    </div>
                                </td>
                                <td>
                                    <div class="info">
                                        <p>服务器虚拟化及管理工具</p>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div class="info tb-sub-title">计费</div>
                                </td>
                                <td class="border-l-r">
                                    <div class="info">
                                        <ul class="text-list">
                                            <li>自带完善的计量、计费、监控云平台管理;</li>
                                        </ul>
                                    </div>
                                </td>
                                <td>
                                    <div class="info">
                                        <p>集成计量、计费、监控工具</p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="info tb-sub-title">运营系统</div>
                                </td>
                                <td class="border-l-r">
                                    <div class="info">
                                        <ul class="text-list">
                                            <li>可选TelCloud Boss系统;</li>
                                        </ul>
                                    </div>
                                </td>
                                <td class="">
                                    <div class="info">
                                        <p>无业务运营支撑平台 </p>
                                    </div>

                                </td>
                            </tr>




                            <!-- 隔行背景为灰色，需要灰色背景添加bg-color-->
                            <!--最后一行 start-->
                            <!--无论多少行，无论最后一行是否需要灰色背景，一定要保证使用下面的代码作为最后一行的代码-->
                            <tr>
                                <td>
                                    <div class="info tb-sub-title">成本</div>
                                </td>
                                <td class="cp-block-ft border-l-r">
                                    <div class="info">
                                        <ul class="text-list">
                                            <li>通过软件自动部署实现90%以上的系统自动维护
                                                节省70%以上成本，包括硬件、软件以及维护成本;</li>
                                        </ul>
                                    </div>

                                </td>
                                <td>
                                    <div class="info">
                                        <p>7*24小时的超高人为维护成本
                                            硬件、软件投入高</p>
                                    </div>
                                </td>
                            </tr>
                            <!--最后一行 end-->
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--总列数3 end-->
            </div>

            <div class="tab-content mod-function" mod="features" title="产品优势">
                <a class="anchor" id="features" style="top: -59px;">&nbsp;</a>
                <h3 class="tab-content-title">产品优势</h3>

                <div class="tab-content-detail column-4">
                    <div class="vertical-size">
                        <span class="item-icon">
                            <img src="images/syy_1.png" alt="">
                        </span>
                        <h4>部署敏捷</h4>
                        <p class="text">加速业务交付，满足不断变化的创新业务需求</p>
                    </div>
                    <div class="vertical-size">
                        <span class="item-icon">
                            <img src="images/syy_2.png" alt="">
                        </span>
                        <h4>接入灵活</h4>
                        <p class="text">
                            支持多种终端接入，有网络的地方就可有工作。
                        </p>
                    </div>
                    <div class="vertical-size">
                        <span class="item-icon">
                            <img src="images/syy_3.png" alt="">
                        </span>
                        <h4>支持多桌面</h4>
                        <p class="text">
                            单个浏览器访问多个桌面，适合呼叫中心和客服岗位办公场景
                        </p>
                    </div>
                    <div class="vertical-size">
                        <span class="item-icon">
                            <img src="images/syy_4.png" alt="">
                        </span>
                        <h4>易用</h4>
                        <p class="text">
                            可视化资源交付与管理，降低运维难度
                        </p>
                    </div>
                    <div class="vertical-size">
                        <span class="item-icon">
                            <img src="images/syy_5.png" alt="">
                        </span>
                        <h4>数据安全</h4>
                        <p class="text">
                            桌面云数据集中存储在数据中心，不易复制和流出
                        </p>
                    </div>
                    <div class="vertical-size">
                        <span class="item-icon">
                            <img src="images/syy_6.png" alt="">
                        </span>
                        <h4>灾难恢复</h4>
                        <p class="text">
                            集中部署的数据可以实施整体灾备，保护能力强，可短时间恢复业务。
                        </p>
                    </div>
                </div>

            </div>

            <!--产品功能-->

            <!--产品功能-->
            <div class="tab-content J-defined-content" mod="userDefined16" data-responsive="show" title="产品功能">
                <a class="anchor" id="userDefined16" style="top: -59px;">&nbsp;</a>
                <div class="mod-framework">
                    <h3 class="tab-content-title">
                        产品功能
                    </h3>
                    <div class="tab-content-detail">
                        <h4 class="an-img-top-h4">简洁清晰的服务管理控制台</h4>
                        <div class="framework-img">
                            <img src="images/syygongneng1.png" alt="">
                        </div>
                    </div>
                    <div class="tab-content-detail">
                        <h4 class="an-img-top-h4">提供安全、可靠、秒级创建的云主机</h4>
                        <p class="an-img-top-p">基于一个镜像，可以创建任意数量的主机。在创建主机时， 选择CPU 和内存的配置。TelCoud私有云允许您任意指定 CPU、内存的数量， 也允许您在主机创建之后随时再行调整。 </p>
                        <div class="framework-img">
                            <img src="images/syygongneng2.png" alt="">
                        </div>
                    </div>
                    <div class="tab-content-detail">
                        <h4 class="an-img-top-h4">丰富灵活自定义的操作系统镜像</h4>
                        <p class="an-img-top-p">多种操作系统: 提供最新、最常用、最稳定的镜像，也可上传自定义镜像以便系统使用。</p>
                        <p class="an-img-top-p">自带存储空间: Linux 自带 20G 高性能硬盘；Windows 自带 50G 高性能硬盘。</p>
                        <div class="framework-img">
                            <img src="images/syygongneng3.png" alt="">
                        </div>
                    </div>
                    <div class="tab-content-detail">
                        <h4 class="an-img-top-h4">存储管理服务为云主机提供持久化的云硬盘</h4>
                        <p class="an-img-top-p"> 多副本分布式存储：云硬盘使用多重副本、实时复制的技术以保证您的数据安全、可靠。</p>
                        <p class="an-img-top-p"> 秒级备份、恢复： 秒级实时创建云存储快照，备份云硬盘当前全部数据。</p>
                        <p class="an-img-top-p"> 实时弹性扩容： 挂载到云主机上的硬盘可随时在线秒级扩容，无需人工进行物理硬盘扩容。</p>
                        <div class="framework-img">
                            <img src="images/syygongneng4.png" alt="">
                        </div>
                    </div>
                    <div class="tab-content-detail">
                        <h4 class="an-img-top-h4">最大程度保障您的数据安全</h4>
                        <p class="an-img-top-p">私有网络提供100%二层隔离。</p>
                        <p class="an-img-top-p">多重实时副本和备份保障即使在物理硬件彻底损坏时，数据也不会丢失，并可迅速恢复业务。</p>
                        <p class="an-img-top-p">安全组策略可全面对云主机进出流量进行安全防护。 </p>
                        <div class="framework-img">
                            <img src="images/syygongneng5.png" alt="">
                        </div>
                    </div>
                    <div class="tab-content-detail">
                        <h4 class="an-img-top-h4">laaS增值服务</h4>
                        <h4 class="an-img-top-h4">轻点鼠标、负载均衡</h4>
                        <p class="an-img-top-p">简单操作，完成一个负载均衡器的创建，将业务负载平均分配到多个云主机中，大幅度提高业务的服务能力和可用性。</p>
                        <div class="framework-img">
                            <img src="images/syygongneng6.png" alt="">
                        </div>
                    </div>
                    <div class="tab-content-detail">
                        <h4 class="an-img-top-h4">私有网络防火墙</h4>
                        <p class="an-img-top-p">针对私有网络策略防护，对整个私有网络下的云主机出入流量进行端口限制。</p>
                        <div class="framework-img">
                            <img src="images/syygongneng7.png" alt="">
                        </div>
                    </div>
                    <div class="tab-content-detail">
                        <h4 class="an-img-top-h4">云编排开发者功能：</h4>
                        <p class="an-img-top-p">专门为企业客户开发人员准备的操作接口，通过云编排一键对业务进行快速部署，轻松完成业务上线。</p>
                        <div class="framework-img">
                            <img src="images/syygongneng8.png" alt="">
                        </div>
                    </div>
                    <div class="tab-content-detail">
                        <h4 class="an-img-top-h4">应用中心：</h4>
                        <p class="an-img-top-p">通过应用中心预制软件、中间接、数据库等可快速实现软件部署，也可通过OpenStack标准接口实现第三方软件对接，达到功能灵活扩展。</p>
                        <div class="framework-img">
                            <img src="images/syygongneng9.png" alt="">
                        </div>
                    </div>
                    <div class="tab-content-detail">
                        <h4 class="an-img-top-h4">后台管理：</h4>
                        <h4 class="an-img-top-h4">系统管理功能，资源使用尽收眼底。</h4>
                        <p class="an-img-top-p">清晰查看各项云主机资源使用，实时掌握实体服务器资源占用。</p>
                        <div class="framework-img">
                            <img src="images/syygongneng10.png" alt="">
                        </div>
                    </div>
                    <div class="tab-content-detail">
                        <h4 class="an-img-top-h4">灵活多级身份管理功能，满足分组管理</h4>
                        <p class="an-img-top-p">账号管理：轻松一键创建用户账号，设置账号级别和资源配额。</p>
                        <p class="an-img-top-p">权限分组：按项目、用户组、角色分类满足不同程度的权限划分。 </p>
                        <div class="framework-img">
                            <img src="images/syygongneng11.png" alt="">
                        </div>
                    </div>
                    <div class="tab-content-detail">
                        <h4 class="an-img-top-h4">精准计费策略功能，方便内部成本分摊</h4>
                        <p class="an-img-top-p">成本分析：对云资源自定义设定价格，根据部门使用量的不同，快速统计各部门资源分摊使用情况。</p>
                        <p class="an-img-top-p">消费记录：使用部门也可在本部门账号下查看自己的消费记录情况。 </p>
                        <div class="framework-img">
                            <img src="images/syygongneng12.png" alt="">
                        </div>
                    </div>
                    <div class="tab-content-detail">
                        <h4 class="an-img-top-h4">独立的统一运维管理平台，运维从此简单</h4>
                        <p class="an-img-top-p">监控：针对服务器硬件资源进行监控，针对云主机业务系统监控。</p>
                        <p class="an-img-top-p">告警：多种告警规则，邮件告警。 </p>
                        <div class="framework-img">
                            <img src="images/syygongneng13.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>