<div class="body" id="mjsy">
    <div class="mod-hero J-mod-hero">


        <div class="mod-inner">
            <!--云主机-->
            <div class="banner-ct">
                <h2 itemprop="name" class="title"><span class="title-cn">云监控</span></h2>
                <div itemprop="description" class="head-content">
                    <p>TelCloud云监控是龙腾佳讯2016年推出的全新品牌。
                        TelCloud云监控利用业界先进的云技术、大数据技术以及移动互联彻底重构了运维体系，提供高效、安全、易用的一站式IT海量敏捷运维管理平台。
                        云监控产品包括BSM（业务服务管理）、NCCM（网络配置和变更管理）、NTM（网络拓扑管理）、IM（基础设施监控），全面提升运维效率、提高运维质量、降低运维成本。</p>
                </div>
                <div class="head-operation">
                    <div class="op-line">
                         <a href="javascript:;" class="tc-btn tc-btn-3"  ng-click="gotoPage('/warning')">立即使用</a>
                    </div>
                </div>
            </div>
            <div class="pt-icon">
                <picture>
                    <source type="image/svg+xml"
                            srcset="images/yjk-right.png">
                    <img src="images/yjk-right.png"></picture>
            </div>
            <div class="m-pt-icon"><img class="m-icon" src="images/yjk-right-shu.png"></div>
        </div>
    </div>

    <div class="mod-inner">
        <!--产品优势-->
        <div class="main-content slide-cvm">
            <div class="tab-content J-defined-content" mod="userDefined9" data-responsive="show" title="产品优势">
                <a class="anchor" id="userDefined9" style="top: -59px;">&nbsp;</a>

                <h3 class="tab-content-title">
                    产品优势
                </h3>
                <!--总列数3 start-->
                <div class="tab-content-detail">
                    <div class="summary-content">
                        <table class="comparison-table">
                            <colgroup>
                                <col class="col1" style="width: 15%">
                                <col class="col2">
                                <col class="col3">
                            </colgroup>
                            <thead>
                            <!--第一行标题 start-->
                            <tr>
                                <th class="tb-title">优势点</th>
                                <th class="tb-title cp-block border-l-r">龙腾云云监控</th>
                                <th class="tb-title tb-title-old">传统运维</th>
                            </tr>
                            <!--第一行标题 end-->
                            </thead>
                            <tbody>
                            <!--每个tr标签内为一行-->
                            <!--第一行 start-->
                            <!--无论多少行，无论最后一行是否需要灰色背景，一定要保证使用下面的代码作为第一行的代码-->
                            <tr>
                                <td>
                                    <div class="info tb-sub-title">运维管理</div>
                                </td>
                                <td class="border-l-r">
                                    <div class="info">
                                        <ul class="text-list">
                                            <li>云架构，支持分布式，全运维管理;</li>
                                        </ul>
                                    </div>
                                </td>
                                <td>
                                    <div class="info">
                                        <p>无法管理跨地域、跨网络的业务</p>

                                    </div>
                                </td>
                            </tr>

                            <tr class="bg-color">
                                <td>
                                    <div class="info tb-sub-title">监控</div>
                                </td>
                                <td class="border-l-r">
                                    <div class="info">
                                        <ul class="text-list">
                                            <li>
                                                实时动态关联，监控全部IT资源;
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                                <td>
                                    <div class="info">
                                        <p>非即时关联，监控资源少</p>
                                    </div>
                                </td>
                            </tr>


                            <tr>
                                <td>
                                    <div class="info tb-sub-title">故障定位</div>
                                </td>
                                <td class="border-l-r">
                                    <div class="info">
                                        <ul class="text-list">
                                            <li>自动告警溯源，自动定位故障点;</li>
                                        </ul>
                                    </div>
                                </td>
                                <td>
                                    <div class="info">
                                        <p>需要人员操作，工作难度大</p>
                                    </div>
                                </td>
                            </tr>





                            <!-- 隔行背景为灰色，需要灰色背景添加bg-color-->
                            <!--最后一行 start-->
                            <!--无论多少行，无论最后一行是否需要灰色背景，一定要保证使用下面的代码作为最后一行的代码-->
                            <tr>
                                <td>
                                    <div class="info tb-sub-title">统计分析</div>
                                </td>
                                <td class="cp-block-ft border-l-r">
                                    <div class="info">
                                        <ul class="text-list">
                                            <li>丰富指标、报表，帮助IT规划;</li>
                                        </ul>
                                    </div>

                                </td>
                                <td>
                                    <div class="info">
                                        <p>指标少，缺少IT资源统计分析</p>
                                    </div>
                                </td>
                            </tr>
                            <!--最后一行 end-->
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--总列数3 end-->
            </div>

            <div class="tab-content mod-function" mod="features" title="产品优势">
                <a class="anchor" id="features" style="top: -59px;">&nbsp;</a>
                <h3 class="tab-content-title">产品优势</h3>
                <h4 class="an-img-top-h4"><b>领先的服务器和业务监控平台</b></h4>
                <p class="an-img-top-p">支持分布式部署，海量监控，全功能开放接口</p>
                <div class="tab-content-detail column-4">

                    <div class="vertical-size">
                        <span class="item-icon">
                            <img src="images/myjk_1.png" alt="">
                        </span>
                        <h4>功能全面</h4>
                        <p class="text">监控全部IT设施，服务器、应用、网络、存储、虚拟化、日志等。</p>
                        <ul class="text">
                            <li>
                                <b>监控模块全、指标深入</b>
                            </li>
                            <li>
                                <b>大屏展示和性能评估报表</b>
                            </li>
                            <li>
                                <b>智能化故障告警管理</b>
                            </li>
                        </ul>
                    </div>
                    <div class="vertical-size" style="    margin-top: 28px;">
                        <span class="item-icon">
                            <img src="images/myjk_2.png" alt="">
                        </span>
                        <h4>安全可靠</h4>
                        <p class="text">倒连式设计，数据加密传输，原有安全策略无需任何修改。</p>
                        <ul class="text">
                            <li>
                                <b>全部自主技术</b>
                            </li>
                            <li>
                                <b>一体化程序设计</b>
                            </li>
                            <li>
                                <b>不保存敏感信息</b>
                            </li>
                        </ul>
                    </div>
                    <div class="vertical-size">
                        <span class="item-icon">
                            <img src="images/myjk_3.png" alt="">
                        </span>
                        <h4>简洁易用</h4>
                        <p class="text">极速安装部署，即可拥有您的专属监控系统，无需准备复杂环境。</p>
                        <ul class="text">
                            <li>
                                <b>SaaS版5分钟即可使用</b>
                            </li>
                            <li>
                                <b>本地版一个安装包解决问题</b>
                            </li>
                            <li>
                                <b>易用业务逻辑化界面</b>
                            </li>
                        </ul>
                    </div>
                    <div class="vertical-size">
                        <span class="item-icon">
                            <img src="images/myjk_4.png" alt="">
                        </span>
                        <h4>分布式架构</h4>
                        <p class="text">基于云技术架构设计，可以分布式部署、集中统一管理。</p>
                        <ul class="text">
                            <li>
                                <b>支持各种类型数据中心</b>
                            </li>
                            <li>
                                <b>支持多地、异地部署</b>
                            </li>
                            <li>
                                <b>一个平台集中管理</b>
                            </li>
                        </ul>
                    </div>
                    <div class="vertical-size" style="    margin-top: 12px;">
                        <span class="item-icon">
                            <img src="images/myjk_5.png" alt="">
                        </span>
                        <h4>海量监控</h4>
                        <p class="text">独特的MegaSpeed海量秒级监测，把故障响应级别提升到秒级。</p>
                        <ul class="text">
                            <li>
                                <b>一台服务器可监测1000台设备</b>
                            </li>
                            <li>
                                <b>高性能数据库BigRiverDB</b>
                            </li>
                            <li>
                                <b>独一无二的数据分析双引擎</b>
                            </li>
                        </ul>
                    </div>
                    <div class="vertical-size">
                        <span class="item-icon">
                            <img src="images/myjk_6.png" alt="">
                        </span>
                        <h4>7×24运维</h4>
                        <p class="text">支持手机APP，即使外出、下班时也可随时了解设备运行状态。</p>
                        <ul class="text">
                            <li>
                                <b>跨平台实时监测</b>
                            </li>
                            <li>
                                <b>支持APP、微信告警</b>
                            </li>
                            <li>
                                <b>自动化运维策略管理</b>
                            </li>
                        </ul>
                    </div>


                </div>

            </div>

            <!--产品功能-->
            <div class="tab-content J-defined-content" mod="userDefined16" data-responsive="show" title="产品特点">
                <a class="anchor" id="userDefined16" style="top: -59px;">&nbsp;</a>
                <div class="mod-framework">

                    <h3 class="tab-content-title">产品特点</h3>

                    <div class="tab-content-detail">
                        <h4 class="an-img-top-h4">易用、高效、性能强劲的监控管理平台</h4>
                        <p class="an-img-top-p">既提供云端监控，也可以本地监控，满足您的个性化需求</p>
                        <div class="framework-img">
                            <img src="images/yjkprojucttedian.png" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-content mod-function" mod="features" title="部署方式">
                <a class="anchor" id="features" style="top: -59px;">&nbsp;</a>
                <h3 class="tab-content-title">部署方式</h3>
                <div class="tab-content-detail column-4">
                    <div class="vertical-size">
                        <span class="item-icon">
                            <img src="images/yjkbushu1.png" alt="">
                        </span>
                        <h4>SaaS版</h4>
                        <p class="text">易用、安全的云监控，5分钟即享有高品质IT监控服务。</p>
                    </div>
                    <div class="vertical-size">
                        <span class="item-icon">
                            <img src="images/yjkbushu2.png" alt="">
                        </span>
                        <h4>私有云版</h4>
                        <p class="text">
                            全球首款“云网管”软件，分布式架构，性能超强，支持四级架构。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>