<div class="body" id="mjsy">
    <div class="mod-hero J-mod-hero">


        <div class="mod-inner">
            <!--云主机-->
            <div class="banner-ct">
                <h2 itemprop="name" class="title"><span class="title-cn">云接入</span></h2>
                <div itemprop="description" class="head-content">
                    <p>xxxxx为企业提供低成本、灵活安全可靠、专注业务创新、可扩展的云接入（Cloud Direct Connect ™）服务。
                        针对企业的业务特点和实际需求提供多种云接入方式（FTTB+LAN、FTTH、Frame Relay、SDH），
                        帮助企业联接私有数据中心与xxxxxx，实现混合云架构，最大程度地将企业IT基础设施整合成统一的资源池，提高企业运营效率，降低运营成本。</p>
                </div>
                <div class="head-operation">
                    <div class="op-line">
                         <a href="javascript:;" class="tc-btn tc-btn-3"  ng-click="gotoPage('/warning')">立即使用</a>
                    </div>
                </div>
            </div>
            <div class="pt-icon">
                <picture>
                    <source type="image/svg+xml"
                            srcset="images/yjr-right.png">
                    <img src="images/yjr-right.png"></picture>
            </div>
            <div class="m-pt-icon"><img class="m-icon" src="images/yjr-right-shu.png"></div>
        </div>
    </div>

    <div class="mod-inner">
        <!--产品优势-->
        <div class="main-content slide-cvm">
            <div class="tab-content J-defined-content" mod="userDefined9" data-responsive="show" title="产品优势">
                <a class="anchor" id="userDefined9" style="top: -59px;">&nbsp;</a>
                <h3 class="tab-content-title">
                    产品优势
                </h3>

                <!--总列数2 start-->
                <div class="tab-content-detail">
                    <div class="summary-content">
                        <table class="comparison-table">
                            <colgroup>
                                <col class="col1" style="width: 21%">
                                <col class="col2">
                            </colgroup>
                            <thead>
                            <!--第一行标题 start-->
                            <tr>
                                <th class="tb-title">优势点</th>
                                <th class="tb-title tb-title-old">云接入</th>
                            </tr>
                            <!--第一行标题 end-->
                            </thead>
                            <tbody>
                            <!--每个tr标签内为一行-->
                            <!--第一行 start-->
                            <!--无论多少行，无论最后一行是否需要灰色背景，一定要保证使用下面的代码作为第一行的代码-->
                            <tr>
                                <td>
                                    <div class="info tb-sub-title"><p>易用</p></div>
                                </td>
                                <td>
                                    <div class="info">
                                        <p>xxxxx作为诸多xxxxxx、IDC的战略合作伙伴和云POP点，Cloud Direct Connect支持亚马逊AWS，
                                            xxxxx云、xxxxxx、IBM云、微软azure云等知名xxxxxx平台和世纪互联、
                                            光环新网等所有大型IDC数据中心机房以及企业自有自建数据中心与企业办公地点IT基础设施之间的互联互通。 </p>

                                    </div>
                                </td>
                            </tr>


                            <tr class="bg-color">
                                <td>
                                    <div class="info tb-sub-title"><p>可靠</p></div>
                                </td>
                                <td>
                                    <div class="info">
                                        <p>
                                            通过Cloud Direct Connect服务，企业可以在本地设施和一个或多个私有数据中心、IDC以及xxxxxx之间直接建立起专线网络。
                                            使用业内标准的802.1q VLAN标准，Cloud Direct
                                            Connect提供10Mb/s、100Mb/s最大1Gb/s乃至10Gb/s的数据传输，全面满足企业实际业务的需求。
                                        </p>
                                    </div>
                                </td>
                            </tr>



                            <tr>
                                <td>
                                    <div class="info tb-sub-title">安全</div>
                                </td>
                                <td>
                                    <div class="info">
                                        <p>
                                            xxxxxx™统一混合云管理及DevOps协作平台致力于解决企业跨平台云管理问题，为云基础设施和应用提供配置监控自动化和管理一体化服务，
                                            涵盖混合云管理(xxxxxx、xxxxxx、虚级化环境及物理机)、自动化运维、监控告警、自服务IT和持续交付。
                                            让企业能够轻松部署和管理跨云的企业应用，帮助企业更好地使用云科技来加速业务的经营与发展。
                                        </p>
                                    </div>
                                </td>
                            </tr>
                            <!--最后一行 end-->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!--产品架构-->
            <div class="tab-content J-defined-content" mod="userDefined16" data-responsive="show" title="互联方式">
                <a class="anchor" id="userDefined16" style="top: -59px;">&nbsp;</a>
                <div class="mod-framework">

                    <h3 class="tab-content-title">产品架构</h3>

                    <div class="tab-content-detail">
                        <p class="an-img-top-p">与Cloud Direct Connect相对应的，传统的公网或在传统的公网上使用VPN都无法完全保证带宽、延迟和时效性与经济性， 而Cloud Direct Connect可以帮助实现降低带宽的成本，更稳定的网络性能，更可靠的网络效果。 xxxxxCloud Direct Connect致力于成为联接xxxxxx和xxxxxx、数据中心与私有数据中心、 企业本地基础设施之间高速公路网络，从而为企业实现宽带混合云™的ICT架构。</p>
                        <div class="framework-img">
                            <img src="images/yunjieru.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

