<div class="body" id="mjsy">
    <div class="mod-hero J-mod-hero">


        <div class="mod-inner">
            <!--云主机-->
            <div class="banner-ct">
                <h2 itemprop="name" class="title"><span class="title-cn">私有网络</span></h2>
                <div itemprop="description" class="head-content">
                    <p>xxxxx云私有网络（Virtual Private Cloud）是在xxxxx云上自定义的逻辑隔离网络空间，与您在数据中心运行的传统网络相似，
                        托管在私有网络内的是您在xxxxx云上的服务资源，如云主机、负载均衡、云数据库等。您可以完全掌握您的私有网络，包括自定义网段划分、IP地址和路由策略等，
                        并通过安全组和网络ACL等实现多层安全防护。同时，您也可以通过VPN或专线连通私有网络与您的数据中心，灵活部署混合云。</p>
                </div>
                <div class="head-operation">
                    <div class="op-line">
                         <a href="javascript:;" class="tc-btn tc-btn-3"  ng-click="gotoPage('/warning')">立即使用</a>
                    </div>
                </div>
            </div>
            <div class="pt-icon">
                <picture>
                    <source type="image/svg+xml"
                            srcset="images/sywl-right.png">
                    <img src="images/sywl-right.png"></picture>
            </div>
            <div class="m-pt-icon"><img class="m-icon" src="images/sywl-right-shu.png"></div>
        </div>
    </div>

    <div class="mod-inner">
        <!--产品优势-->
        <div class="main-content slide-cvm">
            <div class="tab-content J-defined-content" mod="userDefined9" data-responsive="show" title="产品优势"><a
                    class="anchor" id="userDefined9" style="top: -59px;">&nbsp;</a>
                <h3 class="tab-content-title">
                    产品优势
                </h3>


                <!--总列数2 start-->
                <div class="tab-content-detail">
                    <div class="summary-content">
                        <table class="comparison-table">
                            <colgroup>
                                <col class="col1" style="width: 21%">
                                <col class="col2">
                            </colgroup>
                            <thead>
                            <!--第一行标题 start-->
                            <tr>
                                <th class="tb-title">优势点</th>
                                <th class="tb-title tb-title-old">私有网络</th>
                            </tr>
                            <!--第一行标题 end-->
                            </thead>
                            <tbody>
                            <!--每个tr标签内为一行-->
                            <!--第一行 start-->
                            <!--无论多少行，无论最后一行是否需要灰色背景，一定要保证使用下面的代码作为第一行的代码-->
                            <tr>
                                <td>
                                    <div class="info tb-sub-title"><p>简化运维 无设备采购</p></div>
                                </td>
                                <td>
                                    <div class="info">
                                        <p>通过控制台或API自定义网段划分、创建子网、配置路由表和网关等，
                                            以软件定义网络，节省设备及运维成本。</p>                                    </div>
                                </td>
                            </tr>


                            <tr class="bg-color">
                                <td>
                                    <div class="info tb-sub-title"><p>全球部署 跨账号互通</p></div>
                                </td>
                                <td>
                                    <div class="info">
                                        <p>通过私有网络的对等连接服务，您可以在一分钟内互联海内外多地云资源，轻松实现全球同服和两地三中心容灾部署。
                                            通过跨账号对等连接，您还可与xxxxx云上的其它合作伙伴实现数据互通，快速构建开放式云端生态。</p>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div class="info tb-sub-title">高性能Internet访问</div>
                                </td>
                                <td>
                                    <div class="info">
                                        <p>NAT网关支持1000W并发连接、5Gbps带宽，且双机热备自动容灾，帮助您轻松打破Internet访问性能瓶颈。</p>
                                    </div>
                                </td>
                            </tr>

                            <tr class="bg-color">
                                <td>
                                    <div class="info tb-sub-title">轻松部署混合云</div>
                                </td>
                                <td>
                                    <div class="info">
                                        <p>稳定可靠的IPsec VPN/专线连接xxxxx云私有网络至您的数据中心，您可根据业务量弹性扩展应用程序的xxxxx服务器等资源，
                                            既降低了企业IT运维成本，又不用担心企业核心数据的扩散，轻松构建混合云。</p>
                                        </p>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div class="info tb-sub-title">安全无死角</div>
                                </td>
                                <td>
                                    <div class="info">
                                        <p>内外网隔离，通过网络ACL和安全组分别从子网和主机维度筛选流量，可精确到端口和协议维度，全方位满足您网络安全需求。</p>
                                        </p></div>
                                </td>
                            </tr>
                            <!--最后一行 end-->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>




            <!--产品功能-->
            <div class="tab-content mod-scenario J-tabBoxWrapper" mod="featuresV2" title="产品功能" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                <a class="anchor" id="featuresV2" style="top: -59px;">&nbsp;</a>
                <h3 class="tab-content-title">产品功能</h3>
                <div class="mod-features">
                    <div class="tab-content-detail">
                        <div class="tab J-tabTitleArea">
                            <ul class="tab-list">
                                <li class="tab-item J-tabTitleItem current"><a href="javascript:;">软件定义网络</a></li>
                                <li class="tab-item J-tabTitleItem"><a href="javascript:;">链接Internet</a></li>
                                <li class="tab-item J-tabTitleItem"><a href="javascript:;">部署混合云</a></li>
                                <li class="tab-item J-tabTitleItem"><a href="javascript:;">云上资源互通</a></li>
                                <li class="tab-item J-tabTitleItem"><a href="javascript:;">安全控制</a></li>
                            </ul>
                        </div>
                        <div class="J-tabContentArea">
                            <div class="list-content-v2">
                                <a href="javascript:;" class="list-content-head J-tabContentHead arr-up">
                                    软件定义网络<span class="icon"></span>
                                </a>
                                <div class="list-content-body markdown-text-box J-tabContentBody">
                                    <p>xxxxx云在您生成云主机时自动帮您建立专属私有网络VPC，后台自动帮您管理私有网络网段、子网网段和路由策略。xxxxx云专业技术团队为您屏蔽底层网络设备部署与运维，优化网络性能。您可以轻松体验到敏捷化和智能化的网络架构。</p>
                                </div>
                            </div>
                            <div class="list-content-v2">
                                <a href="javascript:;" class="list-content-head J-tabContentHead arr-down">
                                    链接Internet<span class="icon"></span>
                                </a>
                                <div class="list-content-body markdown-text-box J-tabContentBody" style="display:none;">
                                    <p>xxxxx云VPC为您提供灵活、高性能的Internet连接方式，包括弹性IP、NAT网关和公网网关。</p>
                                    <p>弹性IP（EIP）是可以独立申请的公网IP地址，用于公网访问，支持与实例（如：云主机、NAT 网关）的动态绑定和解绑，主要用于屏蔽实例故障。</p>
                                    <p>NAT网关是私有网络访问Internet的一种方式，能在内外网隔离时，将私有网络中内网IP地址和公网IP地址进行转换。典型应用场景是：</p>
                                    <p><strong>大带宽、高可用公网访问。</strong> NAT网关最大支持1000W并发连接、5Gbps带宽和10个弹性IP，
                                        双机热备，自动容灾，99.99%服务可用性。针对需要超大带宽、公网IP使用量大、部署服务较多的公网访问应用场景。</p>
                                    <p><strong>安全的公网访问。</strong>
                                        xxxxx云私有网络的NAT网关提供IP的安全转换，如果您希望隐藏私有网络内主机的公网IP以避免暴露其网络部署，同时又希望访问公网，使用xxxxx云NAT网关即可。</p>
                                    <p>
                                        公网网关是一种xxxxx服务器，具备转发Internet和私有网络之间流量的功能，没有外网IP但需要进行Internet访问的xxxxx服务器可通过公网网关来访问Internet。</p>
                                </div>
                            </div>
                            <div class="list-content-v2">
                                <a href="javascript:;" class="list-content-head J-tabContentHead arr-down">
                                    部署混合云<span class="icon"></span>
                                </a>
                                <div class="list-content-body markdown-text-box J-tabContentBody" style="display:none;">
                                    <p>您可以使用公网VPN/专线接入连接来实现xxxxx云上计算资源和本地数据中心的稳定、可靠连接，构建企业的混合云部署。</p>
                                    <p>VPN连接是一种通过公网IPsec加密通道连接您数据中心和xxxxx云私有网络的服务，能助力您快速、安全地部署混合云。</p>
                                    <p>专线接入是一种通过物理专线打通您数据中心和位于多个地域的xxxxx云计算资源的服务，支持双机热备、SLA服务保障和国内外多地互联，完全满足金融等高质量网络互联要求。</p>
                                </div>
                            </div>
                            <div class="list-content-v2">
                                <a href="javascript:;" class="list-content-head J-tabContentHead arr-down">
                                    云上资源互通<span class="icon"></span>
                                </a>
                                <div class="list-content-body markdown-text-box J-tabContentBody" style="display:none;">
                                    <p>您可以通过对等连接和基础网络互通实现私有网络内的资源与其它云资源的互通。</p>
                                    <p>
                                        对等连接是一种连接两个私有网络的服务，支持跨账户和跨地域的私有网络之间流量互通，两端的云主机和云数据库等资源可以相互访问，帮助您轻松实现全球同服和两地三中心容灾部署。</p>
                                    <p>基础网络互通是指将基础网络内的xxxxx服务器关联至指定私有网络的服务，可以打通基础网络中的xxxxx服务器与私有网络之间的网络通信，帮您在xxxxx云上资源的平滑连接。</p>
                                </div>
                            </div>
                            <div class="list-content-v2">
                                <a href="javascript:;" class="list-content-head J-tabContentHead arr-down">
                                    安全控制<span class="icon"></span>
                                </a>
                                <div class="list-content-body markdown-text-box J-tabContentBody" style="display:none;">
                                    <p>您可以通过网络ACL和安全组实现端口和实例维度的资源访问控制，帮助您全方位提高网络安全性。</p>
                                    <p>网络ACL是一个子网级别的无状态可选包过滤虚拟防火墙，用于控制进出子网的数据流，可以精确到协议和端口维度。</p>
                                    <p>安全组是一种有状态的包过滤虚拟防火墙，它用于控制单台或多台xxxxx服务器的出入流量，同样可以精确协议和端口维度。</p>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!--产品功能-->
            <div class="tab-content mod-scenario J-tabBoxWrapper" mod="scenarios" title="应用场景">
                <a class="anchor" id="scenarios"style="top: -59px;">&nbsp;</a>
                <h3 class="tab-content-title">应用场景</h3>
                <div class="tab-content-detail">
                    <div class="tab J-tabTitleArea">
                        <ul class="tab-list">
                            <li class="tab-item J-tabTitleItem current"><a href="javascript:;">托管简单网站</a></li>
                            <li class="tab-item J-tabTitleItem"><a href="javascript:;">托管多层Web应用</a></li>
                        </ul>
                    </div>
                    <div class="J-tabContentArea">
                        <div class="list-content-v2">
                            <a href="javascript:;" class="list-content-head J-tabContentHead arr-up">
                                托管简单网站<span class="icon"></span>
                            </a>
                            <div class="list-content-body markdown-text-box J-tabContentBody">
                                <p>
                                    您可以像使用普通网络一样使用私有网络，部署简单的Web应用，如博客、网站和日志系统等。通过安全组和网络ACL等防火墙，您可以使Web应用响应HTTP等请求，但拒绝Web应用访问Internet，从而保证Web应用的安全。在流量突增时，您还可以通过调整带宽大小来应对带来的访问压力。</p>
                            </div>
                        </div>
                        <div class="list-content-v2">
                            <a href="javascript:;" class="list-content-head J-tabContentHead arr-down">
                                托管多层Web应用<span class="icon"></span>
                            </a>
                            <div class="list-content-body markdown-text-box J-tabContentBody" style="display:none;">
                                <p>
                                    您可以在私有网络内创建不同子网，整个Web层放在一个子网，通过配置弹性IP/网关xxxxx服务器/NAT网关与Internet通信，逻辑层单独放在一个子网，只能和Web层及数据层通信，数据层放在另外一个子网，只和逻辑层通信，子网和子网之间的流量通过网络ACL进行控制。这样安全、灵活的部署，即可满足您应用访问Internet的需求，又能保障数据库服务器的安全。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>