h1,h2,h3,h4,h5,h6,ul,li,span,i,b,p,div{margin:0;padding:0;}

/*这是字体图标*/
@font-face {
    font-family: 'iconfont';
    src: url('../font/iconfont2.eot'); /* IE9*/
    src: url('../font/iconfont2.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../font/iconfont2.woff') format('woff'), /* chrome、firefox */ url('../font/iconfont2.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 1.6rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.0.2rem;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: Arial, "Hiragino Sans GB", "Microsoft YaHei", "寰蒋闆呴粦",
    STHeiti, "WenQuanYi Micro Hei", SimSun, sans-serif;
    color: #333;
    background-color: #fff
}
html {
    overflow: auto;
}
body {
    background: #f1f4f6 !important;
}

.displaynone {
    display: none;
}

/*@font-face {font-family: 'awei';*/
/*src: url('../font/iconfont2.eot'); !* IE9*!*/
/*src: url('../font/iconfont2.eot?#iefix') format('embedded-opentype'), !* IE6-IE8 *!*/
/*url('../font/iconfont2.woff') format('woff'), !* chrome、firefox *!*/
/*url('../font/iconfont2.ttf') format('truetype'), !* chrome、firefox、opera、Safari, Android, iOS 4.2+*!*/
/*url('../font/iconfont2.svg#iconfont') format('svg'); !* iOS 4.1- *!*/
/*}*/

/*.iconfont{*/
/*font-family:"awei" !important;*/
/*font-size:1.6rem;font-style:normal;*/
/*-webkit-font-smoothing: antialiased;*/
/*-webkit-text-stroke-width: 0.0.2rem;*/
/*-moz-osx-font-smoothing: grayscale;*/
/*}*/
.h_mybody{
		  background:#3e3d49;
		  }
.clearfix:after{display: block; content:'';clear: both;}

.clearfix {
    zoom: 1;
}
.h_action{margin:0 auto;  margin-left: 2.7rem;}
.h_action input{width: 13rem;height: 4rem;  margin-right: 1.6rem;
				padding:0.4rem 0.8rem;background:#57b382;border-radius: 0.2rem;
				color:#fff; border:none;font-family:'微软雅黑';
			   }
.h_posibtn2_selbox{  width: 7.8rem;
  overflow: hidden;
  border-right: 0.2rem solid #ccc;
  border-radius: 0.3rem;}
.h_action input:hover{background:#4ba575; outline:none;}
.h_registerbox{  margin-left: 2.6rem;
  color: #1f90c8;
  font-size: 1.2rem;
  font-family: Arial,"Hiragino Sans GB","Microsoft YaHei","å¾®è½¯é›…é»‘",STHeiti,"WenQuanYi Micro Hei",SimSun,sans-serif;
  margin-top: 1rem;}
.fl{float:left;}
.fr{float:right;}
.h_mlogin {		
              display:inline-block;
              width:33rem;
			  background:#fff;
			  border-radius: 0.6rem;
			    margin-top: 3.4rem;
		}
.h_mlogin_code,.h_mlogin_landing{  width: 24.6rem;
  font-size: 1.4rem;border:0.2rem solid #ccc;
    margin-left: 3.2rem;border-radius: 0.3rem;  padding: 0.9rem 1.8rem 0.8rem 0;
  background: #faffbd;}
 .h_recordbox-1{color: #777;  margin-top: 1.2rem;font-size: 1.2rem;font-family: Arial,"Hiragino Sans GB","Microsoft YaHei","å¾®è½¯é›…é»‘",STHeiti,"WenQuanYi Micro Hei",SimSun,sans-serif;}
.h_header-logobox{margin:0;overflow: hidden;}

.h_consumebox .h_logobox {
    width: 18.9rem;
    height: 5rem;
}

.h_consumebox {
    height: 5rem;
}
.h_header{float:left;  position: fixed; width: 100%; z-index: 997; -webkit-box-shadow: 0rem 0rem 1.4rem -0.4rem;}

.h_consumebox .h_header-logo {
    margin-left: 1.4rem;
    width: 77%;
    height: 5rem;
}

.h_laterway {
    position: absolute;
    right: 0;
    top: 0;
    background: #fff;
    width: 100%;
    margin: 0;
}
.h_unfold{  font-size: 2rem;cursor:pointer;color: #555;padding: 1.1rem 1.4rem;
  			border-right: 0.1rem solid #eee;
  		 }
.h_unfold:hover{background:#eee;}
.h_logobox{height:6.8rem;background:#353644;}
.h_header-logo{  text-indent: -999.9rem;
				  background-image:url(../images/logo.png);
				  background-position: center center;
				  background-repeat: no-repeat;
				  background-size: contain;
				  height: 7rem;
				  width: 20.4rem;
				  float:left;
				  margin-left:12.2rem;
		     }
.h_enroll1{  float: right;font-family: '微软雅黑';  margin: 2.6rem 12rem 3rem 14rem;}
.h_logobox{margin:0;}
.h_mlogin ul{
			list-style: none;
		  }
.h_mlogin li{
			height: 4.5rem;
	      }					
.h_login{line-height: 4.8rem;position:relative;}
.h_laterwaybox{}
.h_login-userbox{position: absolute;right: 0;top: 5rem;width: 20.6rem; 
				 border: 0.1rem solid #ccc;display:none;border-right:none;
 				 text-align: center;}  
.h_login-usertest{ width: 100%;height: 5rem;border-left: 0.1rem solid #ccc;cursor:pointer; padding-right:2rem;}
.h_login-userbox span{width: 20.6rem;background:#fff;cursor:pointer;font-size:1.2rem;}
.h_login-userbox span:hover{background:#eee;}
.h_login-userbox a{color:#000;font-family:'宋体';}
.h_login img{ width: 2.4rem;
			  height: 2.4rem;
			  float: left;
			  border-radius: 3rem;
			   margin: 1.2rem 0.7rem 0 1.1rem;
			}
.h_login-usertest:hover{background:#eee;}

.h_contentbox {
    background: #f1f4f6;
    position: relative;
    /*width: 100%;*/
    min-height: 100rem;
}
.h_describebox_1{width: 95.7%;margin-left: 3.5rem;background: #e4eaec; }
.h_describebox_1 p{color: #58666e;font-size:1.2rem;  margin: 1.6rem 2rem;  line-height: 1.8rem;}
.h_describebox_1 p b{font-weight: 700;font-style: normal;margin-left:0.2rem;}
.h_date_x1{  font-weight: bold;
  background: #fff;
  color: #58666e;
  margin-left: 1rem;
  text-align: center;
  border-radius: 0.4rem;
  padding: 0.4rem 0.8rem 0rem;
  line-height: 3rem;
  font-size: 1.2rem; cursor:pointer}

#beginTime, #endTime {
    padding: 0.2rem 0.8rem;
    width: 11rem;
    background: url(../docs/sousuo.png) no-repeat 0.8rem 0.2rem #fff;
    border: 0.2rem solid #cbcad8;
  border-radius: 2.3rem;}
.h_keywordbox1_search{height: 3.4rem;
  width: 17rem;
  font-size: 1.2rem;
  line-height: 3.4rem;
  font-family: '微软雅黑';
  font-weight: normal;
  padding-left: 2.7rem;
    background: url(../docs/sousuo_1.png) no-repeat 0.8rem 0.5rem;
  border: 0.2rem solid #cbcad8;
  border-radius: 2.3rem;}
.h_derivebox_1{position:relative;  margin-left: 1rem;color:#fff;top: 1rem;left: 1rem;}
.h_jumpbox {width:100%;margin: 1.4rem 0 1rem 3.4rem;font-family: 微软雅黑;}
.h_searchform{font-size: 1.2rem;
  background: #fff;
  margin-right: 2rem;position:relative;
  margin-top: 2rem;
  line-height: 1.8rem;
  color: #666;}
.h_searchform_1{font-size: 1.2rem;
  background: #fff;  padding-bottom: 1rem;
  margin-right: 2rem;position:relative;
  margin-top: 1rem;
  line-height: 1.8rem;
  color: #666;} 
.h_searchform2{   padding: 2rem 1.8rem 0;}
.h_searchform2 div{font-family:'微软雅黑'}
.h__seekregister{ margin-left: 2.8rem;}
.h__seekregister b{  color: #777;
  font-size: 1.2rem;
  font-family: '微软雅黑';
  line-height: 3.6rem;
  font-weight: normal;}
.h_warningsanjiao,.h_chongzhizonglansanjiao{position:relative;}
.h_warningsanjiao i{left: 8rem;top: 3rem;}
.h_chongzhizonglansanjiao i{left: 7.4rem;top: 1.5rem;}

.h_warningsanjiao i,.h_chongzhizonglansanjiao i{position: absolute;width:1.5rem; height:0.8rem; background: url(../docs/h_sanjiao.png);}
.h_keywordbox1{margin-left: 0.6rem;float:left;position:relative;}
.h_searchtimebox_0{  margin: 1rem 0 0 2rem;}
.h_searchtimebox_0 span{color: #777;
  font-size: 1.2rem;
  font-family: '微软雅黑';
  line-height: 3.6rem;
  font-weight: normal;}
.h_keyword1{  color: #58666e;
  font-family: '微软雅黑';
  font-weight: 600;
  margin-right: 0.4rem;}
 .h_keyword1 b{  position: absolute;
  left: 8.4rem;
  top: 0.4rem;
  cursor: pointer;
  color: #fff;}
  .h_iconfonttongyiyangshi{position:relative;}
.h_iconfonttongyiyangshi input{font-style: normal;}
#searchForm label{  font-family: '微软雅黑';font-weight: normal;}
.h_industry1 label{  font-family: '微软雅黑';font-weight: normal;}
.h_describebox_1 a{  padding: 1.3rem 1.1rem 1rem;  font-size: 1.2rem;background:#d6dfe2;color:#58666e;}
.h_describebox_1 ul{float:left;}
.h_describebox_1 ul li{float:left;  height: 1.9rem;}
.h_describebox_1 .h_active_1{background:#fff; color:#000;}
.h_iconfonttongyiyangshi b{  cursor: pointer;
  position: absolute;
   left: 4.4rem;
  top: 0.4rem;
  color: #fff;
  font-size: 1.6rem;}
.h_keyword1 i{float:left;position:relative;}
.h_keyword1 i b{  position: absolute;
  left: 0.8rem;cursor: pointer;
  top: 0.3rem;
  color: #fff;}
 .h_keyword1 i input{font-style: normal;
  font-family: Arial,"Hiragino Sans GB","Microsoft YaHei","å¾®è½¯é›…é»‘",STHeiti,"WenQuanYi Micro Hei",SimSun,sans-serif;}

.h_keyword1 i {
    background: #383c4a;
}
.h_keyword1 input{ outline: none;
    background: transparent;
  float:left;
  border-radius: 0.3rem;
  padding: 0.7rem 3.1rem;
  color: #fff;
  font-size: 1.2rem;
  border: 0;
  font-family: '宋体';
  font-weight: 500;}
  .h_gogogo{
  			outline: none;background: #383c4a;border-radius: 0.3rem;padding: 0.4rem 1.2rem;
  			color: #fff;font-size: 1.2rem;border: 0;font-family: '宋体';font-weight: 500;
  			}
.h_supplierpricebox{margin-top: 1.6rem;}
.h_searchform2 span{color:#777;font-family:'微软雅黑';margin-right:0.4rem;font-size:1.2rem;}
.h_searchform2 label{  font-weight: 500;}
.h_searchform2 div{cursor:pointer;float:left;background:#383c4a;margin-right:0.4rem;border-radius: 0.3rem;padding: 0.2rem 2.2rem;color:#fff;font-size:1.2rem;font-family:'微软雅黑';font-weight: 500;}
.h_searchform2 div input,label{float:left;cursor:pointer;}
/* .h_searchform2 div:hover{background:#4ba575;cursor:pointer;} */
.h_searchform2 div label{  margin-top: 0.5rem;}
.h_status1 {  margin-top: 0.4rem;width:100%;  margin-bottom: 0.8rem;}
.h_searchform2 div input{cursor:pointer;   margin: 0.7rem 0.4rem 0 0;}
.h_jumpbox span{color:#bebebe;margin:0 0.6rem;}
.h_jumpbox .h_pandect_1{  color: #777; font-family: 微软雅黑;}
.h_jumpbox a{font-size:1.2rem;}
.h_customer1{text-decoration: none;font-size:1.2rem;border-radius: 0.3rem;font-family:'微软雅黑';  background:#428bca;color:#fff;  padding: 0.1rem 0.6rem;}
.h_export{  color: #fff;
  width: 6.8rem;  margin-top: 0.1rem;
  background: #3b3f4e;
  height:3.3rem;font-size:1.2rem;
  font-family: Arial,"Hiragino Sans GB","Microsoft YaHei","å¾®è½¯é›…é»‘",STHeiti,"WenQuanYi Micro Hei",SimSun,sans-serif;
  text-align: right;  padding: 0.9rem 4rem;
  outline: none;
  border: 0; cursor:pointer;
  border-radius: 0.3rem;}
/*左导航*/
.h_leftnavbox {
    padding-bottom: 49.9rem;
    padding-left: 0.3rem;
}
.h_leftnav{   list-style: none;
    width: 18.9rem;
			  background: #22222c;
			  height: 100%;
			  float: left;
			  position: fixed;
    overflow-y: auto;
		  }

.h_leftnav li{width:100%; height:3.4rem;background:#22222c;float: left;}
.h_leftnav .h_service{  width: 105%;
					    height: 3.4rem;
					    background: #22222c;
				        float: left;
					    font-family: Arial,"Hiragino Sans GB","Microsoft YaHei","微软雅黑", STHeiti,"WenQuanYi Micro Hei",SimSun,sans-serif;
					    font-size: 1.4rem;
					    font-weight: 700;
					    color: #c0c1ba;
					    line-height: 3.4rem;
					    text-align:center;
					    cursor: pointer;
					    list-style:none; 
						margin-left: -3.3rem;
					  }
.h_operatingjilubox_td{position:relative;}
.h_gongyebox{  margin-top: 0.7rem;
  font-size: 1.2rem;
  color: #58666e;
  font-family: '微软雅黑';font-weight:normal;}
.h_operatingjilubox_jiao{ position: absolute;
   left: 7.4rem;
  width: 1.5rem;
  height: 0.8rem;
  top: 1.3rem;
  background: url(../docs/h_sanjiao.png);}
.h_operatingjilubox_span{float:left;  color: #777;
  font-size: 1.2rem;
  font-family: '微软雅黑';
  line-height: 3.6rem;
  font-weight: normal;}
  
.h_leftnav li a:hover{color:#fff;}
.h_leftnav .h_service:hover{color:#fff;}
.h_noweight_2{  position: absolute;
  left: 0.9rem;
  top: 0.7rem;}
.h_noweight{font-weight:normal;padding-right:1.4rem;float:left; cursor:pointer;}
.h_leftnav li a{font-family: Arial,"Hiragino Sans GB","Microsoft YaHei","微软雅黑",
		  STHeiti,"WenQuanYi Micro Hei",SimSun,sans-serif; 
		   font-size: 1.4rem;font-weight: 700;text-decoration: none;
    display: block;
    line-height: 3.4rem;
    margin: 0 1.8rem 0 2.2rem;
    color: #c0c1c4;
    cursor: pointer;
}
/*内容*/
.h_find{  background: #fff;width:95.8%; margin: 0 3.5rem;}
.h_posibtn{position: absolute;    left: 11.1rem;    top: 11.4rem;}
.h_posibtn p{float:left;  margin-right: 0.4rem;}
.h_posibtn p b{
    position: absolute;
    left: 0.7rem;cursor: pointer;
    top: 0.5rem;
    color: #fff;
	font-size:1.8rem;
}

.h_posibtn p {
    background: #383c4a;
}
.h_posibtn input{  outline: none;
    background: transparent;
  border-radius: 0.3rem;
  padding: 0.7rem 1.4rem;
  color: #fff;
  font-size: 1.2rem;
  border: 0;
  font-family: '宋体';
  font-weight: 500;}
  table th{  color: #777;
  font-size: 1.3rem;
  font-family: '微软雅黑';
  line-height: 3.6rem;
  font-weight: normal;}
.h_posibtn2{   font-size: 1.2rem;
  color: #58666e;position:relative;
  font-family: '微软雅黑';  right: 0;  top:3.2rem;
  background: #fff;}
  .hasDatepicker{height: 1.8rem;
  padding: 0.6rem 0.8rem;
  width: 11rem;
  padding-left: 3rem;
  background: url(../docs/sousuo.png) no-repeat 0.8rem 0.8rem #fff;
  border: 0.2rem solid #cbcad8;
  border-radius: 2.3rem;}
  .h_next_two,.h_previous_one{  padding: 0.7rem 1.6rem; /*  cursor: no-drop; */
  color: #b8b8b8;  border-radius: 0.3rem;}
  
 .h_posibtn2 i{  position: absolute;
  right:  15.4rem;
  width: 1.5rem;
  height: 0.8rem;
  top: 1.3rem;
  background: url(../docs/h_sanjiao.png);}
  .h_searchform_1 span{position: absolute;
  right: 1rem;
  width: 1.5rem;
  height: 0.8rem;
  top: 1.4rem;
  background: url(../docs/h_sanjiao.png);}
  .h_searchform span{position: absolute;
  right: 1rem;
  width: 1.5rem;
  height: 0.8rem;
  top: 1.4rem;
  background: url(../docs/h_sanjiao.png);}
  .h_posibtn2_sel{padding: 0.6rem 0rem 0.6rem 0.8rem;
  border-radius: 0.3rem;  background: url(../docs/h_xian.png);
  border: 0.2rem solid #ccc;
  width: 6.8rem;
  height: 3.3rem;
  text-align: left;
      -webkit-appearance: none;
  }
  .h_posibtn2_sel:after{content: '';
  position: absolute;
  top: 1.4rem;
  right: 1rem;
  width: 0;
  height: 0;
  border: 0.4rem dashed;
  border-color: #888 transparent transparent;
  pointer-events: none;}
.h_Infobox{  color: #777;
  font-size: 1.2rem;
  font-family: '微软雅黑';
  font-weight: normal;}
.h_genggai{color: #fff;
  margin-top: 0.1rem;
  background: #3b3f4e;
  font-size: 1.2rem;
  font-family: Arial,"Hiragino Sans GB","Microsoft YaHei","å¾®è½¯é›…é»‘",STHeiti,"WenQuanYi Micro Hei",SimSun,sans-serif;
  text-align: right;
  padding: 0.4rem 1.4rem;
  outline: none;
  border: 0;
  cursor: pointer;
  border-radius: 0.3rem;}
.h_Info ul{float:left;border:0.1rem solid #ccc;margin-bottom:-0.1rem;padding:0.4rem;}
.h_Info ul strong{  font-weight: normal;}
.h_noimportbox{  background: #fff;
  height: 10rem;
  padding: 0.4rem 0 0 2.4rem;
  margin-top: 1.6rem;}
.h_noimportbox input{padding: 1rem;
  border-radius: 0.3rem;
  font-size: 1.2rem;
  background: #3b3f4e;
  line-height: 100%;
  text-align: center;
  cursor: pointer;
  color: #fff;border:0;
  font-family: Arial,"Hiragino Sans GB","Microsoft YaHei","å¾®è½¯é›…é»‘",STHeiti,"WenQuanYi Micro Hei",SimSun,sans-serif;}
.h_noimportbox h3{  font-size: 1.4rem;
  line-height: 3.4rem;
  font-family: '微软雅黑';width:100%;}  
.h_supplierpricebox .h_price{ margin-right: 0.4rem;
  outline: none;
  background: #383c4a;
  float: left;
  border-radius: 0.3rem;
  border: 0;
  padding: 0.8rem 2.4rem;
  color: #fff;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;}
.h_typebox1{background: #fff;
  margin:1.6rem 0 1.4rem 2.4rem;  padding: 0.2rem 0rem 2rem 0.3rem;}
th{}
.h_getmirror1box{  background: #fff;
  font-size: 1.2rem;
  color: #58666e;
  font-family: '微软雅黑';
   margin: 2rem 2.8rem;}
.h_kehu_search1{padding-left: 3.2rem;width: 6.6rem;position: absolute;font-family: '微软雅黑';right: -58.4rem;top: 5.3rem;}
#h_functionbox_10{position: absolute;left:54rem;top: 11rem;color: #777;font-size: 1.2rem;font-family: '微软雅黑';line-height: 3.6rem;font-weight: normal;}
#h_functionbox_10 p input{margin-top:1.2rem;}
#h_functionbox_10 p label{  padding: 0 0.4rem;font-size: 1.4rem;}
.h_getmirror1box input{cursor: pointer;
  border: 0;
  background: #383c4a;
  margin-right: 0.4rem;
  border-radius: 0.3rem;
    padding: 0.8rem 3.4rem;
  color: #fff;
  font-size: 1.2rem;
  font-family: '宋体';
  font-weight: 500;}
.h_price_1{margin-left: 2rem;  margin-right: 0.4rem;
  outline: none;
  background: #383c4a;
  float: left;
  border-radius: 0.3rem;
  border: 0;
  padding: 0.8rem 2.4rem;
  color: #fff;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;}
.h_flushbox1{font-size: 1.2rem; color: #58666e; font-family: '微软雅黑';background:#fff;}
.h_industry1{padding: 1.2rem;
  margin: 0 1.2rem 1.2rem;
  background: #fff;
  color: #777;
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: normal;
  font-family: '微软雅黑';}
/*   -user- */
.h_userbox_refresh{float: left;position: relative;}
.h_userbox_refresh b{cursor: pointer;left: 1.6rem;top: 0.4rem; position: absolute;color: #fff;}
.h_userbox_refresh input{
						  outline: none;background: #383c4a;float: left;
						  border-radius: 0.3rem;padding: 0.7rem 2.4rem;;color: #fff;font-size: 1.2rem;
						  border: 0;font-family: '宋体';font-weight: 500;
						}
.h_usercondition_box{position: absolute;right: 4rem;top: 4.4rem;}						
.h_useraction{float: left; width: 80%; }
.h_useraction p input{  outline: none;
  background: #383c4a;
  border-radius: 0.3rem;
  padding: 0.7rem 0.6rem 0.7rem 2.4rem;
  color: #fff;
  font-size: 1.2rem;
  border: 0;
  font-family: '宋体';
  font-weight: 500;}
.h_useraction p{float:left;position:relative;margin-right:0.4rem;}	
.h_useraction p b{position:absolute;left:0;top:0;color:#fff;font-size:1.8rem;  cursor: pointer;}
.h_userkeyword{float:left;margin: 1.6rem 0 0;}
.h_userkeyword p{float:left;  color: #777;
  font-size: 1.2rem;
  font-family: '微软雅黑';
  line-height: 3.6rem;
  font-weight: normal;}	
.h_userkeyword_seek{position:relative;}	
.h_userkeyword_seek b{  position: absolute;
  left: 1rem;
  top: 0.4rem;
  color: #fff;
  font-size: 1.6rem;
  cursor: pointer;}			
.h_userkeyword_seek input{outline: none;
  background: #383c4a;
  float: left;  margin-left: 0.6rem;
  border-radius: 0.3rem;
  padding: 0.7rem 0.6rem 0.7rem 2.4rem;
  color: #fff;
  font-size: 1.2rem;
  border: 0;
  font-family: '宋体';
  font-weight: 500;}

.topdiv1 {
    width: 100%;
    padding: 1.4rem 0;
}

.topdiv1 > a {
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 0.3rem;
    font-family: '微软雅黑';
    background: #428bca;
    color: #fff;
    padding: 0.1rem 0.6rem;
}

.topdiv1 > span a {
    color: #777;
    font-size: 1.2rem;
}

.topdiv2 {
    background: #e4eaec;
}

.topdiv2 p {
    color: #58666e;
    font-size: 1.2rem;
    padding: 1.6rem 2rem;
    line-height: 1.8rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.topdiv2 p b {
    font-weight: bold;
}

.selectLight {
    background: rgb(66, 139, 202) !important;
}

.mainContent {
    background-color: #fff;
}

.addelt {
    background: #3b3f4e !important;
    color: #fff !important;
    margin-right: 0 !important;
}

.hover-blue {
    border-radius: 0.3rem;
}

.addelt:hover, .hover-blue:hover {
    background: rgb(0, 102, 204) !important;
}
div.row.mainContent.mainContents {
    padding: 0.3rem 0;
    border-bottom: 0.1rem solid #aaa;
    line-height: 3rem;
    /*text-align: center;*/
}

.hover-transparent:hover {
    background-color: transparent;
}
.mainContent-top {
    padding: 1rem 0;
    border-bottom: 0.1rem solid #aaa;
    background-color: #e4eaec;
    font-weight: bold;
    z-index: 111;
}

#queryValue {
    border: 0.2rem solid #ddd;
    padding: 0.2rem
}

#queryValue:focus {
    border: 0.2rem solid #44b549;
}

.andowniconfont {
    float: right;
    transform: scale(0.7)
}

.andowniconfont2 {
    float: right;
    transform: scale(0.7) rotate(180deg);
}

ul.h_leftnavbox:after {
    content: ".";
    display: block;
    overflow: hidden;
    clear: both
}

.h_leftnavbox li {
    list-style: none
}

#jbox-state-state0 > div.jbox-button-panel {
    box-sizing: content-box !important;
}

div.modal-dialog h3.modal-title {
    color: #fff;
}

#priceWay {
    position: absolute;
    min-height: 100rem;
    height: 100%;
}

body:after {
    content: '';
    display: block;
    overflow: hidden;
    clear: both;
}

body.modal-open {
    padding: 0 !important;
}

.h_leftnav .h_leftnavbox > li {
    width: 17.4rem;
    position: relative;
}

/*.h_leftnavbox>li:after{*/
/*content: '.';*/
/*display: block;*/
/*overflow: hidden;*/
/*clear: both;*/
/*height:0;*/
/*}*/

.h_leftnavbox > ul:after {

    content: '.';
    display: block;
    overflow: hidden;
    clear: both;
}

.h_leftnavbox > ul li a {
    font-weight: 400;
}

.price-table {
    padding: 1.5rem;
    background-color: #fff;
}

.h_keywordbox1 > b:last-child > i {
    width: 2.4rem;
    height: 2.4rem;
}

.h_keywordbox1 > b:first-child > b {
    display: none;
}

						
						
						
						
						
						
						
						